@model Net4Courier.Models.DRSVM
@{
    
    ViewBag.pTitle = "OutScan";
    ViewBag.pageTitle = "Outbound";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _alphanum = Session["AWBAlphaNumeric"].ToString();
}

<style>
    #details tr {
        height: 25px;
    }
</style>
 

@*<script type="text/javascript">
        $(function () {
            $('#DRSDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        });

    </script>*@
<script type="text/javascript">
    var AWBItems = [];
    var RemoveAWBItems = [];
    function calculatetotal() {
        debugger;
        var maxrow = $('#detailsbody > tr').length;
        var totalcod = 0;
        var totalmc = 0;
        for (i = 0; i < maxrow; i++) {
            var deleted = $('#hdndeleted_' + i).val();
            if (deleted == 'False' ||deleted=='false') {
                debugger;
                var COD = $('#hdncod_' + i).val();
                var MCReceived = $('#hdnmc_' + i).val();

                if (COD == '')
                    COD = 0;

                if (MCReceived == '')
                    MCReceived = 0;

                totalcod = parseFloat(totalcod) + parseFloat(COD);
                totalmc = parseFloat(totalmc) + parseFloat(MCReceived);

            }
            $('#spancodtotal').html(parseFloat(totalcod).toFixed(2));
            $('#spanmctotal').html(parseFloat(totalmc).toFixed(2));

        }
    }
    function checkDate(obj) {
        
        var value = '';
        if (obj == '' || obj == undefined || obj == 'undefined' || obj== null) {
            return '';
        }
        else {
            var date = obj.split('-');
            value = date[1] + '/' + date[0] + '/' + date[2];
        }

        return value

    }
    function deletetrans(obj, i) {
        if (confirm("Are you sure to delete?")==true)
        {
            $(obj).parent().parent().addClass('hide');
            var obj1 = $(obj).parent().parent().find('.hdndeleted');
            $(obj1).val(true);
        }
    }
    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWbNo_';
        var maxrow = $('#detailsbody > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var deleted = $('#hdndeleted_' + index).val();
                if (deleted != "true") {
                    var con = $('#hdnAWbNo_' + index).val();
                    if (con.trim() == awbno.trim()) {
                        duplicate = true;
                        var message = 'Duplicate AWB No.!';
                        Swal.fire("Save Status!","Duplicate AWB No.", "success");

                        $('#txtawb').val('');
                        $('#txtawb').focus();
                        //break;
                    }

                    if (duplicate == false && index == (parseInt(maxrow - 1))) {
                        return true;
                    }
                }
            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    $(document).ready(function () {
        AWBItems = [];
       
    var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


        $("#txtawb").change(function () {
          if ('@_alphanum'== 'True') {
                var txt = $('#txtawb').val().trim();
                $('#txtawb').val(txt.replace(/[^\d,]/g, ''));
            }

            $('#btAdd').attr('disabled', 'disabled');
            $('#btnAdd').trigger('click');
        });

        //$("#txtawb").keydown(function (e) {
        //    debugger;
        //    if (e.keycode==13) {
        //        $('#btnAdd').trigger('click');
        //    }

        //});
        $('#DeliveredBy').change(function () {
            $.ajax({
                type: "GET",
                url: "/InScan/GetVehicle",
                datatype: "Json",
                data: { EmployeeId: $('#DeliveredBy').val() },
                success: function (response) {
                    debugger;
                    if (response.VehicleId != 0) {
                        $('#VehicleID').val(response.VehicleId).trigger('change');
                    } else {
                        $('#VehicleID').val('').trigger('change');
                    }
                }
            });

        })
        $("#btnAdd").click(function () {
            debugger;
            if ($("#txtawb").val().trim() == '') {
                $('#btnAdd').removeAttr('disabled');
                return;
            }
            else if (checkduplicate($('#txtawb').val()) == false) {
                $('#btnAdd').removeAttr('disabled');
                return;
            }
            else {
                $('#btAdd').attr('disabled', 'disabled');
            }
                       

            var detailsbodyhtml = $('#detailsbody').html();
            let nodataindex = detailsbodyhtml.indexOf('No data available in table');
            if (nodataindex > 0) {
                $('#detailsbody').html('');
            }

            if ($("#txtawb").val().trim() != '') {

                var id = $("#txtawb").val();
                $.ajax({
                    type: "POST",
                    url: "/OutScan/GetAWBData",
                    datatype: "Json",
                    data: { id: id },
                    success: function (response) {
                        if (response.status == "ok") {
                            debugger;
                            var data = response.data;
                            AWBItems = [];
                            AWBItems.push(data);
                            //$("#detailsbody").html('');
                            $.each(AWBItems, function (index, item) {

                                var i = $('#detailsbody > tr').length;
                                var rowno = parseInt(i) + 1;
                                // $('#details tr').length - 1;
                                var awbhtml = '';
                                if (item.InScanID > 0) {
                                    awbhtml = '<a target="_blank" href="/AWB/Create?id=' + item.InScanID + '">' + item.AWB + '</a>';
                                }
                                else {
                                    awbhtml = '<a target="_blank" href="/Shipment/Create?id=' + item.ShipmentDetailID + '">' + item.AWB + '</a>';
                                }
                                var dateString = item.AWBDate.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var month = currentTime.getMonth() + 1;
                                var day = currentTime.getDate();
                                var year = currentTime.getFullYear();
                                var tempdate = day + "-" + month + "-" + year;
                                var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" name="lst[' + i + '].deleted" /><input type="hidden" id="hdnShipmentDetailID_' + i + '"  value="' + item.ShipmentDetailID + '" name="lst[' + i + '].ShipmentDetailID" />';
                                $("#detailsbody").append('<tr>' + '<td>' + rowno + '</td><td>' + datahtml + awbhtml + '<input type="hidden" id="hdnAWbNo_' + i + '" value=' + item.AWB + ' name="lst[' + i + '].AWB"><input type="hidden" value=' + item.InScanID + ' name="lst[' + i + '].InScanID"></td>' +
                                    '<td>' + tempdate + '</td>' +
                                    '<td>' + item.consignor + '<input type="hidden" value=' + item.consignor + ' name="lst[' + i + '].consignor"></td>' +
                                    '<td>' + item.consignee + '<input type="hidden" value=' + item.consignee + ' name="lst[' + i + '].Consignee"></td>' +
                                    '<td>' + item.city + '<br/' + item.address + '<input type="hidden" value=' + item.city + ' name="lst[' + i + '].City"></td>'                                    
                                    + '<td class="text-right">' + item.COD + '<input type="hidden" id = "hdncod_' + i + '" value="' + item.COD + '" name="lst[' + i + '].COD"></td>'
                                    + '<td class="text-right" >' + item.MaterialCost + '<input type="hidden" id = "hdnmc_' + i + '" value="' + item.MaterialCost + '" name="lst[' + i + '].MaterialCost"></td>'
                                    + '<td>' + item.CourierStatus + '</td>'
                                    + '<td><a class="text-danger" awbno="' + item.AWB + '" href="javascript:void(0);" onclick="deletetrans(this,' + i + ')" class="rem"><i class="mdi mdi-delete font-size-18"</i></a></td></tr>');
                                calculatetotal();
                            }); 
                            

                            $('#btnAdd').removeAttr('disabled');
                            $("#txtawb").val('');
                            $("#txtawb").focus();
                        }
                        else {
                            $('#btnAdd').removeAttr('disabled');
                            $("#txtawb").val('');
                            $("#txtawb").focus();
                            Swal.fire("Data Validation!", response.message, "error");
                            
                        }
                        //if (data.AWB) {

                        //    var i = $('#details tr').length - 1;
                        //    $("#details").append('<tr>' + '<td>' + data.AWB + '<input type="hidden" value=' + data.AWB + ' name="lst[' + i + '].AWB"><input type="hidden" value=' + data.InScanID + ' name="lst[' + i + '].InScanID"></td>' + '<td>' + data.consignee + '<input type="hidden" value=' + data.consignee + ' name="lst[' + i + '].Consignee"></td>' + '<td>' + data.city + '<input type="hidden" value=' + data.city + ' name="lst[' + i + '].City"></td>'
                        //        + '<td>' + data.phone + '<input type="hidden" value=' + data.phone + ' name="lst[' + i + '].Phone"></td>'
                        //        + '<td>' + data.address + '<input type="hidden" value=' + data.address + ' name="lst[' + i + '].Address"></td>'
                        //        + '<td>' + data.COD + '<input type="hidden" value=' + data.COD + ' name="lst[' + i + '].COD"></td><td><a awbno="' + data.AWB + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');

                        //}


                    }
                });
                return false;
            }

        });



        $("#btnsave").click(function () {
            debugger;
            var drs = $("#DRSDate").val();
            var del = $("#DeliveredBy option:selected").val();
            var vec = $("#VehicleID option:selected").val();
            var check = $("#CheckedBy option:selected").val();
            var maxrow = $('#detailsbody > tr').length;

            if (drs == "") {
                $("#validations").show();
                $("#DRSDate").focus();
                return false;
            }
            else if (del == "") {
                $("#validations").show();
                $("#DeliveredBy").focus();
                return false;
            }
            else if (check == "") {
                $("#validations").show();
                $("#CheckedBy").focus();
                return false;
            }
            else if (vec == "") {
                $("#validations").show();
                $("#VehicleID").focus();
                return false;
            }
           else if (maxrow == 0) {
                //$.notify('Add OutScanning AWB Items to Save!');
                Swal.fire("Save Status!", "Add OutScanning AWB Items to Save!", "success");
                return false;
            }
            //else if (AWBItems.length == 0)
            //{
            //    $("#validations").hide();
            //    alert('Add OutScanning AWB Items save!');
            //    return false;
            //}
            else {
                $("#validations").hide();
                return true;
            }
        });

        function DisplayAWBItems() {
            $.ajax({
                type: "POST",
                url: "/OutScan/GetDRSDetails",
                datatype: "Json",
                data: { id: $("#DRSID").val() },
                success: function (data) {
                    debugger;

                    $.each(data, function (index, value) {
                        AWBItems.push(value);
                        var i = $('#detailsbody > tr').length;
                        var rowno = parseInt(i) + 1;
                        if (value.ShipmentDetailID == null)
                            value.ShipmentDetailID = 0;
                        var  awbitem='<input type="hidden" class="hdndeleted" id="hdndeleted_' + index + '"  value="false" name="lst[' + index + '].deleted" /><input type="hidden" id="hdnShipmentDetailID_' + index + '"  value="' + value.ShipmentDetailID + '" name="lst[' + index + '].ShipmentDetailID" />';
                        $("#detailsbody").append('<tr>' + '<td>' + rowno + '</td><td>' + awbitem + value.AWB + '<input type="hidden" id="hdnAWbNo_' + index + '" value=' + value.AWB + ' name="lst[' + i + '].AWB"><input type="hidden" value=' + value.InScanID + ' name="lst[' + i + '].InScanID"></td>' + '<td>' + value.consignor + '<input type="hidden" value=' + value.consignor + ' name="lst[' + i + '].consignor"></td><td>' + value.consignee + '<input type="hidden" value=' + value.consignee + ' name="lst[' + i + '].Consignee"></td>' + '<td>' + value.city + '<input type="hidden" value=' + value.city + ' name="lst[' + i + '].City"></td>'
                            + '<td>' + value.phone + '<input type="hidden" value=' + value.phone + ' name="lst[' + i + '].Phone"></td>'
                            + '<td>' + value.address + '<input type="hidden" value=' + value.address + ' name="lst[' + i + '].Address"></td>'
                            + '<td>' + value.COD + '<input type="hidden" value=' + value.COD + ' name="lst[' + i + '].COD"></td><td>' + value.MaterialCost + '<input type = "hidden" value = ' + value.MaterialCost + ' name = "lst[' + i + '].MaterialCost" ></td ><td><a awbno="' + value.AWB + '" href="javascript:void(0);" onclick="deletetrans(this,' + i + ')" class="rem">Remove</a></td></tr>');
                    });

                }

            });
        }
        if (@ViewBag.EditMode ==true) {
            //DisplayAWBItems();
            $('#DRSDate').attr('readonly', 'readonly');
            $('#CheckedBy').val($('#chkid').val()).trigger('change');

        }
        else {

            var m_names = new Array("Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
            $('#DRSDate').val(reqdate);
            $("#DRSDate").focus();
             
        }

        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyS' && (event.altKey)) { //ADD AWB
                $('#btnsave').trigger('click');
            }
        });
      
    });
</script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="headinglabel required">Sheet No.</label>
                        @Html.HiddenFor(model => model.DRSID)
                        @Html.TextBoxFor(model => model.DRSNo, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DRSNo)
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="headinglabel">OutScan Time</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date datetimepicker" name="DRSDate" id="DRSDate" value="@Model.DRSDate.ToString("dd-MM-yyyy HH:mm")"
                                           placeholder="Pick a From Date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <label class="headinglabel required">Delivered By</label>
                        @Html.DropDownListFor(model => model.DeliveredBy, new SelectList(ViewBag.Deliverdby, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })
                    </div>
                    <div class="col-md-2">
                        <label class="headinglabel required">Vehicle</label>
                        @Html.DropDownListFor(model => model.VehicleID, new SelectList(@ViewBag.Vehicles, "VehicleID", "VehicleName"), "Select", new { @class = "form-select" })
                        @*@Html.DropDownListFor(model => model.VehicleID, new SelectList(ViewBag.vehicle, "VehicleID", "VehicleNo"), "Select", new { @class = "form-control" })*@
                    </div>

                    <div class="col-md-2">
                        <label class="headinglabel required">AWB No.</label>
                        <input type="text" id="txtawb" class="form-control" />
                    </div>
                    <div class="col-md-1 hide">
                        <button type="button" class="btn btn-primary small_btn " id="btnAdd"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-2 btn_top text-md-end">
                        <input type="submit" value="Save" class="btn btn-success btnwidth" id="btnsave" />
                        @*     <input type="submit" value="Save&Print" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" style="margin-left:5px;"  />*@
                        <a href='@Url.Action("Index", "OutScan", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                    </div>
                </div>
            </div>
        </div>






        <div class="card">
            <div class="card-body">
                <div class="col-md-12" id="listContainer">

                    @{Html.RenderPartial("ItemList", Model);}


                </div>
                @*<table class="table table-bordered mb-0" id="datatable1" style="width:100%">
                        <thead class="table-light">
                        <th>S.No.</th>
                        <th>AWB No.</th>
                        <th>Shipper</th>
                        <th>Receiver</th>
                        <th>Receiver City</th>
                        <th>Receiver Phone</th>
                        <th>Receiver Address</th>
                        <th>COD</th>
                        <th>Material Cost</th>
                        <th></th>
                        </thead>
                        <tbody id="detailsbody"></tbody>
                    </table>*@
            </div>
        </div>
    </fieldset>
}

@section scripts{

    

}