@model Net4Courier.Models.DRSVM
@{
    int i = 0;
 
}
<style>
    tfoot {
        display: table-header-group;
    }
    .colorred1{
        color:red;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        //$('#DetailsTable tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" style=width:100% />');
        //});


        var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple", "aaSorting": [] });
        setTimeout(function () {
            calculatetotal();
        }, 400);
        
    });
</script>
<table class="table table-responsive table-bordered tblfont" role="grid" style="min-width: 100%" id="DetailsTable">

    @*<table class="table" style="min-width: 100%">*@
    <thead class="input-table">
        <tr>
            <th width="20px">
                S.No
            </th>
            <th>
                AWB
            </th>
            <th>
                AWB Date
            </th>
            <th>
                Shipper
            </th>           
            <th>
                Receiver
            </th>
            <th>
                Destination
            </th>
            <th>
                COD
            </th>
            <th>Material Cost</th>
            <th>
                Status
            </th>
            <th></th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6">
            </td>

            <td style="text-align:right">
                <span id="spancodtotal" style="font-weight:bold"></span>
            </td>
            <td style="text-align:right"><span style="font-weight:bold" id="spanmctotal"></span></td>
            <td>
            </td>
            <td></td>

        </tr>
    </tfoot>
    <tbody class="input-table" id="detailsbody">
        @foreach (var item in Model.lst)
        {
            <tr class="@item.deletedclass">
                <td>
                   
                    @item.SNo
                    @Html.HiddenFor(model => model.lst[i].InScanID, new { @Value = @item.InScanID })
                    @Html.HiddenFor(model => model.lst[i].AWB, new { @Value = @item.AWB, @id = "hdnAWbNo_" + @i })
                    @Html.HiddenFor(model => model.lst[i].ShipmentDetailID, new { @Value = @item.ShipmentDetailID })
                    @Html.HiddenFor(model => model.lst[i].deleted, new { @Value = @item.deleted, @id = "hdndeleted_" + @i })
                    @Html.HiddenFor(model => model.lst[i].COD, new { @Value = @item.COD, @id = "hdncod_" + @i })
                    @Html.HiddenFor(model => model.lst[i].MaterialCost, new { @Value = @item.MaterialCost, @id = "hdnmc_" + @i })
                </td>
                <td>
                    <a class="colorblue" target="_blank" href="/AWB/Create?id=@item.InScanID">@item.AWB</a>
                </td>
                <td style="width: 80px;">
                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.AWBDate) <br />
                    @*<span class="colorblue"> @item.PayMode</span>*@
                </td>

                <td>
                    @item.consignor
                </td>
                <td>@item.consignee </td>

                <td>
                    @item.city -@item.address - @item.phone
                </td>

                <td class="text-right">
                    @if (@item.COD == 0)
                    {
                        <span class="colorred1"> @item.COD</span>
                    }
                    else
                    {
                        @item.COD
                    }

                </td>
                <td class="text-right">
                    @if (@item.MaterialCost == 0)
                    {
                    <span class="colorred1"> @item.MaterialCost</span>
                    }
                    else
                    {
                        @item.MaterialCost
                    }

                </td>
                <td>@item.CourierStatus</td>
                <td><a awbno="@item.AWB" href="javascript:void(0);" class="text-danger rem" onclick="deletetrans(this,' + i + ')" ><i class="mdi mdi-delete font-size-18"></i></a></td>
            </tr>

            i++;
        }
    </tbody>

</table>


