@model Net4Courier.Models.ImportManifestVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var cities = (IEnumerable<CourierMVC.EntityFramework.S_CityMaster>)ViewBag.Cities;
}
<style>


    .reve_rates > input {
        font-size: 12px !important;
    }

    .reve_rates1 > input {
        font-size: 12px !important;
    }

    .reve_rates2 > input {
        font-size: 12px !important;
    }



    .reve_rates3 > textarea {
        min-height: 4rem !important;
        font-size: 12px !important;
    }
</style>
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script>
    //Origin and Destination City  Autocomplete code
    $(document).ready(function () {
         $('#OriginAirportCity').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            },
            focus: function (event, ui) {
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            }
        });

        $('#DestinationAirportCity').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#DestinationAirportCity').val(ui.item.label);

                return false;
            },
            focus: function (event, ui) {
                $('#DestinationAirportCity').val(ui.item.label);

                return false;
            }
        });
        @*//ConsignorLocationName
        $("#OriginAirportCity").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            //$('#EventVenueId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            },
            focus: function (event, ui) {
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            }
        });
        //ConsigneeLocationName
        $("#DestinationAirportCity").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            //$('#EventVenueId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#DestinationAirportCity').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#DestinationAirportCity').val(ui.item.label);
                return false;
            }
        });*@


    })
</script>
<script type="text/javascript">
    var objitems = [];

    function ShowTranshipmentCountry(sno) {
        var countryname = $('#hdncountryId_' + sno).val();
        $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowEditItemList1", "Transhipment")',
                        data: { ShipmentId: $('#ID').val(),CountryName:countryname},
                        datatype: "html",
            success: function (data) {
                debugger;
                            $("#listContainer").html(data);
                            var max = $('#listbody > tr').length;
                            $('#loaderpopup').modal('hide')
                            $('#btnUpload').removeAttr('disabled');
                            $('#TotalAWB').val(max);
                        },
                        error: function (err) {
                            $('#loaderpopup').modal('hide')
                            console.log(err);
                        }
                    });
    }
    function RateFixation(sno) {
        var countryname = $('#hdncountryId_' + sno).val();
        $('#loaderpopup').modal('show');
        var selectall = ($("#Selectall").is(':checked'));
        var maxrow = $('#listbody > tr').length;
        $('#btnUpdateRate').attr('disabled', 'disabled');
        var obj = [];
        debugger;
        $.ajax({
            type: "POST",
            url: "/Transhipment/EditRateFixation",
            datatype: "Json",
            //data: { AllItem: selectall, Details: JSON.stringify(obj) },
            data: { ShipmentId: $('#ID').val(), CountryName: countryname },
            success: function (data) {
                $("#listContainer1").html(data);
                $("#listContainer").html('');
                $('#loaderpopup').modal('hide');

            }

        });
    }
    function UpdateImported() {
        $.ajax({
            type: "POST",
            url: "/ImportManifest/UpdateImportedItem",
            datatype: "Json",
            data: { Details: JSON.stringify(objitems) },
            contentType:'application/x-www-form-urlencoded',
            success: function (response) {

            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function CallAutoFixation() {
        //AutoDataFixation
        $('#loaderpopup').modal('show')
          $.ajax({
                type: 'POST',
                url: '@Url.Action("AutoDataFixation", "Transhipment")',
             datatype: "json",
            success: function (data) {
                if (data == "ok" || data=="Failed") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowEditItemList", "Transhipment")',
                        datatype: "html",
                        success: function (data) {
                            $("#listContainer").html(data);
                            var max = $('#listbody > tr').length;
                            $('#loaderpopup').modal('hide')
                            $('#btnUpload').removeAttr('disabled');
                            $('#TotalAWB').val(max);
                        },
                        error: function (err) {
                            $('#loaderpopup').modal('hide')
                            console.log(err);
                        }
                    });
                }
                else {
                    $('#loaderpopup').modal('hide')
                }
              },
            error: function (err) {
                  $('#loaderpopup').modal('hide')
                  console.log(err);
              }
            });
    }
    function savefixation() {
        debugger;
        var Field = $('#FieldName').val();
        var SourceValue = $('#SourceValue').val();
        var DestinationValue = $('#DestinationValue').val();
        var DestinationCountry = $('#DestinationCountry').val();
        var DestinationCity = $('#DestinationCity').val();
        var DestinationLocation = $('#DestinationLocation').val();

        var TargetValue = "";

        if (Field == 'ConsigneeLocationName') {
            TargetValue = DestinationLocation;
        }
        else if (Field == 'ConsigneeCountryName') {
            TargetValue = DestinationCountry;
        }
        else if (Field == 'ConsigneeCityName') {
            TargetValue = DestinationCity;
        }
        else {
            TargetValue = DestinationValue;
        }

        //UpdateDataFixation
         $.ajax({
                type: 'POST',
                url: '@Url.Action("EditUpdateDataFixation", "Transhipment")',
             datatype: "html",
             data: { ShipmentId: $('#ID').val(), AgentID: $('#AgentID').val(), TargetColumn: Field, SourceValue: SourceValue, TargetValue: TargetValue },
            success: function (data) {
                $("#listContainer1").html(data);
                $("#listContainer").html('');
                $('#SourceValue').val('');
                $('#TargetValue').val('');
                $('#DestinationCity').val('');
                $('#DestinationLocation').val('');
                $('#DestinationCountry').val('');
                $('#spanmsg').html('Fixation Saved Succesfully!')
                $('#SourceValue').focus();
              }
            });


    }
    function additem() {
        $.each(objitems, function (index, item) {
            var i = index;
            var ReceiverContact = item.ReceiverContact;
            var ReceiverAddress = item.ReceiverAddress;
            var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWBNo_' + i + '"  value="' + item.AWBNo + '" /> ';
            datahtml = datahtml + '<input type="hidden" id="hdnBag_' + i + '"  value="' + item.Bag + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnAWBDate_' + i + '"  value="' + item.AWBDate + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnShipper_' + i + '"  value="' + item.Shipper + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiver_' + i + '"  value="' + item.Receiver + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverContact_' + i + '"  value="' + ReceiverContact + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverPhone_' + i + '"  value="' + item.ReceiverPhone + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverAddress_' + i + '"  value="' + ReceiverAddress + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationLocation_' + i + '"  value="' + item.DestinationLocation + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationCountry_' + i + '"  value="' + item.DestinationCountry + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationCity_' + i + '"  value="' + item.DestinationCity + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnPcs_' + i + '"  value="' + item.Pcs + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnWeight_' + i + '"  value="' + item.Weight + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnValue_' + i + '"  value="' + item.Value + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnCOD_' + i + '"  value="' + item.COD + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnContent_' + i + '"  value="' + item.Content + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnImportType_' + i + '"  value="' + item.ImportType + '"/>';
            var html = '<tr><td>' + datahtml + (parseInt(i) + 1) + '</td><td>' + item.AWBNo + '</td><td>' + item.AWBDate + '</td><td>' + item.Shipper + '</td>' +
                '<td><strong>' + item.Receiver + '</strong><br/><span style="color:blue">' + ReceiverContact + '</span></br>' + ReceiverAddress + '<br/>' + item.ReceiverPhone + '</td>' +
                '<td>' + item.DestinationLocation + '</td><td>' + item.DestinationCity + '<br/>' + item.DestinationCountry + '</td>' +
                '<td>' + item.Bag + '</td>' +
                '<td>' + item.Content + '</td>' +
                '<td>' + item.Pcs + '</td>' +
                '<td class="text-right">' + parseFloat(item.Weight).toFixed(3) + '</td>' +
                '<td class="text-right">' + parseFloat(item.Value).toFixed(2) + '</td>' +
                '<td class="text-right">' + item.COD + '</td>' +
                '<td class="text-right">' + item.ImportType + '</td></tr>';

            $("#listContainer").append(html);
        });
    }
    function saveimport() {
        $('#btnSave').attr('disabled', 'disabled');
        var obj = [];
        var maxrow = $('#listbody > tr').length;
        if (maxrow == 0) {
            alert('Click upload to import Items from Excel!');
            return;
        }
        var master = {
            ID: $('#ID').val(),
            ManifestNumber: $('#ManifestNumber').val(),
            AgentID: $('#AgentID').val(),
            ManifestDate: $('#ManifestDate').val(),
            //ShipmentTypeId: $('#ShipmentTypeId').val(),
            OriginAirportCity: $('#OriginAirportCity').val(),
            DestinationAirportCity: $('#DestinationAirportCity').val(),
            FlightDate1: $('#FlightDate1').val(),
            FlightNo: $('#FlightNo').val(),
            MAWB: $('#MAWB').val(),
            Type: $('#Type').val(),
            TotalAWB: $('#TotalAWB').val(),
            ParcelNo: $('#ParcelNo').val(),
            Weight: $('#Weight').val(),
            Bags: $('#Bags').val(),
            Route: $('#Route').val()
        }
        $.ajax({
            type: "POST",
            url: "/Transhipment/EditSaveImport",
            datatype: "Json",
            data: { Master: JSON.stringify(master), Details: JSON.stringify(obj) },
            success: function (response) {
                $.notify("Transhipment Saved Succesfully!", "success");
                $('#btnSave').removeAttr('disabled');
                window.location.href = "/Transhipment/Index";
                @* $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CallPostAPI", "ImportManifest")',
                    datatype: "json",
                    data: {
                        InputDate: $('#ManifestDate').val()
                    },
                    success: function (data) {
                        $.notify("Import Shipment Saved Succesfully!", "success");
                        $('#btnSave').removeAttr('disabled');
                        window.location.href = "/ImportManifest/Index";
                    }
                });*@

                },
            error: function (err) {
                console.log(err);
            }
        });
    }
    $(document).on("change", "#importFile", function () {
        var files = $("#importFile").get(0).files;

        var formData = new FormData();
        formData.append('importFile', files[0]);

        if (files.length > 0) {
            $('#btnUpload').attr('disabled', 'disabled');
            $('#loaderpopup').modal('show');
            $.ajax({
                url: '/Transhipment/ImportFile',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Status === 1) {
                        //var data = response.data;
                        //$('#imgloader').removeClass('hide');
                              $.ajax({
                              type: 'POST',
                              url: '@Url.Action("ShowItemList", "Transhipment")',
                              datatype: "html",
                            success: function (data) {
                                    $("#listContainer").html(data);
                                var max = $('#listbody > tr').length;
                                $('#loaderpopup').modal('hide')
                                $('#btnUpload').removeAttr('disabled');
                                    $('#TotalAWB').val(max);
                            }
                      });

                    } else {
                        $('#loaderpopup').modal('hide')
                        $('#btnUpload').removeAttr('disabled');
                        $.notify(response.Message, 'error');
                    }
                },
                error: function (err) {
                    $('#loaderpopup').modal('hide')
                    console.log(err);
                }
            });
        }
        else {
            $('#btnUpload').removeAttr('disabled');
            $('#loaderpopup').modal('hide')
        }
    });

    $(document).on("click", "#btnUpload", function () {
        //CheckDuplicationTranshipment
        if ($('#ManifestDate').val() == '') {
            $.notify('Please Fill Required Fields!');
            $('#ManifestDate').focus();
            return;
        }
        else if ($('#AgentID').val() == '') {
            $.notify('Please Select Co Loader!');
            $('#AgentID').focus();
            return;
        }
         else if ($('#MAWB').val() == '') {
            $.notify('Please Fill Required Fields!');
            $('#MAWB').focus();
            return;
        }
        $.ajax({
            type: "GET",
            url: "/Transhipment/CheckDuplicationTranshipment",
            datatype: "Json",
            data: { ManifestDate: $('#ManifestDate').val(), MAWB: $('#MAWB').val(), AgentID:$('#AgentID').val() },
            success: function (response) {
                var status = response.status;
                if (status == "ok")
                    $('#importFile').trigger('click');
                else {
                    $.notify(response.Message, "error");
                }
            }
        });

    });


    $(document).ready(function () {
       // callniceapi();
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        $('#ManifestDate').datetimepicker({
            maxDate: ed,
            minDate: sd,
            format: 'DD-MM-YYYY HH:mm'
        });
        $('#FlightDate1').datetimepicker({
            maxDate: ed,
            minDate: sd,
            format: 'DD-MM-YYYY HH:mm'
        });
        $('#ManifestDate').change(function () {
             $.ajax({
                type: 'GET',
                url: '@Url.Action("GetManifestNo", "Transhipment")',
                datatype: "json",
                data: {
                    ManifestDateTime: $('#ManifestDate').val()
                },
                success: function (data) {
                    $('#ManifestNumber').val(data);
                }
            });

        })
        $('#btnFixation').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowImportDataFixation", "Transhipment")',
                datatype: "html",
                data: {
                    FieldName: 'ConsigneeCountryName'
                },
                success: function (data) {
                    $("#popupContainer").html(data);
                    $('#fixationpopup').modal('show');
                }
            });
        })

        $('#btnUpdateRate').click(function () {
            var countryname = '';
            $('#loaderpopup').modal('show');
            var selectall = ($("#Selectall").is(':checked'));
            var maxrow = $('#listbody > tr').length;
            $('#btnUpdateRate').attr('disabled', 'disabled');
            var obj = [];
            debugger;
            $.ajax({
                        type: "POST",
                url: "/Transhipment/EditRateFixation",
                        datatype: "Json",
                //data: { AllItem: selectall, Details: JSON.stringify(obj) },
                data: { ShipmentId: $('#ID').val(), CountryName: countryname },
                 success: function (data) {
                     $("#listContainer1").html(data);
                     $("#listContainer").html('');
                     $('#loaderpopup').modal('hide');
                     $('#btnUpdateRate').removeAttr('disabled', 'disabled');
                }

            });

        });
        $('#btnSave').click(function () {
            debugger;

            if ($('#AgentID').val() == '') {
                $.notify('Please Fill Required Fields!');
                $('#AgentID').focus();
                return;
            }
            //else if ($('#Route').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Route').focus();
            //    return;
            //}
            //else if ($('#Type').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#ShipmentTypeId').focus();
            //    return;
            //}
            //else if ($('#OriginAirportCity').val() == '') {
            //        $.notify('Please Fill Required Fields!');
            //    $('#OriginAirportCity').focus();
            //        return;
            //}
            //else if ($('#DestinationAirportCity').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#DestinationAirportCity').focus();
            //        return;
            //}
            //else if ($('#FlightDate1').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#FlightDate1').focus();
            //    return;
            //}
            //else if ($('#FlightNo').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#FlightNo').focus();
            //    return;
            //}
            else if ($('#MAWB').val() == '') {
                $.notify('Please Fill Required Fields!');
                $('#MAWB').focus();
                return;
            }
            else if ($('#TotalAWB').val() == '') {
                $.notify('Please Fill Required Fields!');
                $('#TotalAWB').focus();
                return;
            }
            //else if ($('#ParcelNo').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#ParcelNo').focus();
            //    return;
            //}
            //else if ($('#Weight').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Weight').focus();
            //    return;
            //}
            //else if ($('#Bags').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Bags').focus();
            //    return;
            //}
            //else if ($('#Bags').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Bags').focus();
            //    return;
            //}

            saveimport();

            @*$.ajax({
                type: "GET",
                url: "/Transhipment/CheckDataValidation",
                datatype: "Json",
                //data: { ManifestDate: $('#ManifestDate').val(), MAWB: $('#MAWB').val() },
                success: function (response) {
                    var status = response.status;
                    if (status == "ok")

                    else {
                         $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowItemList", "Transhipment")',
                        datatype: "html",
                        success: function (data) {
                            $("#listContainer").html(data);
                            var max = $('#listbody > tr').length;
                            $.notify(response.Message, "error");
                        },
                        error: function (err) {
                            $('#loaderpopup').modal('hide')
                            console.log(err);
                        }
                    });


                    }
                }
            });*@





        });



    });

    //$(function () {
    //    $('#ManifestDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    //    $('#FlightDate1').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    //   // $("#Selectall").attr('checked', 'checked');
    //});
</script>

<section class="content-header">
    <div class="row">
        <div class="col-md-5 pull-left">
            <h1 class="headingfont">Transhipment Upload</h1>
        </div>
        <hr />
    </div>
    <section class="content">
        @using (Html.BeginForm("Create", "Transhipment", FormMethod.Post, new { @id = "importShipment" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-2">
                    @Html.HiddenFor(mode => Model.ID)
                    @Html.HiddenFor(mode => Model.CompanyCountryName)
                    @Html.LabelFor(model => model.ManifestNumber, "Manifest Number", htmlAttributes: new { @class = "headinglabel " })

                    @Html.TextBoxFor(model => model.ManifestNumber, new { @class = "form-control", @disabled = "true", @style = "text-decoration:none", @width = "100%" })

                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ManifestDate, "Manifest Date", htmlAttributes: new { @class = "headinglabel" })

                    @Html.TextBoxFor(model => model.ManifestDate, new { @class = "form-control", @required = "true" })

                </div>

                <div class="col-md-2">
                    <label class="headinglabel required">Agent</label>
                    @Html.DropDownListFor(model => model.AgentID, new SelectList(@ViewBag.Agent, "CustomerID", "CustomerName"), "Select", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.MAWB, htmlAttributes: new { @class = "headinglabel required" })

                    @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control", @required = "true" })
                    @Html.ValidationMessageFor(model => model.MAWB, "", new { @class = "text-danger" })

                </div>

                @*<div class="col-md-1" style="padding-top:30px">
                        <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                        <input type="button" id="btnfile" style="display:none" />

                        <a class="btn btn-primary small_btn btn-2 mt-0" id="btnUpload" title="Upload Excel" href="Javascript:void(0)"><i class=" fa fa-file-o"></i></a>
                    </div>*@
                <div class="col-md-1" style="padding-top:30px">
                    <input class="btn btn-primary" id="btnFixation" type="button" value="Data Fix" title="Data Fixation" />
                </div>
                <div class="col-md-1 hide" style="padding-top:30px">
                    <a class="btn btn-primary small_btn btn-2 mt-0" onclick="CallAutoFixation()" title="Auto Fixation" href="Javascript:void(0)"><i class=" fa fa-th"></i></a>
                    @*<input class="btn btn-primary" type="button" value="Auto Fixation" onclick="CallAutoFixation()" />*@
                </div>
                <div class="col-md-1" style="padding-top:30px">
                    <a class="btn btn-primary small_btn btn-2 mt-0" id="btnUpdateRate" title="Rate Update" href="Javascript:void(0)"><i class=" fa fa-money"></i></a>
                    @*<input class="btn btn-primary" id="btnUpdateRate" type="button" value="Update Rate" />*@
                </div>
                @*<div class="col-md-5 text-right">



                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-2">

                    <label class="headinglabel">Airport City</label>
                    @Html.TextBoxFor(model => model.OriginAirportCity, new { @class = "form-control", @type = "text", @autocomplete = "off" })
                    @*@Html.ValidationMessageFor(model => model.OriginAirportCity, "", new { @class = "text-danger" })*@

                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DestinationAirportCity, "Destination Airport City", htmlAttributes: new { @class = "headinglabel" })

                    @Html.TextBoxFor(model => model.DestinationAirportCity, new { @class = "form-control", @autocomplete = "off", @type = "search" })

                    @Html.ValidationMessageFor(model => model.DestinationAirportCity, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-1">

                    <label class="headinglabel">Flight No</label>
                    @Html.TextBoxFor(model => model.FlightNo, new { @class = "form-control", @autocomplete = "off" })

                    @Html.ValidationMessageFor(model => model.FlightNo, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    <label class="headinglabel">Flight Date</label>
                    @Html.TextBoxFor(model => model.FlightDate1, new { @class = "form-control", @autocomplete = "off" })

                    @Html.ValidationMessageFor(model => model.FlightDate1, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    <label class="headinglabel">Route</label>
                    @Html.TextBoxFor(model => model.Route, new { @class = "form-control", @autocomplete = "off" })
                </div>
                @*<div class="col-md-2">
                        <label class="headinglabel required">Type</label>
                        @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.Type, Model.Type, htmlAttributes: new { @class = "form-control", @required = "true", @selected = @Model.Type })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                    </div>*@




                <div class="col-md-1">
                    <label class="headinglabel">Parcel No.</label>
                    @Html.TextBoxFor(model => model.ParcelNo, new { @class = "form-control text-right", @required = "true" })
                    @Html.ValidationMessageFor(model => model.ParcelNo, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    <label class="headinglabel">Bag</label>

                    @Html.TextBoxFor(model => model.Bags, new { @class = "form-control text-right" })
                    @Html.ValidationMessageFor(model => model.Bags, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    <label class="headinglabel">Weight</label>
                    @Html.TextBoxFor(model => model.Weight, new { @class = "form-control text-right" })
                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-2">
                    <label class="headinglabel required">Total AWB</label>

                    @Html.TextBoxFor(model => model.TotalAWB, new { @class = "form-control text-right", @min = 1, @required = "true" })
                    @Html.ValidationMessageFor(model => model.TotalAWB, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-12 btn-right " style="padding-top:10px!important;padding-bottom:30px;">
                    <input type="button" value="Save" id="btnSave" class="btn btn-primary waves-effect waves-light" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btnwidth" })
                </div>

            </div>
            <div class="row" >
                <div class="col-md-4" id="listContainer1" style="padding:15px;margin-top:20px;max-height:400px;overflow-y:scroll;overflow-x:scroll">
                    @{Html.RenderPartial("EditCountryList", Model);}
                </div>
                <div class="col-md-8" id="listContainer" style="padding:15px;margin-top:20px;max-height:400px;overflow-y:scroll;overflow-x:scroll">
                    @{Html.RenderPartial("EditItemList", Model);}
                </div>
            </div>


        }
    </section>



</section>



<div class="modal fade" id="fixationpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:5px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">
                    Import Data Fixation
                </h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="popupContainer">

                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <span id="spanmsg" style="color:red"></span>
                <button type="button" class="btn btn-primary" onclick="savefixation()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loaderpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:5px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="LoaderModalLabel">
                    Data Importing
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <h2>Processing...</h2>
                        <img src="~/Content/img/loading-gif-free-download-6.gif" id="imgloader" class="" style="padding-left:15px;height:60px;width:60px;" />
                    </div>
                </div>
            </div>
            @*<div class="modal-footer" style="padding-top: 5px">
                    <button type="button" class="btn btn-primary" onclick="savefixation()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

