@model Net4Courier.Models.ImportManifestVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    $(document).ready(function () {
        //var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });

        $("#Selectall").click(function () {
            var idtext = 'hdnawbchecked_';
            if ($("#Selectall").is(':checked')) {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', true);
                });
            }
            else {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', false);
                });
            }
        });

    });
</script>
<script type="text/javascript">
    
    $(document).ready(function () {

        //$('#DetailsTable tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" style=width:100% />');
        //});


        //var table1 = $('#DetailsTable').DataTable({ "sPaginationType": "simple" });
        //var table1 = $('#DetailsTable').DataTable({ "paging":false, "sPaginationType": "simple" });

        //table1.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>
<table class="table table-responsive table-bordered tblfont" role="grid" style="min-width: 100%" id="DetailsTable1">

    @*<table class="table" style="min-width: 100%">*@
    <thead class="input-table">
        <tr>
            <th>SNo.</th>

            <th>
                Country Name
            </th>
            <th>
                Total aWB
            </th>
            <th>
                Valid AWB
            </th>
            <th>
                Error AWB
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody class="input-table" id="listbody1">
        @foreach (var item in Model.TransCountryDetails)
        {
            if (@item.ErrAWB > 0)
            {
        <tr style="color:red">
            <td>
                @item.SNo
                <input type="hidden" id="hdncountryId_@item.SNo" value="@item.CountryName" />
            </td>
            <td>
                @item.CountryName
            </td>
            <td>
                @item.TotalAWB
            </td>

            <td>@item.ValidAWB </td>
            <td>@item.ErrAWB </td>
            <td>
                <a href="JavaScript:void(0)" onclick="ShowTranshipmentCountry(@item.SNo)"><i class="fa fa-eye"></i></a> |
                <a href="JavaScript:void(0)" onclick="RateFixation(@item.SNo)"><i class=" fa fa-money"></i></a>
            </td>
        </tr>
            }
            else
            {
    <tr style="color:black">
        <td>
            @item.SNo
            <input type="hidden" id="hdncountryId_@item.SNo" value="@item.CountryName" />
        </td>
        <td>
            @item.CountryName
        </td>
        <td>
            @item.TotalAWB
        </td>

        <td>@item.ValidAWB </td>
        <td>@item.ErrAWB </td>
        <td>
            <a href="JavaScript:void(0)" onclick="ShowTranshipmentCountry(@item.SNo)"><i class="fa fa-eye"></i></a> |
            <a href="JavaScript:void(0)" onclick="RateFixation(@item.SNo)"><i class=" fa fa-money"></i></a>

        </td>
    </tr>
            }

            i++;
        }
    </tbody>
</table>


