@model Net4Courier.Models.ImportManifestVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    $(document).ready(function () {
        //var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });
                
        $("#Selectall").click(function () {
            var idtext = 'hdnawbchecked_';
            if ($("#Selectall").is(':checked')) {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', true);
                });
            }
            else {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', false);
                });
            }
        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        //$('#DetailsTable tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" style=width:100% />');
        //});


        //var table1 = $('#DetailsTable').DataTable({ "sPaginationType": "simple" });
        //var table1 = $('#DetailsTable').DataTable({ "paging":false, "sPaginationType": "simple" });

        //table1.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>
<table class="table table-responsive table-bordered tblfont" role="grid" style="min-width: 100%" id="DetailsTable">

    @*<table class="table" style="min-width: 100%">*@
    <thead class="input-table">
        <tr>
            <th style="width:12%"><input type="checkbox" style="width:20px;" class="Selectall" id="Selectall" value="0" name="Selectall" />SNo.</th>            

            <th>
                AWB
            </th>
            <th>
                AWB Date
            </th>
            
            <th width="100px">
                Receiver
            </th>
            
            <th width="100px">
                Weight
            </th>
            <th>
                Pieces
            </th>
            <th>
                Courier Charge
            </th>
            <th>
                Other Charge
            </th>
         
            <th>
                Fwd No.
            </th>
            <th>
                Fwd. Agent
            </th>
            <th>
                FWD Charge
            </th>
            <th>
                Courier Type
            </th>
            
        </tr>
    </thead>
    <tbody class="input-table" id="listbody">
        @foreach (var item in Model.TransDetails)
        {
            if (@item.DataError)
            {
        <tr style="color:red" title="@item.ErrorMessage">
            <td>
                @item.SNo
                @Html.CheckBoxFor(model => model.TransDetails[i].AWBChecked, new { @id = "hdnawbchecked_" + @item.SNo, @awb = item.HAWBNo, shipmentdetailid = item.InScanID, @class = "checkfilter calfield", style = "margin-left:10px;" })
            </td>
            <td>
                @item.HAWBNo
            </td>
            <td>
                @item.AWBDate
            </td>
            <td>@item.Consignee </td>
            <td style="text-align:right">
                @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Weight, "3")
            </td>
            <td>
                @item.Pieces
            </td>
            <td style="text-align:right">

                @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.CourierCharge, "2")
            </td>
            <td style="text-align:right">
                @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.OtherCharge, "2")

            </td>

            <td>
                @item.FAWBNo
            </td>
            <td>
                @item.FAgentName
            </td>
            <td style="text-align:right">
                @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.ForwardingCharge, "2")

            </td>
            <td>
                @item.CourierType
            </td>


        </tr>
            }
            else
            {
                <tr style="color:black">
                    <td>
                        @item.SNo
                        @Html.CheckBoxFor(model => model.TransDetails[i].AWBChecked, new { @id = "hdnawbchecked_" + @item.SNo, @awb = item.HAWBNo, shipmentdetailid = item.InScanID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                    </td>
                    <td>
                        @item.HAWBNo
                    </td>
                    <td>
                        @item.AWBDate
                    </td>                 
                    <td>@item.Consignee </td>                 
                    <td style="text-align:right">

                        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Weight, "3")
                    </td>
                    <td>
                        @item.Pieces
                    </td>
                    <td style="text-align:right">

                        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.CourierCharge, "2")
                    </td>
                    <td style="text-align:right">
                        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.OtherCharge, "2")

                    </td>                   
                    <td>
                        @item.FAWBNo
                    </td>
                    <td>
                        @item.FAgentName
                    </td>
                    <td style="text-align:right">
                        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.ForwardingCharge, "2")
                    </td>
                    <td>
                        @item.CourierType
                    </td>
                  
                </tr>
            }

            i++;
        }
    </tbody>
</table>


