@model Net4Courier.Models.ImportManifestVM
<script type="text/javascript">
    $(document).ready(function () {

        //$('#DetailsTable tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" style=width:100% />');
        //});


        //var table1 = $('#DetailsTable').DataTable({ "sPaginationType": "simple" });
        //var table1 = $('#DetailsTable').DataTable({ "paging":false, "sPaginationType": "simple" });

        //table1.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>
<table class="table table-bordered" id="datatable" width="100%">
    <thead class="table-light">
        <tr>
            <th>
                S.No
            </th>
            <th>
                AWB
            </th>       
            <th>
                AWB Date
            </th>         
            @*<th>
                Shipper
            </th>
            <th>
                Shipper Country
            </th>*@
            <th>
               Receiver
            </th>
            <th>
                Receiver Country
            </th>
            <th>
                Weight
            </th>
            <th>
                Pieces
            </th>
            <th>
                Courier Charge
            </th>
            <th>
                Other Charge
            </th>
            @*<th>
                Payment Mode
            </th>*@
            <th>
                Receiver By
            </th>
            <th>
                Collected By
            </th>         
            <th>
                Fwd No.
            </th>
            <th>
                Fwd. Agent
            </th>
            <th>Courier Type
            </th>
            <th>
                Parcel Type
            </th>           
        </tr>
    </thead>
    <tbody class="input-table" id="listbody">
        @foreach (var item in Model.TransDetails)
        {
            if (@item.DataError)
            {
                <tr style="color:red" title="@item.ErrorMessage">
                    <td>
                        @item.SNo
                    </td>
                    <td>
                        @item.HAWBNo
                    </td>
                    <td>
                        @item.AWBDate
                    </td>
                    @*<td>
                        @item.Consignor
                    </td>
                    <td> @item.ConsignorCountryName</td>*@
                    <td>@item.Consignee </td>
                    <td>@item.ConsigneeCountryName </td>
                    <td>@item.Weight</td>
                    <td>
                        @item.Pieces
                    </td>
                    <td>
                        @item.CourierCharge
                    </td>
                    <td>
                        @item.OtherCharge
                    </td>
                    @*<td>
                        @item.PaymentMode
                    </td>*@
                    <td>@item.ReceivedBy</td>
                    <td>
                        @item.CollectedBy
                    </td>
                    <td>
                        @item.FAWBNo
                    </td>
                    <td>
                        @item.FAgentName
                    </td>
                    <td>
                        @item.CourierType
                    </td>
                    <td>
                        @item.ParcelType
                    </td>
                  
                </tr>
            }
            else
            {
                <tr style="color:black">
                    <td>
                        @item.SNo
                    </td>
                    <td>
                        @item.HAWBNo
                    </td>
                    <td>
                        @item.AWBDate
                    </td>
                    @*<td>
                        @item.Consignor
                    </td>
                    <td> @item.ConsignorCountryName</td>*@
                    <td>@item.Consignee </td>
                    <td>@item.ConsigneeCountryName </td>
                    <td>   @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Weight, "3")</td>
                    <td>
                        @item.Pieces
                    </td>
                    <td class="text-right">
                      @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.CourierCharge,"2")
                    </td>
                    <td class="text-right">
                        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.OtherCharge, "2")
                    </td>                    
                    <td>@item.ReceivedBy</td>
                    <td>
                        @item.CollectedBy
                    </td>
                    <td>
                        @item.FAWBNo
                    </td>
                    <td>
                        @item.FAgentName
                    </td>
                    <td>
                        @item.CourierType
                    </td>
                    <td>
                        @item.ParcelType
                    </td>                  
                </tr>
            }
        }
    </tbody>
</table>


