@model Net4Courier.Models.UserLoginVM

@{
Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Truebook-@ViewBag.CompanyName</title>
    <link rel="shortcut icon" href="/Content/img/fav.png" type="image/x-icon">
    <link rel="icon" href="/Content/img/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,400i,500,700|Titillium+Web:600" rel="stylesheet">
    <link href="/Content/NewCSS/css/Home.css" rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="/Content/NewCSS/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/Content/js/notify.js"></script>
    <script src="/Content/js/notify.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#UserName").val() == '') {
                $("#UserName").focus();
            }
            //$('#BranchID').change(function () {

            //    $('#AcFinancialYearID').empty();
            //    $('#AcFinancialYearID').append('<option value="0">Select Year</option>');
            //    $.ajax({
            //        type: "POST",
            //        url: "/Login/GetFYear",
            //        datatype: "Json",
            //        data: { id: $('#BranchID').val() },
            //        success: function (data) {
            //            $('#AcFinancialYearID').empty();
            //            $.each(data, function (index, value) {
            //                $('#AcFinancialYearID').append('<option value="' + value.AcFinancialYearID + '">' + value.FYearName + '</option>');
            //            });
            //        }

            //    });
            //});

            //$(".loginItem").on('click', function (event) {
            //    $(".loginItem").each(function () {
            //        $(this).removeClass('active');
            //    });
            //    if ($(this).find('h3').html() == "Employee") {
            //        $("#divvdepot").removeClass('hide');
            //        $("#divyear").removeClass('hide');
            //        $('#UserType').val('Employee');
            //        $('#DepotID').attr('required', 'required');
            //        $('#AcFinancialYearID').attr('required', 'required');
            //        $(this).addClass('active');
            //    }
            //    else if ($(this).find('h3').html() == "Customer") {
            //        $("#divvdepot").addClass('hide');
            //        $("#divyear").addClass('hide');
            //        $('#UserType').val('Customer');
            //        $('#DepotID').removeAttr('required', 'required');
            //        $('#AcFinancialYearID').removeAttr('required', 'required');
            //        $(this).addClass('active');
            //    }
            //    else if ($(this).find('h3').html() == "Agent") {
            //        $("#divvdepot").addClass('hide');
            //        $("#divyear").addClass('hide');
            //        $('#UserType').val('Agent');
            //        $('#DepotID').removeAttr('required', 'required');
            //        $('#AcFinancialYearID').removeAttr('required', 'required');
            //        $(this).addClass('active');
            //    }
            //    //event.stopPropagation();
            //    //event.stopImmediatePropagation();
            //    //(... rest of your JS code)
            //});

            $("#asignin").on('click', function () {
                $("#UserName").val('');
                $("#UserName").focus();
            });
            $('#btnforgotsubmit').on('click', function (event) {
                if ($('#txtforgotemail').val().trim() != '') {
                    $.ajax({
                        type: "POST",
                        url: "/Login/ForgorPassword",
                        datatype: "Json",
                        data: { emailid: $('#txtforgotemail').val().trim() },
                        success: function (response) {

                            if (response.status == "ok") {
                                $.notify(response.message, "success");
                                $('#myModal').modal('hide');
                            }
                            else {
                                $.notify(response.message, "error");
                                $('#myModal').modal('hide');
                            }
                        }

                    });

                }
                else {
                    $.notify("Enter Registered EmailId", "error");
                    $('#myModal').modal('hide');
                }


            });
        });
    </script>
    
</head>

<body>
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
        </script>
    }
    @if (TempData["ErrorMsg"] != null)
    {
        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["ErrorMsg"]", "error");
                      });
        </script>
    }

    <section class="hero">
        <div class="container">
            <div class="loginBlock">
                <img class="logo" src="~/Content/img/TrueBook_white.png" alt="">
                <h1>Freight Forwarding System</h1>
				<h2 class="titleScreen"> Change Password</h2>
            
                @using (@Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "", @role = "form" }))
                {
                    <div class="form-group">
                        <input type="email" name="UserName" value="" class="form-control" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @autocomplete = "off", @required = "true", @placeholder = "Current Password" })   @*@placeholder = "Password:"*@
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @autocomplete = "off", @required = "true", @placeholder = "New Password" })   @*@placeholder = "Password:"*@
                    </div>

                    <div class="otherLogin">
                        <ul>
                            <li><a href="@Url.Action("Home", "Home")" id="asignin">Home Page</a></li>
                            <li><a href="@Url.Action("Login", "Login")">Login</a></li>
                            <li><a href="@Url.Action("ForgotPassword", "Login")">Forgot Password</a></li>
                        </ul>

                        <input type="submit" class="button button-primary " value="Submit" />
                    </div>
                }
                <div class="footer">
                    <p>powered by : </p>
                    <img src="~/Content/img/malusoft.png" class="logo2" alt="" />
                </div>
            </div>
        </div>


    </section>






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>*@






</body>
</html>