@model Net4Courier.Models.UserLoginVM

@{
Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Truebook-@ViewBag.CompanyName</title>
    <link rel="shortcut icon" href="/Content/img/fav.png" type="image/x-icon">
    <link rel="icon" href="/Content/img/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,400i,500,700|Titillium+Web:600" rel="stylesheet">
    <link href="/Content/NewCSS/css/Home.css" rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="/Content/NewCSS/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/Content/js/notify.js"></script>
    <script src="/Content/js/notify.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#UserName").val() == '') {
                $("#UserName").focus();
            }
            $("#UserName").focus();
               $("#asignin").on('click', function () {
                $("#UserName").val('');
                $("#UserName").focus();
            });
       
        });
    </script>
    
</head>

<body>
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
        </script>
    }
    @if (TempData["ErrorMsg"] != null)
    {
        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["ErrorMsg"]", "error");
                      });
        </script>
    }

    <section class="hero">
        <div class="container">
            <div class="loginBlock">
                <img class="logo" src="~/Content/img/TrueBook_white.png" alt="">
                <h1>Freight Forwarding System</h1>
                @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "", @role = "form" }))
                {
            <div class="form-group">
                @*@Html.TextBoxFor(model => model.UserName, new { @class = "form-control autoFiled", @placeholder = "User Name", @required = "true", @type = "email" })*@
                <input type="email" id="UserName" name="UserName" class="form-control autoFiled" placeholder="Email" autocomplete="off" required />                
            </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "true", @placeholder = "Password" })   @*@placeholder = "Password:"*@
                    </div>
                    <div class="otherLogin">
                        <ul>
                            <li><a href="#" id="asignin">Sign as different user</a></li>
                            <li><a href="@Url.Action("ForgotPassword", "Login")">Forgot Password</a></li>
                            <li><a href="@Url.Action("ChangePassword", "Login")">Change Password</a></li>
                        </ul>

                        <input type="submit" class="button button-primary " value="Sign Up" />
                    </div>
                }
                <div class="footer">
                    <p>powered by : </p>
                    <img src="~/Content/img/malusoft.png" class="logo2" alt="" />
                </div>
            </div>
        </div>


    </section>






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>*@






</body>
</html>