@model Net4Courier.Models.FAgentRateVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
       


    
    

        $.ajax({
            type: "POST",
            url: "/ForwardingAgentRates/GetDetails",
            datatype: "Json",
            data: { id: $("#FAgentRateID").val() },
            success: function (data) {
                var x=0;
                $.each(data, function (index, value) {
                    var i = $('#details tr').length - 1;
                    if (i == 0) {
                        x = $("#BaseRate").val();
                        x = parseFloat(x) + parseFloat(value.AddRate);
                    }
                    else {
                        x = parseFloat(x) + parseFloat(value.AddRate);
                    }
                    $("#details").append('<tr>' + '<td>' + value.AddWtFrom + '<input type="hidden" value=' + value.AddWtFrom + ' name="FAgentRateDetails[' + i + '].AddWtFrom"></td>' + '<td>' + value.AddWtTo + '<input type="hidden" value=' + value.AddWtTo + ' name="FAgentRateDetails[' + i + '].AddWtTo"></td>' + '<td>' + value.IncrWt + '<input type="hidden" value=' + value.IncrWt + ' name="FAgentRateDetails[' + i + '].IncrWt"></td>' + '<td>' + x + '<input type="hidden" value=' + x + ' name="FAgentRateDetails[' + i + '].ContractRate"></td>'
                               + '<td>' + value.AddRate + '<input type="hidden" value=' + value.AddRate + ' name="FAgentRateDetails[' + i + '].AddRate"></td></tr>');

                });


                var temp = parseFloat($("#details tr:last").find("td:eq(1)").text()) + parseFloat("0.001");
                $("#addwtfrom").val(parseFloat(temp).toFixed(3));

            }

        });

        $("#BaseWeight").blur(function () {
            var wt = $(this).val();
            var newwt = parseFloat(wt) + 0.001;
            $("#addwtfrom").val(newwt.toFixed(3));
            $("#BaseWeight").val(parseFloat(wt).toFixed(3));
            $("#BaseRate").focus();

        });
        $("#BaseRate").blur(function () {
            var wt = $(this).val();

            $("#BaseRate").val(parseFloat(wt).toFixed(2));

        });



        $("#contractrate").blur(function () {
            var rowCount = $('#details tr').length - 1;

            if (rowCount == 0 || $("#hfAddCustomerRate").val() == 0) {
                if ($("#BaseRate").val() != "" && $("#contractrate").val() != "") {
                    var AddittionalRate = parseFloat($("#contractrate").val()) - parseFloat($("#BaseRate").val());

                    $("#addrate").val(AddittionalRate.toFixed(2));
                }
            }
            else {


                var decAdditionalRate;
                var x = $("#details tr:last td:nth-child(4)");

                var c = $(x).text();
                decAdditionalRate = parseFloat($("#contractrate").val()) - parseFloat(c);

                $("#addrate").val(decAdditionalRate.toFixed(2));
            }

            var w = $(this).val();
            $(this).val(parseFloat(w).toFixed(2));

            $("#hfAddCustomerRate").val(parseInt(rowCount) + 1);
        });

        $("#addwtto").blur(function () {
            if ($(this).val() < $("#addwtfrom").val()) {
                $(".outrange").show();
                $(this).focus();
            }
            else {
                var wt = $(this).val();
                $(this).val(parseFloat(wt).toFixed(3));
                $(".outrange").hide();

                var addwtfrm = $("#addwtfrom").val();
                var incr = parseFloat(wt) - parseFloat(addwtfrm);

                $("#incrwt").val(parseFloat(incr).toFixed(3));

                $("#incrwt").focus();
            }
        });

        $("#incrwt").blur(function () {
            var wt = $(this).val();
            $(this).val(parseFloat(wt).toFixed(3));

        });





        $("#btnadd").click(function () {
    
            if (CheckForNull() == true) {
                var i = $('#details tr').length - 1;

                $("#details").append('<tr>' + '<td>' + $("#addwtfrom").val() + '<input type="hidden" value=' + $("#addwtfrom").val() + ' name="FAgentRateDetails[' + i + '].AddWtFrom"></td>' +
                    '<td>' + $("#addwtto").val() + '<input type="hidden" value=' + $("#addwtto").val() + ' name="FAgentRateDetails[' + i + '].AddWtTo"></td>' + '<td>' + $("#incrwt").val() + '<input type="hidden" value=' + $("#incrwt").val() + ' name="FAgentRateDetails[' + i + '].IncrWt"></td>' + '<td>' + $("#contractrate").val() + '<input type="hidden" value=' + $("#contractrate").val() + ' name="FAgentRateDetails[' + i + '].ContractRate"></td>' + '<td>' + $("#addrate").val() + '<input type="hidden" class="crate" value=' + $("#addrate").val() + ' name="FAgentRateDetails[' + i + '].AddRate"></td><td><input type="button" class="btnedit" onclick="check(this)" value="Click"></td></tr>');

                $("#addwtfrom").val('');
                $("#addwtto").val('');
                $("#incrwt").val('');
                $("#contractrate").val('');
                $("#addrate").val('');

                var x = $("#details tr:last td:nth-child(2)");
                var c = $(x).text();
                var decAdditionalRate = (parseFloat(c) + 0.001).toFixed(3);

                $("#addwtfrom").val(decAdditionalRate);
            }
            //}

            $("#addwtto").focus();
        });

        function CheckForNull() {

            if ($("#addwtfrom").val() == "" || $("#addwtto").val() == "" || $("#incrwt").val() == "" || $("#contractrate").val() == "" || $("#addrate").val() == "") {
                $(".error").show();
                return false;
            }
            else {
                $(".error").hide();
                return true;
            }
        }

    });
</script>

<section class="content-header">
    <h1 class="headingfont">Forwarding Agent Rates</h1>

</section>

<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        
        <fieldset>

            <div class="row no-margin">

         <div class="col-md-3">
          
                  <label class="headinglabel required ">Forwarding Agent</label>
                @Html.HiddenFor(model=>model.FAgentRateID)
                   @Html.DropDownListFor(model=>model.FAgentID, new SelectList(@ViewBag.FAgentID, "FAgentID", "FAgentName"),"Select", new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.FAgentID)
                </div>
            <div class="col-md-3">
              <label class="headinglabel required ">Product Name</label>
                   @Html.DropDownListFor(model=>model.ProductTypeID, new SelectList(@ViewBag.ProductTypeID, "ProductTypeID", "ProductName"),"Select", new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.ProductTypeID)
                </div>

                <div class="col-md-3">
              <label class="headinglabel required ">Zone Name</label>
                   @Html.DropDownListFor(model=>model.ZoneID, new SelectList(@ViewBag.ZoneID, "ZoneChartID", "ZoneChartID"),"Select", new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.ZoneID)
                </div>
</div>
             <div class="row no-margin" style="padding-top:10px">
                  <div class="col-md-3">
                    <label class="headinglabel required">Base Weight</label>
                     @Html.TextBoxFor(model => model.BaseWeight, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.BaseWeight)
                </div>

                 <div class="col-md-3">
                    <label class="headinglabel required">Base Rate</label>
                     @Html.TextBoxFor(model => model.BaseRate, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.BaseRate)
                </div>
              </div>
             <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                           
                              <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;&nbsp;<a href='@Url.Action("Index", "ForwardingAgentRates", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                               
                          
                        </div>
                 </div>

            <div class="row no-margin" style="padding-top: 30px">
                <div class="error" style="color: red; display: none">* Please Add  All Mandetory Fields</div>
                <div class="col-md-2"> 
                    <label class="headinglabel">Add Wt From</label>
                    <input type="text" id="addwtfrom" class="form-control" />

                </div>
                <div class="col-md-2">
                    <label class="headinglabel">Add Wt To</label>&nbsp;&nbsp; 
                    <label class="outrange" style="color: red; display: none">Out Of Range</label>
                    <input type="text" id="addwtto" class="form-control" />

                </div>
                <div class="col-md-2">
                    <label class="headinglabel">Incr Wt</label>
                    <input type="text" id="incrwt" class="form-control" />

                </div>

                <div class="col-md-2">
                    <label class="headinglabel">Contract Rate</label>
                    <input type="text" id="contractrate" class="form-control" />

                </div>
                <div class="col-md-2">
                    <label class="headinglabel">Add Rate</label>
                    <input type="text" id="addrate" class="form-control" />

                </div>

            </div>

            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-3">
                    <input type="button" value="Update" id="btnadd" class="btn btn-primary" />&nbsp;&nbsp; 
                    <input type="button" value="Cancel" id="btncancel" class="btn btn-primary" />
                </div>

            </div>

            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive" id="details" style="background-color: white">

                        <thead>

                            <th>Add Wt. From</th>
                            <th>Add Wt. To</th>
                            <th>Incr. Wt.</th>
                            <th>Contract Rate</th>
                            <th>Add Rate</th>
                            <th></th>
                        </thead>

                    </table>
                </div>
            </div>

            </fieldset>
    }
    </section>