@model Net4Courier.Models.CODReportParam
@{
    Layout = null;
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="/Content/Multiselect/bootstrap-multiselect.js"></script>
<style>
    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
    .datefilters{
        border:1px solid #ccc;
        padding: 20px 10px;
        border-radius: 5px;
    }
</style>
<script>
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });
        });
        $.ajax({
            type: "Get",
            url: "/CustomerInvoice/GetCourierType",
            datatype: "Json",
            success: function (response) {

                var data = response.data;
                $('#movementid').empty();

                $.each(data, function (index, value) {

                    var o_st = $("#MovementId").val().split(",");
                    var flag = 0;
                    for (var j = 0; j < o_st.length; j++) {

                        if (o_st[j] == value.MovementID) {
                            flag = 1;
                            break;
                        }

                    }

                    if (flag == 1) {
                        $('#movementid').append('<option value="' + value.MovementID + '" selected=true>' + value.MovementType + '</option>');
                    }
                    else {
                        $('#movementid').append('<option value="' + value.MovementID + '">' + value.MovementType + '</option>');
                    }

                });



                $('#movementid').multiselect({
                    nonSelectedText: 'Select',
                    enableClickableOptGroups: true,
                    enableCollapsibleOptGroups: true,
                    enableFiltering: false,
                    includeSelectAllOption: true,
                    selectAllValue: 'multiselect-all'
                });

            }
        });

        if ($('#ReportType').val() == 'Date' || $('#ReportType').val()== '' || $('#ReportType').val()==null) {
            $('#chkRegister').prop('checked', 'checked')
        } else {
            $('#GroupBy').val($('#ReportType').val()).trigger('change');
        }

        if ($('#SortBy').val() == '' || $('#SortBy').val() == 'Date Wise' || $('#SortBy').val()==null) {
            $("#chkDateWise").prop('checked', 'checked');
            $('#SortBy').val('Date Wise');
        }
        else {
            $("#chkAWBWise").prop('checked', 'checked');
            $('#SortBy').val('AWB Wise');
        }
        $("#chkRegister").click(function () {
            if ($("#chkRegister").is(':checked')) {
                $("#ReportType").val('Date');
                $("#GroupBy").val('');
            }
            else {
                $("#GroupBy").val('');
                $("#ReportType").val('');

            }
        });

        $("#chkDateWise").click(function () {
            if ($("#chkDateWise").is(':checked')) {
                $("#chkAWBWise").removeAttr('checked');
                $('#SortBy').val('Date Wise');
            }
            else {
                $("#chkAWBWise").prop('checked','checked');
                $('#SortBy').val('AWB Wise');
            }
        });

        $("#chkAWBWise").click(function () {
            if ($("#chkAWBWise").is(':checked')) {
                $("#chkDateWise").removeAttr('checked');
                $('#SortBy').val('AWB Wise');
            }
            else {
                $("#chkDateWise").prop('checked', 'checked');
                $('#SortBy').val('Date Wise');
            }
        });
        $('#GroupBy').change(function () {
            if ($('#GroupBy').val() == '') {
                $("#chkRegister").prop('checked', 'checked');
                $('#ReportType').val('Date');
            }
            else {
                $("#chkRegister").removeAttr('checked');
                $('#ReportType').val($('#GroupBy').val());
            }

        })

        $("#btnreport").click(function () {
            if (!$("#chkRegister").is(':checked')) {

                if ($('#GroupBy').val() == '') {
                    alert('Select Group By or !');
                    return false;
                }

                debugger;

            }

         });

    });
</script>
@using (Html.BeginForm("CODReportParam", "Reports", FormMethod.Post, new { @id = "reportparam" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-6">
<div class="row no-margin " style="padding-top:10px">
    <div class="col-md-4">
        <label class="headinglabel required ">From Date</label>
        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right", @required = "true" })
    </div>
    <div class="col-md-4">
        <label class="headinglabel required">To Date</label>
        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right", @required = "true" })
    </div>

    
    <div class="col-md-4">
        @Html.HiddenFor(model => model.MovementId)
        @Html.HiddenFor(model => model.SortBy)
        @Html.HiddenFor(model => model.ReportType)
        <label class="headinglabel">Courier Type</label> <br />
        <select id="movementid" name="SelectedValues" multiple="multiple">
            <option value=""></option>
        </select>
    </div>

   
    </div>
    <div class="row no-margin " style="padding-top:10px">
    <div class="col-md-4">
        <label class="headinglabel required">Parcel Type</label>
        @Html.DropDownListFor(model => model.ParcelTypeId, new SelectList(@ViewBag.parceltype, "ID", "ParcelType1"), "All", new { @class = "form-control" })
    </div>    

    <div class="col-md-4">
        <label class="headinglabel  required">Group By</label>
        @Html.DropDownList("GroupBy", new List<SelectListItem>
        {
            //new SelectListItem{ Text="Select",Value = "" },            
            new SelectListItem{ Text="Movement Type", Value = "Movement" },
            new SelectListItem{ Text="Parcel Type", Value = "ParcelType" },            
            new SelectListItem{ Text="Courier Type", Value = "Summary" },

         }, "Select", new { @class = "form-control", @value = "" })
    </div>    
   
   
</div>
</div>

<div class="col-md-2" style="padding-top: 10px">

       <label class="headinglabel">options</label>
       <div class="datefilters">
        <div class="field">
            <label class="headinglabel"><input type="checkbox" id="chkRegister" name="datewise"/>Date wise Register</label>
        </div>
        <div class="row">
        <div class="col-md-4">
            <label> Sort By</label>
        </div>
        <div class="col-md-8">
            <div class="field checkboxdesign verticalcheckbox">
                <label class="headinglabel"><input type="checkbox" id="chkDateWise" name="datewise"/>Date</label>
            </div>
            <div class="field checkboxdesign verticalcheckbox">
                <label class="headinglabel"><input type="checkbox"  id="chkAWBWise" name="datewise"/>Airway Bill</label>
            </div>
        </div>
    </div>
    </div>
    </div>
    
<div class="col-md-4" style="padding-top: 10px">

     <div class="col-md-6 col-md-offset-2">
        <label class="headinglabel  required">Output</label>
        @Html.DropDownList("Output", new List<SelectListItem>
        {
            new SelectListItem{ Text="PDF",Value = "PDF" },
            new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
            new SelectListItem{ Text="WORD", Value = "WORD" },

         }, "Select", new { @class = "form-control", @value = "PDF", @required = "true" })
    </div>
    
     <div class="col-md-4">
        <button class="btn btn-primary" id="btnreport" type="submit" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>

</div>


<div class="row no-margin d-flex hide">

    <div class="col-md-2">
        <label class="headinglabel">Format</label>
        @Html.DropDownList("Format", new List<SelectListItem>
       {
           new SelectListItem{ Text="PlainPaper", Value = "Plain Paper" },
           new SelectListItem{ Text="LetterHead", Value = "Letter Head" }

        }, "Select", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        <label class="headinglabel">Report Type</label>
        @Html.DropDownList("ReportType", new List<SelectListItem>
       {
           new SelectListItem{ Text="Detailed", Value = "Detailed" },
           new SelectListItem{ Text="Summary", Value = "Summary" }

        }, "Select", new { @class = "form-control" })
    </div>
   

</div>
    }



