@model  Net4Courier.Models.AWBListSearch
@{

 
    ViewBag.pTitle = "Reports";
    ViewBag.pageTitle = "Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
}

@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

}

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
</style>
<script>
    function ExportExcel() {
        $('#btnreport').trigger('click');
        //var d = new Date();
        //var curr_date = d.getDate();
        //var curr_month = d.getMonth() + 1;
        //var curr_year = d.getFullYear();

        //var reqdate = curr_date.toString() + curr_month.toString() + curr_year.toString() + '_' + d.getHours() + d.getMinutes();
        //$("#DetailsTable").table2excel({
        //    filename: "AWBRegister_" + reqdate + ".xls"
        //});
    }
    function PrintDiv(divid) {

        var contents = document.getElementById(divid).innerHTML;
        var frame1 = document.createElement('iframe');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('</head><body>');
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
        }, 500);
        return false;
    }
     $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


     



        setTimeout(function () {
            var fromdate = $('#FromDate').attr('fromdate');
            var sd1 = fromdate.split('/')[1] + '-' + fromdate.split('/')[0] + '-' + fromdate.split('/')[2];
            $('#FromDate').val(sd1).trigger('change');
        }, 100)

        setTimeout(function () {
            var todate = $('#ToDate').attr('todate');
            var ed1 = todate.split('/')[1] + '-' + todate.split('/')[0] + '-' + todate.split('/')[2];
            $('#ToDate').val(ed1).trigger('change');
        }, 100);


    });
</script>


@using (Html.BeginForm("ImportAWBList", "Reports", FormMethod.Post, new { @id = "reportparam" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="searchdiv sm-width" style="margin-top: 0px !important;">
        <div class="row no-margin">

            <div class="col-md-6">
                <div class="mb-2">
                    <label class="col-form-label">From Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                   placeholder="Pick a From Date" autocomplete="off">
                            <button type="button"
                                    class="btn btn-secondary docs-datepicker-trigger"
                                    disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <label class="col-form-label">To Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                   placeholder="Pick a date" autocomplete="off">
                            <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.MovementID)
            </div>
        </div>
        
        <div class="row no-margin">
           
            <div class="col-md-12 btn_top">
                <div class="mb-2 mt-2">
                    <button class="refresh_img small_btn_mar hide" id="btnreport" type="submit"><img src="/Content/img/refresh.png" alt="logolarge"></button>

                    <a class="btn btn-success btnwidth" title="Export to Excel" style="width: 60px!Important;min-width: 50px!important;" href="Javascript:void(0)" onclick="ExportExcel()"><i class="far fa-file-excel"></i></a>
                </div>
            </div>
        </div>
    </div>

}


@section scripts{

   
    <script src="~/Content/plugins/excel/jquery.table2excel.js"></script>
}
