@model Net4Courier.Models.MaterialCostLedgerParam

@{
            ViewBag.Title = "Report";
    ViewBag.pTitle = "Material Cost Payment";
    ViewBag.pageTitle = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        $("#Shipper").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AWBBatch/GetShipperName',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.ShipperName,
                                value: val.ShipperName


                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, i) {
                $('#Shipper').val(i.item.value);

            },
            select: function (e, i) {
                e.preventDefault();
                $('#Shipper').val(i.item.value);

            },

        });
        $("#Receiver").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AWBBatch/GetReceiverName', //'/AWB/GetConsigneeName',
                    datatype: "json",
                    data: {
                        term: request.term, Shipper: '', ShowAll: true
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Name,
                                value: val.Name,

                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, i) {
                $("#Receiver").val(i.item.label);

            },
            select: function (e, i) {
                e.preventDefault();
                $("#Receiver").val(i.item.label);
            },

        });
        $("#AllShipper").click(function () {
            if ($("#AllShipper").is(':checked')) {
                $('#Shipper').attr('readonly', 'readonly');
                $('#Shipper').val('');

                $('#Shipper').removeAttr('required');
            }
            else {
                $('#Shipper').removeAttr('readonly');
                $('#Shipper').attr('required', 'required');
            }
        });
        $("#AllReceiver").click(function () {
            if ($("#AllReceiver").is(':checked')) {
                $('#Receiver').attr('readonly', 'readonly');
                $('#Receiver').val('');

                $('#Receiver').removeAttr('required');
            }
            else {
                $('#Receiver').removeAttr('readonly');
                $('#Receiver').attr('required', 'required');
            }
        });
        $("#chkSelected").click(function () {
            if ($("#chkSelected").is(':checked')) {
                $('#CustomerName').removeAttr('readonly');
            }
            else {
                $('#CustomerName').attr('readonly', 'readonly');
                $('#CustomerName').val('');
                $('#CustomerId').val(0);
            }
        });
        $('#ReportType').change(function () {
            if ($('#ReportType').val() == "OutStanding") {
                $("#CustomerName").val('');
                $("#CustomerName").attr('readonly', 'readonly');
                $("#CustomerName").removeAttr('required');
                $('#lblcustomername').removeClass('required');
            }
            else if ($('#ReportType').val() == "AWBOutStanding") {
                $("#CustomerName").val('');
                $("#CustomerName").removeAttr('readonly');
                $("#CustomerName").removeAttr('required');
                $('#lblcustomername').removeClass('required');
            }
            else {
                $("#CustomerName").removeAttr('readonly');
                $('#lblcustomername').addClass('required');
            }
        });
        //$("#CustomerName").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: '/CustomerReceipt/GetCustomerName',
        //            datatype: "json",
        //            data: {
        //                term: request.term
        //            },
        //            success: function (data) {
        //                response($.map(data, function (val, item) {
        //                    return {
        //                        label: val.CustomerName,
        //                        value: val.CustomerName,
        //                        ID: val.CustomerID,
        //                        type: val.CustomerType
        //                    }
        //                }))
        //            }
        //        })
        //    },
        //    minLength: 1,
        //    autoFocus: true,
        //    select: function (e, i) {
        //        e.preventDefault();
        //        $("#CustomerName").val(i.item.label);
        //        $('#CustomerId').val(i.item.ID);
        //        //$('#hdnCustomerType').val(i.item.type);
        //        //if ($('#hdnCustomerType').val() == "CR") {
        //        //    $("#Consignor1").css('color', 'blue');
        //        //}
        //        //else if ($('#hdnCustomerType').val() == "CS") {
        //        //    $("#Consignor1").css('color', 'red');
        //        //}
        //        //else {
        //        //    $("#Consignor1").css('color', 'black');
        //        //}

        //    },

        //});
        $('#ReportType').trigger('change');
        if ($('#Receiver').val() != '') {

            $("#AllReceiver").prop('checked', 'false');
            $("#AllReceiver").attr('value', false);
            $("#AllReceiver").trigger('click');
        }
        else {
            $("#AllReceiver").prop('checked', true);
            $('#Receiver').removeAttr('required');
            $('#Receiver').attr('readonly', 'readonly');
            //$("#AllCustomer").trigger('click');
        }

        if ($('#Shipper').val() != '') {

            $("#AllShipper").prop('checked', 'false');
            $("#AllShipper").attr('value', false);
            $("#AllShipper").trigger('click');
        }
        else {
            $("#AllShipper").prop('checked', true);
            $('#Shipper').removeAttr('required');
            $('#Shipper').attr('readonly', 'readonly');
        }
    });
</script>


@using (Html.BeginForm("MCPaymentList", "Reports", FormMethod.Post, new { @id = "customerledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-md-3 report_pad">
            <div class="row mt-1">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="col-form-label">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                    placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                <div class="mb-2">
                    <div class="flexTitle">
                        <label class="col-form-label required">Shipper</label>
                        <div class="checkboxdesign no-padding text-right" style="float:right">
                            @Html.CheckBox("AllShipper", new { @name = "AllShipper", @checked = "checked" }) &nbsp
                            <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">All Shipper</label>
                        </div>
                    </div>
                    @Html.TextBoxFor(model => model.Shipper, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })

                </div>
                </div>
                <div class="col-md-12">
                <div class="mb-2">
                    <div class="flexTitle">
                        <label class="col-form-label required">Receiver</label>
                        <div class="checkboxdesign no-padding text-right" style="float:right">
                            @Html.CheckBox("AllReceiver", new { @name = "AllReceiver", @checked = "checked" }) &nbsp
                            <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">All Receiver</label>
                        </div>
                    </div>
                    @Html.TextBoxFor(model => model.Receiver, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })

                </div>
                </div>
                <div class="col-md-9">
                <div class="mb-2">
                    <label class="col-form-label  required">Output</label>
                    @Html.DropDownList("Output", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="PDF", Value = "PDF" },
                        new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                        new SelectListItem{ Text="WORD", Value = "WORD" },

                    }, "Select", new { @class = "form-select", @value = "PDF", @required = "true" })
                </div>
                </div>
                 <div class="col-md-3">
                    <div class="mb-2 mt-2 text-md-end">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top" id="btnreport">
                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
            </div>
</div>
    <div class="col-md-9">
        @{ Html.RenderAction("ReportFrame", "Accounts");}

    </div>

</div>

</div>
</div>

}
