@model Net4Courier.Models.PDCRegister
@{
     ViewBag.Title = "Reports";
    ViewBag.pTitle = "PDC Register";
    ViewBag.pageTitle = "PDC Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .datefilters {
        border: none;
        padding: 40px 10px;
        border-radius: 5px;
    }
</style>
<script>
    //$(function () {
    //    $('#AsonDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        if ($('#SortBy').val() == 'All') {
            $("#chkZeroTax").prop('checked', 'checked');
        }

        $("#chkZeroTax").click(function () {
            if ($("#chkZeroTax").is(':checked')) {
                $('#SortBy').val('All');
            }
            else {
                $('#SortBy').val('NonZeroTax');
            }
        });


        $("#AllBank").click(function () {
            if ($("#AllBank").is(':checked')) {
                $('#AcHeadID').attr('readonly', 'readonly');
                $('#AcHeadID').val('');
            }
            else {
                $('#AcHeadID').removeAttr('readonly');
                $('#AcHeadID').attr('required', 'required');
            }
        });

    });
</script>


@using (Html.BeginForm("PDCRegister", "Reports", FormMethod.Post, new { @id = "reportparam" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-md-3 report_pad">
            <div class="row mt-1">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="col-form-label">As on Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="AsonDate" id="AsonDate" value="@Model.AsonDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                <div class="mb-2">
                    <div class="flexTitle">
                        <label class="col-form-label required">Bank</label>
                        <div class="checkboxdesign no-padding  text-right" style="float:right">
                            @Html.CheckBoxFor(model => model.AllBank, new { @name = "AllBank" }) &nbsp
                            <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">All</label>
                        </div>
                    </div>
                    @Html.DropDownListFor(model => model.AcHeadID, new SelectList(ViewBag.BankList, "AcHeadID", "Achead"), "Select", new { @class = "form-select" })
                </div>
                </div>
                <div class="col-md-9">
                <div class="mb-2">
                    <label class="col-form-label  required">Output</label>
                    @Html.DropDownList("Output", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="PDF",Value = "PDF" },
                        new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                        new SelectListItem{ Text="WORD", Value = "WORD" },

                    }, "Select", new { @class = "form-select blue_border", @value = "PDF", @required = "true" })
                </div>
                </div>

                 <div class="col-md-3">
                    <div class="mb-2 mt-2 text-md-end">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top" id="btnreport">
                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row no-margin hide d-none">
                <div class="col-md-2">
                    <label class="headinglabel">Format</label>
                    @Html.DropDownList("Format", new List<SelectListItem>
                {
                    new SelectListItem{ Text="PlainPaper", Value = "Plain Paper" },
                    new SelectListItem{ Text="LetterHead", Value = "Letter Head" }

                    }, "Select", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label class="headinglabel">Report Type</label>
                    @Html.DropDownList("ReportType", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Detailed", Value = "Detailed" },
                    new SelectListItem{ Text="Summary", Value = "Summary" }

                    }, "Select", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @{ Html.RenderAction("ReportFrame", "Accounts");}

        </div>

        </div>
    </div>
</div>
    }



