@model Net4Courier.Models.SupplierLedgerReportParam

@{
    ViewBag.Title = "Reports";
    ViewBag.pTitle = "Supplier Statement";
    ViewBag.pageTitle = "Supplier Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});
    //$(function () {
    //    $('#AsonDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


        var url = '/SupplierPayment/GetSupplierName';

        $("#AllSupplier").click(function () {
            if ($("#AllSupplier").is(':checked')) {
                $('#SupplierName').attr('readonly', 'readonly');
                $('#SupplierName').val('');
                $('#SupplierId').val(0);
                $('#SupplierName').removeAttr('required');
            }
            else {
                $('#SupplierName').removeAttr('readonly');
                $('#SupplierName').attr('required', 'required');
            }
        });
        $("#SupplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: url,
                    datatype: "json",
                    data: {
                        term: request.term, SupplierTypeId: $('#SupplierTypeId').val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.SupplierName,
                                value: val.SupplierName,
                                ID: val.SupplierID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (e, i) {
                $("#SupplierName").val(i.item.label);
                $('#SupplierId').val(i.item.ID);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#SupplierName").val(i.item.label);
                $('#SupplierId').val(i.item.ID);
            },
        });

        if ($('#SupplierId').val() > 0) {

            $("#AllSupplier").prop('checked', 'false');
            $("#AllSupplier").attr('value', false);
            $("#AllSupplier").trigger('click');
        }
        else {
            $("#AllSupplier").prop('checked', true);
            $("#SupplierName").removeAttr('required');
            $("#SupplierName").attr('readonly', 'readonly');
            //$("#AllCustomer").trigger('click');
        }
        //$('#ReportType').change(function () {
        //    if ($('#ReportType').val() == "Ledger") {
        //        $('#divledger').removeClass('hide');
        //        $('#divstatement').addClass('hide');
        //        $('#AsonDate').removeAttr('required');
        //        $('#FromDate').attr('required', 'true');
        //        $('#ToDate').attr('required', 'true');
        //        $("#SupplierName").removeAttr('readonly');
        //        $('#SupplierName').attr('required', 'true')
        //        $('#lblsuppliername').addClass('required');
        //    }
        //    else if ($('#ReportType').val() == "Statement") {
        //        $('#divledger').addClass('hide');
        //        $('#divstatement').removeClass('hide');
        //        $('#AsonDate').attr('required', 'true')
        //        $('#FromDate').removeAttr('required');
        //        $('#ToDate').removeAttr('required');
        //        $("#SupplierName").removeAttr('readonly');
        //        $("#SupplierName").removeAttr('required');
        //        $('#lblsuppliername').removeClass('required');
        //    }
        //    else {

        //    }
        //});


    });
</script>

@using (Html.BeginForm("SupplierStatement", "Reports", FormMethod.Post, new { @id = "supplierledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
             <div class="row">
               
                <div class="col-md-6">
                    <div class="mb-2">
                        <label class="col-form-label">As on date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="AsonDate" id="AsonDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.AsonDate.ToShortDateString()"
                                    placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="mb-2">
                    <label class="required col-form-label">Supplier Type</label>
                    @Html.DropDownListFor(model => model.SupplierTypeId, new SelectList(ViewBag.SupplierType, "SupplierTypeID", "SupplierType1"), new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.SupplierTypeId)
                </div>
                </div>
                <div class="col-md-12">
                <div class="mb-2">
                    <div class="flexTitle">
                        <label class="col-form-label required" id="lblsuppliername">Supplier Name</label>
                        <div class="checkboxdesign no-padding text-right" style="float:right">
                            @Html.CheckBox("AllSupplier", new { @id = "AllSupplier", @checked = "checked" }) &nbsp
                            <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">All Supplier</label>
                        </div>
                    </div>
                    @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @autocomplete = "off" })
                    @Html.HiddenFor(model => model.SupplierId)
                </div>
                </div>
                <div class="col-md-9">
                <div class="mb-2">
                    <label class="col-form-label  required">Output</label>
                    @Html.DropDownList("Output", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="PDF", Value = "PDF" },
                        new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                        new SelectListItem{ Text="WORD", Value = "WORD" },

                     }, "Select", new { @class = "form-select", @value = "PDF", @required = "true" })
                </div>
                </div>

                <div class="col-md-3 text-md-end">
                    <div class="mb-2 mt-2">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload" id="btnreport">
                            <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-9">
                @{ Html.RenderAction("ReportFrame", "Accounts");}

            </div>
        </div>
    </div>
    </div>
            

}
