@model Net4Courier.Models.UMUserMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/View1.cshtml";
}

<section class="content-header">
    <h1 class="headingfont">User</h1>

</section>


<section class="content">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
       

         <div class="row no-margin"> 
               
             <div class="col-md-3">
                          <label class="headinglabel">UID</label>
                @Html.EditorFor(model => model.UID)
            @Html.ValidationMessageFor(model => model.UID)
                     
                 </div>
      

          <div class="col-md-3">
                          <label class="headinglabel">UserName</label>
                @Html.EditorFor(model => model.UserName ,new {@type="search" )
            @Html.ValidationMessageFor(model => model.UserName)
                     
                 </div>

            <div class="col-md-3">
                          <label class="headinglabel">Password</label>
             @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
                 </div>


               <div class="col-md-3">
                          <label class="headinglabel">Name</label>
             @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
                 </div>

            
         </div>



        
         <div class="row no-margin" style="padding-top:25px"> 
       
                <div class="col-md-3">
                          <label class="headinglabel">DesignationID</label>
          @Html.EditorFor(model => model.DesignationID)
            @Html.ValidationMessageFor(model => model.DesignationID)
                 </div>


              <div class="col-md-3">
                          <label class="headinglabel">GID</label>
          @Html.EditorFor(model => model.GID)
            @Html.ValidationMessageFor(model => model.GID)
                 </div>

                   <div class="col-md-3">
                          <label class="headinglabel">Blocked</label>
          @Html.EditorFor(model => model.DesignationID)
            @Html.ValidationMessageFor(model => model.DesignationID)
                 </div>

                <div class="col-md-3">
                          <label class="headinglabel">Deleted</label>
      @Html.EditorFor(model => model.Deleted)
            @Html.ValidationMessageFor(model => model.Deleted)
                 </div>
           
         </div>


           <div class="row no-margin" style="padding-top:25px"> 
       
                <div class="col-md-3">
                          <label class="headinglabel">CreatedDate</label>
           @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
                 </div>


              <div class="col-md-3">
                          <label class="headinglabel">User1</label>
          @Html.EditorFor(model => model.User1)
            @Html.ValidationMessageFor(model => model.User1)
                 </div>

                   <div class="col-md-3">
                          <label class="headinglabel">StatusGPA</label>
          @Html.EditorFor(model => model.StatusGPA)
            @Html.ValidationMessageFor(model => model.StatusGPA)
                 </div>

                <div class="col-md-3">
                          <label class="headinglabel">AcCompanyID</label>
        @Html.EditorFor(model => model.AcCompanyID)
            @Html.ValidationMessageFor(model => model.AcCompanyID)
                 </div>
           
         </div>

        <div class="row no-margin" style="padding-top:25px"> 
       
                <div class="col-md-3">
                          <label class="headinglabel">EmployeeID</label>
           @Html.EditorFor(model => model.EmployeeID)
            @Html.ValidationMessageFor(model => model.EmployeeID)
                 </div>


              <div class="col-md-3">
                          <label class="headinglabel">CustomerID</label>
         @Html.EditorFor(model => model.CustomerID)
            @Html.ValidationMessageFor(model => model.CustomerID)
                 </div>

                   <div class="col-md-3">
                          <label class="headinglabel">AgentID</label>
           @Html.EditorFor(model => model.AgentID)
            @Html.ValidationMessageFor(model => model.AgentID)
                 </div>

                <div class="col-md-3">
                          <label class="headinglabel">Role</label>
       @Html.EditorFor(model => model.Role)
            @Html.ValidationMessageFor(model => model.Role)
                 </div>
           
         </div>
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                          
                                <input type="submit" value="Create" class="btn btn-primary btnwidth" />
                          
                        </div>
                    </div>

    </fieldset>
}
    </section>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
