@model Net4Courier.Models.StockVM
@{
            ViewBag.Title = "Create";
        ViewBag.pTitle = "Stock";
        ViewBag.pageTitle = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%;
        resize: vertical;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>

<script type="text/javascript">
    function checkawbstartend() {
        if ($('#AWBCount').val() == '') {
            $('#AWBCount').val(0);
        }

        var awbcount = $('#AWBCount').val();
        if ($('#AWBNOFrom').val() == '')
            $('#AWBNOFrom').val(0);
        var startno = $('#AWBNOFrom').val();
        $('#AWBNOTo').val(parseInt(startno) + parseInt(awbcount) - 1);

    }

    function getamount() {
        var qty = $('#Qty').val();
        var rate = $('#Rate').val();

        if (qty == '')
            qty = 0;

        if (rate == '') {
            rate = 0;
        }

        var amount = parseFloat(qty) * parseFloat(rate);
        $('#Amount').val(amount);
    }
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
      
        $("#btnsave").click(function () {
          
        });
        $('#ItemId').change(function () {
            $.ajax({
                url: '/Stock/GetItemType',
                datatype: "json",
                data: {
                    id: $('#ItemId').val()
                },
                success: function (data) {
                    if (data != null) {
                        debugger;
                        var itemtypeid = data.ItemTypeId;
                        $('#ItemTypeId').val(itemtypeid).trigger('change');
                        console.log(data.ItemType)
                        if (data.ItemTypeId == '1') {
                            $('#AWBNOFrom').removeAttr('readonly');
                           // $('#AWBNOTo').removeAttr('readonly');
                            $('#AWBCount').removeAttr('readonly');
                        }
                        else {
                            $('#AWBNOFrom').attr('readonly','readonly');
                           $('#AWBNOTo').attr('readonly', 'readonly');
                            $('#AWBCount').attr('readonly','readonly');
                        }
                    }
                }
            });
        })
        $('#ItemTypeId').change(function (e) {
            //e.preventDefault = false;

        })
          

        
    });
</script>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="searchdiv sm-width">
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
            <fieldset>

                <div class="row">

                        <div class="col-md-9">
                        <div class="mb-2">
                            <label class="required col-form-label">Item Name</label>
                            @Html.DropDownListFor(model => model.ItemId, new SelectList(ViewBag.Item, "ItemId", "ItemName"), "Select", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.ItemId)
                        </div>
                        </div>
                   
                        <div class="col-md-3">
                        <div class="mb-2">
                            <label class=" col-form-label">Item Type.</label>
                            @Html.DropDownListFor(model => model.ItemTypeId, new SelectList(ViewBag.ItemType, "ItemTypeId", "ItemTypeName"), "Select", new { @class = "form-select",@readonly="readonly" })
                            @Html.ValidationMessageFor(model => model.ItemTypeId)
                        </div>
                        </div>
                        <div class="col-md-12">
                        <div class="mb-2">
                            <label class="col-form-label">Reference No.</label>
                            @Html.TextBoxFor(model => model.ReferenceNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReferenceNo)
                        </div>
                        </div>
                    
                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class="required col-form-label">Qty</label>
                            @Html.TextBoxFor(model => model.Qty, new { @class = "form-control text-right" ,@onchange="getamount()" })
                            @Html.ValidationMessageFor(model => model.Qty)
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class="required col-form-label">Rate</label>
                            @Html.TextBoxFor(model => model.Rate, new { @class = "form-control text-right", @onchange = "getamount()" })
                            @Html.ValidationMessageFor(model => model.Rate)
                        </div>
                        </div>

                   
                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class="required col-form-label">Amount</label>
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right" ,@readonly="readonly" })
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                        </div>

                   
                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class=" col-form-label">AWB Count</label>
                            @Html.TextBoxFor(model => model.AWBCount, new { @class = "form-control", @onchange = "checkawbstartend()", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.AWBCount)
                        </div>
                        </div>
                   
                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class=" col-form-label">AWB NO. From</label>
                            @Html.TextBoxFor(model => model.AWBNOFrom, new { @class = "form-control", @onchange = "checkawbstartend()", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.AWBNOFrom)
                        </div>
                        </div>
                   
                        <div class="col-md-4">
                        <div class="mb-2">
                            <label class="required col-form-label">AWB NO. To</label>
                            @Html.TextBoxFor(model => model.AWBNOTo, new { @class = "form-control", @onchange = "checkawbstartend()", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.AWBNOTo)
                        </div>
                        </div>

                

                    <div class="col-12 text-md-end mt-2">
                       
                            <input type="submit" value="Save" class="btn btn-success" id="btnsave" />                           &nbsp;
                            
                           <a href='@Url.Action("Index", "Stock", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                            
                       
                    </div>
</div>

            </fieldset>
        </div>
        
    }

