@model Net4Courier.Models.StockSearch

@{
        ViewBag.Title = "List";
    ViewBag.pTitle = "Stock List";
    ViewBag.pageTitle = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/Stock/Index";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
       
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style=width:100% />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>


@using (Html.BeginForm("Index", "Stock", FormMethod.Post, new { @id = "booksearch" }))
{
         
            <!--<div class="col-md-1">
                <label class="headinglabel">From Date</label>
                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control" })
            </div>

            <div class="col-md-1">
                <label class="headinglabel">To Date</label>
                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control" })
            </div>

            <div class="pull-left" style=" padding-right:15px;padding-left:15px;">-->
                @*<a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("Index", "QuickAWB")?StatusId=' + $('#StatusId').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="fa fa-refresh" aria-hidden="true"></i></a>*@
                <!--<button class="btn btn-primary" type="submit" id="btnsearch" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>-->
            
     
}

        @if (TempData["SuccessMsg"] != null)
        {

            <script type="text/javascript">
                 $(document).ready(function () {
                     //$.notify("@TempData["SuccessMsg"]", "success");
                     
                 });
            </script>
        }

        <div class="card">
        <div class="card-body">
        <div class="col-md-12 text-md-end mb-3">
              
                    @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || !isadd)
                    {
                        <a href = '/Stock/Create' class="btn btn-primary" disabled><i class="mdi mdi-plus me-1"></i> New Stock</a>                       
                    }
                    else
                    {
                        <a href = '/Stock/Create' class="btn btn-primary"><i class="mdi mdi-plus me-1"></i> New Stock </a>                       
                    }

               
            </div>
           <table class="table table-bordered mb-0" id="datatable" style="width:100%">
                    <thead class="table-light">
                    <tr>
                        <th>
                            Purchase Date
                        </th>
                        <th>
                            Reference No
                        </th>
                        <th>
                            AWB No. From
                        </th>
                        <th>
                            AWB No To
                        </th>
                        <th>
                            AWB Count
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Rate
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
               

                @foreach (var item in Model.Details)
                {
            <tr>
                <td>
                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AWBNOFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AWBNOTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AWBCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                <div class="gap-3 d-flex">
                    <a href="@Url.Action("Create", new { id = item.ID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a> 

                    <a href="#" onclick="Delete(ID=@item.ID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                    </div>
                </td>
            </tr>
                }

            </table>
        </div>
 </div>
    <script type="text/javascript">
        // function Delete(ID) {
        //     if (confirm("Are you sure, You want to Delete Opening Stock Entry?")) {
        //         window.location.href = "/Stock/DeleteConfirmed/?id=" + ID;
        //     }
        // }

        function Delete(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                     $.ajax({
                         type: "POST",
                         url: '/Stock/DeleteConfirmed',
                         datatype: "html",
                         data: {
                             'id': ID
                         },
                         success: function (response) {
                             if (response.status == "OK") {
                                 Swal.fire("Delete Status!", response.message, "success");
                                 window.location.reload();
                             }
                             else {
                                 Swal.fire("Delete Status!", response.message, "error");
                             }
                         }
                     });

                }
            });

    }
    </script>
