@model Net4Courier.Models.TypeOfGoodsVM

@{
        ViewBag.Title = "Create";
     ViewBag.pTitle = "Type of Good";
    ViewBag.pageTitle = "Type of Good";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function(){
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#TypeOfGood").focus();

        $("#btnsave").click(function () {
            var type = $("#TypeOfGood").val();

            if (type == "") {
                $("#validations").show();
                return false;
            }
            else {
                $("#validations").hide();
                return true;
            }
        });
    });
</script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
      <fieldset>
<div class="card">
<div class="card-body">
          <div class="row">

              <div class="col-md-4">
              <div class="mb-2">
                  <label class="col-form-label required">Type Of Good</label>
                  @Html.TextBoxFor(model => model.TypeOfGood, new { @class = "form-control txttarget" })
                  @Html.ValidationMessageFor(model => model.TypeOfGood)

              </div> </div>

              <div class="col-md-12 text-md-end">                  
                   <input type="submit" value="Save" class="btn btn-success"  id="btnsave" />                  

                  <a href='@Url.Action("Index", "TypeOfGood", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

              </div>
          </div>  </div>  </div>
         

      </fieldset>
}
  



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
