@model IEnumerable<Net4Courier.Models.CourierStatusVM>

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Shipment Status";
    ViewBag.pageTitle = "Shipment Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>


<div class="clearfix"></div>


      @if (TempData["SuccessMsg"] != null)
    {
     <script type="text/javascript">
         $(document).ready(function () {
            //$.notify("@TempData["SuccessMsg"]", "success");
                 });
                                                </script>
    }
    <div class="card">
        <div class="card-body">
        <div class="col-12 text-md-end mb-4">
            <a href='/CourierStatus/Create' class="btn btn-primary btnwidth me-2" id="btnCreateNew"><i class="mdi mdi-plus me-1"></i> New Courier Status</a>
        </div>
           <table class="table table-bordered mb-0" id="datatable">
                    <thead class="table-light">
                    <tr>
                    <th>Courier Status</th>
                    <th>Code</th>
                    <th>Status Type</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                        
                            <td>
                                @Html.DisplayFor(modelItem=>item.CourierStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusCourier)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusType)
                            </td>
                            
                            <td>
                            <div class="d-flex gap-3">
                                <a href="@Url.Action("Edit", new { id = item.CourierStatusID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a> 
                                @*<a href="@Url.Action("Delete", new { id = item.RoleID })"><i class="fa fa-times"></i></a>*@
                                <a href="#" onclick="Delete(ID=@item.CourierStatusID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<script type="text/javascript">
    // function Delete(id) {
    //     if (confirm("Are you sure, You want to Delete Status Type?")) {
    //         window.location.href = "/CourierStatus/DeleteConfirmed/?id=" + ID;
    //     }
    // }

    function Delete(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                    $.ajax({
                        type: "POST",
                        url: '/CourierStatus/DeleteConfirmed',
                        datatype: "html",
                        data: {
                            'id': ID
                        },
                        success: function (response) {
                            if (response.status == "OK") {
                                Swal.fire("Delete Status!", response.message, "success");
                                window.location.reload();
                            }
                            else {
                                Swal.fire("Delete Status!", response.message, "error");
                            }
                        }
                    });

                }
            });

    }
</script>