@model Net4Courier.Models.TransitStationVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#RoleName").focus();
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Name").focus();

        $("#btnsave").click(function () {
            var name = $("#Name").val();
            var cou = $("#CountryID option:selected").val();
   


            if (name == "") {
                $("#alert").show();
                return false;
            }
            else if (cou == "") {
                $("#alert").show();
                return false;
            }
          
            else {
                $("#alert").hide();
                return true;
            }
        });
    });
</script>






<section class="content-header">
    <h1 class="headingfont">Transit Station - Modify</h1>
</section>

<section class="content-header">

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
        

     <div class="row no-margin">
        <div class="col-md-3">
             @Html.HiddenFor(model=>model.ID)
           <label class="headinglabel required">Name</label>
        
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control txttarget" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

           <div class="col-md-3">
                    <label class="headinglabel required">Country</label>
                    @Html.DropDownListFor(model => model.CountryID, new SelectList(@ViewBag.Country, "CountryID", "CountryName"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryID)

           </div>
          
          <div class="col-md-3 checkboxdesign" style="padding-top:15px">
                    @Html.CheckBox("IsActive", new { @name = "IsActive" }) &nbsp
                    <label class="headinglabel" style="padding:10px">IsActive</label>
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>                    
    </div>
        
     <div class="row no-margin" style="padding-top:10px;">
        <div class="col-md-12 btn-right">
            <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />&nbsp; <a href='@Url.Action("Index", "TransitStation", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
       
        </div>
    </div>
    </fieldset>
}

    </section>