@model Net4Courier.Models.DebitNoteVM

@{
     ViewBag.Title = "Create";
    ViewBag.pTitle = "Supplier Journal";
    ViewBag.pageTitle = "Account Payable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<style>>
 
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 765px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }


</style>

<script type="text/javascript">
     function setTwoNumberDecimal(obj) {
       $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
    }
    function getTotal() {
        debugger;
        var maxrow = $('#details > tr').length;
        var total = 0;
        $('#Amount').val(total);

        for (i = 0; i < maxrow; i++) {
            var otheramt = $('#txtAmt_' + i).val();
            total = parseFloat(total) + parseFloat(otheramt);
            $('#Amount').val(parseFloat(total).toFixed(2));
            $('#lbltotal').html(parseFloat(total).toFixed(2))
        }
    }
    function Deleterow(index) {

        $.ajax({
            type: "POST",
            url: '/DebitNote/DeleteAccount',
            datatype: "html",
            data: {
                'index': index
            },
            success: function (data) {
                $("#listContainer").html(data);
                $('#AcDetailHeadID').val(0).trigger('change');
                $("#AcDetailAmount").val(0);
                getTotal();
            }
        });
    }
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("#InvoiceAmount").attr("disabled", "disabled");
        $("#AmountPaid").attr("disabled", "disabled");

        setTwoNumberDecimal($("#InvoiceAmount"));
        setTwoNumberDecimal($("#AmountPaid"));
        setTwoNumberDecimal($("#Amount"));


        $("#btnsave").click(function () {
            var date = $("#Date").val();
            var supp = $("#SupplierID option:selected").val();
            var inv = $("#Invoice option:selected").val();
            var amt = $("#Amount").val();



            if (date == "") {
                $("#alert").show();
                return false;
            }
            else if (supp == "") {
                $("#alert").show();
                return false;
            }
            else if (inv == "") {
                $("#alert").show();
                return false;
            }
            else if (amt == "") {
                $("#alert").show();
                return false;
            }


            else {
                $("#alert").hide();
                return true;
            }


        });
        $('#btnadd').click(function () {
            $.ajax({
                type: "POST",
                url: '/DebitNote/AddAccount/',
                datatype: "html",
                data: {
                    'AcHeadID': $('#AcDetailHeadID').val(), 'Amount': $("#AcDetailAmount").val(), Remarks: $('#AcDetailRemarks').val(), TransType: $('#TransType').val()
                },
                success: function (data) {
                    $("#listContainer").html(data);
                    $('#AcDetailHeadID').val(0).trigger('change');
                    $("#AcDetailAmount").val(0);
                    $('#AcDetailRemarks').val('');
                    getTotal();
                }
            });
        })
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $('#Date').datetimepicker({
            maxDate: ed,
            minDate: sd,
            format: 'DD-MM-YYYY',
        });
        $("#Amount").on('change', function () {
            var value = $(this).val();
            if (value == null || value == "") {
                $(this).val("0.00");
            } else {
                $(this).val(parseFloat(value).toFixed(2));
            }
        });
        $("#SupplierID").change(function () {
            $.ajax({
                type: "GET",
                url: '/DebitNote/GetSupplierAccount/',
                data: { 'ID': $('#SupplierID').val() },
                success: function (data) {
                    if (data.AcheadID == 0) {
                        $('#AcHeadID').val(0);
                        $.notify('Could not get Supplier Account Head!', 'Please set in Supplier master');
                    }
                    else {
                        $('#AcHeadID').val(data.AcheadID).trigger('change');
                        //$('#AcHeadID').attr('readonly', 'readonly');
                    }

                }
            });
            if ($('#TransType').val() != '') {
                var ID = $('#SupplierID').val();
                $.ajax({
                    type: "POST",
                    url: '/DebitNote/GetTradeInvoiceOfSupplier/' + ID,
                    data: { 'ID': ID, 'amountreceived': 0, TransType: $('#TransType').val() },
                    success: function (data) {
                        if (data.length == 0) {
                            alert("There is no item!");
                            $('#InvoiceNo').val('');
                            $('#InvoiceNo').attr('readonly', 'readonly');
                        }
                        else {
                            //$('#InvoiceNo').removeAttr('readonly');
                        }

                    }
                });

               
            }
        });
        $('#TransType').change(function () {
            if ($('#TransType').val() == 'DN') {
                $('#lblaccount').html('Chart of Account - Debit');
                $('#lblaccount1').html('Chart of Account - Credit');
                $('#lblamount').html('Debit Amount');
                $('#lblamount1').html('Credit Amount');
                $('#lblchkInvoice').html('For Invoice');
                $('#lblInvoice').html('Invoice No.');
                $('#lblInvoiceDate').html('Invoice Date');
                $('#lblInvoiceAmt').html('Invoice Amount')
                $('#lblReceivedAmt').html('Received Amt');
                $('#AmountType').val(0).trigger('change');
                $('#AcDetailAmountType').val(1).trigger('change');
            }
            else if ($('#TransType').val() == 'SJ') {
                $('#lblaccount').html('Chart of Account - Credit');
                $('#lblaccount1').html('Chart of Account - Debit');
                $('#lblamount').html('Credit Amount');
                $('#lblamount1').html('Debit Amount');
                $('#lblchkInvoice').html('For Receipt');
                $('#lblInvoice').html('Receipt No.');
                $('#lblInvoiceDate').html('Receipt Date');
                $('#lblInvoiceAmt').html('Receipt Amount')
                $('#lblReceivedAmt').html('Settled Amount');
                $('#AmountType').val(1).trigger('change');
                $('#AcDetailAmountType').val(0).trigger('change');
            }

            var ID = $('#SupplierID').val();
            $.ajax({
                type: "POST",
                url: '/DebitNote/GetTradeInvoiceOfSupplier/' + ID,
                data: { 'ID': ID, 'amountreceived': 0, TransType: $('#TransType').val() },
                success: function (data) {
                    if (data.length == 0) {
                        alert("There is no item");
                        $('#InvoiceNo').val('');
                        $('#InvoiceNo').attr('readonly', 'readonly');
                    }
                    else {
                        $('#InvoiceNo').removeAttr('readonly');
                    }

                }
            });
        })
        $("#InvoiceNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/DebitNote/GetInvoiceNo',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {

                            return {
                                label: val.InvoiceNo,
                                value: val.SalesInvoiceID,
                                InvDate: val.DateTime,
                                InvoiceAmt: val.InvoiceAmount,
                                Type: val.InvoiceType,
                                Received: val.AmountReceived
                            }
                        }))
                    }
                })
            }, minLength: 1,
            focus: function (e, i) {
                $("#InvoiceNo").val(i.item.label);
                $("#InvoiceID").val(i.item.value);
                $("#InvoiceDate").val(i.item.InvDate);
                $('#InvoiceType').val(i.item.Type);
                $('#InvoiceAmount').val(i.item.InvoiceAmt);
                $('#ReceivedAmount').val(i.item.Received);
                setTwoNumberDecimal($("#InvoiceAmount"));
                setTwoNumberDecimal($("#AmountPaid"));

            },
            select: function (e, i) {
                e.preventDefault();
                $("#InvoiceNo").val(i.item.label);
                $("#InvoiceID").val(i.item.value);
                $("#InvoiceDate").val(i.item.InvDate);
                $('#InvoiceType').val(i.item.Type);
                $('#InvoiceAmount').val(i.item.InvoiceAmt);
                $('#ReceivedAmount').val(i.item.Received);
                setTwoNumberDecimal($("#InvoiceAmount"));
                setTwoNumberDecimal($("#AmountPaid"));
            }
        });


    });
    function getamt() {

        $.ajax({
            type: "POST",
            url: "/DebitNote/GetAmountByinvono",
            datatype: "Json",
            data: { invno: $("#InvoiceNo").val(), IsTrading: $('#TradingInvoice').val() },
            success: function (data) {
                $("#InvoiceAmount").val(parseFloat(data.InvAmt).toFixed(2));
                $("#AmountPaid").val(parseFloat(data.AmtPaid).toFixed(2));

            }
        });

    }
</script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                    <div class="card">
                    <div class="card-body">
                        <div class=" row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4 text-md-end mb-2">
                                @if (isadd)
                                {
                                    <input type="submit" value="Save" class="btn btn-success" id="btnsave" />
                                }
                                else
                                {
                                    <input type="submit" value="Save" class="btn btn-success" id="btnsave" disabled />
                                }
                               
                                <a href='@Url.Action("Index", "DebitNote", new { id = 0 })' class="btn btn-secondary" >Cancel</a>

                            </div>
                            <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Debit Note Number</label>
                                @Html.HiddenFor(model => model.DebitNoteId)
                                @Html.HiddenFor(model => model.AcJournalID)                                
                                @Html.TextBoxFor(model => model.DebitNoteNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            </div>
                           
                            <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="col-form-label">D.N. Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="Date" id="Date" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.Date"
                                                placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                     
                            <div class="col-md-4">
                             <div class="mb-2">
                                <label class="col-form-label required">Supplier</label>
                                @Html.DropDownListFor(model => model.SupplierID, new SelectList(@ViewBag.Supplier, "SupplierID", "SupplierName"), "Select", new { @class = "form-select" })
                            </div>
                            </div>
                            <div class="col-md-4">
                             <div class="mb-2">
                                <label class="col-form-label">Trans Type</label>

                                @Html.DropDownListFor(model => model.TransType, new List<SelectListItem> { new SelectListItem { Text = "Debit", Value = "DN" }, new SelectListItem { Text = "Credit", Value = "SJ" } }, "Select", new { @class = "form-select" })

                            </div>
                            </div>
                            <div class="col-md-4">
                             <div class="mb-2">
                                <label class="col-form-label required" id="lblamount"> Debit Note Amount</label>

                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right", @readonly = "readonly" })
                            </div>
                            </div>

                       
                            <div class="col-md-4">
                             <div class="mb-2">
                                <label class="col-form-label">Debit Account Head</label>
                                @Html.DropDownListFor(model => model.AcHeadID, new SelectList(@ViewBag.AcHead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select" })

                            </div>
                            </div>

                            <div class="col-md-4">
                            <div class="mb-2">
                                <div class="flexTitle">
                                    <label class="required col-form-label" id="lblchkInvoice">Invoice No.</label>
                                    <div class="checkboxdesign no-padding  text-right" style="float:right">
                                        @Html.CheckBoxFor(model => model.ForInvoice, new { @name = "ForInvoice", @checked = "checked" }) &nbsp
                                        <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important" id="lblInvoice">For Invoice</label>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.InvoiceNo)
                                <input type="hidden" id="TradingInvoice" name="TradingInvoice" value="" class="form-control" />
                                @Html.HiddenFor(model => model.InvoiceID)
                                @Html.HiddenFor(model => model.InvoiceType)
                            </div>
                            </div>
                             <div class="col-md-4">
                                <div class="mb-2">
                                    <label class="col-form-label">Invoice Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="InvoiceDate" id="InvoiceDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.InvoiceDate"
                                                placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-2">
                             <div class="mb-2">
                                <label class="col-form-label required">Inv.Amt</label>
                                @Html.TextBoxFor(model => model.InvoiceAmount, new { @class = "form-control text-right" })
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="mb-2">
                                <label class="col-form-label required">Paid.Amt</label>
                                @Html.TextBoxFor(model => model.AmountPaid, new { @class = "form-control text-right" })
                            </div>
                            </div>
                         
                       
                            <div class="col-md-8">
                            <div class="mb-2">
                                <label class="col-form-label">Description</label>

                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks)
                            </div>
                            </div>

                            <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label">Chart of Acc (Cred.Acc.)</label>
                                @Html.DropDownListFor(model => model.AcDetailHeadID, new SelectList(@ViewBag.AcHead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select" })

                            </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">

                            <div class="col-md-3">
                            <div class="mb-2">
                                <label class="required col-form-label" id="lblamount1">Debit Amount</label>

                                @Html.TextBoxFor(model => model.AcDetailAmount, new { @class = "form-control text-right" })
                                @Html.ValidationMessageFor(model => model.AcDetailAmount)
                            </div>
                            </div>

                            <div class="col-md-7">
                            <div class="mb-2">
                                <label class="required col-form-label">Remarks</label>

                                @Html.TextBoxFor(model => model.AcDetailRemarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AcDetailRemarks)
                            </div>
                            </div>
                            <div class="col-md-2 text-md-end">
                            <div class="mb-2 mt-2">
                                <button type="button" class="btn btn-success waves-effect waves-light filter btn_top" id="btnadd">
                                    <i class="bx bx-plus mt-1" style="font-size: 21px;"></i>
                                </button>
                               
                            </div>
                            </div>


                      
                           
                        </div>

                    </div></div>  </div>
                   
               
                 <div class="col-md-6" id="listContainer">
                 <div class="card">
                        @{Html.RenderPartial("DebitNoteDetail", Model);}
                    </div>
                    </div>
                    </div>
                 


</fieldset>
        

    }






