@model Net4Courier.Models.AWBStatusUpdate
@{
    ViewBag.Title = "Update";
    ViewBag.pTitle = "Shipment Status";
    ViewBag.pageTitle = "Proof of Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/POD/Create";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
    var _alphanum = Session["AWBAlphaNumeric"].ToString();
}
 
<style>
    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
</style>

<style type="text/css">

    .searchMc {
        border: 2px solid #07a7e3;
        position: relative;
        padding: 30px 10px;
        margin: 20px 0;
    }

        .searchMc h4 {
            padding: 0 30px;
            position: ABSOLUTE;
            top: -21px;
            display: inline-block;
            left: 22px;
            background: #f8fbff;
            text-align: center;
        }

    .multiselect-container {
        margin: 0 !important;
    }

    .multiselect-native-select .btn-group {
        display: block;
    }

    .multiselect.dropdown-toggle {
        width: 100%;
        display: block;
        float: none;
    }

    .show-error {
        color: red;
    }

    .show-green {
        color: green;
        font-weight: 700;
    }


    .searchMc .checkboxdesign {
        align-items: flex-start;
    }
</style>

<script>

    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWBNo_';
        var maxrow = $('#tbl1 > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var con = $('#hdnAWBNo_' + index).val();
                var deleted = $('#hdndeleted_' + index).val();
                if (con.trim() == awbno.trim() && deleted != 'true' && deleted != 'True') {
                    duplicate = true;
                    var message='Duplicate AWB No.!';
                    $('#ulerr').removeClass('show-green');
                    $('#ulerr').addClass('show-error');
                    $('#lierr').html(message);
                   // $('#btnAdd').attr('disabled', 'disabled');
                    //break;
                }

                if (duplicate == false && index == (parseInt(maxrow - 1))) {
                    return true;
                }

            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    function checkDate(obj) {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' || $(obj).val() == null) {
            return '';
        }
        else {
            var date = $(obj).val().split('-');
            value = date[1] + '/' + date[0] + '/' + date[2];
        }

        return value

    }
    function checkdata(obj)
    {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' ||$(obj).val() == null) {
            return '';
        }
        else {
            value = $(obj).val();
        }

        return value

    }
    function getdate(date) {
        var myDate = new Date(date);
        var cmon = myDate.getMonth() + 1;
        var entrydate = cmon + "/" + myDate.getDate() + '/' + myDate.getFullYear();
        return entrydate
    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('hide');
        var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    function checkfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '')
        {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdrpfieldvalidate(obj) {

        if ($(obj).val() == null || $(obj).val().trim() == '' || $(obj).val().trim() == '0') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }

    function checkNumberfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else if (parseFloat($(obj).val()) == 0 || parseInt($(obj).val()) == 0) {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdeliverystatus(obj) {
        var id = $(obj).attr('id');
        var status=$(obj).prop('checked');
        if (id == 'DeliveryAttempted' && status==true) {
            $('#Delivered').removeAttr('checked');
        }
        else if (id == 'DeliveryAttempted' && status == false)
        {
           $('#Delivered').prop('checked', 'checked');
        }
        else if (id == 'Delivered' && status == true)
        {
                $('#DeliveryAttempted').removeAttr('checked');
         }
        else if (id == 'Delivered' && status ==false)
                {
                $('#DeliveryAttempted').prop('checked', 'checked');
                }

    }
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("textarea").css({ "border-radius": "5px" });
       var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        //$('#EntryDate').datepicker({
        //    dateFormat: 'dd-mm-yy',
        //}).on('changeDate', function (e) {
        //    $(this).datepicker('hide');
        //});

        $('#AWBNo').change(function () {
            if ($('#AWBNo').val().trim() == '') {
                var message = 'Enter AWBNo!';
                $('#ulerr').addClass('show-error');
                $('#ulerr').removeClass('show-green');
                $('#lierr').html(message);
                return;
            }
            else {
                if ('@_alphanum' == 'True') {
                    var txt = $('#AWBNo').val().trim();
                    $('#AWBNo').val(txt.replace(/[^\d,]/g, ''));
                }

             if (checkduplicate($('#AWBNo').val()) == false) {
                    return false;
                }
                else {
                    $.ajax({
                        type: "Get",
                        url: '/AWBStatus/GetAWBInfo',
                        datatype: "json",
                        data: {
                            awbno: $('#AWBNo').val().trim()
                        },
                        success: function (response) {
                            debugger;
                            var status = response.status;
                            if (status == "ok") {
                                var data = response.data;
                                if (data.length > 0) {
                                    var myDate = data[0].AWBDate;
                                    var dateString = myDate.substr(6);
                                    var currentTime = new Date(parseInt(dateString));
                                    var month = currentTime.getMonth() + 1;
                                    var day = currentTime.getDate();
                                    var year = currentTime.getFullYear();
                                    var tempdate = day + "-" + month + "-" + year;
                                    var consignor = data[0].Consignor;
                                    var consignee = data[0].Consignee;
                                    var consignorcity = data[0].ConsignorCity;
                                    var consignorcountry = data[0].ConsignorCountry;
                                    var consigneecity = data[0].ConsigneeCity;
                                    var consigneecountry = data[0].ConsigneeCountry;
                                    $('#InScanID').val(data[0].InScanID);
                                    $('#ShipmentID').val(data[0].ShipmentID);
                                    $('#AWBDate').val(tempdate);
                                    $('#Consignor').val(consignor);
                                    $('#Consignee').val(consignee);
                                    $('#ConsignorCountry').val(consignorcountry);
                                    $('#ConsigneeCountry').val(consigneecountry);
                                    $('#ConsignorCity').val(consignorcity);
                                    $('#ConsigneeCity').val(consigneecity);
                                    $('#CourierStatusId').val(data[0].CourierStatusId);
                                    $('#CourierStatus').val(data[0].CourierStatus);
                                    if (data[0].CourierStatus == 'Shipment Delivered' || data[0].CourierStatus == 'Returned to Consignor') {
                                        Swal.fire("Data Validation!", 'Shipment Status is "' + data[0].CourierStatus + '"!,Status Update Restricted!' , "error");
                                        $('#btnSave').attr('disabled', 'disabled');
                                    }
                                }
                            }
                            else {
                                Swal.fire("Data Validation!", response.message, "error");
                                $('#AWBNo').val('');
                                $('#AWBNo').focus();
                            }
                        }
                    });
                }
            }
        });

        $('#btnAdd').click(function () {
            debugger;


            if (!checkfieldvalidate($('#AWBNo')))
                return;
            if (checkduplicate($('#AWBNo').val()) == false)
            {
                return false;
            }
            if ($('#InScanID').val() == '' || $('#InScanID').val() == 0) {
                $.ajax({
                    type: "Get",
                    url: '/AWBStatus/GetAWBInfo',
                    datatype: "json",
                    data: {
                        awbno: $('#AWBNo').val().trim()
                    },
                    success: function (response) {
                        debugger;
                        var status = response.status;
                        if (status == "ok") {
                            var data = response.data;
                            if (data.length > 0) {
                                var myDate = data[0].AWBDate;
                                var dateString = myDate.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var month = currentTime.getMonth() + 1;
                                var day = currentTime.getDate();
                                var year = currentTime.getFullYear();
                                var tempdate = day + "-" + month + "-" + year;
                                var consignor = data[0].Consignor;
                                var consignee = data[0].Consignee;
                                var consignorcity = data[0].ConsignorCity;
                                var consignorcountry = data[0].ConsignorCountry;
                                var consigneecity = data[0].ConsigneeCity;
                                var consigneecountry = data[0].ConsigneeCountry;
                                $('#InScanID').val(data[0].InScanID);
                                $('#ShipmentID').val(data[0].ShipmentID);
                                $('#AWBDate').val(tempdate);
                                $('#Consignor').val(consignor);
                                $('#Consignee').val(consignee);
                                $('#ConsignorCountry').val(consignorcountry);
                                $('#ConsigneeCountry').val(consigneecountry);
                                $('#ConsignorCity').val(consignorcity);
                                $('#ConsigneeCity').val(consigneecity);
                                $('#CourierStatusId').val(data[0].CourierStatusId);
                                $('#CourierStatus').val(data[0].CourierStatus);

                                $('#lierr').html('');
                                var InScanID = $('#InScanID').val();
                                var ShipmentDetailID = $('#ShipmentID').val();
                                var AWBNo = $('#AWBNo').val();
                                var AWBDate = checkDate($('#AWBDate'));
                                var Shipper = $('#Consignor').val();
                                var Receiver = $('#Consignee').val();
                                var ConsignorCountry = $('#ConsignorCountry').val();
                                var ConsignorCity = $('#ConsignorCity').val();
                                var ConsigneeCountry = $('#ConsigneeCountry').val();
                                var ConsigneeCity = $('#ConsigneeCity').val();
                                var CourierStatus = $('#CourierStatus').val();
                                var CourierStatusId = $('#CourierStatusId').val();
                                var defaultdate = $('#AWBDate').val();


                                var i = $('#tbl1 > tr').length;
                                var row = i + 1;
                                var datahtml =
                                    '<span id="srow_' + i + '">' + row + '</span>' +
                                    '<input class="hdndeleted" type="hidden" value="false" id="hdndeleted_' + i + '" />' +
                                    '<input type="hidden" id="hdnInScanID_' + i + '" value="' + InScanID + '" />' +
                                    '<input type="hidden" id="hdnShipmentDetailID_' + i + '" value="' + ShipmentDetailID + '" />' +
                                    '<input type="hidden" id="hdnAWBNo_' + i + '" value="' + AWBNo + '" />' +
                                    '<input type="hidden" id="hdnCourierStatusId_' + i + '" value="' + CourierStatusId + '" />';


                                $('#tbl1').append('<tr>' +
                                    '<td>' + datahtml + '</td>' +
                                    '<td>' + AWBNo + '<br/>' + AWBDate + '</td>' +
                                    '<td>' + Shipper + '</td>' +
                                    '<td>' + Receiver + '</td>' +
                                    '<td>' + ConsignorCity + '<br/>' + ConsignorCountry + '</td>' +
                                    '<td>' + ConsigneeCity + '<br/>' + ConsigneeCountry + '</td>' +
                                    '<td>' + CourierStatus + '</td>' +
                                    '<td><a href="javascript:void(0)" class="text-danger" onclick="deletetrans(this,' + i + ')"><i class="mdi mdi-delete font-size-18"></i></a></td>' +
                                    '</tr>');
                                $('#InScanID').val(0);
                                $('#Consignor').val('');
                                $('#Consignee').val('');
                                $('#ConsignorCountry').val('');
                                $('#ConsignorCity').val('');
                                $('#ConsigneeCountry').val('');
                                $('#ConsigneeCity').val('');
                                $('#CourierStatus').val('');
                                $('#CourierStatusId').val(0);
                                $('#AWBDate').val('');
                                $('#AWBNo').val('');
                                $('#AWBNo').focus();

                            }
                        }
                        else {
                            Swal.fire("Data Validation!", response.message, "error");
                            $('#AWBNo').val('');
                            $('#AWBNo').focus();
                        }
                    }
                });
            }
            else if ($('#InScanID').val() > 0) {
                $('#lierr').html('');
                var InScanID = $('#InScanID').val();
                var ShipmentDetailID = $('#ShipmentID').val();
                var AWBNo = $('#AWBNo').val();
                var AWBDate = checkDate($('#AWBDate'));
                var Shipper = $('#Consignor').val();
                var Receiver = $('#Consignee').val();
                var ConsignorCountry = $('#ConsignorCountry').val();
                var ConsignorCity = $('#ConsignorCity').val();
                var ConsigneeCountry = $('#ConsigneeCountry').val();
                var ConsigneeCity = $('#ConsigneeCity').val();
                var CourierStatus = $('#CourierStatus').val();
                var CourierStatusId = $('#CourierStatusId').val();
                var defaultdate = $('#AWBDate').val();


                var i = $('#tbl1 > tr').length;
                var row = i + 1;
                var datahtml =
                    '<span id="srow_' + i + '">' + row + '</span>' +
                    '<input class="hdndeleted" type="hidden" value="false" id="hdndeleted_' + i + '" />' +
                    '<input type="hidden" id="hdnInScanID_' + i + '" value="' + InScanID + '" />' +
                    '<input type="hidden" id="hdnShipmentDetailID_' + i + '" value="' + ShipmentDetailID + '" />' +
                    '<input type="hidden" id="hdnAWBNo_' + i + '" value="' + AWBNo + '" />' +
                    '<input type="hidden" id="hdnCourierStatusId_' + i + '" value="' + CourierStatusId + '" />';


                $('#tbl1').append('<tr>' +
                    '<td>' + datahtml + '</td>' +
                    '<td>' + AWBNo + '<br/>' + AWBDate + '</td>' +
                    '<td>' + Shipper + '</td>' +
                    '<td>' + Receiver + '</td>' +
                    '<td>' + ConsignorCity + '<br/>' + ConsignorCountry + '</td>' +
                    '<td>' + ConsigneeCity + '<br/>' + ConsigneeCountry + '</td>' +
                    '<td>' + CourierStatus + '</td>' +
                    '<td><a href="javascript:void(0)" class="text-danger" onclick="deletetrans(this,' + i + ')"><i class="mdi mdi-delete font-size-18"></i></a></td>' +
                    '</tr>');
                $('#InScanID').val(0);
                $('#Consignor').val('');
                $('#Consignee').val('');
                $('#ConsignorCountry').val('');
                $('#ConsignorCity').val('');
                $('#ConsigneeCountry').val('');
                $('#ConsigneeCity').val('');
                $('#CourierStatus').val('');
                $('#CourierStatusId').val(0);
                $('#AWBDate').val('');
                $('#AWBNo').val('');
                $('#AWBNo').focus();

            }

        });

        $('#btnSave').click(function () {
            debugger;
            if ($('#EmployeeID').val() == '') {
                Swal.fire("Data Validation!", "Select Employee!", "error");
                return false;
            }
            else if ($('#EntryDate').val() == '') {
                Swal.fire("Data Validation!", "Select Entry Date!", "error");
                return false;
            }
            else if  ($('#ChangeCourierStatusId').val() == '') {
                Swal.fire("Data Validation!", "Select Status to Update!", "error");
                return false;
            }
            // $('#btnSave').attr('disabled', 'disabled');
            var obj = [];
            var maxrow = $('#tbl1 > tr').length;
            if (maxrow == 0) {
                Swal.fire("Data Validation!", "Add AWB No. to update Status!", "error");
                return;
            }
            for (i = 0; i < maxrow; i++) {
                debugger;
                var deleted = $('#hdndeleted_' + i).val();
                if (deleted == 'false') {
                    var InScanID = $('#hdnInScanID_' + i).val();
                    var ShipmentID = $('#hdnShipmentDetailID_' + i).val();
                    var AWBNo = $('#hdnAWBNo_' + i).val();

                    var item = {
                        InScanID: InScanID,
                        ShipmentID: ShipmentID,
                        AWBNo: AWBNo

                    }

                    obj.push(item);
                }

                if (maxrow == (i + 1)) {

                    $.ajax({
                        type: "POST",
                        url: "/AWBStatus/SaveStatus",
                        datatype: "Json",
                        data: {
                            EmployeeID: $('#EmployeeID').val(), EntryDate: $('#EntryDate').val(), CourierStatusId: $('#ChangeCourierStatusId').val(),Remarks :$('#Remarks').val(), Details: JSON.stringify(obj) },
                        success: function (response) {
                            //console.log(response);

                            debugger;
                            if (response.status == "OK") {
                                Swal.fire("Save Status!", response.message, "success");
                                $('#btnSave').removeAttr('disabled');

                                setTimeout(function () {
                                    window.location.href = "/AWBStatus/Create";

                                }, 300)
                            }
                            else {

                                Swal.fire("Save Status!", response.message, "error");
                                $('#btnSave').removeAttr('disabled');

                                return false;
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            }
        });
    });
</script>

<!-- Main content -->

@using (Html.BeginForm("Create", "AWBStatus", FormMethod.Post, new { @id = "FormReceipt" }))
{
    @Html.ValidationSummary(true)


    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-right mb-2">
                            <input type="button" class="btn btn-success"  value="Save Status" name="Command" id="btnSave" />

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label">Status Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date datetimepicker"  name="EntryDate" id="EntryDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.EntryDate.ToString("dd-MM-yyyy HH:mm")"
                                                   placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label required">Employee</label>
                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label required">Change Courier Status</label>
                                    @Html.DropDownListFor(model => model.CourierStatusId, new SelectList(ViewBag.CourierStatus, "CourierStatusId", "CourierStatus"), "Select", new { @class = "form-select", @id = "ChangeCourierStatusId" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label required">Remarks</label>
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @id = "Remarks" })
                                </div>
                            </div>
                        </div>
                        <hr />



                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">AWB Number</label>
                                <div class="input-group gap-2">
                                    @Html.TextBoxFor(model => model.AWB.AWBNo, new { @class = "form-control", @autocomplete = "off", id = "AWBNo" })
                                    @Html.HiddenFor(mode => mode.AWB.InScanID, new { @id = "InScanID" })
                                    @Html.HiddenFor(mode => mode.AWB.ShipmentID,new { @id = "ShipmentID" })
                                    <button type="button" id="btnAdd" class="btn btn-success waves-effect waves-light filter">
                                        <i class="bx bx-plus mt-1" style="font-size: 18px;"></i>
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">AWB Date</label>
                                <div class="docs-datepicker">
                                    <div class="input-group">
                                        <input type="text" class="form-control docs-date"  readonly name="AWBDate" id="AWBDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.AWB.AWBDate.ToShortDateString()"
                                               placeholder="Pick a date" autocomplete="off">
                                        <button type="button"
                                                class="btn btn-secondary docs-datepicker-trigger"
                                                disabled>
                                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="docs-datepicker-container"></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">Shipper</label>
                                @Html.TextBoxFor(model => model.AWB.Consignor, new { @class = "form-control", @readonly = "readonly", @autocomplete = "off", @id = "Consignor" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">Consignee</label>
                                @Html.TextBoxFor(model => model.AWB.Consignee, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly", @id = "Consignee" })

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Consignor Country</label>
                                @Html.TextBoxFor(model => model.AWB.ConsignorCountry, new { @class = "form-control", @readonly = "readonly", @id = "ConsignorCountry" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Consignee Country</label>
                                @Html.TextBoxFor(model => model.AWB.ConsigneeCountry, new { @class = "form-control", @readonly = "readonly", @id = "ConsigneeCountry" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Consignor City</label>
                                @Html.TextBoxFor(model => model.AWB.ConsignorCity, new { @class = "form-control", @readonly = "readonly", @id = "ConsignorCity" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Consignee City</label>
                                @Html.TextBoxFor(model => model.AWB.ConsigneeCity, new { @class = "form-control", @readonly = "readonly", @id = "ConsigneeCity" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label required">Current Status</label>
                                @Html.TextBoxFor(model => model.AWB.CourierStatus, new { @class = "form-control", @readonly = "readonly", @id = "CourierStatus" })
                            </div>
                        </div>

                    
                        <div class="col-md-12 flex justify-between" style="">
                            <ul class="list-unstyled show-error" id="ulerr">
                                <li id="lierr">Enter AWB No. and press Tab key to know Status, Press + button to add in the grid!</li>
                            </ul>
                        </div>
                    </div>
                    </div>
            </div>
        </div>


        <div class="col-md-7 scrolling_list">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0" id="datatable1">
                        <thead class="table-light">
                            <tr style="font-weight: bold; background:#07a7e3;">
                                <th>S.No</th>
                                <th>AWB No.</th>
                                <th>Consignor</th>
                                <th>Consignee</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbl1">
                        </tbody>

                    </table>


                </div>
            </div>
        </div>
    </div>



}

