@model Net4Courier.Models.AgentInvoiceVM

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "CO-Loader Invoice";
    ViewBag.pageTitle = "Account Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
    var _alphanum = Session["AWBAlphaNumeric"].ToString();
}

@*<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="/Content/Multiselect/bootstrap-multiselect.js"></script>*@
@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

}

<style>
    .w-6 {
        width: 6%;
    }

    .charegRow {
        background: #eff2f7;
    }

        .charegRow td {
            border: 0 !important;
        }

        .charegRow label {
            font-size: 14px !important;
            font-weight: bold !important;
        }

    .taxBlock .col-md-2, .taxBlock .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .align_self {
        margin-top: 31px;
    }

    .w-12 {
        width: 12%;
    }

    .taxBlock label {
        margin: 0;
    }
</style>

<style>
    #invoicesearch .row .col-md-1 {
        width: 12%;
    }

    .multiselect {
        align-items: center;
        display: flex !Important;
        justify-content: space-around;
    }

    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }

    #FormDate {
        border-radius: 10px;
    }
</style>
<script type="text/javascript">
    function addCommas(nStr) {

        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
    }
    function setTwoNumberDecimal(obj) {
        debugger;

        $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
        gettotal();
    }

    function setThreeNumberDecimal(obj) {
        debugger;

       $(obj).val(parseFloat($(obj).val()).toFixed(3));
}
    

</script>

<script>
    var customernames = [];
    function gettotal() {
        debugger;
        var netvalue = $('#lbltotalcharge').html().replace(',', '');

        //var CustomerInvoiceTax = $('#CustomerInvoiceTax').val();
        var AdminPer = $('#AdminPer').val();
        //var FuelPer = $('#FuelPer').val();
        var Clearance = $('#ClearingCharge').val();
        var Discount = $('#Discount').val();
        if (netvalue == '' || netvalue == null)
            netvalue = 0;

        //if (CustomerInvoiceTax == null || CustomerInvoiceTax == '') {
        //    CustomerInvoiceTax = 0;
        //}
        if (AdminPer == null || AdminPer == '') {
            AdminPer = 0;
        }
        if (Clearance == null || Clearance == '') {
            Clearance = 0;
        }
        if (Discount == null || Discount == '') {
            Discount = 0;
        }

        //$('#lblfuelpercent').html(FuelPer);
        $('#lbladminpercent').html(parseFloat(AdminPer).toFixed(@_decimal));
        //$('#lbltaxpercent').html(CustomerInvoiceTax);
        $('#lbldiscount').html(parseFloat(Discount).toFixed(@_decimal));
        $('#lblclearancecharge').html(parseFloat(Clearance).toFixed(@_decimal));
        @*var taxamt = parseFloat(CustomerInvoiceTax) / 100 * parseFloat(netvalue);
        taxamt = parseFloat(taxamt).toFixed(@_decimal);
        $('#ChargeableWT').val(parseFloat(taxamt).toFixed(@_decimal));
        $('#lbltaxamount').html(taxamt);*@

        var adminamt = parseFloat(AdminPer) / 100 * parseFloat(netvalue);
        adminamt = parseFloat(adminamt).toFixed(@_decimal);
        $('#AdminAmt').val(parseFloat(adminamt).toFixed(@_decimal));
        $('#lbladminamount').html(parseFloat(adminamt).toFixed(@_decimal));

        var fuelper = $('#FuelPer').val();
        if (fuelper == '')
            fuelper = 0;
        var fuelamt = 0;
        if (parseFloat(fuelper, 0) > 0) {
            var fuelamt = parseFloat(fuelper) / 100 * parseFloat(netvalue);
            $('#FuelAmt').val(parseFloat(fuelamt).toFixed(2));
        }
        else {
            var fuelamt = $('#lblfuelamount').html();// parseFloat(FuelPer) / 100 * parseFloat(netvalue);
            $('#FuelAmt').val(fuelamt);
        }
        
        @*if (fuelamt == '')
            fuelamt=0
        fuelamt = parseFloat(fuelamt).toFixed(@_decimal);
        $('#FuelAmt').val(fuelamt);
        $('#lblfuelamount').html(parseFloat(fuelamt).toFixed(@_decimal));*@

        var taxamount = $('#lbltaxamount').html();// parseFloat(FuelPer) / 100 * parseFloat(netvalue);
        if (taxamount == '')
            taxamount = 0;
        taxamount = parseFloat(taxamount).toFixed(@_decimal);
        $('#ChargeableWT').val(taxamount);



        //var netotal = parseFloat(netvalue) + parseFloat(taxamt) + parseFloat(adminamt) + parseFloat(fuelamt) + parseFloat(Clearance) - parseFloat(Discount);
        var netotal = parseFloat(netvalue) + parseFloat(adminamt) + parseFloat(fuelamt) + parseFloat(Clearance) - parseFloat(Discount);
        $('#InvoiceTotal').val(parseFloat(netotal).toFixed(@_decimal));
        $('#lblinvoicetotal').html(parseFloat(netotal).toFixed(@_decimal))
    }
    function ValidateTotal() {
        debugger;

        var idtext = 'hdnTotalCharge_';
        var amt = 0;
        var totalsurchargeamount = 0;
        var totalcouriercharge = 0;
        var totalotherCharge = 0;
        var totalVATCharge = 0;
        var max = $('#details > tbody > tr').length;// - 6;
        $('#lbltotalcharge').html(0);
        $('[id^=' + idtext + ']').each(function (index, item) {
            var awbchecked = $('#hdnawbchecked_' + index).prop('checked');
            var surchargeamount = $('#hdnSurCharge_' + index).val();
            var couriercharge = $('#hdnCourierCharge_' + index).val();
            var othercharge = $('#hdnOtherCharge_' + index).val();
            var vatamount = $('#hdnVatAmount_' + index).val();
            if (awbchecked == true) {

                if ($(item).val() == "" || $(item).val() == null) {
                    $(item).val(0);
                }
                var itemval = $(item).val();
                itemval = itemval.replace(',', '');

                var invamount = parseFloat(itemval);
                amt = parseFloat(amt)+ parseFloat(invamount);// -Total Charge + parseFloat(invamount);
                totalsurchargeamount = parseFloat(totalsurchargeamount) + parseFloat(surchargeamount);
                totalcouriercharge = parseFloat(totalcouriercharge) + parseFloat(couriercharge);
                totalotherCharge = parseFloat(totalotherCharge) + parseFloat(othercharge);
                totalVATCharge = parseFloat(totalVATCharge) + parseFloat(vatamount);
                $('#lblcouriercharge').html(parseFloat(totalcouriercharge).toFixed(2));
                $('#lblfuelamount').html(parseFloat(totalsurchargeamount).toFixed(2));
                $('#lblothercharge').html(parseFloat(totalotherCharge).toFixed(2));
                $('#lbltotalcharge').html(parseFloat(amt).toFixed(2));

                $('#lbltaxamount').html(parseFloat(totalVATCharge).toFixed(2));
                $('#InvoiceTotal').val(parseFloat(amt).toFixed(@_decimal));

                $('#lblinvoicetotal').html(parseFloat(amt).toFixed(@_decimal))
                //console.log((parseInt(index) + 1));
            }

            if ((parseInt(index) + 1) == parseInt(max)) {

                gettotal();
            }
        });




    }

    function CheckAWBExists(awbno) {


        var idtext = 'hdnAWBNo_';

        var max = $('#details > tbody > tr').length;
        var found = false;
        $('[id^=' + idtext + ']').each(function (index, item) {

            var awbchecked = $('#hdnawbchecked_' + index).prop('checked');
            var awb = $('#hdnAWBNo_' + index).val();
            if (awb == awbno) {
                if (awbchecked == true) {
                    found = true;

                    Swal.fire("Data Validation", "AWB No. already Selected!", "warning");
                    $('#AWBNo').val('');
                    $('#AWBNo').focus();
                    return "notfound";
                }
                else {
                    found = true;
                    $.ajax({
                        type: "POST",
                        url: "/COLoaderInvoice/ShowItemListSelect",
                        datatype: "html",
                        data: { AWBNo: awbno, statuschecked: true },
                        success: function (response) {
                            $("#listContainer").html(response);
                            ValidateTotal();
                            $('#AWBNo').val('');
                            $('#AWBNo').focus();
                            return "found";
                        }
                    });

                }
            }
            if ((index +1) == max) {
                if (found == false) {
                    $('#AWBNo').val('');
                    $('#AWBNo').focus();

                    Swal.fire("Data Validation", "AWB No. not Found!", "warning");
                    return "notfound!";
                }
            }
        });

    }
    $(document).ready(function () {



        $('#FuelPer').change(function () {
            var netvalue = $('#lbltotalcharge').html().replace(',', '');
            var fuelper = $('#FuelPer').val();
            if (fuelper == '')
                fuelper = 0;
            var fuelamt = 0;
            if (parseFloat(fuelper, 0) > 0) {
                var fuelamt = parseFloat(fuelper) / 100 * parseFloat(netvalue);
                $('#FuelAmt').val(parseFloat(fuelamt).toFixed(2));
              
            }
            else {
                var fuelamt = $('#lblfuelamount').html();// parseFloat(FuelPer) / 100 * parseFloat(netvalue);
                $('#FuelAmt').val(fuelamt);
                
            }
        })
        $('#FuelAmount').change(function () {
            gettotal();
        });


              $.ajax({
                type: "Get",
                url: "/CustomerInvoice/GetCourierType",
                datatype: "Json",
                  success: function (response) {

                      var data = response.data;
                      $('#SelectedValues').empty();

                    $.each(data, function (index, value) {

                        var o_st = $("#MovementId").val().split(",");

                        var flag = 0;
                        for (var j = 0 ; j < o_st.length; j++) {
                            debugger;
                                if (o_st[j] == value.MovementID) {
                                    flag = 1;
                                    break;
                                }

                        }

                        if (flag == 1) {
                            $('#SelectedValues').append('<option value="' + value.MovementID + '" selected=true>' + value.MovementType + '</option>');
                        }
                        else {
                            $('#SelectedValues').append('<option value="' + value.MovementID + '">' + value.MovementType + '</option>');
                        }

                    });


                      $('#SelectedValues').select2();
                      //$('#movementid').multiselect({
                      //  nonSelectedText:'Select',
                      //  enableClickableOptGroups: true,
                      //  enableCollapsibleOptGroups: true,
                      //  enableFiltering: false,
                      //  includeSelectAllOption: true,
                      //  enableCaseInsensitiveFiltering: false,
                      //  selectAllValue: 'multiselect-all'
                      //});


                }
              });


        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyS' && (event.altKey)) { //ADD AWB
                $('#btnsave1').trigger('click');
            }
        });
    });




</script>

 

<fieldset>
    @using (Html.BeginForm("Create", "COLoaderInvoice", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate", @id = "customerInvoice" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        @{
                            if (ViewBag.SaveEnable == false)
                            {
                                <span class="text-danger bold"><i class="mdi mdi-lock"></i> @ViewBag.Message</span>
                            }
                        }

                    </div>
                    <div class="col-md-4 text-md-end">
                        @{
                            if (Model.AgentInvoiceID > 0)
                            {

                                if (ViewBag.SaveEnable == false)
                                {
                                    <input type="submit" value="Update" class="btn btn-success" disabled id="btnsave1" />
                                }
                                else
                                {
                                    <input type="submit" id="btnsave" class="btn btn-success" value="Update" name="Command" />
                                }
                            }
                            else
                            {
                                <input type="submit" id="btnsave" class="btn btn-success" value="Save" name="Command" />
                            }
                        }

                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary pull-right" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="col-form-label required "> Invoice No</label>
                            @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control txttarget", @required = "true", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.InvoiceNo)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            @Html.HiddenFor(model => model.AgentInvoiceID)
                            @Html.HiddenFor(model => model.ChargeableWT)
                            @Html.HiddenFor(model => model.AdminAmt)
                            @Html.HiddenFor(model => model.OtherCharge)
                            
                            @Html.HiddenFor(model => model.InvoiceTotal)

                            <label class="col-form-label required "> Invoice Date</label>

                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="InvoiceDate" id="InvoiceDate" value="@Model.InvoiceDate.ToShortDateString()"
                                           placeholder="Pick a Invoice Date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                            @Html.ValidationMessageFor(model => model.InvoiceDate)

                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-form-label required ">CO-Loader</label>
                        @Html.HiddenFor(model => model.CustomerID)
                        @Html.HiddenFor(model => model.MovementId)

                        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.CustomerName)
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <label class="col-form-label">Admin %</label>

                            @Html.TextBoxFor(model => model.AdminPer, new { @class = "form-control txttarget  textright calfield ", onchange = "setTwoNumberDecimal(this)" })
                            @Html.ValidationMessageFor(model => model.AdminPer)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <label class="col-form-label">Discount </label>
                            @Html.TextBoxFor(model => model.Discount, new { @class = "form-control textright txttarget calfield", onchange = "setTwoNumberDecimal(this)" })
                            @Html.ValidationMessageFor(model => model.Discount)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <label class="col-form-label" title="Clearance Chg.">Clr. Chg.</label>
                            @Html.TextBoxFor(model => model.ClearingCharge, new { @class = "form-control textright txttarget calfield", onchange = "setTwoNumberDecimal(this)", @title = "Clearance Chg." })
                            @Html.ValidationMessageFor(model => model.ClearingCharge)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <label class="col-form-label">Fuel %</label>
                            @Html.TextBoxFor(model => model.FuelPer, new { @class = "form-control textright txttarget calfield", onchange = "setTwoNumberDecimal(this)" })
                            @Html.ValidationMessageFor(model => model.FuelPer)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-3">
                            <label class="col-form-label">Fuel Amt</label>
                            @Html.TextBoxFor(model => model.FuelAmt, new { @class = "form-control textright txttarget calfield", @readonlyl="readonly", onchange = "setTwoNumberDecimal(this)" })
                            @Html.ValidationMessageFor(model => model.FuelAmt)
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 ">
                        <div class="row" style="border:1px solid #dedede">
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="col-form-label">From Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                                   placeholder="Pick a From Date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="col-form-label">To Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                                   placeholder="Pick a date" autocomplete="off">
                                            <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="mb-2">
                                    <label class="col-form-label required ">Courier Type</label>

                                    <select id="SelectedValues" name="SelectedValues" multiple="multiple" class="form-control">
                                        <option value=""></option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="col-form-label"> MAWB No.</label>
                                    @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control", @onchange = "redrawgridbyawbno(this)" })
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-2 mt-2">
                                    <button type="button" class="btn btn-success waves-effect waves-light filter btn_top" id="btnsearch">
                                        <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" id="listContainer">

                @{Html.RenderPartial("InvoiceList", Model);}


            </div>
        </div>


    }
</fieldset>

<script type="text/javascript">
    function redrawgridbyawbno(obj) {
        debugger;
        if ('@_alphanum'== 'True') {
            var txt = $(obj).val().trim();
          $(obj).val(txt.replace(/[^\d,]/g, ''));
          }
        var awbno = $(obj).val();
        if (awbno != '') {
            CheckAWBExists(awbno);


        }
    }
    
    $(document).ready(function () {
        $("#AWBNo").keydown(function (e) {
            if (e.keycode == 13) {
                if ('@_alphanum'== 'True') {
                    var txt = $('#AWBNo').val().trim();
                    $('#AWBNo').val(txt.replace(/[^\d,]/g, ''));
                }
                redrawgridbyawbno($('#AWBNo'));
            }

        });
        @*$("#AWBNo").change(function () {
          if ('@_alphanum'== 'True') {
                var txt = $('#txtawb').val().trim();
                $('#txtawb').val(txt.replace(/[^\d,]/g, ''));
            }
        });*@
         var table1 = $('#details').DataTable({ "paging": false, "sPaginationType": "simple", "aaSorting": [0, "desc"], "destroy": true });

    });
</script>

 
 
@section scripts{

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/Scripts/JS/COLoaderInvoiceCreate.js?v=1"></script>
}
