@model Net4Courier.Models.SkylarkReturntoConsignorSearch

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Skylark Return to Consignor";
    ViewBag.pageTitle = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = "/SkylarkReturntoConsignor/Index";
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isadd = true;
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<script>
    function ShowStatusModal(InScanId) {

        $('#InScanID').val(InScanId);

        $.ajax({
            type: "POST",
            url: "/SkylarkReturntoConsignor/GetActiveStatus",
            datatype: "Json",
            data: { 'InScanID': InScanId },
            success: function (response) {


                var _detail = response.data;
                $('#AWBNo').val(_detail.AWBNo);
                $('#hdnInscanID').val(_detail.InScanID);
                $('#CourierStatusId').val(_detail.CourierStatusID);
                $('#StatusTypeId').val(_detail.StatusTypeID);
                $('#ChangeStatusTypeId').val(_detail.StatusTypeID).trigger('change');
                $('#ChangeCourierStatusId').val($('#CourierStatusId').val()).trigger('change');
                $('#ChangeCourierStatusId').attr('disabled', 'disabled');
                if (_detail.ShipmentReturned)
                    $('#ChkReturned').prop('checked', true);
                if ($('#ChangeCourierStatusId').val() != 13) {
                    $('#ChkReturned').attr('disabled', 'disabled')
                } else {
                    $('#ChkReturned').removeAttr('disabled');
                }
                $('#txtRemarks').val(_detail.Remarks);
                $('#StatusModal').modal('show');

            }
        });

    }
    $(document).ready(function () {
        $('#btnsavestatus').click(function () {

            var statusobj = {
                InScanID: $('#hdnInscanID').val(),
                EmpID: $('#EmpID').val(),
                AWBNo :$('#AWBNo').val(),
                Remarks: $('#txtRemarks').val(),
                ShipmentReturned: $('#ChkReturned').prop('checked')
            };

            $.ajax({
                type: "POST",
                url: "/SkylarkReturntoConsignor/SaveStatus",
                datatype: "Json",
                data: statusobj,
                success: function (response) {
                    debugger;
                    if (response.status == "ok") {
                        Swal.fire("Save Status","Shipment Updated as Returned to Consignor!", "success");
                        window.location.reload();
                    }
                    else { Swal.fire("Save Status", "Save Failed :" + response.message, "warning"); }


                    $('#StatusModal').modal('hide');
                }
            });


        });

    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label for="FromDate" class="col-form-label">From Date</label>
                        @*@Html.TextBoxFor(mode => mode.FromDate, new { @class = "form-control text-right color_blue_border" })*@
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="mb-2">
                        <label for="FromDate" class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a To Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mt-2">
                    <div class="mb-2">
                        @*<a class="btn btn-success waves-effect waves-light filter mt-3 refresh_btn" href="Javascript:void(0)" onclick="location.href='@Url.Action("IndexAcBook", "Accounts")?VoucherType=' + $('#VoucherType').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="mdi mdi-refresh mt-1"></i></a>*@
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload">
                            <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="card">
        <div class="card-body">


            <div class="row">
                <table class="table align-middle table-nowrap" id="datatable">
                    <thead class="table-light">
                        <tr>
                            <th>
                                Return Date
                            </th>
                            <th>
                                AWB Date
                            </th>
                            <th>
                                AWB No.
                            </th>
                            <th>Customer</th>
                            <th>
                                Courier Name
                            </th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td>@Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.EntryDate)</td>
                                <td>@Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.AWBDate)</td>
                                <td> <a class="text-primary" href='@Url.Action("Create", "AWB", new { id = item.InScanId })' data-toggle="tooltip" data-placement="left" title="Click here">@item.AWBNo</a></td>

                                <td>@item.CustomerName</td>
                                <td>@item.CourierName</td>
                                <td>@item.CourierStatus</td>

                                <td>
                                    <div class="d-flex gap-3">
                                        @if (@item.CourierStatusId == 9)
                                        {
                                            <a href="#" class="text-success"  title="Confirm Return to Shipper Satus" onclick="ShowStatusModal('@item.InScanId')"><i class="mdi mdi-content-save font-size-18"></i></a>
                                        }

                                    </div>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="StatusModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f5f5f5;">

                <h4 class="modal-title" id="exampleModalLabel">
                    Change Status to Returned to Consignor
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="padding-top: 5px">
                        <div class="col-sm-12">

                            <div class="row" style="margin-top:10px">
                                <div class="col-xs-5 col-sm-3">
                                    AWB No.
                                </div>
                                <div class="col-xs-7 col-sm-9">

                                    <input type="text" id="AWBNo" class="form-control" readonly />
                                    <input type="hidden" id="hdnInscanID" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-xs-5 col-sm-3">
                                    Courier Status
                                </div>
                                <div class="col-xs-7 col-sm-9">
                                    @Html.DropDownList("CourierStatusId", new SelectList(@ViewBag.CourierStatusList, "CourierStatusID", "CourierStatus", @ViewBag.CourierStatusId), "Select", new { @class = "form-control", @id = "CourierStatusId" ,@disabled="disabled"})
                                    @*<input type="text" id="ChangeCourierStatusId" class="form-control" value="2" width="100%" />*@
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-xs-5 col-sm-3">
                                    Returned by
                                </div>
                                <div class="col-xs-7 col-sm-9">
                                    @Html.DropDownList("EmpID", new SelectList(@ViewBag.Employee, "EmployeeID", "EmployeeName", @ViewBag.EmpID), "Select", new { @class = "form-control", @id = "EmpID" })
                                    @*<input type="text" id="ChangeCourierStatusId" class="form-control" value="2" width="100%" />*@
                                </div>
                            </div>
                           
                            <div class="row" style="margin-top:10px">
                                <div class="col-xs-5 col-sm-3">
                                    Remarks
                                </div>
                                <div class="col-xs-7 col-sm-9">
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <input type="hidden" id="hdnCountryID" />                
                <button type="button" name="Command" value="SaveStatus" class="btn btn-success" id="btnsavestatus">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

