@model Courier_27_09_16.Models.TaxConfiguration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TaxConfiguration</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourierMoveMentID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourierMoveMentID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourierDescriptionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourierDescriptionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxPercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxPercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesHeadID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesHeadID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcCompanyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcCompanyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EffectFromDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EffectFromDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaxConfigurationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
