@model Courier_27_09_16.Models.TaxConfiqrationVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#MinimumRate").blur(function () {
            var x = parseFloat($(this).val());
            $(this).val(x.toFixed(2));
        });
        $("#TaxPercentage").blur(function () {
            var x = parseFloat($(this).val());
            $(this).val(x.toFixed(2));
        });


        $("#btnsave").click(function () {
            var effect = $("#EffectFromDate").val();
            var mode = $("#MoveMentID option:selected").val();
            var des = $("#CourierDescriptionID option:selected").val();
            var achead = $("#SaleHeadID option:selected").val();
            var min = $("#MinimumRate").val();
            var tax = $("#TaxPercentage").val();

            if (effect == "") {
                $("#validations").show();
                return false;
            }
            else if (mode = "") {
                $("#validations").show();
                return false;
            }
            else if (des = "") {
                $("#validations").show();
                return false;

            }
            else if (achead = "") {
                $("#validations").show();
                return false;
            }
            else if (min = "") {
                $("#validations").show();
                return false;
            }
            else if (tax = "") {
                $("#validations").show();
                return false;
            }

            else {
                $("#validations").hide();
                return true;
            }
        });




    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#EffectFromDate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true, changeMonth: true });

    });
</script>


<section class="content-header">
    <h1 class="headingfont">Empost Fees Setup - Modify</h1>

</section>




<section class="content">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        

       <div class="row no-margin"> 
        
              <div class="col-md-3">
                          <label class="headinglabel required">Effect From Date</label>
                  @Html.HiddenFor(model=>model.TaxConfiqrationID)
                  @Html.TextBoxFor(model => model.EffectFromDate,String.Format("{0:dd-MMM-yyyy}",Model.EffectFromDate),new { @class = "form-control text-right" })
            @Html.ValidationMessageFor(model => model.EffectFromDate)
                     
                 </div> 

         <div class="col-md-3">
                          <label class="headinglabel required">Courier Mode</label>
               @Html.DropDownListFor(model=>model.MoveMentID,new SelectList(@ViewBag.couriermode,"MovementID","MovementType"),"Select",new{@class="form-control"})
                     
                 </div>

     <div class="col-md-3">
                          <label class="headinglabel required">Description</label>
               @Html.DropDownListFor(model=>model.CourierDescriptionID,new SelectList(@ViewBag.description,"CourierDescriptionID","CourierDescription1"),"Select",new{@class="form-control"})
                     
                 </div>
           </div>
          
         <div class="row no-margin" style="padding-top:10px"> 
        
              <div class="col-md-3">
                          <label class="headinglabel required">Sales Head</label>
              @Html.DropDownListFor(model=>model.SaleHeadID,new SelectList(@ViewBag.achead,"AcHeadID","AcHead1"),"Select",new{@class="form-control"})
                     
                 </div> 

         <div class="col-md-3">
                          <label class="headinglabel required">Minimum Rate</label>
               
                        @Html.TextBoxFor(model => model.MinimumRate,new { @class = "form-control textright" })
            @Html.ValidationMessageFor(model => model.MinimumRate)
                 </div>

     <div class="col-md-3">
                          <label class="headinglabel required">Tax%</label>
               
                        @Html.TextBoxFor(model => model.TaxPercentage,new { @class = "form-control textright" })
            @Html.ValidationMessageFor(model => model.TaxPercentage)
                 </div>
           </div>
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12 btn-right">
                           
                              <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;&nbsp;
                            <a href='@Url.Action("Index", "Taxconfiqration", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                               
                          
                        </div>
            </div>
 
        
           </fieldset>
}
