@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $('#txtdate&time').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
        $('#txttoDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
    });
        </script>
<section class="content-header">
    <h1 class="headingfont">Shipment HoldRelease</h1>

</section>

<section class="content">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
     <div class="row no-margin"> 
               
             <div class="col-md-3">
                         
            
                  
                       @Html.RadioButton("rbt", "",new {  @readonly = "readonly" } ) Reciept
                        @Html.RadioButton("rbt", "",new { @readonly = "readonly" }) Payment
                    
                 </div>
      
              <div class="col-md-3">
                          <label class="headinglabel required">Transaction Date</label>
            
                       @Html.TextBox("txtTransactionDate", "", new{ @class="form-control"})
                    
                 </div>
         <div class="col-md-3">
                          <label class="headinglabel required">DRS No</label>
            
                       @Html.TextBox("txtDRSno", "", new{ @class="form-control"})
                    
                 </div>
         <div class="col-md-3">
                          <label class="headinglabel required">Department</label>
            
                       @Html.DropDownList("DepartmentID", ViewBag.Department as SelectList,"Select", new{ @class="form-control"})
                    
                 </div>
         </div>

         <div class="row no-margin"> 

               <div class="col-md-3">
                          <label class="headinglabel required">Delivered By</label>
                      @Html.DropDownList("EmployeeID" ,ViewBag.Deliverdby as SelectList, "Select", new { @class = "form-control" })
                    
                 </div>

           <div class="col-md-3">
                          <label class="headinglabel required">Vehicle</label>
             @Html.DropDownList("VehicleID" ,ViewBag.vehicle as SelectList, "Select", new { @class = "form-control" })
                    
                 </div>
             <div class="col-md-3">
                          <label class="headinglabel required">Amount</label>
            
                       @Html.TextBox("txtAmount", "", new{ @class="form-control"})
                    
                 </div>
              <div class="col-md-3">
                          <label class="headinglabel required">Remarks</label>
            
                       @Html.TextArea("txtremarks", "", new{ @class="form-control"})
                    
                 </div>
           </div>


      
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                      <input type="submit" value="Save" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                               
                          
                       @*     <input type="submit" value="Save&Print" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" style="margin-left:5px;"  />*@

                          <a href='@Url.Action("Index", "Department", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>
                               
                        </div>
                    </div>
    </fieldset>
}
    </section>
