@model Net4Courier.Models.OtherCharge

@{
    ViewBag.Title = "Edit";
            ViewBag.pTitle = "Other Charge";
    ViewBag.pageTitle = "Courier Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }


</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#OtherCharge1").focus();

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#SetAmount").append(function () {
            var wt = $(this).val();
            $("#SetAmount").val(parseFloat(wt).toFixed(2));
        });

        //$("#MinimumValue").append(function () {
        //    var wt = $(this).val();
        //    $("#MinimumValue").val(parseFloat(wt).toFixed(2));
        //});

        $("#btnsave").click(function () {
            var rev = $("#OtherCharge1").val();
            var achead = $("#AcHeadID option:selected").val();
            
            if (rev == "") {
                $("#alert").show();
                return false;
            }            
            else if (achead == "") {
                $("#alert").show();
                return false;
            }
            else {
                return true;
            }


        });

    });
</script>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <div class="searchdiv  sm-width">

        <fieldset>
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
            <div id="alert1" style="color:red;display:none;margin-left:10px;">*Revenue Type Already Exist</div>
            <div class="row">
                <div class="col-md-12">
                <div class="mb-2">
                    @Html.HiddenFor(model=>model.OtherChargeID)
                    <label class="required col-form-label">Other Charge Name</label>
                    @Html.TextBoxFor(model => model.OtherCharge1, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.OtherCharge1)

                </div>
                 </div>
           
                <div class="col-md-12">
                  <div class="mb-2">
                    <label class="required col-form-label">Chart-of-Account</label>
                    @Html.DropDownListFor(model => model.AcHeadID, new SelectList(@ViewBag.accounthead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.AcHeadID)
                </div>
                </div>

                 <div class="col-md-12">
                   <div class="mb-2">
                    <label class="col-form-label">Amount</label>
                    @Html.TextBoxFor(model => model.SetAmount, new { @class = "form-control textright", @onkeypress = "return isNumberKey(event)" })
                    @Html.ValidationMessageFor(model => model.SetAmount)
                </div>
                </div>
           
                <div class="col-md-4 checkboxdesign mt-2">
                  <div class="mb-2">
                    @Html.CheckBox("TypePercent", new { @name = "TypePercent" }) &nbsp
                    <label class="col-form-label">Type Percent</label>
                </div>
                </div>
               
            
                <div class="col-md-4 checkboxdesign mt-2">
                  <div class="mb-2">
                    @Html.CheckBox("Reimbursement", new { @name = "Reimbursement" }) &nbsp
                    <label class="col-form-label">Reimbursement</label>
                </div>
                </div>
                <div class="col-md-4 checkboxdesign mt-2">
                  <div class="mb-2">
                    @Html.CheckBox("TaxApplicable", new { @name = "TaxApplicable" }) &nbsp
                    <label class="col-form-label">TaxApplicable</label>
                </div>
                </div>
          
                <div class="col-md-12 text-md-end mt-2">
                    <input type="submit" value="Save" class="btn btn-success" id="btnsave" />

                    <a href='@Url.Action("Index", "OtherCharge", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip">Cancel</a>

                </div>
            </div>


        </fieldset>
    </div>
    }

</section>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
