<!DOCTYPE html>
<html lang="en">

<head>

    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
    @*<link href="~/assets/js/metisMenu.css" rel="stylesheet" />*@
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/libs/@("@chenfengyuan")/datepicker/datepicker.min.css">
    @*<link rel="stylesheet" href="https://unpkg.com/metismenu/dist/metisMenu.min.css">*@
    <!-- DataTables -->

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body data-topbar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_topbar.cshtml")
        @Html.Partial("~/Views/Shared/_sidebar.cshtml")
        <script src="~/Scripts/Jquery-3.7.js"></script>
        @*<script src="https://unpkg.com/jquery"></script>*@
        <script src="https://unpkg.com/metismenu"></script>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @Html.Partial("~/Views/Shared/_page_title.cshtml")
                    <input type="hidden" id="hdncompanydecimal" value="2" />
                    <input type="hidden" id="hdnPageTitle" value="@ViewBag.Title" />
                    <input type="hidden" id="hdnMinDate" value="@Convert.ToDateTime(@Session["FyearFrom"].ToString()).Date" />
                    <input type="hidden" id="hdnMaxDate" value="@Session["FyearTo"].ToString()" />
                    @RenderBody()
                    @if (TempData["SuccessMsg"] != null)
                    {

                        <script type="text/javascript">
                    $(document).ready(function () {
                     var msg="@TempData["SuccessMsg"]";
                     Swal.fire("Save Status", msg, "success");
                 });
                        </script>
                    }
                    @if (TempData["ErrorMsg"] != null)
                    {

                        <script type="text/javascript">
                    $(document).ready(function () {
                     var msg="@TempData["ErrorMsg"]";
                     Swal.fire("Save Status", msg, "warning");
                 });
                        </script>
                    }
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            @Html.Partial("~/Views/Shared/_footer.cshtml")
        </div>
        <!-- end main content-->

    </div>

    @RenderSection("externalhtml", required: false)

    <!-- END layout-wrapper -->
    @*@Html.Partial("~/Views/Shared/_right_sidebar.cshtml")*@

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")


    <!-- Datatable init js -->

    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="~/assets/css/JqueryUitheme.css" rel="stylesheet" />
    <!-- fontawesome icons init -->


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

    @*<script src="~/assets/libs/@("@chenfengyuan")/datepicker/datepicker.min.js"></script>
        <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>*@

    <!-- materialdesign icon js-->
    @*<script src="~/assets/js/pages/materialdesign.init.js"></script>*@
    <!-- fontawesome icons init -->
    <script src="~/assets/js/pages/fontawesome.init.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>



    <!-- Sweet alert init js-->
    <script src="~/assets/js/pages/sweet-alerts.init.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    @*<script src="~/assets/js/pages/table-responsive.init.js"></script>*@
    @Html.Partial("~/Views/Shared/_datatable_scripts.cshtml")

    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <!-- Responsive Table js -->
    @*<script src="~/assets/libs/admin-resources/rwd-table/rwd-table.min.js"></script>*@

    <!-- Init js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <script src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en', includedLanguages: 'en,fa,ar,ja',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <!-- form advanced init -->
    @*<script src="~/assets/js/pages/form-advanced.init.js"></script>*@
    @RenderSection("scripts", required: false)
    <script>
        //function loadreminder() {
        //    Swal.fire({
        //        //  position: "top-right",
        //        icon: "warning",
        //        title: "Gentle AMC Reminder!",
        //        showConfirmButton: false,
        //        timer: 180000
        //    });
        //    setTimeout(function () {
        //        loadreminder();

        //    }, 1800000)
        //}
        //$(document).ready(function () {

        //    setTimeout(function () {
        //        loadreminder();

        //    }, 1800000)

        //});
    </script>
</body>

</html>