<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Truebook-@Session["CompanyName"].ToString()</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
          name='viewport'>

    <link href="~/Content/js/jquery-ui.css" rel="stylesheet" />
    <!-- JS SCRIPTS -->
    <script src="~/Content/NewCSS/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Content/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/NewCSS/bootstrap/css/bootstrap.min.css">

    <script src="~/Content/NewCSS/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/NewCSS/js/app.min.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>

    <script src="~/Content/js/notify.js"></script>
    <script src="~/Content/js/notify.min.js"></script>
    <!-- css files -->

    <link rel="stylesheet" href="~/Content/NewCSS/css/style.css">
    <link rel="stylesheet" href="~/Content/NewCSS/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/NewCSS/css/skins/skin-blue.min.css">
    <link href="~/Content/plugins/Select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Select2/js/select2.min.js"></script>
    <link href="~/Content/multicheckselect/multiselect.css" rel="stylesheet" />
    <script src="~/Content/multicheckselect/multiselect.min.js"></script>

    @*<script src="js/app.min.js"></script>*@

    <style>
        /*.panel-body {
            background-color:silver !important;
        }*/
        html, button, input, optgroup, select, textarea {
            font-family: Calibri;
        }

        .icon_ques {
            font-size: 22px;
            padding-top: 17px;
            color: red;
        }

        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #ff0000;
        }

        .f-year {
            background-color: transparent !important;
            position: relative;
        }

            .f-year:after {
                border-radius: 0px !important;
                position: absolute;
                content: '';
                left: 30px;
                bottom: 0;
                height: 2px;
                width: 60%;
                background: orange;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .4s linear;
            }

            .f-year:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }


        .f-year_2:after {
            width: 78% !important;
        }

        .f-year a {
            color: #908f8f !important;
            padding: 0 !important;
            min-width: 250px;
            line-height: 36px !important;
            text-align: CENTER;
            height: 36px;
            font-size: 16px;
        }

        .navbar-custom-menu .navbar-nav:nth-of-type(1) .f-year a {
            min-width: 150px;
        }

        .f-year ul {
            padding-left: 10px;
            left: 0 !important;
            top: 105%;
        }

        .validation-summary-valid {
            display: none;
        }

        .required:after {
            content: " *";
            font-weight: bold;
            color: red;
        }

        .headinglabel {
            font-family: Calibri;
            font-size: 14px;
            color: #fff !important;
        }

        .newlink {
            padding-left: 20px;
        }

        .newrowpadding {
            padding-top: 10px;
        }

        .cbtnpadding {
            padding-left: 30px;
        }

        .btnwidth {
            width: 100px;
        }

        .textright {
            text-align: right;
        }

        .textleft {
            text-align: left;
        }

        .main-header .logo {
            height: auto;
        }

        .tblfont {
            font-family: Calibri;
            font-size: 15px;
        }

        .headingfont {
            font-family: Calibri;
        }

        .tblbackground {
            background-color: #fff;
        }

        .indexbtnpadding {
            padding-left: 15px;
        }

        .errorclass {
            background-color: brown;
        }

        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            /*/background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;*/
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            background-color: #35b8eb;
            color: white !important;
            border: 1px solid transparent;
        }

        #dataTables-example_filter {
            display: none !important;
        }

        #mydataTable-example_filter {
            display: none !important;
        }

        .liyearitem {
            cursor: pointer;
        }

        .lidepotitem {
            cursor: pointer;
        }

        .skin-blue .treeview-menu > li > a:hover {
            background-color: #47a9d0;
        }

        .skin-blue .sidebar .side_bar_side {
            padding-left: 10px;
            display: block !important;
        }

            .skin-blue .sidebar .side_bar_side li {
                padding-left: 20px;
                padding-top: 3px;
                padding-bottom: 3px;
            }

                .skin-blue .sidebar .side_bar_side li:hover {
                    background-color: #47a9d0;
                }
    </style>

    <style>
        @@media screen and (min-width: 992px) {

            .notifyjs-corner {
                width: 65% !important;
                border-radius: 1px;
            }

            .notifyjs-bootstrap-base {
                text-align: center !important;
                background-color: #4db6ac;
                top: 150px;
                color: white;
            }
        }

        #google_translate_element {
            float: left;
            padding-right: 16px;
        }

            #google_translate_element .goog-te-gadget-simple {
                border-radius: 10px;
                padding: 6px;
                border: none !important;
            }

        .goog-te-menu-value span {
            display: none !important;
        }


        .treeview-menu {
            height: 400px !important;
            overflow-y: scroll;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #888;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: orange;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
    </style>


    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("form").bind("keypress", function (e) {              

                if (e.keyCode == 13 && e.target.nodeName != "TEXTAREA") {
                    return false;
                }            
            });
        });
        function ShowProfile() {
            $('#UserProfileModal').modal('show');

               @*$.ajax({
                url: "@Url.Action("GetEmployeeProfile", "EmployeeMaster")",
                type: "GET",
                   dataType: "json",
                   data: {'id':49},
                success: function (data) {
                    //hideLoading();
                    conosle.log(data.view);
                    //$("#divprofile").html(data.view);
                     $('#UserProfileModal').modal('show');
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });*@

        }

        $(document).ajaxError(function (xhr, props) {
        if (props.status === 401) {
            window.location.href = '@Url.Action("Login", "Login")';
            }
        });

        $(document).ready(function () {
            document.addEventListener('keydown', function (event) {
                if (event.code == 'KeyN' && (event.altKey)) { //ADD AWB

                    window.location = $('#btnCreateNew').attr('href');
                    //$('#btnCreateNew').trigger('click');
                }
            });
            if ($('body').hasClass('sidebar-mini')) {
                $('body').addClass('sidebar-collapse')
            }
            $(".liyearitem").on('click', function (obj) {
                var id = $(this).attr('id').replace('liyear_', '');
                $.ajax({
                    type: "POST",
                    url: "/Home/ChangeYear",
                    datatype: "Json",
                    data: { id: id },
                    success: function (response) {
                        if (response.status == "ok") {
                            //window.location.href = '@Session["HomePage"].ToString()' //  reload();
                            window.location.reload();
                            //$.notify(response.message, "success");
                            $("#spanyear").html(response.yearname);
                        }
                        else {
                            $.notify(response.message, "error");

                        }
                    }

                });

            });

            $(".lidepotitem").on('click', function (e) {
                debugger;
                var id = $(this).attr('id').replace('lidepot_', '');
                $.ajax({
                    type: "POST",
                    url: "/Home/ChangeBranch",
                    datatype: "Json",
                    data: { id: id },
                    success: function (response) {
                        if (response.status == "ok") {
                            window.location.reload();
                            //window.location.href= '@Session["HomePage"].ToString()' //  reload();
                            $("#spandepot").html(response.depotname);
                            //$.notify(response.message, "success");
                        }
                        else {
                            $.notify(response.message, "error");

                        }
                    }

                });
            });

            //$.ajax({
            //    type: "POST",
            //    url: "/Login/GetFYear",
            //    datatype: "Json",
            //    success: function (data) {
            //        $("#FYearID").empty();

            //        $.each(data, function (index, value) {
            //            $('#FYearID').append('<option value="' + value.AcFinancialYearID + '">' + value.FYearName + '</option>');
            //        });

            //    }
            //});

            $(".txttarget").change(function () {
                var x = $(this);
                var str = "";
                str = x.val();
                var splitStr = str.toLowerCase().split(' ');
                for (var i = 0; i < splitStr.length; i++) {
                    // You do not need to check if i is larger than splitStr length, as your for does that for you
                    // Assign it back to the array
                    splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                }
                // Directly return the joined string
                var newtxt = "";
                newtxt = splitStr.join(' ');
                $(x).val('');
                $(x).val(newtxt);

            });

            $(".txttargetcaps").change(function () {
                var x = $(this);
                var str = "";
                str = x.val();
                var newtxt = "";
                var newtxt = str.toUpperCase();
                //for (var i = 0; i < splitStr.length; i++) {
                //    // You do not need to check if i is larger than splitStr length, as your for does that for you
                //    // Assign it back to the array
                //    splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                //}
                //// Directly return the joined string

                //newtxt = splitStr.join(' ');
                //$(x).val('');
                $(x).val(newtxt);

            });

          @*  $("#AcFYearID").change(function () {
                alert("hi");
                //$.ajax({
                //    type: "GET",
                //    url: "/Login/GetChangeFyear",
                //    data: { FyearId: $('#AcFYearID').val() },
                //    success: function (data) {

                //        alert(data);
                //    }
                //    });

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetChangeFyear", "Login")',
                    datatype: "html",
                    data: { FyearId: $('#AcFYearID').val() },
                    success: function (data) {

                     }
                 });
            });*@
            @*$('.form-control').change(function () {
                debugger;
                var xdate = $(this);
                var id = $(xdate).attr('id').toLowerCase();
                console.log($(xdate).attr('id').toLowerCase().indexOf('date'));
                if ($(xdate).attr('id').toLowerCase().indexOf('date') > 0) {
                    $.ajax({
                        url: "@Url.Action("CheckDateValidate", "Accounts")",
                        data: { entrydate: $(xdate).val() },
                        type: "GET",
                        dataType: "json",
                        success: function (response) {

                            if (response.Status == "OK") {
                                datevalid = true;
                                dateerror = response.Message;
                            }
                            else {
                                datevalid = false;
                                dateerror = response.Message;
                                $(xdate).val(response.ValidDate);
                            }

                        },
                        error: function () {
                            alert("Failed! Please try again.");
                        }
                    });
                }
            });*@
             $('.form-control').blur(function () {

                var xdate = $(this);
                var id = $(xdate).attr('id').toLowerCase();
                 //console.log($(xdate).attr('id').toLowerCase());//.indexOf('date'));
                 //id == 'fromdate' || id == 'todate' ||
                 //if (id == 'transactiondate' || id == 'drsrecpaydate' || id == 'transDate' || id == 'invoicedate' || id == 'manifestdate' || id == 'createddate') {
               if (id == 'transactiondate' || id == 'awbdate') {
                //if ($(xdate).attr('id').toLowerCase().indexOf('date') > 0) {
                    $.ajax({
                        url: "@Url.Action("CheckDateValidate", "Accounts")",
                        data: { entrydate: $(xdate).val() },
                        type: "GET",
                        dataType: "json",
                        success: function (response) {

                            if (response.Status == "OK") {
                                datevalid = true;
                                dateerror = response.Message;
                            }
                            else {
                                datevalid = false;
                                dateerror = response.Message;
                                $(xdate).val(response.ValidDate);
                            }

                        },
                        error: function () {
                            alert("Failed! Please try again.");
                        }
                    });
                }
            });
            $(".tdtarget").each(function () {
                var x = $(this);
                var str = "";
                str = x.text();
                var splitStr = str.toLowerCase().split(' ');
                for (var i = 0; i < splitStr.length; i++) {
                    // You do not need to check if i is larger than splitStr length, as your for does that for you
                    // Assign it back to the array
                    splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                }
                // Directly return the joined string
                var newtxt = "";
                newtxt = splitStr.join(' ');
                $(x).text('');
                $(x).text(newtxt);

            });




        });
        @*  $(document).ready(function () {
            $("a").click(function () {
                if ($(this).attr('id') == "78") {
                    $('#myModal').modal('show');
                }
            });

            $("#btnsubmit").click(function () {
                if ($("#plain").is(':checked')) {

                    window.location.href = '@Url.Action("JobRegister", "ReportInvoice", new { layout = "~/Views/Shared/PlainLayout.cshtml" })';
                }

                if ($("#formatted").is(':checked')) {

                    window.location.href = '@Url.Action("JobRegister", "ReportInvoice", new { layout = "~/Views/Shared/FormattedLayout.cshtml" })';
                }


            });
        });*@
    </script>
</head>
@{ string UserName = "";

    if (Session["UserName"] != null)
    {
        UserName = Session["UserName"].ToString();
    }
    List<int> RoleId = (List<int>)Session["RoleID"];
}


<body class="hold-transition skin-blue sidebar-mini ">
    <div class="se-pre-con"></div>
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo
            <a href='@Session["HomePage"]' class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
            <!--  <span class="logo-mini">
                @*<img class="img-responsive" src="~/Content/img/TrueBook10.png" alt="logosmall">*@
                <img class="img-responsive" src="~/Content/img/TrueBook10.png" alt="logosmall" />
            </span>
            logo for regular state and mobile devices
                      <span class="logo-lg">
                          @*<img class="img-responsive" src="~/Content/img/TrueBook10.png" alt="logolarge">*@
                          <img class="img-responsive" src="~/Content/img/TrueBook10.png" alt="logolarge" />
                      </span>
                    </a>-->
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                @*<a href="https://www.manula.com/manuals/malusoft/https-www-manula-com-manuals-malusoft-1-en-pdf/1/en/topic/net4courier" target="_blank" title="help"> <i class="fa fa-question icon_ques text-danger"></i></a>*@
                <!--  <a href="~/HelpFile/Net4courier_QuickReference.pdf" target="_blank" title="help"> <i class="fa fa-question icon_ques text-danger"></i></a>
                -->
                <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span> </a>
                <a href="@Session["HomePage"]">

                    <img src="~/Content/img/TrueBook_white.png" alt="logolarge" style="width: 100px;height:40px;margin-left: 20px;margin-top: 7px;">
                </a>
                <div style="display: inline-block; padding-top: 15px;">
                    @*@Html.DropDownList("AcFYearID", new SelectList(AcYearList, "AcFinancialYearID", "FYearName"), new { @class = "form-control" })*@
                </div>



                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">

                    @if (Session["UserType"].ToString() == "Employee")
                    {

                    <ul class="nav navbar-nav" style="margin-right:10px">
                        <li style=" margin-top: 10px; color: grey;background-color: #fff;">@Session["CompanyName"].ToString()</li>
                        <!-- User Depot Menu -->
                        <li class="dropdown user f-year">
                            @{
                                List<Net4Courier.Models.tblDepot> depotList = (List<Net4Courier.Models.tblDepot>)Session["Depot"];
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs" id="spandepot">@Session["CurrentDepot"].ToString()</span> <b class="caret"></b>
                                </a>
                                if (RoleId[0] == 1)
                                {
                                    <ul class="dropdown-menu" id="lidepot">
                                        @foreach (var item in depotList)
                                        {
                                            <li class="lidepotitem" id="lidepot_@item.ID">@item.Depot</li>
                                        }
                                    </ul>
                                }
                            }
                        </li>
                    </ul>
                    }
                    <ul class="nav navbar-nav" style="margin-right:10px">
                        <!-- Year Menu -->
                        <li class="dropdown user f-year f-year_2">
                            @{
                                List<Net4Courier.Models.AcFinancialYear> yearList = (List<Net4Courier.Models.AcFinancialYear>)Session["FYear"];
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs" id="spanyear">@Session["CurrentYear"].ToString()</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" id="liyear">
                                    @foreach (var item in yearList)
                                    {
                                        <li class="liyearitem" id="liyear_@item.AcFinancialYearID">@Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.AcFYearFrom) - @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.AcFYearTo)</li>
                                    }
                                </ul>

                            }
                        </li>
                    </ul>
                    <div id="google_translate_element"></div>

                    <ul class="nav navbar-nav">

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu" style="background-color: #fff !important;">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Content/NewCSS/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <hidden-xs hides the username on small devices so only the image appears.
                    <span class="hidden-xs" style="color: #0997d0 !important;">@UserName</span>
                                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <li><a href="#" onclick="ShowProfile()"><i class=" fa fa-suitcase"></i>Profile</a></li>
                                <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                                <li><a href="@Url.Action("Signout", "Login")"><i class="fa fa-key"></i>Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    @{
                        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();

                        List<Net4Courier.Models.Menu> menuList = (List<Net4Courier.Models.Menu>)Session["Menu"];
                        List<Net4Courier.Models.Menu> parentMenu = new List<Net4Courier.Models.Menu>();

                        //List<Net4Courier.Models.MenuVM> menuList = (List<Net4Courier.Models.MenuVM>)Session["Menu"];
                        //List<Net4Courier.Models.MenuVM> parentMenu = new List<Net4Courier.Models.MenuVM>();
                        if (menuList != null)
                        {
                            parentMenu = menuList.Where(p => Convert.ToInt32(p.ParentID) == 0).ToList();
                        }

                        if (parentMenu != null)
                        {
                            foreach (var item in parentMenu)
                            {

                                int menuid = Convert.ToInt32(item.MenuID);
                                if (item.PermissionRequired.HasValue && item.PermissionRequired.Value)
                                {
                                    if (obj.IsAccessibleMenu(menuid, RoleId))
                                    {
                                        <li>
                                            <a id="@item.MenuID" href=@item.Link><i class="@item.imgclass link_icons"></i><span>@item.Title</span></a>
                                            @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                                            {
                                                @:<ul class="treeview-menu">
                                                }
                                            @RenderMenuList(menuList, item)
                                            @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                                            {
                                            @:</ul>
                                        }
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a id="@item.MenuID" href=@item.Link><i class="@item.imgclass link_icons"></i><span>@item.Title</span></a>
                                        @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                                        {
                                            @:<ul class="treeview-menu">
                                            }
                                        @RenderMenuList(menuList, item)
                                        @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                                        {
                                        @:</ul>
                                    }
                                    </li>
                                }

                            }
                        }

                        @helper RenderMenuList(List<Net4Courier.Models.Menu> menuList, Net4Courier.Models.Menu mi)
                        {
                            foreach (var item1 in menuList.Where(p => p.ParentID == mi.MenuID))
                            {
                                @:<li>
                                    <a id="
                            @item1.MenuID" href=@item1.Link><i class="@item1.imgclass"></i><span>@item1.Title</span></a>
                            if (menuList.Count(p => p.ParentID == item1.MenuID) > 0)
                            {
                                @:<ul class="side_bar_side">
                                }
                                @RenderMenuList(menuList, item1)
                                if (menuList.Count(p => p.ParentID == item1.MenuID) > 0)
                                {
                                @:</ul>
                            }
                            else
                            {
                            @:</li>
                        }
                    }
                        }

                    }
                    <!-- Optionally, you can add icons to the links -->
                    <!---icons_lists
                            fa fa-sign-in (this is for Inbound)
                            fa fa-sign-out (this is form outbound)
                            fab fa-fedora (this is for operations)
                            fa fa-file-invoice-dollar (this is for account receivables)
                            fa fa-money-check-alt (this is for account payables)
                            fa fa-book (this is for general ledger)
                            fa fa-cogs (this is for setup)
                            fa fa-tools (this is for utilities)
                        -->

                    <li></li>
                </ul>
                <div class="quicks">
                    @foreach (var item1 in menuList.Where(p => p.ParentID > 0))
                    {

                        if (item1.Title == "Create Shipment")
                        {
                            <a href="/AWB/Create" class="quick_links" data-toggle="tooltip" title="Create Shipment"><img src="/Content/img/QuickMenuIcons/CreateShipment.png" /></a>
                        }
                        if (item1.Title == "Batch Shipments")
                        {
                            <a href="/AWBBatch/Create" class="quick_links" data-toggle="tooltip" title="Batch Shipments"><img src="/Content/img/QuickMenuIcons/BatchShipment.png" /></a>
                        }
                        if (item1.Title == "Depot Inscan - Domestic")
                        {
                            <a href="/InScan/Create" class="quick_links" data-toggle="tooltip" title="Depot Inscan Domestic"><img src="/Content/img/QuickMenuIcons/DepotInscanDomestic.png" /></a>
                        }
                        if (item1.Title == "Depot Outscan")
                        {
                            <a href="/OutScan/Create" class="quick_links" data-toggle="tooltip" title="Delivery Outscan"><img src="/Content/img/QuickMenuIcons/DeliveryOutscan.png" /></a>
                        }

                        if (item1.Title == "DRS Receipt")
                        {
                            <a href="/DRSReceipt/Create" class="quick_links" data-toggle="tooltip" title="DRS Receipt"><img src="/Content/img/QuickMenuIcons/DRS.png" /></a>
                        }

                        if (item1.Title == "DRS Reconciliation")
                        {
                            <a href="/DRSReconc/Create" class="quick_links" data-toggle="tooltip" title="DRS Reconciliation"><img src="/Content/img/QuickMenuIcons/DRS Reconciliation.png" /></a>
                        }
                        if (item1.Title == "MC Voucher Print")
                        {
                            <a href="/MCPaymentVoucher/Create" class="quick_links" data-toggle="tooltip" title="MC Voucher Print"><img src="/Content/img/QuickMenuIcons/MCPaymentVoucher.png" /></a>
                        }
                        if (item1.Title == "Manage Customers")
                        {
                            <a href="/CustomerMaster/Create" class="quick_links" data-toggle="tooltip" title="Manage Customers"><img src="/Content/img/QuickMenuIcons/AccountReceivable.png" /></a>
                        }
                        if (item1.Title == "Create Manifest")
                        {
                            <a href="/ExportShipment/CreateExport" class="quick_links" data-toggle="tooltip" title="Export Manifest"><img src="/Content/img/QuickMenuIcons/ExportManifest.png" /></a>
                        }
                        if (item1.Title == "Interbranch Import")
                        {
                            <a href="/ImportShipment/Create" class="quick_links" data-toggle="tooltip" title="Interbranch Import"><img src="/Content/img/QuickMenuIcons/InterBranch Import.png" /></a>
                        }
                        if (item1.Title == "Depot Inscan - Import")
                        {
                            <a href="/InBound/Create" class="quick_links" data-toggle="tooltip" title="Depot Inscan-Import"><img src="/Content/img/QuickMenuIcons/DepotInscanImport.png" /></a>
                        }
                        if (item1.Title == "Proof of Delivery")
                        {
                            <a href="/POD/Create" class="quick_links" data-toggle="tooltip" title="Proof of Delivery"><img src="/Content/img/QuickMenuIcons/POD.png" /></a>
                        }

                        if (item1.Title == "Customer Invoice")
                        {
                            <a href="/CustomerInvoice/Create" class="quick_links" data-toggle="tooltip" title="Customer Invoice"><img src="/Content/img/QuickMenuIcons/CustomerInvoice.png" /></a>
                        }

                        if (item1.Title == "Customer Receipt")
                        {
                            <a href="/CustomerReceipt/Create" class="quick_links" data-toggle="tooltip" title="Customer Receipts"><img src="/Content/img/QuickMenuIcons/CustomerReceipts.png" /></a>
                        }

                        if (item1.Title == "Supplier Invoice")
                        {
                            <a href="/SupplierInvoice/Create" class="quick_links" data-toggle="tooltip" title="Supplier Invoice"><img src="/Content/img/QuickMenuIcons/SupplierInvoice.png" /></a>
                        }

                        if (item1.Title == "Supplier Payment")
                        {
                            <a href="/SupplierPayment/Create" class="quick_links" data-toggle="tooltip" title="Supplier Payments"><img src="/Content/img/QuickMenuIcons/SupplierPayment.png" /></a>
                        }

                        if (item1.Title == "Cash & Bank")
                        {
                            <a href="/Accounts/Create" class="quick_links" data-toggle="tooltip" title="Cash & Bank"><img src="/Content/img/QuickMenuIcons/CashBank.png" /></a>
                        }

                        if (item1.Title == "Journal")
                        {
                            <a href="/Accounts/AcJournalVoucherCreate" class="quick_links" data-toggle="tooltip" title="Journal Voucher"><img src="/Content/img/QuickMenuIcons/JournalVoucher.png" /></a>
                        }

                        if (item1.Title == "Day Book")
                        {
                            <a href="/Accounts/DayBook" class="quick_links" data-toggle="tooltip" title="Day Book"><img src="/Content/img/QuickMenuIcons/DayBook.png" /></a>
                        }

                        if (item1.Title == "Account Ledger")
                        {
                            <a href="/Accounts/Ledger" class="quick_links" data-toggle="tooltip" title="Ledger"><img src="/Content/img/QuickMenuIcons/Ledger.png" /></a>
                        }
                    }
                    
                </div>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <style>
            .quicks {
                margin-top: 20px;
                background-color: #fff;
                padding: 5px;
            }

            .quick_links {
                padding: 10px;
            }

                .quick_links img {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 10px;
                }

            .link_icons {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        </style>
        <!-- Content Wrapper. Contains page content -->


        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <!-- Default to the left -->
            Copyright &copy; 2016 <a href="#">Truebook</a>. All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    @*<div class="modal modal-lg fade" id="UserProfileModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f5f5f5;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            User Profile
                        </h4>
                    </div>

                    <div class="modal-body" id="divprofile">
                        @{ Html.RenderAction("UserProfile", "EmployeeMaster");}
                    </div>
                    <div class="modal-footer" style="padding-top: 5px">
                        <input type="hidden" id="hdnCountryID" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" name="Command" value="SaveStatus" class="btn btn-primary" id="btnsavestatus">Save</button>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Report</h4>
                </div>
                <div class="modal-body">
                    <input type="radio" name="rpttype" id="plain" class="rbtn" value="plain" />&nbsp;Plain Report<br />
                    <br />
                    <input type="radio" id="formatted" name="rpttype" class="rbtn" value="formatted" />&nbsp;Formatted Report
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" id="btnsubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en', includedLanguages: 'en,fa,ar',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript">
        $("document").ready(function () {

            var elem = $('.fa.fa-refresh').parent('.btn').parent();
            $(elem).css({ "padding-top": "0" });

            if ($(elem).hasClass("mt-3")) {
                $(elem).removeClass("mt-3");
            }

            if ($(elem).hasClass("m-top")) {
                $('.fa.fa-refresh').parent('.btn').addClass('btn-success ').removeAttr('style');
            } else {
                $('.fa.fa-refresh').parent('.btn').addClass('btn-success sm_btn').removeAttr('style');
            }
        });
    </script>
    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>



