@model Net4Courier.Models.LockUnlock

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        var year = new Date().getFullYear();
        $("#CurrentYear").val(year);

    });
</script>


<section class="container-fluid over_hide">
    <h1 class="titles_head">Period Lock/UnLock</h1>
</section>

<section class="content">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        

       <div class="row no-margin"> 
               
     

         <div class="col-md-3">
                          <label class="headinglabel required">Month</label>
            @Html.DropDownListFor(model => model.Month, new SelectList(@ViewBag.months, "MonthNumber","MonthName"), "Select", new { @class = "form-control" });
                     
                 </div>

              <div class="col-md-3">
                          <label class="headinglabel required">Current Year</label>
              @Html.TextBoxFor(model=>model.CurrentYear,new{@class="form-control"})
                 </div> 

    

      <div class="col-md-3" style="padding-top:22px">
                          
                 @Html.CheckBoxFor(model => model.IsLock)&nbsp;&nbsp;<label class="headinglabel">Is Lock</label>
            @Html.ValidationMessageFor(model => model.IsLock)
                     
                 </div>
           </div>
          
         
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                           
                              <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;&nbsp;<a href='@Url.Action("Index", "LockMonth", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                               
                          
                        </div>
            </div>
    </fieldset>
}
    </section>
