@model IEnumerable<Net4Courier.Models.LockUnlock>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "aaSorting": [] });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>

<section class="container-fluid over_hide">
    <h1 class="titles_head">Period Lock / Unlock </h1>
</section>
<div class="container-fluid">
    <div class="row no_mar_cre">
        <div class="col-md-4 hide">
            <div class="col-md-6">
                <label class="lab_blue">From Date</label>
                <input id="FromDate" class="form-control text-right" name="FromDate" type="text" value="@ViewBag.FromDate" />           
            </div>

            <div class="col-md-6">
                <label class="lab_blue">To Date</label>
                <input type="text" id="ToDate" name="ToDate" class="form-control text-right" value="@ViewBag.ToDate" />
                @*@Html.TextBox("ToDate", new { @class = "form-control txttarget" })*@
            </div>
        </div>             

        <div class="pull-right" style="padding-top:32px;">
            <p class="indexbtnpadding">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
            </p>

        </div>
    </div>
</div>



<section class="content">
    @if (TempData["SuccessMsg"] != null)
    {
        @* <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4><i class="icon fa fa-check"></i>Alert!</h4>
                <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
            </div>*@
        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
        </script>
    }

    @if (TempData["ErrorMsg"] != null)
    {

        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["ErrorMsg"]","danger");
                 });
        </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Year")
                    </th>
                    <th>
                        @Html.Label("Month")
                    </th>

                    <th>
                        @Html.Label("Is Locked")
                    </th>

                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>

                    <th>
                        @Html.Label("Year")
                    </th>
                    <th>
                        @Html.Label("Month")
                    </th>
                    <th style="display:none">
                       
                    </th>


                    <th style="display:none"></th>
                </tr>

            </tfoot>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.IsLock)
                    </td>

                    <td>

                        <a href="@Url.Action("Edit", new { id = item.ID })"><i class="fa fa-pencil"></i></a> |

                        <a href="#" onclick="Delete(ID=@item.ID)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</section>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete This Period Lock?")) {
            window.location.href = "/LockMonth/DeleteConfirmed/?id=" + ID;
        }
    }
</script>