@model IEnumerable<Net4Courier.Models.DCODReceiptVM>
@{
    Layout = null;
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();  
    }

  <thead class="table-light">
    <tr>
        <th>
            Receipt No.
        </th>
        <th>
            Receipt Date
        </th>        
        <th>Receipt Amount</th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptNo)
            </td>
            <td>
                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.ReceiptDate)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Amount)

            </td>
            <td>
            <div class="d-flex gap-3">
                @*<a target="_blank" href="ExportShipmentReport?id=@item.CustomerInvoiceID"><i class="fa fa-print"></i></a>*@
                @*<a  class="aprint" target="_blank" href="InvoicePrint?id=@item.CustomerInvoiceID"><i class="fa fa-print"></i></a>*@

                @*<a class="aview"  href="Details?id=@item.CustomerInvoiceID"><i class="fa fa-eye"></i></a><br />*@                
                
                <a  class="aedit" href="Create?id=@item.ReceiptID" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                
                <a class="adelete"  href="#" onclick="Delete(@item.ReceiptID)"  class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
</div>
            </td>
        </tr>
    }
</tbody>
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure? You want to Delete this Receipt?")) {
            window.location.href = "/CODReceipt/DeleteConfirmed/?id=" + ID;
        }
    }
</script>

