@model Net4Courier.Models.QuickAWBVM
@{
    ViewBag.Title = "Create";
      Layout = "~/Views/Shared/_Layout.cshtml";
        var _decimal =Convert.ToInt32(@Session["Decimal"].ToString());
}


<script type="text/javascript">
      function setTwoNumberDecimal(obj) {
                
       $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
    }
    function setThreeNumberDecimal(obj) {
        debugger;
        
       $(obj).val(parseFloat($(obj).val()).toFixed(3));
}
    function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
   
</script>
<script>
    function printDiv() {
          var divid="divreport"
    var contents = document.getElementById(divid).innerHTML;
    var frame1 = document.createElement('iframe');
    frame1.name = "frame1";
    frame1.style.position = "absolute";
    frame1.style.top = "-1000000px";
    document.body.appendChild(frame1);
    var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
    frameDoc.document.open();
    frameDoc.document.write('<html><head><title>DIV Contents</title>');
    frameDoc.document.write('</head><body>');
    frameDoc.document.write(contents);
    frameDoc.document.write('</body></html>');
    frameDoc.document.close();
    setTimeout(function () {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        document.body.removeChild(frame1);
    }, 500);
    return false;
}
    //function printDiv() {
    //    var divContents = document.getElementById("divreport").innerHTML;
    //    var a = window.open('', '', 'height=500, width=1500');
    //    a.document.write('<html>');
    //    //var title = "Period :" + $('#FromDate').val() + " TO " + $('#ToDate').val()
    //    //a.document.write('<body > <h1>Customer Invoice </h1>');
    //    //a.document.write('<h1>' + title + '</h1><br/>');
    //    a.document.write(divContents);
    //    a.document.write('</body></html>');
    //    a.document.close();
    //    a.print();
    //}
</script>

<section class="content">
    <div class="row no-margin" style="padding-top: 10px">
        <div class="col-md-12 btn-right">
            <input type="button" value="Print" class="btn btn-primary btnwidth" onclick="printDiv()" />&nbsp;&nbsp;
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btnwidth float-right" })
        </div>
    </div>
    <hr />
    <div class="" id="divreport">        
        @Html.HiddenFor(model => model.CustomerID)
       <style>
            * {
             
                box-sizing: border-box;
                font-family: Calibri;
				
            }
			.mainwrap table th, .mainwrap table td{
				font-size:11px;
				
			}
			.mainwrap ol li{
				font-size:11px;
			}
            .headrow h1{
            text-align:right;
            }
            ul{
            list-style:none;
            }
            .invoiceInfo{
                border:1px solid #ccc
            }
           .invoiceRow:nth-of-type(2){
            border-top:1px solid #ccc;
           }
            .invoiceRow {
                justify-content: space-between;
                 padding:10px 0;
            }
			.border{
				border-bottom:1px solid #ccc;
			}
            .logo {
       
                padding-bottom: 20px;
            }

            .invoiceRow table th {
                text-align: left;
            }

            .headrow {
                justify-content: space-between;
                align-items: center;
            }

            .d-flex {
                display: flex;
				flex-wrap:wrap;
            }
            

            table {
                width: 100%;
            }

            .trnrow {
                display: flex;
                justify-content: center;
            }

           
                .invoiceRow table th, .invoiceRow table td {
                    padding: 0 10px;
                }
           
            .particularInner table {
                border-spacing: 0;
            }
				

                .particularInner table td, {
                    padding: 5px 0;
                }

           
            .particularInner table tr:last-of-type td {
                border-bottom: 2px solid #333;
            }

            .particularInner table > thead > th {
                font-size: 10pt;
                font-weight: 500;
            }

            .particularInner table > tbody > tr > td {
                font-size: 9pt !important;
            }
           
           
            .trnrow1 ul li{
                padding-right:10px;
            }
           


                .totalRow table {
                    font-weight: bold;
                    table-layout: fixed;
                    text-align: right;
                }
				.invoiceTerms{
					border-left:1px solid #ccc;
					padding:10px 25px;
				}
				ol{
				padding:0;
				
				}
            .invoiceContent,.invoiceTerms{
				width:50%;
				}
            .baritem{
                width:30%;
                margin:auto;
                padding-bottom:25px;
            }
            img{
                max-width:100%;
            }
            .terms ol {
                list-style-position: inside;
            }
			.invoiceRow img{
			width:120px;
			}
                .terms ol li {
                    padding: 5px 0;
                }
				.invoiceRow .border td,.invoiceRow .border th{
				
					padding-bottom:7px;
             }
			 .invoiceRow .border + tr td,.invoiceRow .border + tr th{
				
					padding-top:7px;
             }

            .text-right {
                text-align: right;
            }
           
        </style>
	<div class="mainwrap">
        <header id="header" class="">
            <div class="d-flex headrow">
                <div class="logo">
                    <img src="@ViewBag.LogoPath" alt="" width="130px" height="100px" />
                </div>
                <div class="rightBlock">
                    <h1>AIR WAYBILL </h1>
                </div>
            </div>
        </header>
        <section class="invoiceInfo">
            <div class="invoiceMain d-flex ">
            <div class="invoiceContent">
            <div class="invoiceRow  invoicetop">
                <div class="leftInfo">
                    <table>
					<tr>
						<th>AIR WAYBILL:</th>
						<td> <b style="font-size:12px">1304933033933939393</b></td>
				
						<th>Barcode:</th>
						<td><img src="/Content/img/bar-code.png"/ ></td>
					</tr>
					<tr class="border">
						<th> Date:</th>
						<td>@Model.TransactionDate</td>
						<th>Account No:</th>
						<td>3484994</td>
					</tr>
					
                        <tr>
                            <th width="100px">Shipper :</th>
                            <th> @Model.Consignor</th>

                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Model.ConsignorAddress1_Building @Model.ConsignorAddress2_Street
                            </td>
                        </tr>
                        <tr>
                            <td></td>

                            <td>
                                @Model.ConsignorAddress3_PinCode
                            </td>
                        </tr>
                        <tr>
                            <td></td>

                            <td>@Model.ConsignorCityName</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Model.ConsignorCountryName</td>
                        </tr>
                        <tr  class="border">
                            <td></td>
							<td></td>	
                            <td><b>Tel Ph:</b> @Model.ConsignorPhone</td>
							<td></td>
                        </tr>
						
						 <tr >
                            <th>Reciever :</th>
                            <th colspan="2"> @Model.Consignee</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Model.ConsigneeAddress1_Building @Model.ConsigneeAddress2_Street
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Model.ConsigneeAddress3_PinCode
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Model.ConsigneeCityName</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Model.ConsigneeCountryName</td>
                        </tr>
                        <tr class="border">
                            <td></td>
                            <td><b>Tel Ph:</b>@Model.ConsigneePhone</td>
							<td></td>
							<td></td>
                        </tr>
						
						<tr >
						<th> Contents:</th>
						<td> Textiles Samples</td>
						</tr>
						<tr>
						<th> Pieces:</th>
						<td> @Model.Pieces</th>
						<th>Weight</th>
						<td>@Model.Weight</td>
						</tr>
						<tr> 
						<th>Origin</th>
						<td> United Erab Emirates, Dubai</td>
						<th>Destination</th>
						<td>India, Banglore</td>
						</tr>
						<tr> 
						<th>MAWB:</th>
						<td></td>
						<th>Flight:</th>
						<td>GF387/10-oct-2020</td>
						</tr>
						
                    </table>
                </div>
                
                
                
             
         
            
     
     
   
      
            
        </div>
  
            
              
      
    
       </div>


       <div class="invoiceTerms">
    <h3>Terms & Conditions</h3>
    <ol>
        <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</li>
        <li>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        </li>
        <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</li>
    </ol>

</div>
</div>


</section>
</div>
</section>







