@model Net4Courier.Models.CustmorVM
@{
    Layout = null;
}
<style>
    ul.ui-front {
        z-index: 1100;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#NewCountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#NewCountryName').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#NewCountryName').val(ui.item.label);

                return false;
            }
        });
        $('#NewCityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#NewCityName').val(ui.item.label);
                $('#NewCountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#NewCityName').val(ui.item.label);
                $('#NewCountryName').val(ui.item.Country);
                return false;
            }
        });


        $('#NewLocationName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#NewLocationName').val(ui.item.label);
                $('#NewCityName').val(ui.item.City);
                $('#NewCountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#NewLocationName').val(ui.item.label);
                $('#NewCityName').val(ui.item.City);
                $('#NewCountryName').val(ui.item.Country);
                return false;
            }
        });


    });

</script>
<div class="row no-margin" style="margin-top:10px!important">
    <div class="col-md-3">
        @Html.HiddenFor(model => model.CustomerID)
        @Html.HiddenFor(model => model.CustomerType)
        <label class="headinglabel required">Type</label>
        @Html.DropDownList("CustomerType1", new List<SelectListItem>
    {
        new SelectListItem{ Text="Credit", Value = "CR" },
        new SelectListItem{ Text="Cash", Value = "CS" },
        new SelectListItem{ Text="CoLoader", Value = "CL" },

     }, new { @class = "form-select" })

        @Html.ValidationMessageFor(model => model.CustomerType)

    </div>
    <div class="col-md-9">
        <label class="headinglabel required">Customer Name</label>
        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control txttarget", @autocomplete = "off",@id="NewCustomerName" })
        @Html.ValidationMessageFor(model => model.CustomerName)
    </div>
</div>
<div class="row no-margin" style="margin-top:10px!important">
    <div class="col-md-6">
        <label class="headinglabel">Contact Person</label>
        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control txttarget", @id = "NewContactPerson" })
        @Html.ValidationMessageFor(model => model.ContactPerson)
    </div>
    <div class="col-md-3">
        <label class="headinglabel">Phone No.</label>
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "NewPhone" })
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
    <div class="col-md-3">
        <label class="headinglabel">Mobile No.</label>
        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @id = "NewMobile" })
        @Html.ValidationMessageFor(model => model.Mobile)
    </div>
</div>

<div class="row no-margin" style="margin-top:10px!important">
    <div class="col-md-4">
        <label class="headinglabel">Flat/Building</label>
        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control txttarget", @id = "NewAddress1" })
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
    <div class="col-md-4">
        <label class="headinglabel">Street Name</label>
        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control txttarget", @id = "NewAddress2" })
        @Html.ValidationMessageFor(model => model.Address2)
    </div>

    <div class="col-md-4">
        <label class="headinglabel">Pincode</label>
        @Html.TextBoxFor(model => model.Address3, new { @class = "form-control txttarget", @id = "NewAddress3" })
        @Html.ValidationMessageFor(model => model.Address3)
    </div>

</div>
<div class="row no-margin" style="margin-top:10px!important">

    <div class="col-md-4">
        <label class="headinglabel">Location</label>
        @Html.TextBoxFor(mode => mode.LocationName, new { @class = "form-control txttarget", @id = "NewLocationName" })
        @Html.ValidationMessageFor(model => model.LocationName)
    </div>
    <div class="col-md-4">
        <label class="headinglabel">City</label>
        @Html.TextBoxFor(mode => mode.CityName, new { @class = "form-control" , @id = "NewCityName" })
        @Html.ValidationMessageFor(model => model.CityName)
    </div>
    <div class="col-md-4">
        <label class="headinglabel required">Country</label>
        @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control", @id = "NewCountryName" })
        @Html.ValidationMessageFor(model => model.CountryName)
    </div>

</div>
