@model Net4Courier.Models.LocationVM
@{
    Layout = null;
}
<style>
    ul.ui-front {
        z-index: 1100;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#LCountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#LCountryName').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#LCountryName').val(ui.item.label);

                return false;
            }
        });
        $('#LCityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#LCityName').val(ui.item.label);
                $('#LCountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#LCityName').val(ui.item.label);
                $('#LCountryName').val(ui.item.Country);
                return false;
            }
        });


        $('#LLocationName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#LLocationName').val(ui.item.label);
                $('#LCityName').val(ui.item.City);
                $('#LCountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#LLocationName').val(ui.item.label);
                $('#LCityName').val(ui.item.City);
                $('#LCountryName').val(ui.item.Country);
                return false;
            }
        });
      
    });

</script>
<div class="row no-margin" style="margin-top:10px!important">

    <div class="col-md-12">
        <label class="headinglabel">Location</label>
        @Html.TextBoxFor(mode => Model.Location, new { @class = "form-control txttarget",@id="LLocationName" })
        @Html.ValidationMessageFor(model => model.Location)
    </div>
    
    

</div>
<div class="row no-margin" style="margin-top:10px!important">
    <div class="col-md-12">
        <label class="headinglabel">City</label>
        @Html.TextBoxFor(model => model.CityName, new { @class = "form-control", @id = "LCityName" })
        @Html.ValidationMessageFor(model => model.CityName)
    </div>
</div>
<div class="row no-margin" style="margin-top:10px!important">
    <div class="col-md-12">
        <label class="headinglabel required">Country</label>
        @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control", @id = "LCountryName" })
        @Html.ValidationMessageFor(model => model.CountryName)
    </div>
</div>