@model Net4Courier.Models.QuickAWBVM
@{
    int i = 0;
    
    var _decimal = @Session["Decimal"].ToString();
    decimal amountcollected = 0;
}
@{
    ViewBag.Title = "OtherCharge";
}

<table class="charges">
    <thead>
        <tr>
            <th style="width:40%">Additional Cost</th>
            <th>Amount</th>
            <th>Tax%</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.otherchargesVM)
        {
        <tr>         
            <td>
                @*@Html.DropDownListFor(model => model., new SelectList(@ViewBag.PaymentMode, "ID", "PaymentModeText"), "Select", new { @class = "form-control", @required = "true" })*@
                @*<input type="hidden" id="txtotherchargeid_@i" name='othercharges[@i.ToString()].OtherChargeID' value="@Model.othercharges[i].OtherChargeID" />
                <input type="text" id="txtotherchargename_@i" name='othercharges[@i.ToString()].OtherChargeName' value="@Model.othercharges[i].OtherChargeName" class="form-control" />*@
                @Html.DropDownListFor(model => model.otherchargesVM[i].OtherChargeID, new SelectList(@ViewBag.OtherCharge, "OtherChargeID", "OtherCharge1"), "Select", new { @class = "form-control", @required = "true" })
            </td>
            <td>
                <input type="text" id="txtotherchargeamt_@i" name='othercharges[@i.ToString()].Amount' value="@Model.otherchargesVM[i].Amount" class="text-right" onchange="checktotal(this)" , onkeypress="return isNumberKey(event)" />
            </td>

            <td>
                <input type="text" id="txtTaxPercentage_@i" name='othercharges[@i.ToString()].TaxPercentage' value="@Model.otherchargesVM[i].TaxPercentage" class="text-right" />
            </td>
            <td>
                <button type="button" class="btn small_btn btn-primary btnwidth" style="margin:0 0 0 0 !important" onclick="UpdateCharge(@i)" id="Updatebtn"><i class="fa fa-check"></i></button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger small_btn btnwidth float-right" style="margin:0 0 0 0 !important" onclick="CancelDetails()"><i class="fa fa-times"></i></button>
            </td>
        </tr>
            i++;
        }
        </tbody>
    <tfoot>
        <tr>
            <td>
                @Html.DropDownList("OtherChargeID", new SelectList(@ViewBag.OtherCharge, "OtherChargeID", "OtherCharge1"), "Select", new { @class = "form-control" })
                @*<input type="text" id="txtotherchargeid_99" name='othercharges[0].OtherChargeID' value="@Model.othercharges[0].OtherChargeID" />
                <input type="text" id="txtotherchargename_99" name='othercharges[0].OtherChargeName' value="@Model.othercharges[0].OtherChargeName" class="form-control" />*@
            </td>
            <td>
                <input type="text" id="txtotherchargeamt_99" name='othercharges[0.ToString()].Amount' value="@Model.otherchargesVM[0].Amount" class="text-right" onchange="checktotal(this)" , onkeypress="return isNumberKey(event)" />
            </td>

            <td>
                <input type="text" id="txtTaxPercentage_99" name='othercharges[0.ToString()].TaxPercentage' value="@Model.otherchargesVM[0].TaxPercentage" class="text-right" />
            </td>
            <th>
                <button type="button" class="btn btn-primary small_btn btnwidth" onclick="AddCharge()" id="Newbtn"><i class="fa fa-plus"></i></button>
            </th>


        </tr>
    </tfoot>
</table>

