@model IEnumerable<Net4Courier.Models.PrintAWBVM>
@{
    ViewBag.Title = "PrintAWB";
    Layout = null;
}
<style>
  body {
      width: 21cm;
    min-height: 29.7cm;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12" style="background-color:white">
            @{
            <table border="1" style="border-collapse:collapse;width:96%;margin:2px;margin-top:10px;">
                <tr>
                  <td style="width:49%">
                      <table border="0" style="border-collapse:collapse;width:100%">
                          <tr>
                              <td colspan="4" style="border-bottom:solid black 1px;text-align:center"><h3>ESI Courier</h3></td>
                          </tr>
                          <tr style="border:0px;">
                              <td style="width:49%;font-family:arial-bold;font-size:small;border-bottom:solid black 1px" colspan="2">
                                  From:<br />
                            @ViewBag.shipper<br />
                                  @ViewBag.shipperaddress<br />
                                  @ViewBag.origin<br />
                                  Tel: @ViewBag.ConsignorPhone
                              </td>

                              <td style="width:49%;font-family:arial-bold;font-size:small;border-bottom:solid black 1px" colspan="2">
                                  Origin:<br />
                                  @ViewBag.origin
                              </td>
                          </tr>

                           <tr>
                              <td style="width:49%;font-family:arial-bold;font-size:small;border-bottom:solid black 1px" colspan="2">
                                  To:<br />
                            @ViewBag.consignee<br />
                                  @ViewBag.Consigneeaddress<br />
                                  @ViewBag.destination<br />
                                  <br />
                                  <b>@ViewBag.destination</b>


                              </td>

                              <td style="width:49%;font-family:arial-bold;font-size:small;border-bottom:solid black 1px" colspan="2">
                                 Contact:<br />
                                  Tel/Ph  :  @ViewBag.Consigneephone
                              </td>
                          </tr>

                            <tr>
                              <td style="font-family:arial-bold;font-size:small;text-align:center;border-bottom:solid black 1px" colspan="4">
                                  <h4>@ViewBag.destination</h4>
                                  </td>
                                </tr>
                          <tr>
                              <td colspan="4" style="width:49%;height:35px;font-family:arial-bold;font-size:small;border-bottom:solid black 1px">
                                  Date And Time : @Net4Courier.Models.CommonFunctions.GetShortDateFormat(DateTime.Now)
                              </td>
                          </tr>

                           <tr>
                              <td style="width:49%;font-family:arial-bold;font-size:small">
                             Ref :<br /> @ViewBag.refno

                              </td>

                              <td style="width:49%;font-family:arial-bold;font-size:small">
                              Date:<br />
                                  @ViewBag.date
                              </td>

                                <td style="width:49%;font-family:arial-bold;font-size:small">
                              Weight:<br />
                                    @ViewBag.weight
                              </td>

                                <td style="width:49%;font-family:arial-bold;font-size:small">
                              Pieces:<br />
                                    @ViewBag.pieces
                              </td>
                          </tr>

                           <tr>
                              <td style="width:49%;font-family:arial-bold;font-size:small;border-bottom:solid black 1px" colspan="4">
                            Account :

                              </td>
                               </tr>

                           <tr>
                              <td style="height:35px; width:49%;font-family:arial-bold;font-size:small" colspan="4">
                           Contents:<br />
                                  @ViewBag.cargo

                              </td>
                               </tr>
                          <tr>
                            
                              <td style="height:300px; width:49%;" colspan="4">
                       
                                       @{  
                                      
                                            
                                            var a = @Net4Courier.Models.IDAutomationBarCode.BarcodeImageGenerator(@ViewBag.awb); <img src = "@Url.Content(a)" alt = "Alternate Text" width = "300" height = "110" style="margin-left:40px" / >  <br />
                                
                                            var b = @Net4Courier.Models.IDAutomationBarCode.BarcodeImageGenerator(@ViewBag.hbl); <img src = "@Url.Content(b)" alt = "Alternate Text" width = "300" height = "110" style="margin-left:85px" / >  
               
                                              
                                            var c = @Net4Courier.Models.IDAutomationBarCode.BarcodeImageGenerator(@ViewBag.track); <img src = "@Url.Content(c)" alt = "Alternate Text" width = "300" height = "110" style="margin-left:110px" / >  
                 
                                                 } 
                              </td>
                               </tr>
                         
                      </table>


                  </td>



                    <td style="width:49%">
                     <p style="text-align:center;text-decoration:underline;">   <label ><b>TERMS & CONDITIONS</b></label></p>
                        <p>
                        When ordering THE PROFESSIONAL COURIERS, services you, as 'Shipper', are agreeing, on your behalf and on behalf of anyone else with an interest in the Shipment, that the Terms and Conditions shall apply from the time that THE PROFESSIONAL COURIERS, accepts the Shipment unless otherwise agreed in writing by an authorised officer of THE PROFESSIONAL COURIERS. 
                            <br />Your statutory rights and entitlements under any defined service feature (for which additional payment has been made) are not affected.

'Shipment' means all documents or parcels that travel under one waybill and which may be carried by any means THE PROFESSIONAL COURIERS chooses, including air, road or any other carrier. A 'waybill' shall include any label produced by THE PROFESSIONAL COURIERS, automated systems, air waybill, or consignment note and shall incorporate these Terms and Conditions. 
                            <br />Every Shipment is transported on a limited liability basis as provided herein. If Shipper requires greater protection, then insurance cover may be arranged at an additional cost. (Please see below for further information). THE PROFESSIONAL COURIERS, means and includes any member of the THE PROFESSIONAL COURIERS, Worldwide Express Network. 

1 Customs, Exports and Imports 

THE PROFESSIONAL COURIERS, may perform any of the following activities on Shipper`s behalf in order to provide its services to the Shipper:<br /> (1) complete any documents, amend product or service codes, and pay any duties or taxes required under applicable laws and regulations,<br /> (2) act as the Shipper`s forwarding agent for customs and export control purposes and as Receiver solely for the purpose of designating a customs broker to perform customs clearance and entry and<br /> (3) redirect the Shipment to the Receiver`s import broker or other address upon request by any person who THE PROFESSIONAL COURIERS , believes in its reasonable opinion to be authorised.
                   </p>
                    </td>
                </tr>
            </table>
                        }
           
        </div>
    </div>
</section>