@model IEnumerable<Net4Courier.Models.tempTable>
@{
    ViewBag.Title = "Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Net4Courier.Models;





<style>
    .error {
        color:red;
    }
    .ok {
        color:black;
    }
</style>
<html>
  
<body>

    
       <section class="content">
                 <div class="table-responsive tblbackground" style="padding: 15px">
                    <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    AWBNo
                                </th>
                                  <th>
                                    CourierType
                                </th>
                                  <th>
                                    Consignor
                                </th>
                                  <th>
                                    Consignee
                                </th>
                                  <th>
                                    Destination
                                </th>
                                  <th>
                                    CollectedBy

                                </th>
                                  <th>
                                    CBM
                                </th>
                                  <th>
                                    Weight
                                </th>
                                  <th>
                                    Pieces
                                </th>
                                  <th>
                                    CourierCharge
                                </th>
                                  <th>
                                    OtherCharge
                                </th>
                                  <th>
                                    Discount
                                </th>
                                 <th>
                                    NetTotal
                                </th>
                                 <th>
                                    ReceivedBy
                                </th>
                                 <th>
                                    FAgent
                                </th>
                                 <th>
                                    FAWBNo
                                </th>
                                 <th>
                                    NCND
                                </th>
                                 <th>
                                    Branch
                                </th>
                                 <th>
                                   OriginCountry
                                </th>
                                <th>
                                    CourierMovementType
                                </th>
                               @* <th>
                                    ProductType
                                </th>
                                 <th>
                                   CustmorRateType
                                </th>
                                  <th>
                                  PackingCharge
                                </th>
                                  <th>
                                   CustomCharge
                                </th>*@
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var item in Model)
                            {
                                Entities1 db=new Entities1();
                             <tr>
                                
                                
                                    <td>@item.AWBNo</td>
                                   
                                @{
                                    int ctype=(from x in db.ParcelTypes where x.ParcelType1==item.CourierType select x.ID).FirstOrDefault();
                                       if(ctype>0)
                                       {
                                         <td>@item.CourierType</td>   
                                       }
                                       else{
                                            <td class="error">@item.CourierType</td>   
                                       }
                                       
                                       
                                }
                                  <td>@item.Consignor</td>
                                  <td>@item.Consignee</td>
                                 
                                @{
                                    int data=(from x in db.CountryMasters where x.CountryName==item.DestinationLocation select x.CountryID).FirstOrDefault();
                                       if(data>0)
                                       {
                                         <td>@item.DestinationLocation</td>   
                                       }
                                       else{
                                            <td class="error">@item.DestinationLocation</td>   
                                       }
                                       
                                       
                                }
                                    @{
                                    int colby=(from x in db.EmployeeMasters where x.EmployeeName==item.CollectedBy select x.EmployeeID).FirstOrDefault();
                                    if (colby > 0)
                                       {
                                         <td>@item.CollectedBy</td>   
                                       }
                                       else{
                                            <td class="error">@item.CollectedBy</td>   
                                       }
                                }
                                 
                                
                                  <td>@item.CBM</td>
                                  <td>@item.Weight</td>
                                  <td>@item.Pieces</td>
                                  <td>@item.CourierCharge</td>
                                  <td>@item.OtherCharge</td>
                                  <td>@item.Discount</td>
                                  <td>@item.NetTotal</td>
                                     @{
                                    int recby=(from x in db.EmployeeMasters where x.EmployeeName==item.ReceivedBy select x.EmployeeID).FirstOrDefault();
                                    if (recby > 0)
                                       {
                                         <td>@item.ReceivedBy</td>   
                                       }
                                       else{
                                            <td class="error">@item.ReceivedBy</td>   
                                       }
                                }
                                   @{
                                    int fagent=(from x in db.ForwardingAgentMasters where x.FAgentName==item.FAgent select x.FAgentID).FirstOrDefault();
                                    if (fagent > 0)
                                       {
                                         <td>@item.FAgent</td>   
                                       }
                                       else{
                                            <td class="error">@item.FAgent</td>   
                                       }
                                }
                               
                                  <td>@item.FAWBNo</td>
                                  <td>@item.NCND</td>

                                    @{
                                    int dep=(from x in db.BranchMasters where x.BranchName==item.Branch select x.BranchID).FirstOrDefault();
                                    if (dep > 0)
                                       {
                                         <td>@item.Branch</td>   
                                       }
                                       else{
                                            <td class="error">@item.Branch</td>   
                                       }
                                }

                                  @{
                                    int origin=(from x in db.CountryMasters where x.CountryName==item.OriginLocation select x.CountryID).FirstOrDefault();
                                       if(origin>0)
                                       {
                                         <td>@item.OriginLocation</td>   
                                       }
                                       else{
                                            <td class="error">@item.OriginLocation</td>   
                                       }
                                       
                                       
                                }
                                   @{
                                    int move=(from x in db.CourierMovements where x.MovementType==item.CourierMovementType select x.MovementID).FirstOrDefault();
                                       if(move>0)
                                       {
                                         <td>@item.CourierMovementType</td>   
                                       }
                                       else{
                                            <td class="error">@item.CourierMovementType</td>   
                                       }
                                       
                                       
                                }
                                 @* @{
                                    int prd=(from x in db.ProductTypes where x.ProductName==item.ProductType select x.ProductTypeID).FirstOrDefault();
                                       if(prd>0)
                                       {
                                         <td>@item.ProductType</td>   
                                       }
                                       else{
                                            <td class="error">@item.ProductType</td>   
                                       }
                                       
                                       
                                }

                                  @{
                                    int rate=(from x in db.CustomerRateTypes where x.CustomerRateType1==item.CustmorRateType select x.CustomerRateTypeID).FirstOrDefault();
                                       if(rate>0)
                                       {
                                         <td>@item.CustmorRateType</td>   
                                       }
                                       else{
                                            <td class="error">@item.CustmorRateType</td>   
                                       }
                                       
                                       
                                }
                                  <td>@item.PackingCharge</td>
                                 <td>@item.CustomCharge</td>*@
                             </tr>   
                            }
                        </tbody>
                    </table><br />
                     @{
                         int id1 = Convert.ToInt32(Session["ImpExpID"].ToString());   
                     }
                   <div class="col-md-4"> 
                       
                       @Html.ActionLink("Update", "ImportData", "Mapping", new {@class="btn btn-primary Update" })&nbsp;&nbsp; <a href="/Home/Index" class="btn btn-primary">Cancel</a> </div> 

                  
                     </div>
            </section>
                                                    }
   @* <script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
    <script type="text/javascript">
        
        $(document).ready(function () {


            $(".Update").hide();

            var rows = $('.error').length;

            if (parseInt(rows) == 0) {
                $(".Update").show();
            }

            $("td").dblclick(function () {

                var own = $(this);

             
                             var celltext = $(this).text();
                var inputtext = celltext.substr(0, 1);
              
                var x = $(this).closest('table').find('th').eq($(this).index());
                
              
                var opt = "<select class='myopt' style='width:200px'></select>";
             

                var j = $(x).text().trim();

                var cnt = $("table td").find(".myopt").length;
             if (j == "ReceivedBy" && cnt==0) {
                    
                 $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetEmployee",
                        datatype: "Json",
                        data: { ipstr: inputtext },
                        success: function (data) {
                        
                            $.each(data, function (index, value) {
                               
                                $(own).find(".myopt").append('<option value="' + value.EmpName + '">' + value.EmpName + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");

                        }
                    });
             }
             else if (j == "Branch" && cnt == 0) {
               
                 $(own).append(opt);
                 $.ajax({
                     type: "POST",
                     url: "/Mapping/GetAllBranches",
                     datatype: "Json",
                     data: { i: inputtext },
                     success: function (data) {
                       
                         $.each(data, function (index, value) {
                          
                             $(own).find(".myopt").append('<option value="' + value.BranchName + '">' + value.BranchName + '</option>');
                         });
                         $(own).append("<button id='btn1' value='Save'>Save</button>");
                         $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                     }
                 });
             }

             else if (j == "Destination" && cnt == 0) {
                    $(own).append(opt);
                        $.ajax({
                            type: "POST",
                            url: "/Mapping/GetDestination",
                            datatype: "Json",
                            data: { istring: inputtext },
                            success: function (data) {
                           
                                $.each(data, function (index, value) {
                                    $(own).find(".myopt").append('<option value="' + value.CountryName + '">' + value.CountryName + '</option>');
                                });
                               
                                $(own).append("<button id='btn1' value='Save'>Save</button>");
                                $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                            }
                        });

                        //$(own).append('<input type=button class=ok value=save onClick=Correct(this)>');
             }
           
                else if (j == "CollectedBy" && cnt==0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetEmployee",
                        datatype: "Json",
                        data: { ipstr: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.EmpName + '">' + value.EmpName + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");


                        }
                    });
                }
                else if (j == "CourierType" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetCourierType",
                        datatype: "Json",
                        data: { istr: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.CType + '">' + value.CType + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Close</button>");

                        }
                    });
                }
                else if (j == "FAgent" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetFAgent",
                        datatype: "Json",
                        data: { str: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.FAName + '">' + value.FAName + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");

                        }
                    });
                }

               


                else if (j == "OriginCountry" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetDestination",
                        datatype: "Json",
                        data: { istring: inputtext },
                        success: function (data) {
                           
                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.CountryName + '">' + value.CountryName + '</option>');
                            });
                               
                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                        }
                    });
                }
          

                else if (j == "CourierMovementType" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetMovement",
                        datatype: "Json",
                        data: { move: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.Movement + '">' + value.Movement + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                        }
                    });
                }


                else if (j == "ProductType" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/Getproduct",
                        datatype: "Json",
                        data: { prdc: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.ProductType + '">' + value.ProductType + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                        }
                    });
                }


                else if (j == "CustmorRateType" && cnt == 0) {
                    $(own).append(opt);
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/GetCustmor",
                        datatype: "Json",
                        data: { Custom: inputtext },
                        success: function (data) {

                            $.each(data, function (index, value) {
                                $(own).find(".myopt").append('<option value="' + value.CustomerRateType + '">' + value.CustomerRateType + '</option>');
                            });

                            $(own).append("<button id='btn1' value='Save'>Save</button>");
                            $(own).append("<button id='btn2' value='Cancel'>Cancel</button>");
                        }
                    });
                }
               
            });

          

            $('table td').on('click', 'button', function (event) {
               
                var ow = $(this);
              
                var par = $(this).parent("td");
                if ($(ow).text() == "Save") {

                   
                    var txt = $(par).find(".myopt option:selected").val();


                    $(par).find(".myopt").remove();
                    $(par).find("button").remove();

                    $(par).text(txt);

                    var parrow = $(par).parent("tr");
                    var awb = $(parrow).find("td:eq(0)").text();
                    var ctype = $(parrow).find("td:eq(1)").text();
                    var consignor = $(parrow).find("td:eq(2)").text();
                    var consignee = $(parrow).find("td:eq(3)").text();
                    var destination = $(parrow).find("td:eq(4)").text();
                    var collectedby = $(parrow).find("td:eq(5)").text();
                    var cbm = $(parrow).find("td:eq(6)").text();
                    var weight = $(parrow).find("td:eq(7)").text();
                    var pieces = $(parrow).find("td:eq(8)").text();
                    var couriercharge = $(parrow).find("td:eq(9)").text();
                    var othercharge = $(parrow).find("td:eq(10)").text();
                    var discount = $(parrow).find("td:eq(11)").text();
                    var nettotal = $(parrow).find("td:eq(12)").text();
                    var receivedby = $(parrow).find("td:eq(13)").text();
                    var fagent = $(parrow).find("td:eq(14)").text();
                    var fawb = $(parrow).find("td:eq(15)").text();
                    var ncnd = $(parrow).find("td:eq(16)").text();
                    var branch = $(parrow).find("td:eq(17)").text();
                    var origin = $(parrow).find("td:eq(18)").text();
                    var movem = $(parrow).find("td:eq(19)").text();
                    //var pro = $(parrow).find("td:eq(20)").text();
                    //var cs = $(parrow).find("td:eq(21)").text();
                    //var pc = $(parrow).find("td:eq(22)").text();
                    //var cc = $(parrow).find("td:eq(23)").text();
                   
                    
                    $.ajax({
                        type: "POST",
                        url: "/Mapping/UpdateData",
                        datatype: "Json",
                        data: { awb: awb, ctype: ctype, consignor: consignor, consignee: consignee, dest: destination, colby: collectedby, cbm: cbm, weight: weight, pieces: pieces, ccharge: couriercharge, ocharge: othercharge, discount: discount, nettotal: nettotal, recby: receivedby, fagent: fagent, fawb: fawb, ncnd: ncnd, branch: branch, origincountry: origin, move: movem },
                        success: function (data) {
                                
                          
                           
                            $(par).removeClass("error");

                            var rows = $('.error').length;

                            if (parseInt(rows) == 0) {
                                $(".Update").show();
                            }

                          
                        }
                      
                    
                    });

             
              



                }
                else if ($(ow).text() == "Cancel") {
                    $(par).find(".myopt").remove();
                    $(par).find("button").remove();
                }
             
            
            });


     

        });
      
    </script>

</body>
</html>
