@model Net4Courier.Models.Designation

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<fieldset>
    <legend>Designation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Designation1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designation1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusDesignation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusDesignation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DesignationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
