
@model Net4Courier.Models.SupplierInvoiceVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
    
}

@foreach (var item in Model.Details)
{
<tr>
    <td>

   

        <div class="col-md-1 checkboxdesign">
            @(i + 1)
            @*@Html.CheckBox(@item.AWBChecked, new { @name = "AWBChecked", value = @item.AWBChecked })*@
        </div>
    </td>
    <td>
        @item.Particulars
    </td>
    <td class="text-right">
        @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.Rate, _decimal)
    </td>
    <td>
        @item.Quantity
    </td>
    <td>@db.CurrencyMasters.Find(item.CurrencyID).CurrencyName</td>
    <td class="text-right">
        @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.CurrencyAmount, _decimal)

    </td>
   
    <td></td>
    <td></td>
    <td></td>
    <td style="width:101px"><a onclick="deleteInvoiceItem('@i')" href="javascript:void(0);"><i class="fa fa-times"></i></a></td>
    @*<td style="width:101px">
            <a onclick="deleteAWBItem('@i')" href="javascript:void(0);"><i class="fa fa-times"></i></a>
        </td>*@
</tr>
    i++;
}



<script>
    $(document).ready(function () {


    });

</script>