@model Net4Courier.Models.CurrencyMaster

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CurrencyMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfDecimals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfDecimals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonetaryUnit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonetaryUnit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusBaseCurrency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusBaseCurrency)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
