@model Net4Courier.Models.VehiclesVM

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Vehicle";
    ViewBag.pageTitle = "Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        $("#VehicleValue").blur(function () {
            var x = parseFloat($(this).val()).toFixed(2);
            $(this).val(x);
        });


        $("#VehicleNO").focus();

        $("#btnsave").click(function () {
            var no = $("#VehicleNO").val();
            var reg = $("#RegistrationNo").val();
            var mod = $("#Model").val();
            var type = $("#VehicleTypeId").val();
            var pur = $("#PurchaseDate").val();
            var value = $("#VehicleValue").val();
            var vdate = $("#ValueDate").val();
            var pdate = $("#PurchaseDate").val();
            var exp = $("#RegExpirydate").val();
            var des = $("#VehicleDescription").val();


            if (no == "") {
                $("#validations").show();
                return false;
            }
            else if (reg == "") {
                $("#validations").show();
                return false;
            }
            else if (mod == "") {
                $("#validations").show();
                return false;
            }
            else if (type == "") {
                $("#validations").show();
                return false;
            }
            else if (pur == "") {
                $("#validations").show();
                return false;
            }
            else if (value == "") {
                $("#validations").show();
                return false;
            }
            else if (vdate == "") {
                $("#validations").show();
                return false;
            }
            else if (pdate == "") {
                $("#validations").show();
                return false;
            }
            else if (exp == "") {
                $("#validations").show();
                return false;
            }
            else if (des == "") {
                $("#validations").show();
                return false;
            }

            else {
                $("#validations").hide();
                return true;
            }
        });

    });

</script>


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <fieldset>
 <div class="card">
  <div class="card-body">
            <div class="row">

                <div class="col-md-3">
                <div class="mb-2">
                    <label class="col-form-label required">Vehicle No</label>
                    @Html.TextBoxFor(model => model.VehicleNO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VehicleNO)
                </div>
                 </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Registration No</label>
                    @Html.TextBoxFor(model => model.RegistrationNo, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.RegistrationNo)
                </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Model</label>
                    @Html.TextBoxFor(model => model.Model, new { @class = "form-control txttarget text-right" })
                    @Html.ValidationMessageFor(model => model.Model)
                </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Type</label>
                    @Html.DropDownListFor(model => model.VehicleTypeId, new SelectList(@ViewBag.VehicleType, "ID", "Name"), "Select", new { @class = "form-select", @required = "true" })
                    @Html.ValidationMessageFor(model => model.VehicleTypeId)
                </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Value</label>
                    @Html.TextBoxFor(model => model.VehicleValue, new { @class = "form-control text-right", @autocomplete = "off" })

                </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Value Date</label>
                    @Html.TextBoxFor(model => model.ValueDate, new { @class = "form-control text-right", @autocomplete = "off", @required = "required" })
                </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Purchase Date</label>
                    @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "form-control text-right", @autocomplete = "off" })

                </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Reg Expiry date</label>
                    @Html.TextBoxFor(model => model.RegExpirydate, new { @class = "form-control text-right", @autocomplete = "off" })

                </div>
                </div>
           
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label required">Description</label>
                    @Html.TextBoxFor(model => model.VehicleDescription, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.VehicleDescription)

                </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-2">
                    <label class="col-form-label">Driver</label>
                    @Html.DropDownListFor(model => model.EmployeeId, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })

                </div>
                </div>

                <div class="col-md-12 text-md-end">
                    <input type="submit" value="Save" class="btn btn-success" id="btnsave" />
                    <a href='@Url.Action("Index", "VehicleMaster", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="">Cancel</a>
                </div>
            </div>
 </div> </div>
        </fieldset>
    }


