@model Net4Courier.Models.VehicleMaster

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>VehicleMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValueDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValueDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegExpirydate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegExpirydate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcCompanyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcCompanyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleNo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
