@model IEnumerable<Net4Courier.Models.InScanVM>

    @{
         ViewBag.Title = "List";
    ViewBag.pTitle = "Co-Loader Inscan";
    ViewBag.pageTitle = "InScan";
    Layout = "~/Views/Shared/_Layout.cshtml";
        var isadd = true;
        var ismodify = true;
        var isdelete = true;

        string path = "/InBound/Index";

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
            isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

        }
    }



    <script type="text/javascript">


        //$(function () {
        //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            
        //});

        //$(function () {
        //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

        //    $('#ToDate').datepicker("setDate", new Date());
        //});

        $(function () {
        $('#txtpickuptime').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    });
        


    </script>

    <script type="text/javascript">
        @*function LoadList() {
            debugger;

            $.ajax({
                url: '@Url.Action("Index", "PickUpRequest")',
                data: {StatusId:$('#StatusId').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val() }
            }).done(function () {
                alert('Added');
            });
        }*@

        function ShowStatusModal(InScanID,PickupRequestStatusId) {

            $("#InScanID").val(InScanID);
            $("#PickupRequestStatusId").val(PickupRequestStatusId);
            $('#ChangeStatusId').val($("#PickupRequestStatusId").val());

           $.ajax({
            type: "POST",
            url: "/PickUpRequest/GetStatus",
            datatype: "Json",
            data: { 'InScanID': $('#InScanID').val() },
            success: function (response) {
                debugger;
                console.log(response);
                var _detail = response.data;
                console.log(_detail);
                //$("#ChangeStatusId").val($('#PickupRequestStatusId').val());

                var changestatus = _detail.ChangeStatusId; // $("#ChangeStatusId").val();
                if (changestatus == 2) {
                    $('#lblstatuserror').html('');
                    $('#divnoshow').addClass('hide');
                    $('#divcollected').addClass('hide');
                    $('#divassigned').removeClass('hide');
                    $('#AssignedEmployeeId').val(_detail.AssignedEmployee).trigger('change');
                }
                else if (changestatus == 3) { //no show status
                    $('#lblstatuserror').html('');
                    $('#divassigned').addClass('hide');
                    $('#divcollected').addClass('hide');
                    $('#divnoshow').removeClass('hide');
                    $('#AssignedEmployeeId').val(_detail.AssignedEmployee).trigger('change');
                    $('#SubReasonStatusId').val(_detail.SubStatusReason).trigger('change');
                }
                else if (changestatus == 4) { //collected
                    $('#divassigned').addClass('hide');
                    $('#divnoshow').addClass('hide');
                    $('#divcollected').removeClass('hide');
                    $('#AssignedEmployeeId').val(_detail.AssignedEmployee).trigger('change');
                    $('#PickedEmployeeId').val(_detail.PickedUpId).trigger('change');
                    //var dateStr = JSON.parse(_detail.PickedUpDateTime);
                    var myDate = new Date(_detail.PickedUpDateTime.match(/\d+/)[0] * 1);
                    console.log(myDate);
                    var cmon = myDate.getMonth() + 1;
                   var collectdate = myDate.getDate() + "-" + cmon + "-" + myDate.getFullYear() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                    $('#txtpickuptime').val(collectdate);
                }
                else {
                    $('#divassigned').addClass('hide');
                    $('#divnoshow').addClass('hide');
                    $('#divcollected').addClass('hide');
                }
                 $('#StatusModal').modal('show');

            }
        });

        }

        function SaveStatus() {

            debugger;
            var changestatus = $("#ChangeStatusId").val();

                  if ($('#PickupRequestStatusId').val() == 1 && changestatus == 2)  //assigned for collection
                {
                    if ($('#AssignedEmployeeId').val() == null) {
                        $('#lblstatuserror').html('Enter Required Values!');
                            return false;
                        }
                }
                else if ($('#PickupRequestStatusId').val() == 2 && changestatus == 3) { //no show status

                }
                else if ($('#PickupRequestStatusId').val() == 2 && changestatus == 4) { //collected

                if ($('#PickedEmployeeId').val() == null || $('#txtpickuptime').val() == "") {
                      $('#lblstatuserror').html('Enter Required Values!');
                    return;
                }
            }
            var statusobj = {
                InScanID: $('#InScanID').val(),
                ChangeStatusId: $('#ChangeStatusId').val(),
                AssignedEmployee: $('#AssignedEmployeeId').val(),
                PickedUpId: $('#PickedEmployeeId').val(), PickedUpDateTime: $('#txtpickuptime').val(),
                SubStatusReason :$('#SubStatusReason').val()
            };

             $.ajax({
                type: "POST",
                url: "/PickUpRequest/SaveStatus",
                datatype: "Json",
                data: statusobj,
                success: function (data) {
                    debugger;
                    if (data=="ok")
                    {
                        $.notify("Status Updated Successfully!", "success");
                        //var statustext = $("#ChangeStatusId option:selected").text();
                        window.location.reload();
                        //$('#h1status').html("Status :" + statustext);
                    }
                    else
                        $.notify("Save Failed :" + data, "warning");


                    $('#StatusModal').modal('hide');
                    $('#dataTables-example').dataTable({});
                }
            });


        }
        $(document).ready(function () {

            $("select").css({ "border-radius": "5px" });
             var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

      

     

        // $(function () {
        //     $('#txtpickuptime').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY HH:mm',
        //     });
        // });
            //$('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            //$('#FromDate').datepicker("setDate", new Date());


            $('#dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" />');
            });
            var table = $('#dataTables-example').DataTable({
                "aaSorting": []
                //"dom": '<"top"i>rt<"top"flp><"clear">',
                //dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                //       "<'row'<'col-sm-12'tr>>" +"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                //"pagingType": "simple"
            });
            table.draw();
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
            $("#ChangeStatusId").change(function () {
                debugger;
                var changestatus = $("#ChangeStatusId").val();

                if ($("#PickupRequestStatusId") == changestatus)
                    return;

                $('#btnsavestatus').removeAttr("Disabled");

                if ($('#PickupRequestStatusId').val() == 1 && changestatus != 2) {
                    $(this).val($('#PickupRequestStatusId').val());
                    $('#lblstatuserror').html('Invalid Status Change!');
                    $('#divnoshow').addClass('hide');
                    $('#divassigned').addClass('hide');
                    $('#divcollected').addClass('hide');
                }
                else if ($('#PickupRequestStatusId').val() == 1 && changestatus == 2)  //assigned for collection
                {
                    $('#lblstatuserror').html('');
                    $('#divnoshow').addClass('hide');
                    $('#divcollected').addClass('hide');
                    $('#divassigned').removeClass('hide');
                }
                else if ($('#PickupRequestStatusId').val() == 2 && changestatus == 3) { //no show status
                    $('#divassigned').addClass('hide');
                    $('#divcollected').addClass('hide');
                    $('#divnoshow').removeClass('hide');
                }
                else if ($('#PickupRequestStatusId').val() == 2 && changestatus == 4) { //collected
                    $('#divassigned').addClass('hide');
                    $('#divnoshow').addClass('hide');
                    $('#divcollected').removeClass('hide');
                }
                else {
                    $('#lblstatuserror').html('Invalid Status Change!');
                    $('#btnsavestatus').attr("Disabled", "disabled");
                }

            });





            // var table = $('#dataTables-example').DataTable({
            // "footerCallback": function ( row, data, start, end, display ) {
            //    var api = this.api(), data;

            //    // Remove the formatting to get integer data for summation
            //    var intVal = function ( i ) {
            //        return typeof i === 'string' ?
            //            i.replace(/[\$,]/g, '')*1 :
            //            typeof i === 'number' ?
            //                i : 0;
            //    };

            //    // Total over all pages
            //    total = api
            //        .column( 4 )
            //        .data()
            //        .reduce( function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0 );

            //    // Total over this page
            //    pageTotal = api
            //        .column( 4, { page: 'current'} )
            //        .data()
            //        .reduce( function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0 );

            //    // Update footer
            //    $( api.column( 4 ).footer() ).html(
            //        '$'+pageTotal +' ( $'+ total +' total)'
            //    );
            //}
            //  });


            ////table.columns().every(function () {
            ////    var that = this;

            ////    $('input', this.footer()).on('keyup change', function () {
            ////        if (that.search() !== this.value) {
            ////            that
            ////                .search(this.value)
            ////                .draw();
            ////        }
            ////    });
            ////});

               var m_names = new Array("Jan", "Feb", "Mar",
"Apr", "May", "Jun", "Jul", "Aug", "Sep",
"Oct", "Nov", "Dec");

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth()+1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year;

            if ($("#FromDate").val()=="")
                $("#FromDate").val('@ViewBag.FromDate');

            if ($("#ToDate").val()=="")
                $("#ToDate").val('@ViewBag.ToDate');


       });


    </script>

    
    <div class="card">
        <div class="card-body">
            <div class="row">
            @*<div class="col-md-3">                
                <label class="headinglabel">Status</label>
                @Html.DropDownList("StatusId", new SelectList(@ViewBag.PickupRequestStatus, "CourierStatusID", "CourierStatus", @ViewBag.StatusId), "Select All", new { @class = "form-control", @value = 1, @id = "StatusId", @name = "StatusId" })
            </div>*@
                <div class="col-md-2">
                        <div class="mb-2">
                            <label class="headinglabel">From Date</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@ViewBag.FromDate"
                                        placeholder="Pick a From Date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="headinglabel">To Date</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@ViewBag.ToDate"
                                        placeholder="Pick a date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>
		
                    <div class="col-md-1">
                        <div class="mb-2">
                            <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload"  onclick="location.href='@Url.Action("Index", "InBound")?StatusId=0' + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val() ">
                                <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-7 text-md-end">
                        @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || (!isadd)){
                            <a disabled class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/InBound/Create" title="Create Not allowed in this Financial year!"><i class="mdi mdi-plus me-1"></i> New CO-Loader Inscan</a>
                        }
                        else{
                            <a  class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/InBound/Create"><i class="mdi mdi-plus me-1"></i> New CO-Loader Inscan</a>
                        }
                    </div>
                </div>
            </div>
    </div>




        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }
        @*<div class="row no-margin">
            <div class="col-md-3">
                 <label class="headinglabel">Sort By</label>
                        @Html.DropDownList("Filter", new List<SelectListItem>
                        {
                             new SelectListItem{ Text="Both", Value = "1" },
                            new SelectListItem{ Text="Pending", Value = "2" },
                            new SelectListItem{ Text="Picked Up", Value = "3" },


                         }, new { @class = "form-control" })


            </div>
             <div class="col-md-3" style="padding-top:25px">
                 <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
            </div>
        </div>*@




        <div class="card">
                  <div class="card-body">
            <table class="table table-bordered" id="datatable">
                    <thead class="table-light">

                    <tr>
                        <th>
                           Sheet No
                        </th>
                        <th class="right_text">
                           Scan Date
                        </th>                        
                        <th>
                            Collected By
                        </th>
                        <th>
                            Received By
                        </th>
                        <th>
                            Driver
                        </th>
                       

                        <th>Action</th>
                    </tr>
                </thead>

              
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>


                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.InScanSheetNo)
                            </td>
                            <td>
                                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.QuickInscanDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AgentName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBy)
                            </td>                                                        
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverName)
                            </td>
                            <td>
                                <div class="d-flex gap-3">
                                    @if (ismodify){
                                        <a href="@Url.Action("Create", new { id = item.QuickInscanID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a> 
                                    }
                                    @if (isdelete){
                                        <a href = "#" onclick = "Delete(ID=@item.QuickInscanID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    }
                                </div>
                        </td>
                    </tr>
                }
</tbody>

            </table>
        </div>



        <div class="modal fade" id="StatusModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                   
                      <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                 Change Status
                            </h4>
                        </div>


                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row" style="padding-top: 5px">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-3">
                                            Current Status
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            @Html.DropDownList("StatusId", new SelectList(@ViewBag.PickupRequestStatus, "CourierStatusID", "CourierStatus"), "Select", new { @class = "form-select", @id = "ChangeStatusId", @name = "ChangeStatusId" })
                                            @*  @Html.TextBoxFor(model => model.InvoiceDate, new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                    <div class="row hide" id="divassigned" style="margin-top:10px">
                                        <div class="col-xs-5 col-sm-3">
                                            Assigned Employee
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            @Html.DropDownList("AssignedEmployeeId", new SelectList(@ViewBag.Employee, "EmployeeID", "EmployeeName", @ViewBag.AssignedEmployeeId), "Select", new { @class = "form-select", @id = "AssignedEmployeeId", @name = "AssignedEmployeeId" })

                                        </div>
                                    </div>
                                    <div class="row hide" id="divnoshow" style="margin-top:10px">
                                        <div class="col-xs-5 col-sm-3">
                                            Reason
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            @Html.DropDownList("NoshowReason", new List<SelectListItem>
                                                    {
                                            new SelectListItem{ Text="Telephone not Answering", Value = "1" },
                                            new SelectListItem{ Text="Shop Closed", Value = "2" },
                                                            new SelectListItem{ Text="Vehicle Damaged", Value = "3" }

                                        }, "", new { @class = "form-control", @id = "SubStatusReason" })


                                        </div>
                                    </div>
                                    <div id="divcollected" class="hide">
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-xs-5 col-sm-3">
                                                Picked By
                                            </div>
                                            <div class="col-xs-7 col-sm-9">
                                                @Html.DropDownList("PickedByEmployeeId", new SelectList(@ViewBag.Employee, "EmployeeID", "EmployeeName", @ViewBag.PickedByEmployeeId), "Select", new { @class = "form-select", @id = "PickedEmployeeId", @name = "PickedEmployeeId" })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-xs-5 col-sm-3">
                                                Picked Date Time
                                            </div>
                                            <div class="col-xs-7 col-sm-4">
                                                <input type="text" id="txtpickuptime" value="" class="form-control" />
                                                @*@Html.TextBoxFor(model => model.CollectedTime, new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 5px">
                        <lable style="color:red" id="lblstatuserror" class="pull-left"></lable>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" name="Command" value="Save Status" class="btn btn-success" id="btnsavestatus" onclick="SaveStatus();">Save Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // function Delete(ID) {
        //     if (confirm("Are you sure? You want to Delete PickUp Request?")) {
        //         window.location.href = "/PickUpRequest/DeleteConfirmed/?id=" + ID;
        //     }
        // }

        function Delete(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                    $.ajax({
                        type: "POST",
                        url: '/PickUpRequest/DeleteConfirmed',
                        datatype: "html",
                        data: {
                            'id': ID
                        },
                        success: function (response) {
                            if (response.status == "OK") {
                                Swal.fire("Delete Status!", response.message, "success");
                                window.location.reload();
                            }
                            else {
                                Swal.fire("Delete Status!", response.message, "error");
                            }
                        }
                    });

                }
            });

    }

    </script>
