@model Net4Courier.Models.InScanVM
@{
    int i = 0; 
}
<script type="text/javascript">
    $(document).ready(function () {
        var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });

    });
</script>
<table class="table table-bordered" id="datatable">
    <thead class="table-light">
    <th style="width:12%">AWB No.</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Shipper</th>
    <th>Receiver</th>    
    </thead>
    <tbody class="input-table" id="listbody">
        @foreach (var item in Model.AWBDetail)
        {
            <tr>
                <td>
                    @Html.HiddenFor(model => model.AWBDetail[i].ShipmentDetailID, new { })
                    @Html.HiddenFor(model => model.AWBDetail[i].AWB, new {@id="hdnAWbNo_" + @i })
                    
                    @*<div class="col-md-1 checkboxdesign">*@
                    @Html.CheckBoxFor(model => model.AWBDetail[i].AWBChecked, new { @id = "hdnawbchecked_" + @i, @awb = item.AWB, shipmentdetailid = item.ShipmentDetailID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                    @item.AWB

                    @*</div>*@

                </td>
                <td>
                    @item.OriginCity | @item.OriginCountry
                </td>
                <td>
                    @item.DestinationCity  | @item.DestinationCountry
                </td>
                <td>@item.Shipper</td>
                <td>@item.Receiver</td>                
            </tr>
            i++;
        }
    </tbody>
</table>


