@model Net4Courier.Models.VehicleTypeVM

@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 450px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#PackageType").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Package/GetPackageType',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.PackageType,
                                value: val.PackageType                                
                            }
                        }))
                    }
                })
            },
            minLength: -1,
            autoFocus: false,
            focus: function (event, ui) {
                
                $('#PackageType').val(ui.item.label);
                
            },
            select: function (e, i) {
                debugger;
                e.preventDefault();                
                $('#PackageType').val(i.item.value);                
            },

        });
           

        $("#btnsave").click(function () {
            var type = $("#PackageType").val();
            var move = $("#PackageName").val();
         
            if (type == "") {
                $("#validations").show();
                return false;
            }
            else if (move == "") {
                $("#validations").show();
                return false;
            }        
            else {
                $("#validations").hide();
                return true;
            }
        });


    });
</script>

 
 
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        
        <div class="searchdiv sm-width">
            <div class="row no-margin">
                <div class="col-md-12">
                    @Html.HiddenFor(model => model.ID)
                    <label class="headinglabel required">Vehicle Type</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control txttarget",@required="required" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-12">
                    <label class="headinglabel required">Description</label>
                    @Html.TextBoxFor(model => model.VehicleDescription, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.VehicleDescription)
                </div>
            </div>

            <div class="row no-margin" style="padding-top:10px">
                <div class="col-md-12 btn-right">

                    <input type="submit" value="Save" class="btn btn-success btnwidth" id="btnsave" />&nbsp;&nbsp;<a href='@Url.Action("Index", "VehicleType", new { id = 0 })' class="btn btn-dark btnwidth" data-toggle="tooltip" data-placement="right" title="">Cancel</a>



                </div>
            </div>
        </div>
    </fieldset>
}

