 @model IEnumerable<Net4Courier.Models.VehicleTypeVM>
    @{
        ViewBag.Title = "List";
        ViewBag.pTitle = "Vehicle Type";
        ViewBag.pageTitle = "Vehicle Type";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" />');
            });


            var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

        });


    </script>
    <div class="card">
        <div class="card-body">
            <div class="col-md-12 mb-3 text-md-end">
                <a class="btn btn-primary waves-effect waves-light text-md-end" href="/VehicleType/Create"><i class="mdi mdi-plus me-1"></i> New Menu</a>
            </div>
            <table class="table table-bordered mb-0" id="datatable" style="width:100%">
                <thead class="table-light">

                <thead>
                    <tr>

                        <th>
                            Vehicle Type Name
                        </th>
                        <th>
                            Description
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                @*<tfoot>
                    <tr>

                        <th>
                            @Html.Label("Vehicle Name")
                        </th>
                        <th>
                            @Html.Label("Description")
                        </th>

                        <th style="display:none"></th>
                    </tr>
                </tfoot>*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleDescription)
                        </td>
                        <td>

                            <a class="text-success"  href="@Url.Action("Create", new { id = item.ID })"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a href="#" class="text-danger" onclick="Delete(ID=@item.ID)"><i class="mdi mdi-delete font-size-18"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <script type="text/javascript">
        function Delete(ID) {
            if (confirm("Are you sure, You want to Delete VehicleType?")) {
                window.location.href = "/VehicleType/DeleteConfirmed/?id=" + ID;
            }
        }
    </script>
