@model Net4Courier.Models.ZoneChartVM

@{
    
    ViewBag.pTitle = "Zone Chart";
    ViewBag.pageTitle = "Zone Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

}

<style>
    /* #CountryID + .btn-group button, #CountryID + .btn-group, #CityID + .btn-group button, #CityID + .btn-group {
        display: block;
        width: 100%;
    }*/


</style>
<script type="text/javascript">

    $(document).ready(function () {
        $("#TextBoxVenueLocation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            $('#EventVenueId').val("");
                            $('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id,
                                    types: item.types
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#TextBoxVenueLocation').val(ui.item.label);
                $('#EventVenueId').val(ui.item.value);
                console.log(ui.item.types)
                return false;
            }
        }).autocomplete("widget").addClass("CitiesAutocomplete");

        $('#CityID').select2();
        $('#CountryID').select2();
    });
</script>

<script type="text/javascript">
    var countrylist = "";
    function zonetype() {
        var data = $('#ZoneType').val();
        if (data == 'International') {
           
            $('#lbllocation').html('Origin Location');
            $('#lblcountry').html('Select Origin Countries');
            $('#divcountry').removeClass('d-xl-none');
            $('#divcity').addClass('d-xl-none');
        }
        //else if (data == 'Export' || data == 'Transhipment') {
        //    $('#lblcountry').html('Select Destination Countries');
        //    $('#divcountry').removeClass('d-xl-none');
        //    $('#divcity').addClass('d-xl-none');
        //}

        else if (data =='Local') ///'Domestic')
        {
            $('#lblcountry').html('Select Domestic Cities');
            $('#divcountry').addClass('d-xl-none');
            $('#divcity').removeClass('d-xl-none');
            $('#lbllocation').html('Destination Location');
        }
        //else {
        //    $('#lbllocation').html('Origin Location');
        //    $('#lblcountry').html('Select Origin Countries');
        //    $('#divcountry').removeClass('d-xl-none');
        //    $('#divcity').addClass('d-xl-none');
        //}
    }
    function checkduplicatecity(item1) {
        var cityid = item1.CityID;
        var idtext = 'hdnCityID_';
        var duplicate = false;
        var maxrow = $('#tbl1 > tr').length;
        if (maxrow > 0) {
            $('[id^=' + idtext + ']').each(function (index, item) {
                var deleted = $('#hdndeleted_' + index).val();
                if (deleted != "true") {
                    var cityid1 = $('#hdnCityID_' + index).val();
                    if (cityid == cityid1) {
                        duplicate = true;
                    }
                }
                if (duplicate == false && index == (parseInt(maxrow - 1))) {
                    addcity(item1);
                    return;
                }
            });
        }
        else {
            addcity(item1);
        }
    }
    function addcity(item1) {
        var cityname = item1.City;
        var countryname = item1.CountryName;
        var countryid = item1.CountryID;
        var cityid = item1.CityID;
        var i = $('#tbl1 > tr').length;
        html = '<tr>' +
            '<td>' + cityname + '<input class="hdndeleted" type="hidden" name="Details[' + i + '].Deleted" value = "false" id = "hdndeleted_' + i + '" /><input type="hidden" id="hdnCountryID_' + i + '" name="Details[' + i + '].CountryID"  value="' + countryid + '" />  <input id="" name="Details[' + i + '].CountryName" value="' + countryname + '" type="hidden" /><input id="" name="Details[' + i + '].CityName" value="' + cityname + '" type="hidden"/><input id="hdnCityID_' + i + '" name="Details[' + i + '].CityID" value="' + cityid + '" type="hidden"></td>' +
            '<td>' + countryname + '</td>' +
            '<td><a class="text-danger" href="javascript:void(0)" onclick="deletetrans(this,' + i + ')"><i class="mdi mdi-delete font-size-18"></i></a></td></tr>';
        $('#tbl1').append(html);
    }

    function addcountry(item1) {
        var cityname = '';
        var countryname = item1.CountryName;
        var countryid = item1.CountryID;
        var cityid = 0;
        var i = $('#tbl1 > tr').length;
        html = '<tr>' +
            '<td>' + cityname + '<input class="hdndeleted" type="hidden" name="Details[' + i + '].Deleted" value = "false" id = "hdndeleted_' + i + '" /><input type="hidden" id="hdnCountryID_' + i + '" name="Details[' + i + '].CountryID"  value="' + countryid + '" />  <input id="" name="Details[' + i + '].CountryName" value="' + countryname + '" type="hidden" /><input id="" name="Details[' + i + '].CityName" value="' + cityname + '" type="hidden"/><input id="hdnCityID_' + i + '" name="Details[' + i + '].CityID" value="' + cityid + '" type="hidden"></td>' +
            '<td>' + countryname + '</td>' +
            '<td><a class="text-danger" href="javascript:void(0)" onclick="deletetrans(this,' + i + ')"><i class="mdi mdi-delete font-size-18"></i></a></td></tr>';
        $('#tbl1').append(html);
    }

    function checkduplicatecountry(item1) {
        var cityid = item1.CountryID;
        var idtext = 'hdnCountryID_';
        var duplicate = false;
        var maxrow = $('#tbl1 > tr').length;
        if (maxrow > 0) {
            $('[id^=' + idtext + ']').each(function (index, item) {
                var deleted = $('#hdndeleted_' + index).val();
                if (deleted != "true") {
                    var cityid1 = $('#hdnCountryID_' + index).val();
                    if (cityid == cityid1) {
                        duplicate = true;
                    }
                }
                if (duplicate == false && index == (parseInt(maxrow - 1))) {
                    addcountry(item1);
                    return;
                }
            });
        } else {
            addcountry(item1);
        }
    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('d-xl-none');
        var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        $('#tbl1').on("click", "#DeleteNewRow", function () {
            debugger;
            $(this).parent().parent().remove();
            //$(this).parent().parent().addClass('d-xl-none');
            //var obj = $(this).parent().parent().find('.hdndeleted');
            //$(obj).val(true);
        });

        $('#ZoneID').change(function () {
            //GetZoneType
            $.ajax({
                url: '/ZoneChart/GetZoneType', //'/AWB/GetConsigneeName',
                datatype: "json",
                data: {
                    id: $('#ZoneID').val()
                },
                success: function (data) {
                    debugger;
                    $('#ZoneType').val(data);

                    if (data == 'International' || data=='Import' || data == 'Export' || data=='Transhipment')
                    {
                        $('#lblcountry').html('Select Destination Countries');
                        $('#CityID').attr('disabled', 'disabled');
                        $('#CountryID').removeAttr('disabled');
                        $('#CityID').val([]).trigger('change');
                        $('#CountryID').val([]).trigger('change');
                    }

                    else if (data=='Local' || data == 'Domestic')
                    {
                        $('#CountryID').attr('disabled', 'disabled');
                        $('#CityID').removeAttr('disabled');
                        $('#CityID').val([]).trigger('change');
                        $('#CountryID').val([]).trigger('change');
                    }

                }
            });
        });



        @*$("#LocationName1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            //$('#EventVenueId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#LocationName1').val(ui.item.label);
                $('#LocationName1').attr('placeid', ui.item.value);
                $('#PLACEID1').val(ui.item.value)
                return false;
            },
            focus: function (event, ui) {
                $('#LocationName1').val(ui.item.label);
                $('#LocationName1').attr('placeid', ui.item.value);
                $('#PLACEID1').val(ui.item.value)
                return false;
            }
          });
        $('#LocationName1').blur(function () {
            if ($('#LocationName1').attr('placeid') != '') {
                $.ajax({
                    type: "GET",
                    url: "/ZoneChart/GetVenueDetailsByPlace",
                    datatype: "Json",
                    data: { placeId: $('#LocationName1').attr('placeid') },
                    success: function (response) {
                        // console.log(response);
                        $('#CountryName1').val(response.Country);
                        $('#CityName1').val(response.City);
                        $('#SubLocality1').val(response.SubLocality);

                    }
                });
            }
        });*@
        $("#btnsave").click(function () {
            //var i = $('#tbl1 > tr').length;
            //if (i == 0) {
            //    Swal.fire('select Zone Locations!');
            //    return false;
            //}
            //var countrycount = $("#CountryID :selected").length;
            //var citycount = $("#CityID :selected").length;
            //if ($("#ZoneCategoryID option:selected").val() == "") {
            //    $("#validations").show();
            //    return false;
            //}
            //if ($("#ZoneID option:selected").val() == "") {
            //    $("#validations").show();
            //    return false;
            //}
            //else if (countrycount == 0 && $("#StatusZone").val() == "I") {

            //    $("#validations").show();
            //    return false;
            //}
            //else if (citycount == 0 && $("#StatusZone").val() == "D") {
            //    $("#validations").show();
            //    return false;
            //}
            //else {
            //    $("#validations").d-xl-none();
            //    return true;
            //}
        });
        $('#btnadd').click(function () {
            debugger;
            var countries = [];
            var countries1 = '';
            var cities = [];  
            if ($('#ZoneType').val() == 'International' || $('#ZoneType').val() == 'Import' || $('#ZoneType').val() == 'Transhipment') {
                countries = $('#CountryID').val();
                var max = countries.length;
                $.each(countries, function (index, item) {
                    if (countries1 == '')
                        countries1 = item.toString();
                    else
                        countries1 = countries1 + ',' + item.toString();

                    if (max == (parseInt(index)+1)) {

                        $.ajax({
                            type: 'GET',
                            url: '/ZoneChart/GetSelectedCountry', //'/AWB/GetConsigneeName',
                            datatype: "json",
                            data: {
                                SelectedValues: countries1
                            },
                            success: function (response) {
                                debugger;

                                $.each(response.CityList, function (index1, item1) {



                                    checkduplicatecountry(item1);
                                });
                            }
                        });
                    }
                });
                $('#CountryID').val([]).trigger('change');;

            }
            else {
                debugger;
                cities = $('#CityID').val();
                var max = cities.length;
                countries1 = '';
                $.each(cities, function (index, item) {
                    if (countries1 == '')
                        countries1 = item.toString();
                    else
                        countries1 = countries1 + ',' + item.toString();

                    if (max == (parseInt(index)+1)) {

                        $.ajax({
                            type: 'GET',
                            url: '/ZoneChart/GetSelectedCity', //'/AWB/GetConsigneeName',
                            datatype: "json",
                            data: {
                                SelectedValues: countries1
                            },
                            success: function (response) {
                                debugger;
                                console.log(response);
                                $.each(response.CityList, function (index1, item1) {



                                    checkduplicatecity(item1);
                                });
                            }
                        });
                    }
                });
                $('#CityID').val([]).trigger('change');;
            }











        });

        if ($('#ZoneChartID').val() == 0) {
            $('#CityID').val([]).trigger('change');
            $('#CountryID').val([]).trigger('change');
            $('#CityID').attr('disabled', 'disabled');
            $('#CountryID').attr('disabled', 'disabled');
        } else {
            var data = $('#ZoneType').val();
            if (data=='International' || data == 'Import' || data == 'Export' || data == 'Transhipment') {
                $('#lblcountry').html('Select Destination Countries');
                $('#CityID').attr('disabled', 'disabled');
                $('#CountryID').removeAttr('disabled');
                $('#CityID').val([]).trigger('change');
                $('#CountryID').val([]).trigger('change');
            }

            else if (data=='Local' || data == 'Domestic') {
                $('#CountryID').attr('disabled', 'disabled');
                $('#CityID').removeAttr('disabled');
                $('#CityID').val([]).trigger('change');
                $('#CountryID').val([]).trigger('change');
            }
        }
    });
</script>


@using (Html.BeginForm("Create", "ZoneChart", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate", @id = "quickAWB" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        <div class="card">
            <div class="card-body">
                <div class="row">


                    <div class="col-md-3">
                        <div class="mb-2">
                            @Html.HiddenFor(mode => Model.ZoneChartID)
                            <label class="col-form-label required">Zone Category</label>
                            @Html.DropDownListFor(model => model.ZoneCategoryID, new SelectList(@ViewBag.ZoneCategory, "ZoneCategoryID", "ZoneCategory1"), "Select", new { @class = "form-select", @required = "true" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label required">Zone</label>
                            @Html.HiddenFor(model => model.StatusZone)
                            @Html.DropDownListFor(model => model.ZoneID, new SelectList(@ViewBag.Zones, "ZoneID", "ZoneName"), "Select", new { @class = "form-select", @required = "true" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Zone Type</label>
                            @Html.TextBoxFor(model => model.ZoneType, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3 text-md-end btn_top">
                        <div class="mb-2">
                            <input type="submit" value="Save" class="btn btn-success" data-toggle="tooltip" title="Click here" id="btnsave" />
                            <a href='@Url.Action("Index", "ZoneChart", new { id = 0 })' class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>


                    <!--<div class="col-md-3">
                    <div class="mb-2">
                        <label class="col-form-label" id="lbllocation">Location</label>
                        <input type="hidden" id="EventVenueId" class="form-control" />-->
                    @*<input type="text" id="TextBoxVenueLocation" class="form-control" style="background-color:bisque" />*@

                    <!--@Html.TextBoxFor(model => model.LocationName, new { @class = "form-control txttarget", @placeholder = "Location", @id = "LocationName1" })
                    </div>
                    </div>-->

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="col-form-label required">Select Cities</label>

                            @Html.DropDownListFor(model => model.CityID, new SelectList(@ViewBag.City, "CityID", "City"), "Select", new { @class = "form-select", @multiple = "multiple" })


                            @*@Html.TextBoxFor(model => model.CountryName, new { @class = "form-control txttarget", @id = "CountryName1" })*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="col-form-label required">Select Countries</label>
                            <div class="d-flex input-group gap-2">
                                @Html.DropDownListFor(model => model.CountryID, new SelectList(@ViewBag.Country, "CountryID", "CountryName"), "Select", new { @class = "form-select", @multiple = "multiple" })
                                <button type="button" class="btn btn-success waves-effect waves-light filter " id="btnadd">
                                    <i class="bx bx-plus mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                            @*@Html.TextBoxFor(model => model.CountryName, new { @class = "form-control txttarget", @id = "CountryName1" })*@
                        </div>
                    </div>
                    @*<div class="col-md-1 d-xl-none">
                            <label class="col-form-label required">PlaceID</label>
                            @Html.TextBoxFor(model => model.PlaceID, new { @class = "form-control txttarget",@id="PLACEID1"})
                            <input type="hidden" id="SubLocality1" />
                        </div>*@

                    @*<div class="col-md-3 mt-2">
                            <div class="mb-2">

                            </div>
                        </div>*@

                </div>

            </div>
        </div>
    </fieldset>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered mb-0" id="datatable1" style="width:100%">
                <thead class="table-light">
                    <tr style="font-weight: bold; background:#07a7e3;">

                        <th>City Name</th>
                        <th>Country Name</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbl1">
                    @if (Model.ZoneChartID > 0)
                    {
                        for (int i = 0; i < Model.Details.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(item => @Model.Details[i].Deleted, new { @class = "hdndeleted" })
                                    @Html.HiddenFor(item => @Model.Details[i].ZoneChartDetailID)
                                    @Html.HiddenFor(item => @Model.Details[i].ZoneChartID)
                                    
                                    @Html.HiddenFor(item => @Model.Details[i].CityName)
                                    @Html.HiddenFor(item => @Model.Details[i].CountryName)
                                    @Html.HiddenFor(item => @Model.Details[i].CityID, new { @id = "hdnCityID_" + @i })
                                    @Html.HiddenFor(item => @Model.Details[i].CountryID, new { @id = "hdnCountryID_" + @i })
                                    @Model.Details[i].CityName
                                </td>
                                <td>
                                    @Model.Details[i].CountryName
                                </td>

                                <td><a href="javascript:void(0)" onclick="deletetrans(this,' + i + ')" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

}
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwJ15dRInM0Vi1IAvv6C4V4vVM5HVnMc&libraries=places&callback=initAutocomplete" async defer></script>*@

@section scripts{

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
}