@model Net4Courier.Models.QuotationVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul.ui-front {
        z-index: 1100;
    }
    .disabled-link {
        pointer-events: none;
        background-color:#dedede;
    }
</style>

@{
    
    ViewBag.pTitle = "Quotation";
    ViewBag.pageTitle = "Operations";
}
@using (Html.BeginForm("Create", "Quotation", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "needs-validation" })
    
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="mb-2">
                                        <label class="col-form-label required">QTN No.</label>
                                        @Html.TextBoxFor(mode => mode.QuotationNo, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                        @Html.HiddenFor(mode => mode.QuotationID, new { @class = "form-control" })
                                        @Html.HiddenFor(mode => mode.CustomerID, new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label">Quotation Date</label>
                                        <div class="docs-datepicker">
                                            <div class="input-group">
                                                <input type="text" class="form-control docs-date" name="QuotationDate" id="QuotationDate" required value="@Convert.ToDateTime(@Model.QuotationDate).ToShortDateString()"
                                                       placeholder="Pick a From Date" autocomplete="off">
                                                <button type="button"
                                                        class="btn btn-secondary docs-datepicker-trigger"
                                                        disabled>
                                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="docs-datepicker-container"></div>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter quoation date
                                        </div>

                                        @*<input type="text" name="" class="form-control" id="QuotationDate" />*@

                                    </div>
                                </div>
                                <div class="col-md-3">
                                 
                                    @Html.HiddenFor(model => model.CustomerID)
                                    <div class="flex">
                                        <div class="input-group">
                                            <label class="col-form-label">Customer </label>
                                            <div class="input-group-sm mt-16 masterplus " id="lblcustomer">
                                                <i class="mdi mdi-dots-horizontal" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                      
                                        
                                   

                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-select" })
                                    @Html.ValidationMessageFor(model => model.CustomerName)
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Version</label>
                                        @Html.TextBoxFor(mode => mode.Version, new { @id = "Version", @class = "form-control", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3 text-right btn_top">

                                    @if (Model.QuotationID > 0)
                                    {

                                        <button type="submit" id="btnSaveQuotation" class="btn btn-success">Update</button>

                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success" id="btnSaveQuotation">Save</button>
                                    }


                                    <a href='@Url.Action("Index", "Quotation")' class="btn btn-secondary">Cancel</a>



                                    

                                </div>
                            </div>

                            <div class="row">
                                
                                

                                
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Currency</label>
                                        @Html.DropDownListFor(mode => mode.CurrencyId, new SelectList(ViewBag.Curency, "CurrencyID", "CurrencyName"), "Select Currency", new { @class = "form-select", @id = "QCurrencyId", @required = "required" })
                                        @*@Html.DropDownList("QCurrencyId", new SelectList(ViewBag.Curency, "CurrencyID", "CurrencyName"), "Select Currency", new { @class = "form-control", @id = "QCurrencyId" })*@

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Vaildity</label>
                                        <select class="form-select" id="Validity" name="Validity" svalue="@Model.Validity" required>
                                            <option value="">Select</option>
                                            <option value="3">3 Days</option>
                                            <option value="5">5 Days</option>
                                            <option value="7">7 Days</option>
                                            <option value="10">10 Days</option>
                                            <option value="20">20 Days</option>
                                            <option value="30">30 Days</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Contact Person</label>

                                        @Html.TextBoxFor(mode => mode.ContactPerson, new { @class = "form-control", @id = "QuotationContact", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Mobile Number</label>
                                        @Html.TextBoxFor(mode => mode.MobileNumber, new { @id = "QuotationMobile", @class = "form-control", @required = "required" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Payment Terms</label>
                                        @Html.TextBoxFor(mode => mode.PaymentTerms, new { @id = "QuotationPayment", @class = "form-control", @value = Model.PaymentTerms })
                                        @Html.HiddenFor(mode => mode.QuotationValue, new { @id = "QuotationValue", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Address</label>
                                        @Html.TextAreaFor(mode => mode.ClientDetail, new { @id = "ClientDetail", @class = "form-control", @rows = "5" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Subject</label>
                                        @Html.TextAreaFor(mode => mode.SubjectText, new { @id = "QtxtSubject", @class = "form-control", @rows = "5" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Salutation</label>
                                        @Html.TextAreaFor(mode => mode.Salutation, new { @id = "QtxtSalutation", @class = "form-control", @rows = "5" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Terms and Conditions</label>
                                        @Html.TextAreaFor(mode => mode.TermsandConditions, new { @id = "QtxtTerms", @class = "form-control", @value = Model.TermsandConditions, @rows = "5" })
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-3 mt-3">Add Quotation Item</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-form-label required">Group</label>
                                    <input type="text" class="form-control" id="QtxtGroup" value="" placeholder="Group Name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-form-label required">Item Description</label>
                                    <input type="text" class="form-control" id="QtxtDescription" value="" placeholder="Item Description" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Unit</label>
                                    @Html.DropDownList("QUOM", new SelectList(ViewBag.Unit, "ItemUnitID", "UnitName"), "Select Unit", new { @class = "form-select" })
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Qty</label>
                                    <input type="text" id="QtxtQty" value="1" class="form-control textright" onchange="calculatevalue1()" placeholder="Enter Qty" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label">Rate</label>
                                    <input type="text" id="QtxtRate" value="" class="form-control textright" onchange="calculatevalue1()" placeholder="Enter Rate" />
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Value</label>
                                    <input type="text" id="QtxtValue" value="" class="textright form-control" onchange="calculatevalue2()" placeholder="Value" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="col-form-label">Remarks</label>
                                    <input type="text" id="QtxtRemarks" value="" class="form-control" placeholder="Enter Remarks" />
                                </div>
                                <div class="col-md-2">
                                    <a onclick="AddQuotationDetail(this)" href="javascript:void(0);" title="Add Item" style="font-size: 25px;color:green;">
                                        <i class="bx bxs-add-to-queue
" style="/* padding-left: 5px; */font-size: 33px;padding-top: 40px;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" id="QuotationDetailContainer">
                    @{Html.RenderPartial("QuotationDetailList", Model);}
                    
                </div>
            </div>
            }
<div class="modal fade" id="customerpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:5px;min-width:600px">
            <div class="modal-header">

                <h4 class="modal-title">
                    Customer Entry
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="customerContainer">

                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <button type="button" class="btn btn-primary" onclick="SaveCustomerEntry()">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
            @section scripts{
           

                <script src="~/Scripts/JS/Quotation.js"></script>
                 
            }
         


