@model Net4Courier.Models.BankReconcSearch
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}

<style>
    .Receipt{
        color:blue;
    }
    .Payment{
        color:black;
    }
    .OP{
        background-color:#dedede;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {


        var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });

        //table1.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>
<table class="table table-bordered table-responsive" id="datatable" style="background-color: white">

    <thead class="table-light">
        @if (Model.FilterStatus != "Deposited")
        {<th></th>
        }
    <th width="5%">SNo.</th>
    <th>Voucher No.</th>
    <th>Voucher Date</th>
    <th width="9%">Cheque No.</th>
    <th width="9%">Cheque Date</th>
    <th width="23%">Particulars</th>
    <th width="23%">Party Name</th>
    <th width="13%">Amount</th>
    @if (Model.FilterStatus == "Deposited")
    {<th width="25%">Depositor Details</th>
    }

    </thead>
    <tbody class="input-table" id="chequetablebody">

        @foreach (var item in Model.Details)
        {
        <tr class="@item.VoucherType @item.TransType" title="@item.VoucherType @item.TransType">
            @if (Model.FilterStatus != "Deposited")
            {    <td>
                    @Html.CheckBoxFor(model => model.Details[i].StatusReconciled, new { @class = " ", style = "margin-left:10px;", @id = "chk_" + @i, @Detailid = @item.AcBankDetailID, @onchange = "redrawgrid(this)" })
                </td>
            }
            <td>
                @Html.HiddenFor(model => model.Details[i].AcBankDetailID, new { @Value = @item.AcBankDetailID, @id = "hdnDetailID_" + @i })
                @Html.HiddenFor(model => model.Details[i].PDCOpeningID, new { @Value = @item.PDCOpeningID, @id = "hdnPDCOpeningID_" + @i })
                @Html.HiddenFor(model => model.Details[i].VoucherType, new { @Value = @item.VoucherType, @id = "hdnVoucherType_" + @i })
                @Html.HiddenFor(model => model.Details[i].TransType, new { @Value = @item.TransType, @id = "hdnTransType_" + @i })
                @Html.HiddenFor(model => model.Details[i].Amount, new { @Value = @item.Amount, @id = "hdnAmount_" + @i })
                @Html.HiddenFor(model => model.Details[i].AcJournalID, new { @Value = @item.AcJournalID, @id = "hdnPDCAcJournalID_" + @i })

                @(i + 1)

            </td>
            <td>
                @item.VoucherNo
            </td>
            <td>@Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.VoucherDate)</td>
            <td>
                @item.ChequeNo
            </td>
            <td>
                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.ChequeDate)
            </td>
            <td>
                @item.Narration
            </td>
            <td>@item.PartyName</td>
            <td class="text-right">
                @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.Amount, _decimal)
            </td>
            @if (Model.FilterStatus == "Deposited")
            {
                <td>
                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.ReconcDate)
                    @item.DepositHeadName
                </td>
            }

        </tr>
            i++;
        }




    </tbody>

</table>

<script>
    $(document).ready(function () {


        $("#AWBSelectall").change(function () {
            getconsignorawblist();
            //var i = 0;
            //debugger;
            //var selectall = false;
            //if ($(this).prop("checked") == true) {
            //    i = 1;
            //    selectall = true;
            //    $("#listContainer2 tbody tr").addClass('Selected');
            //    $(".checkfilter").prop('checked', true);                
            //} else {
            //    $("#listContainer2 tbody tr").removeClass('Selected');
            //    $(".checkfilter").prop('checked', false);
                
            //    selectall = false;
            //}

             
            //var maxrow = $('#awbtablebody > tr').length;
            //for (var i = 0; i < maxrow; i++) {
            //    $('#awbchecked_' + i).attr('checked', selectall);
            //    if (selectall == true) {
            //        $('#awbchecked_' + i).parent().parent().removeClass('hide');
            //    }
            //    else {
            //        $('#awbchecked_' + i).parent().parent().addClass('hide');
            //    }
            //    if ((i+1) == maxrow) {
            //        debugger;
            //       // gettotal();
            //    }
            //}

        });
       
    });

</script>
