@model Net4Courier.Models.DRRRecPayVM
@{
     ViewBag.Title = "Create";
    ViewBag.pTitle = "MC Payment";
    ViewBag.pageTitle = "MC Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
}
    <style>
      
        .charegRow {
            background: #f8fbff;
        }

            .charegRow td {
                border: 0 !important;
            }
            .charegRow label{
                font-size:14px!important;
            }
        .taxBlock .col-md-2, .taxBlock .col-md-3 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .table-bordered > thead > tr > th{
            text-align: center;
        }

        .align_self {
            margin-top: 31px;
        }

        .w-12 {
            width: 12%;
        }

        .taxBlock label {
            margin: 0;
        }
    </style>

<script type="text/javascript">
    function addCommas(nStr) {
        debugger;
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
    }
    function setTwoNumberDecimal(obj) {
        debugger;

       $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
    }

    function setThreeNumberDecimal(obj) {
        debugger;

       $(obj).val(parseFloat($(obj).val()).toFixed(3));
    }
    function PaymentModeChange() {
        var val = $("#PaymentMode").val();
        if (val == 1) {
            $("#divCash").css({ "display": "none" });
            $("#divBank").css({ "display": "block" });
            $("#ChequeNo").attr({ "disabled": false })
            $("#ChequeDate").attr({ "disabled": false })

            $("#ChequeBank").attr("required", "required");
            $("#CashBank").removeAttr("required");
        } else {
            $("#divBank").css({ "display": "none" });
            $("#divCash").css({ "display": "block" });
            $("#ChequeNo").attr({ "disabled": true })
            $("#ChequeDate").attr({ "disabled": true })
            $("#ChequeNo").removeAttr('required');
            $("#Chequedate").removeAttr('required');
            $("#CashBank").attr("required", "required");
            $("#ChequeBank").removeAttr("required");
        }

    }
    $(function () {
        //$('#FromDate1').datetimepicker({ format: 'DD-MM-YYYY' });

        //$('#ToDate1').datetimepicker({ format: 'DD-MM-YYYY' });

        //$('#RecPayDate').datetimepicker({ format: 'DD-MM-YYYY' });
        //$('#ChequeDate').datetimepicker({ format: 'DD-MM-YYYY' });
        //$(document).ready(function () {
        //    $("#ShipperName").autocomplete({
        //        source: function (request, response) {
        //            $.ajax({
        //                url: '/AWB/GetShipperName',
        //                datatype: "json",
        //                data: {
        //                    term: request.term
        //                },
        //                success: function (data) {
        //                    response($.map(data, function (val, item) {
        //                        return {
        //                            label: val.ShipperName,
        //                            value: val.ShipperName,
        //                            AcHeadID: val.AcHeadID,
        //                            ContactPerson: val.ContactPerson,
        //                            Address1: val.Address1,
        //                            Address2: val.Address2,
        //                            Pincode: val.PinCode,
        //                            Phone: val.Phone,
        //                            CountryName: val.CountryName,
        //                            CityName: val.CityName,
        //                            LocationName: val.LocationName,
        //                            ConsignorMobileNo: val.ConsignorMobileNo

        //                        }
        //                    }))
        //                }
        //            })
        //        },
        //        minLength: 1,
        //        autoFocus: false,
        //        focus: function (event, i) {
        //            $('#ShipperName').val(i.item.value);
        //            $("#ShipperAddress").val(i.item.CountryName);

        //        },
        //        select: function (e, i) {
        //            e.preventDefault();
        //            $("#ShipperName").val(i.item.label);
        //            $("#ShipperAddress").val(i.item.CountryName);
        //        },

        //    });
        //});
    });
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
       
    });

</script>

    @if (Model.RecPayID==0)
    {
    <div class="card">
        <div class="card-body">
            @{ Html.RenderAction("MCAWBSearch", "MCManagement");}        
        </div>
    </div>
    }
	 
	
<fieldset>
    @using (Html.BeginForm("Create", "MCManagement", FormMethod.Post, new { @id = "codreceipt" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-body">
                <div class="row no-margin" style="padding-top:10px">
                    <div class="col-md-2">
                    <div class="mb-2">
                        @Html.HiddenFor(model => model.RecPayID)
                        <label class="col-form-label required "> Mc Payment Vhr No.</label>
                        @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control txttarget", @required = "true", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.DocumentNo)
                        @Html.HiddenFor(model => model.FMoney)
                        </div>
                    </div>
                
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Mc Payment Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="RecPayDate" id="RecPayDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.RecPayDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class="col-form-label">Payment Mode</label>
                        <select id="PaymentMode" class="form-select" onchange="PaymentModeChange()">
                            <option value="1">Bank</option>
                            <option selected value="2">Cash</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <div id="divCash">
                            <label class=" required col-form-label">Cash/ bank account No.</label>
                            @Html.DropDownListFor(model => model.CashBank, new SelectList(@ViewBag.achead, "AcHeadID", "AcHead"), "Select", new { @class = "form-select" })

                        </div>
                        <div id="divBank">
                            <div class="form-title">
                                <label class=" required col-form-label">Bank</label>
                            </div>
                            <div class="form-field">
                                @Html.DropDownListFor(model => model.ChequeBank, new SelectList(@ViewBag.acheadbank, "AcHeadID", "AcHead"), "Select", new { @class = "form-select", @required = true })
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class=" required col-form-label">Cheque No</label>
                        @Html.TextBoxFor(model => model.ChequeNo, new { @class = "form-control textright" })
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class=" required col-form-label">Cheque Date</label>
                        @if (Model.ChequeDate != null)
                        {
                            @Html.TextBoxFor(m => m.ChequeDate, new { Value = Model.ChequeDate.Value.ToString("dd-MMM-yyyy"), id = "", @class = "form-control text-right" })
                        }
                        else
                        {

                            @Html.TextBoxFor(model => model.ChequeDate, new { @class = "form-control text-right" })
                        }
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 hide">
                    <div class="mb-2">
                        <label class=" required col-form-label">Currency</label>
                        @Html.DropDownListFor(model => model.CurrencyID, (SelectList)ViewBag.Currency, "Select", new { ng_model = "ExR", @class = "form-control" })
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 hide">
                    <div class="mb-2">
                        <label class="col-form-label">Exchange Rate</label>
                        @Html.TextBoxFor(model => model.EXRate, string.Format("{0:n2}", Model.EXRate), new { @class = "form-control textright" })
                    </div>
                    </div>
                    <div class="col-md-4 hide">
                    <div class="mb-2">
                        <label class=" required col-form-label">Remarks</label>
                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                    </div>
                    </div>
              
                    <div class="col-md-3 field ">
                    <div class="mb-2">
                        <label class="col-form-label">Shipper</label>
                        @Html.TextBoxFor(model => model.ShipperName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="mb-2">
                        <label class="col-form-label">Shipper Location</label>
                        @Html.TextBoxFor(model => model.ShipperAddress, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class="col-form-label">Total Outstanding</label>
                        <input type="text" class="text-right form-control" readonly id="txtTotalCharge" />
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class="col-form-label">Current Payment</label>
                        <input type="text" class="text-right form-control" id="txtTotalReceived" readonly value="@Model.FMoney" readonly />
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    <div class="mb-2">
                        <label class="col-form-label">Total Adjusted</label>
                        <input type="text" class="text-right form-control" id="txtTotalDiscount" value="0" readonly />
                    </div>
                    </div>
            
                        <div class="col-md-12 text-md-end">
                            <input type="submit" value="Save" id="btnsave" class="btn btn-success" />&nbsp;&nbsp;
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                </div>
</div>
</div>


            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0" id="datatable">
                        <thead class="table-light">
                        <th>
                            SNo.
                        </th>
                        <th>AWB No.</th>
                        <th>AWB Date</th>
                        <th>Shipper</th>
                        <th>Receiver</th>
                        <th>Material Cost</th>
                        <th>Material Cost Received </th>
                        <th>Material Cost Paid </th>
                        <th>Mc Outstanding Payment</th>
                        <th>Current Payment</th>
                        <th>Material Cost Adjustment</th>
                        <th> Close All  <input type="checkbox" class="Selectall" id="Selectall" value="0" name="Selectall" /></th>
                        </thead>

                        <tbody class="input-table" id="listContainer">

                            @{Html.RenderPartial("ReceiptList", Model);}
                        </tbody>

                    </table>
                </div>
            </div>




            }
    </fieldset>



<script type="text/javascript">
    function checkallocation(i,obj) {
        debugger;
        var id = $(obj).attr('id');
        var val = $(obj).val();
        $(obj).attr('value', val);
        var totalcharge = $('#txtTotalCharge_' + i).val();
        var Received = $('#txtAmountAllocated_' + i).val();
        var discount = $('#txtDiscount_' + i).val();       
        if (totalcharge == '')
            totalcharge == 0;
        if (Received == '')
            Received = 0;

        if (discount == '')
            discount = 0;


        if (parseFloat(totalcharge) > parseFloat(Received)) {
            discount = parseFloat(totalcharge) - parseFloat(Received);                                    
        }
        else {
            Received = parseFloat(totalcharge) - (parseFloat(discount));            
        }
       
        if (id.indexOf('txtAmountAllocated') >= 0) {
            $('#txtDiscount_' + i).val(discount);
        }
        else {
            $('#txtAmountAllocated_' + i).val(Received);
        }

    }
    function calculatetotal() {
        debugger;
        var maxrow = $('#listContainer > tr').length;
        var totalcharges = 0;
        var totalcod = 0;
        var totaldiscount = 0;
        $('#txtTotalCharge').val(parseFloat(totalcharges).toFixed(2));
        $('#txtTotalDiscount').val(parseFloat(totaldiscount).toFixed(2));
        $('#txtTotalReceived').val(parseFloat(totalcod).toFixed(2));
        for (j = 0; j < maxrow; j++) {
            var awbchecked = $('#chk_' + j).prop('checked');
            console.log(awbchecked);
            //if (awbchecked == true) {
                debugger;
                var totalcharge = $('#txtTotalCharge_' + j).val();
                var Received = $('#txtAmountAllocated_' + j).val();
                var discount = $('#txtDiscount_' + j).val();                
                if (totalcharge == '')
                    totalcharge = 0;
                if (discount == '')
                    discount = 0;
                if (Received == '')
                    Received = 0;
                
                totalcharges = parseFloat(totalcharges) + parseFloat(totalcharge);
                totaldiscount = parseFloat(totaldiscount) + parseFloat(discount);
                totalcod = parseFloat(totalcod) + parseFloat(Received);
                console.log(Received);
            //}
            $('#FMoney').val(parseFloat(totalcod).toFixed(2));
            $('#txtTotalCharge').val(parseFloat(totalcharges).toFixed(2));
            $('#txtTotalDiscount').val(parseFloat(totaldiscount).toFixed(2));
            $('#txtTotalReceived').val(parseFloat(totalcod).toFixed(2));
        }
    }
   

</script>
<script type="text/javascript">
      function autoallocation() {
          
          var idtext = 'txtAmountAllocated_';
        if ($("#AutoAllocate").is(':checked')) {
            var TotalAmount = parseFloat($('#FMoney').val()).toFixed(2);
            if (TotalAmount > 0) {
                var amt = 0;
                $('[id^=' + idtext + ']').each(function (index, item) {
                    if ($(item).val() == "" || $(item).val() == null) {
                        $(item).val(0);
                    }
                    $('#txtDiscount_' + index).val(0);
                    var itemval = $(item).val();
                    itemval = itemval.replace(',', '');
                    var idindex = $(item).attr('id').split('_')[1];
                    var balance = $('#txtTotalCharge_' + idindex).val();
                    var balanceval = balance.replace(',', '');

                    if (parseFloat(TotalAmount) > parseFloat(balanceval)) {
                        $(item).val(parseFloat(balanceval).toFixed(@_decimal));
                        TotalAmount = parseFloat(TotalAmount).toFixed(@_decimal) - parseFloat(balanceval).toFixed(@_decimal);
                        $('#chk_' + idindex).prop('checked', true);
                    }
                    else if (parseFloat(TotalAmount) > 0) {
                        $(item).val(parseFloat(TotalAmount).toFixed(@_decimal));
                        TotalAmount = 0;
                        $('#chk_' + idindex).prop('checked', true);
                    }
                    else {
                        $(item).val(parseFloat(TotalAmount).toFixed(@_decimal));
                        $('#chk_' + idindex).prop('checked', false);
                        $('#chk_' + idindex).attr('value', 'false');
                    }
                    calculatetotal();
                });

            }
            else {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    if ($(item).val() == "" || $(item).val() == null) {
                        $(item).val(0);
                    }
                    var itemval = $(item).val();
                    itemval = itemval.replace(',', '');
                    $(item).val("0.00");
                    $('#txtDiscount_' + index).val(0);
                    $('#chk_' + idindex).prop('checked', false);                    
                    calculatetotal();

                });

            }
        }
        else {

                $('[id^=' + idtext + ']').each(function (index, item) {
                    if ($(item).val() == "" || $(item).val() == null) {
                        $(item).val(0);
                    }
                    var itemval = $(item).val();
                    itemval = itemval.replace(',', '');
                    $(item).val("0.00");
                    //$('#chkallocate_' + idindex).prop('checked', false);
                    //$('#chkallocate_' + idindex).removeAttr('checked');
                    $('#chk_' + index).prop('checked', false);   
                    calculatetotal();

                });


        }

    }
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $('#Amount').change(function () {
            if ($('#Amount').val() == '') {
                $('#Amount').val(0);
            }
            else {
                var amt = $('#Amount').val();
                $('#Amount').val(parseFloat(amt).toFixed(2));
            }
        });
        $('#Amount').trigger('change');
        $('#btnsave').click(function () {

            var totreceived = $('#txtTotalReceived').val();
            var totdiscount = $('#txtTotalDiscount').val();
        var amount = $('#FMoney').val();
        var totval = parseFloat(totreceived);
        var totval = parseFloat(totreceived);
            if (parseFloat(amount) == 0) {
                alert('Paid Amount could not zero!');
                return false;
            }
            else if (parseFloat(amount) != parseFloat(totreceived)) {
                alert('Paid Amount should be equal to allocated amount!');
                return false;
            }
        });
        
        PaymentModeChange();
        calculatetotal();
    });
</script>