@model Net4Courier.Models.MCDatePicker
@{
    Layout = null;
}

<style>

    .searchMc {
        border: 1px solid #18c374;
        position: relative;
        padding: 5px 10px;
    }
.searchMc h4{
    padding: 0 30px;
    position: ABSOLUTE;
    top: -21px;
    display: inline-block;
    left: 22px;
    background: #f8fbff;
    text-align: center;
}
.abselem{
    position: absolute;
    top:-25px;
    padding-bottom: 5px;
}
</style>

<script>
    function optionchange() {
        if ($('#chkDateWise').prop('checked') == true) {
            $('#FromDate1').removeAttr('readonly');
            $('#ToDate1').removeAttr('readonly');
            $('#AWBNo').attr('readonly', 'readonly');
            $('#Shipper').removeAttr('readonly');
            $('#SearchOption').val('Date');
        }
        else if ($('#chkAWBWise').prop('checked') == true) {
            $('#FromDate1').attr('readonly', 'readonly');
            $('#ToDate1').attr('readonly', 'readonly');
            $('#AWBNo').removeAttr('readonly');
            $('#Shipper').attr('readonly', 'readonly');
            $('#SearchOption').val('AWBNo');
        }
        else {
            $('#FromDate1').attr('readonly', 'readonly');
            $('#ToDate1').attr('readonly', 'readonly');
            $('#AWBNo').attr('readonly', 'readonly');
            $('#Shipper').removeAttr('readonly');
            $('#SearchOption').val('Shipper');

        }
    }
     var customernames = [];
    $(document).ready(function () {
        if ($('#SearchOption').val() == 'Date') {
          $('#chkDateWise').prop('checked',true)
        }
        else if ($('#SearchOption').val() == 'AWBNo') {
            $('#chkAWBWise').prop('checked', true)
        }
        else if ($('#SearchOption').val() == 'Shipper') {
            $('#chkShipperWise').prop('checked', true)
        }

        $(document).ready(function () {
            $("#Shipper").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/AWB/GetShipperName',
                        datatype: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (val, item) {
                                return {
                                    label: val.ShipperName,
                                    value: val.ShipperName,
                                    AcHeadID: val.AcHeadID,
                                    ContactPerson: val.ContactPerson,
                                    Address1: val.Address1,
                                    Address2: val.Address2,
                                    Pincode: val.PinCode,
                                    Phone: val.Phone,
                                    CountryName: val.CountryName,
                                    CityName: val.CityName,
                                    LocationName: val.LocationName,
                                    ConsignorMobileNo: val.ConsignorMobileNo

                                }
                            }))
                        }
                    })
                },
                minLength: 1,
                autoFocus: false,
                focus: function (event, i) {
                    $('#Shipper').val(i.item.value);
                    $('#ShipperName').val(i.item.value);
                    $("#ShipperAddress").val(i.item.CountryName);

                },
                select: function (e, i) {
                    e.preventDefault();
                    $("#ShipperName").val(i.item.label);
                    $('#ShipperName').val(i.item.value);
                    $("#ShipperAddress").val(i.item.CountryName);
                },

            });
        });
        $('#btnsearch').click(function () {           
          
        
        })
       
    });        

</script>
@using (Html.BeginForm("MCAWBSearch", "MCManagement", FormMethod.Post, new { @id = "awbsearch" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    
<div class="row">
    <div class="col-md-12">
        <h4>Options</h4>
    </div>

    <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label"><input type="radio" id="chkDateWise" name="search1" onclick="optionchange()" checked />AWB From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate1" id="FromDate1" value="@Model.FromDate1"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate1" id="ToDate1" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate1"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
    <div class="col-md-3">
    <div class="mb-2">
            <label class="col-form-label">Shipper/Consignor</label>
            @Html.TextBoxFor(model => model.Shipper, new { @class = "form-control ora_border" })
            @Html.HiddenFor(model => model.SearchOption, new { @class = "form-control" })
            @Html.HiddenFor(model => model.ShipperAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
    <div class="mb-2">
        <label class="col-form-label btn_Top"><input type="radio" id="chkAWBWise" name="search1" onclick="optionchange()" />Airway Bill</label>
        @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control ora_border", @readonly = "readonly" })
    </div>
    </div>

    <div class="col-md-2">
        <div class="mb-2 mt-2">
            <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top" id="btnreport">
                <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
            </button>
        </div>
    </div>
    </div>
   
}


