@model Net4Courier.Models.AWBTracking
@{
    
    Layout = null;
    
    var _decimal = @Session["Decimal"].ToString();
}
 
<div class="row">
    <div class="col-md-6 timelineDetails">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-7">
                        <h4 class="card-title mb-2 mt-1">Airway Bill Details<span id="h2jobcode" style="color:blue" class="ml-10"></span></h4>
                    </div>
                    <div class="col-md-5">


                        <div class="text-right ">

                            <a href="/AWB/Index/0" class="btn btn-secondary">Cancel</a>

                            @*<input type="button" onclick="ShowStatusModal()" class="btn btn-success" value="Change AWB Status" />*@
                            @*<div id="divothermenu" class="btn-group">

                                    <span class="btn btn-primary"><i class="bx bx-cog bx-spin me-2"></i>Sub Menu</span>
                                    <button type="button" class="btn btn-primary dropdown-toggle-split border_right" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="ShowStatusModal()">Change Status</a>
                                        <a class="dropdown-item" href="/AWB/Create?id=0">Create Shipment</a>
                                        <a class="dropdown-item" href="/AWB/Create?id=@Model.AWB.InScanID">Edit Shipment</a>
                                    </div>
                                </div>*@

                        </div><!-- /btn-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label class="col-form-label">AIRWAY BILL: </label>
                            @Html.HiddenFor(model => model.AWB.InScanID, new { @class = "form-control", @placeholder = "Search by HAWB No.", @id = "InScanID" })
                            @Html.HiddenFor(model => model.AWB.InboundShipmentID, new { @class = "form-control", @placeholder = "Search by HAWB No.", @id = "InboundShipmentID" })
                            @Html.TextBoxFor(model => model.AWB, new { @class = "form-control", @placeholder = "Search by HAWB No.", onFocus = "this.select()" })
                        </div>
                    </div>
                    <div class="col-md-1 text-md-end btn_top">
                        @*<button type="submit" class="refresh_img" id="btnsearch"><img src="/Content/img/refresh.png" alt="logolarge"></button>*@
                        <button type="submit" id="btnsubmit" class="btn btn-success waves-effect waves-light filter mt-2" style="margin-left: -13px;">
                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                    <div class="col-md-1 btn_top">
                        @if (@Model.AWB.InScanID > 0)
                        {
                            <a type="button" href="/AWB/Create/@Model.AWB.InScanID" class="btn btn-success waves-effect waves-light filter mt-2" id="btnedit" style="margin-left: -14px;">
                                <i class="bx bx-pencil mt-1" style="font-size: 21px;"></i>
                            </a>

                        }
                        @if (@Model.AWB.InboundShipmentID > 0)
                        {
                            <a type="button" href="/Shipment/Create/@Model.AWB.InboundShipmentID" class="btn btn-success waves-effect waves-light filter mt-2" id="btnedit" style="margin-left: -14px;">
                                <i class="bx bx-pencil mt-1" style="font-size: 21px;"></i>
                            </a>

                        }
                    </div>



                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label bold">AWB Date</label>

                            <input type="text" name="" class="form-control" value="@Model.AWB.TransactionDate.ToString("dd-MM-yyyy")" />
                            
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Movement Type</label>

                            @Html.TextBoxFor(model => model.AWB.MovementType, new { @class = "form-control", @placeholder = "Search by Parent AWB No." })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="col-form-label">Shipper</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.Consignor" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="col-form-label">Receiver</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.Consignee" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="address">
                            <h4>@Model.AWB.ConsignorContact</h4>
                            <h4>@Model.AWB.ConsignorAddress1_Building  &nbsp; &nbsp; @Model.AWB.ConsignorAddress2_Street <br /> @Model.AWB.ConsigneeAddress3_PinCode </h4>

                            <h4>@Model.AWB.ConsignorLocationName</h4>
                            <h4>@Model.AWB.ConsignorCityName &nbsp;&nbsp; @Model.AWB.ConsignorCountryName</h4>
                            <h4>@Model.AWB.ConsignorPhone &nbsp; &nbsp; @Model.AWB.ConsignorMobile</h4>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="address">
                            <h4>@Model.AWB.ConsigneeContact</h4>
                            <h4>@Model.AWB.ConsigneeAddress1_Building &nbsp;&nbsp; @Model.AWB.ConsigneeAddress2_Street <br /> @Model.AWB.ConsigneeAddress3_PinCode</h4>
                            @*<h4>@Html.DisplayFor(mode=>mode.AWB.ConsigneePhone) </h4>*@
                            <h4>@Model.AWB.ConsigneeLocationName</h4>
                            <h4>@Model.AWB.ConsigneeCityName  &nbsp;&nbsp; @Model.AWB.ConsigneeCountryName</h4>
                            <h4>@Model.AWB.ConsigneePhone &nbsp; &nbsp; @Model.AWB.ConsigneeMobile</h4>

                        </div>

                    </div>





                    @*<div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Origin</label>
                                <input type="text" name="" class="form-control" value="@Model.AWB.PickupLocation" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Destination</label>
                                <input type="text" name="" class="form-control" value="@Model.AWB.DeliveryLocation" />
                            </div>
                        </div>*@


                    @*<div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label">Forwarding Agent</label>
                                <input type="text" name="" class="form-control" value="@Model.AWB.FAgentName" />
                            </div>
                        </div>*@

                    <div class="col-md-12 head mt-3 px-2"><h5>Charge Details</h5><hr></div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Pieces</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.Pieces" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Weight</label>
                            <input type="text" name="" class="form-control" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.Weight,"3")" />
                        </div>
                    </div>




                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Cour.Chrg.</label>
                            <input type="text" name="" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.CourierCharge)" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Other Chrg.</label>
                            <input type="text" name="" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.OtherCharge)" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Tax Chrg.</label>
                            <input type="text" name="" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.TaxAmount)" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Total Chrg.</label>
                            <input type="text" name="" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.totalCharge)" />

                        </div>
                        @*<div class="pl-2">

                                <label>M. Cost</label>
                                <input type="text" name="" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.AWB.materialcost)" />

                            </div>*@

                    </div>


                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Shipper Instruction</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.SpecialNotes" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Item Description</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.Description" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Payment Mode</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.paymentmode" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Invoice</label>
                            <input type="text" name="" class="form-control" value="@Model.AWB.InvoiceStatus" />
                        </div>
                    </div>
                    <div class="col-md-12 head mt-3 px-2"><h5>Material Cost Details</h5><hr></div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Closed Status </label>
                            <input type="text" name="" class="form-control" value="@Model.MCDetail.MCClosedDetail" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Material Cost</label>
                            <input type="text" name="" class="form-control" value="@String.Format("{0:N2}",@Model.MCDetail.MCAmount)" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Material Cost Rcvd.</label>
                            <input type="text" name="" class="form-control text-right" value="@String.Format("{0:N2}", @Model.MCDetail.MCReceived)" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Material Cost Paid</label>
                            <input type="text" name="" class="form-control text-right" value="@String.Format("{0:N2}",@Model.MCDetail.MCPaid)" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">COD Status</label>
                            <input type="text" name="" class="form-control" value="@Model.MCDetail.CODStatus" />
                        </div>
                    </div>
                    @*<div class="col-md-3"></div>*@
                    <div class="col-md-3">
                        <div class="mb-2">

                            <label class="col-form-label">MC RV No. & Date</label>
                            <input type="text" name="" class="form-control text-right" value="@Model.MCDetail.MCReceivedDetail" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-2">

                            <label class="col-form-label">MC PV No. & Date</label>
                            <input type="text" name="" class="form-control text-right " value="@Model.MCDetail.MCPaymentDetail" />

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Confirmation </label>
                            <input type="text" name="" class="form-control " value="@Model.MCDetail.Confirmation" />

                        </div>
                    </div>
                </div>


                <div class="form-group hide">
                    <div class="row">
                        <div class="col-md-4">
                            <label>COD Status</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="" class="form-control" value="@Model.AWB.CODStatus" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Material Cost Status</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="" class="form-control" value="@Model.AWB.MaterialCostStatus" />
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <div class="head"><h5>Manifest Details</h5></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Manifest No.</label>

                                <input type="text" name="" class="form-control" value="@Model.ManifestDetail.ManifestNumber" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Forwarding Agent Name</label>

                                <input type="text" name="" class="form-control" value="@Model.ManifestDetail.ForwardingAgentName" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Delivery Agent Name</label>

                                <input type="text" name="" class="form-control" value="@Model.ManifestDetail.DeliveryAgentName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Forwarding Agent No.</label>
                                <div class="input-group gap-3">
                                    <input type="text" id="txtFwdNo" name="" class="form-control" value="@Model.ManifestDetail.FwdAgentAWBNo" />
                                    <button type="button" onclick="GetHAWB()" title="Search by Forwarding Agent No." class="btn btn-success waves-effect waves-light filter mt-2" style="margin-left: -13px;">
                                        <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="form-group">
                    <div class="head"><h5>Import Tax</h5></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label">Invoice Detail</label>

                                <input type="text" name="" class="form-control" value="@Model.AWB.TaxInvoiceDetail" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="head"><h5>POD Details</h5></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">POD Receiver Name</label>

                                <input type="text" name="" class="form-control" value="@Model.PODStatus.ReceiverName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">Received Time</label>

                                <input type="text" name="" class="form-control" value="@Model.PODStatus.ReceivedTime" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label">POD Delivery Location</label>

                                <input type="text" name="" class="form-control" value="@Model.PODStatus.DeliveryLocation" />
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label>Shipment Photo</label>
                            @*@Html.DisplayFor(model => model.PODImage.image)*@
                            @if (@Model.PODImage != null)
                            {
                                if (@Model.PODImage.image != null)
                                {
                                    if (@Model.PODImage.image != "")
                                    {
                                        <img style="width:100px;height:100px" src="@Model.PODImage.image" alt="AlternateText" />
                                    }
                                }
                            }
                        </div>

                        <div class="col-md-6">
                            <label>POD Signature</label>
                            @if (@Model.PODSignature != null)
                            {
                                if (@Model.PODSignature.SignatureImage != null)
                                {
                                    if (@Model.PODSignature.SignatureImage != "")
                                    {
                                        <img style="width:100px;height:100px" src="@Url.Content(@Model.PODSignature.SignatureImage)" alt="AlternateText" />
                                    }
                                }
                            }
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-5 ">
        <div class="card" style="height: 93%;">
            <div class="card-body">
                <div class="timelineRow">
                    @*<div class="timelineLeft col-md-6 text-right">

                            <ul>
                                @foreach (var item in Model.Details)
                                {

                                        <li>
                                            <p>@Net4Courier.Models.CommonFunctions.GetLongDateFormat(@item.EntryDate)</p>
                                            <p>@item.UserName | @item.Remarks</p>
                                            <h4>@item.CourierStatus</h4>
                                        </li>

                                }



                            </ul>
                        </div>*@
                    <div class="clearfix"></div>
                    <div class="timelineRight col-md-8 pull-right">
                        <ul>
                            @foreach (var item in Model.Details)
                            {

                                <li>
                                    <p>@item.EntryDate.ToString("dd-MM-yyyy HH:mm")</p>
                                    <p>@item.UserName | @item.Remarks</p>
                                    <h4>@item.CourierStatus</h4>
                                </li>

                            }

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>