@model Net4Courier.Models.AWBTracking
@{
    ViewBag.Title = "Update";
    ViewBag.pTitle = "Shipment Status";
    ViewBag.pageTitle = "Proof of Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/POD/Create";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
}
 
<style>
    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
</style>

<style type="text/css">

    .searchMc {
        border: 2px solid #07a7e3;
        position: relative;
        padding: 30px 10px;
        margin: 20px 0;
    }

        .searchMc h4 {
            padding: 0 30px;
            position: ABSOLUTE;
            top: -21px;
            display: inline-block;
            left: 22px;
            background: #f8fbff;
            text-align: center;
        }

    .multiselect-container {
        margin: 0 !important;
    }

    .multiselect-native-select .btn-group {
        display: block;
    }

    .multiselect.dropdown-toggle {
        width: 100%;
        display: block;
        float: none;
    }

    .show-error {
        color: red;
    }

    .show-green {
        color: green;
        font-weight: 700;
    }


    .searchMc .checkboxdesign {
        align-items: flex-start;
    }
</style>

<script>

    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWBNo_';
        var maxrow = $('#tbl1 > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var con = $('#hdnAWBNo_' + index).val();
                if (con.trim() == awbno.trim()) {
                    duplicate = true;
                    var message='Duplicate AWB No.!';
                    $('#ulerr').removeClass('show-green');
                    $('#ulerr').addClass('show-error');
                    $('#lierr').html(message);
                    $('#btnAdd').attr('disabled', 'disabled');
                    //break;
                }

                if (duplicate == false && index == (parseInt(maxrow - 1))) {
                    return true;
                }

            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    function checkDate(obj) {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' || $(obj).val() == null) {
            return '';
        }
        else {
            var date = $(obj).val().split('-');
            value = date[1] + '/' + date[0] + '/' + date[2];
        }

        return value

    }
    function checkdata(obj)
    {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' ||$(obj).val() == null) {
            return '';
        }
        else {
            value = $(obj).val();
        }

        return value

    }
    function getdate(date) {
        var myDate = new Date(date);
        var cmon = myDate.getMonth() + 1;
        var entrydate = cmon + "/" + myDate.getDate() + '/' + myDate.getFullYear();
        return entrydate
    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('hide');
        var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    function checkfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '')
        {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdrpfieldvalidate(obj) {

        if ($(obj).val() == null || $(obj).val().trim() == '' || $(obj).val().trim() == '0') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }

    function checkNumberfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else if (parseFloat($(obj).val()) == 0 || parseInt($(obj).val()) == 0) {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdeliverystatus(obj) {
        var id = $(obj).attr('id');
        var status=$(obj).prop('checked');
        if (id == 'DeliveryAttempted' && status==true) {
            $('#Delivered').removeAttr('checked');
        }
        else if (id == 'DeliveryAttempted' && status == false)
        {
           $('#Delivered').prop('checked', 'checked');
        }
        else if (id == 'Delivered' && status == true)
        {
                $('#DeliveryAttempted').removeAttr('checked');
         }
        else if (id == 'Delivered' && status ==false)
                {
                $('#DeliveryAttempted').prop('checked', 'checked');
                }

    }
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("textarea").css({ "border-radius": "5px" });
       var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        //$('#EntryDate').datepicker({
        //    dateFormat: 'dd-mm-yy',
        //}).on('changeDate', function (e) {
        //    $(this).datepicker('hide');
        //});

        $('#AWBNo').change(function () {
            if ($('#AWBNo').val().trim() == '') {
                var message = 'Enter AWBNo!';
                $('#ulerr').addClass('show-error');
                $('#ulerr').removeClass('show-green');
                $('#lierr').html(message);
                return;
            }
            else if (checkduplicate($('#AWBNo').val()) == false)
            {
                return;
            }
            else
            {
                $.ajax({
                    type: "Get",
                    url: '/AWBStatus/GetAWBInfo',
                    datatype: "json",
                    data: {
                        awbno: $('#AWBNo').val().trim()
                    },
                    success: function (response) {
                        debugger;
                        var status = response.status;
                        if (status == "ok") {
                            var data = response.data;
                            if (data.length > 0) {
                                var myDate = data[0].AWBDate;
                                var dateString = myDate.substr(6);
                                var currentTime = new Date(parseInt(dateString));
                                var month = currentTime.getMonth() + 1;
                                var day = currentTime.getDate();
                                var year = currentTime.getFullYear();
                                var tempdate = day + "-" + month + "-" + year;
                                var consignor = data[0].Consignor;
                                var consignee = data[0].Consignee;
                                var consignorcity = data[0].ConsignorCity;
                                var consignorcountry = data[0].ConsignorCountry;
                                var consigneecity = data[0].ConsigneeCity;
                                var consigneecountry = data[0].ConsigneeCountry;
                                $('#InScanID').val(data[0].InScanID);
                                $('#ShipmentID').val(data[0].ShipmentID);
                                $('#AWBDate').val(tempdate);
                                $('#Consignor').val(consignor);
                                $('#Consignee').val(consignee);
                                $('#ConsignorCountry').val(consignorcountry);
                                $('#ConsigneeCountry').val(consigneecountry);
                                $('#ConsignorCity').val(consignorcity);
                                $('#ConsigneeCity').val(consigneecity);
                                $('#CourierStatusId').val(data[0].CourierStatusId);
                                $('#CourierStatus').val(data[0].CourierStatus);
                            }
                        }
                        else {
                            Swal.fire("Data Validation!", response.message, "error");
                            $('#AWBNo').val('');
                            $('#AWBNo').focus();
                        }
                    }
                });
            }
        });

        $('#btnSearch').click(function () {
            debugger;


            $.ajax({
                type: "Get",
                url: '/AWBTimeLine/GetAWBInfo',
                datatype: "json",
                data: {
                    awbno: $('#AWBNo').val().trim()
                },
                success: function (response) {
                    debugger;
                    var status = response.status;
                    if (status == "ok") {
                        $.ajax({
                            type: "Post",
                            url: '/AWBTimeLine/ShowAWBDetails',
                            datatype: "html",
                            success: function (data) {
                                debugger;

                            }
                        });
                    }
                }

            });
          
        });

   
    });
</script>

<!-- Main content -->

@using (Html.BeginForm("Index", "AWBTimeline", FormMethod.Post, new { @id = "FormReceipt" }))
{
    @Html.ValidationSummary(true)


    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="col-form-label">AWB Number</label>
                            <div class="input-group gap-2">
                                @Html.TextBoxFor(model => model.AWB, new { @class = "form-control", @autocomplete = "off", id = "AWBNo" })

                                <button type="button" id="btnSearch" class="btn btn-success waves-effect waves-light filter">
                                    <i class="bx bx-revision mt-1" style="font-size: 18px;"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                            @{Html.RenderPartial("AWBDetails", Model);}

                        </div>
                    </div>
                </div>
                    </div>
                </div>


     
    </div>



}

