@model Net4Courier.Models.CourierCollectionVM

@{
    
    ViewBag.pTitle = "DRS Collection";
    ViewBag.pageTitle = "OutScan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/DRSCollection/Index/0";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
}


<style>


    .modal-dialog {
        width: 800px;
    }

    #staffmodelbody {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .flex {
        display: flex;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    #popup h5 {
        border: 2px solid #35b8eb;
        min-width: 150px;
        height: 40px;
        border-radius: 5px;
        line-height: 40px;
        color: #35b8eb;
        text-align: center;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    
  
    function isNumberKey1(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        //if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        if (charCode != 8 && charCode != 0 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("textarea").css({ "border-radius": "5px" });

       
       
         
       
        if ($('#CollectionId').val() > 0) {
            $('#drpCollectionType').val($('#CollectionType').val()).trigger('change');
        }        

        if ($('#DRSRecpayID').val() > 0) {
            $('#btnSave').attr('disabled', 'disabled');
        }
        if ($('#CollectionType').val() == 'PKP')
        {
            $('#PickupCash').removeAttr('disabled');
        }
        else if ($('#CollectionType').val() == 'DLV')
        {
            $('#COD').removeAttr('disabled');
            $('#MaterialCost').removeAttr('disabled');
        }
        
        
       
        $('#btnSave').click(function () {

            var cobj = {

                CollectionId: $('#CollectionId').val(),
                CODPending: $('#CODPending').prop('checked'),
                ChangeCOD: $('#ChangeCOD').prop('checked'),
                COD: $('#COD').val(),
                PickupCash: $('#PickupCash').val(),
                MaterialCost: $('#MaterialCost').val(),
                Remarks: $('#Remarks').val(),

            }
            $.ajax({
                type: "POST",
                url: '/DRSCollection/SaveCollection',
                data: {vm :cobj },
                success: function (data) {
                    if (data.status == "OK") {
                        Swal.fire('Save Status', 'Updated Succesfully!', 'success');
                        setTimeout(function () {
                            location.href = '/DRSCollection/Index';
                        }, 200)
                    }
                    else {
                        Swal.fire('Save Status', data.message  , 'error');
                    }

                }
            });
        })
    
 
      

    
     
        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyS' && (event.altKey)) { //ADD AWB
                $('#btnSave').trigger('click');
            }
        });
    });
</script>

<script>
     
</script>

 

<!-- Main content -->

    @using (Html.BeginForm("Create", "DRSCollection", FormMethod.Post, new { @id = "FormReceipt" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @Html.HiddenFor(model => model.CollectionId)
                        @Html.HiddenFor(model => model.DRSRecpayID)
                        <div class="row">
                            <div class="col-md-8"> <h4 style="color:blue"> @ViewBag.DRSReceipt </h4></div>
                            <div class="col-md-4 text-md-end">
                                <div class="mb-2">
                                    @if (Model.CollectionId > 0)
                                    {
                                        <input type="button" class="btn btn-success" value="Update" id="btnSave" />
                                    }
                                    else
                                    {
                                        <input type="button" class="btn btn-success" value="Save" id="btnSave" name="Command" />
                                    }
                                    <a href='@Url.Action("Index", "DRSCollection", new { id = 0 })' class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="col-form-label">Collection Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="CollectedDate" disabled id="CollectedDate" value="@Model.CollectedDate.ToShortDateString()"
                                                   placeholder="Pick a From Date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <label class="col-form-label">Collection Type</label>
                                    <select id="drpCollectionType" class="form-select" disabled>
                                        <option value="PKP">Pickup Cash</option>
                                        <option value="DLV">Delivery</option>
                                        <option value="DUE">Custome Receipt</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class="col-form-label required">Courier Name</label>
                                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.Deliverdby, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select", @required = true, @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class="col-form-label">AWB Number</label>

                                    @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control txttarget", @disabled = "disabled" })
                                    @Html.HiddenFor(mode => Model.CollectionType)
                                    @Html.HiddenFor(mode => Model.CollectionId)
                                </div>
                            </div>

                            <div class="col-md-2">

                                <div class="flexTitle">
                                    <label class="col-form-label required">Payment Mode</label>
                                    <div class="checkboxdesign no-padding  text-right" style="float:right">
                                        @Html.CheckBox("ChangeCOD", new { @name = "ChangeCOD" }) &nbsp
                                        <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">Change COD</label>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.PaymentModeId, new SelectList(@ViewBag.PaymentMode, "ID", "PaymentModeText"), "Select", new { @class = "form-select", @required = "true", @paymentid = Model.PaymentModeId, @disabled = "disabled" })
                                <div class="invalid-feedback">
                                    Payment Mode Required
                                </div>
                            </div>





                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class=" required col-form-label" id="lblAmountType">Pickup Cash</label>
                                    @Html.TextBoxFor(model => model.PickupCash, new { @class = "form-control aamt textright TotalInvoiceAmount", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">

                                    <div class="flexTitle">
                                        <label class=" required col-form-label" id="lblAmountType">COD Amount</label>
                                        <div class="checkboxdesign no-padding  text-right" style="float:right">
                                            @Html.CheckBox("CODPending", new { @name = "CODPending" }) &nbsp
                                            <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">COD Pending</label>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(model => model.COD, new { @class = "form-control aamt textright ", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class=" required col-form-label" id="lblAmountType">Material Cost</label>
                                    @Html.TextBoxFor(model => model.MaterialCost, new { @class = "form-control aamt textright", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class=" required col-form-label">Customer Name</label>
                                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="mb-2">
                                    <label class=" required col-form-label" id="lblAmountType">Other Amount</label>
                                    @Html.TextBoxFor(model => model.OtherAmount, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-4">
                                <div class="mb-2">
                                    <label class="col-form-label">Remarks</label>
                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control txttarget", @rows = '1' })
                                </div>
                            </div>

                        </div>
                    </div>
                        </div>
            </div>
            
      
   </div>






    }



<script type="text/javascript">
   
    // When the document is ready

    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        var datevalid = false;
        var dateerror = "";

       
        $('#ExpenseDate').datepicker({
            maxDate: ed,
            minDate: sd,
            dateFormat: 'dd-mm-yy'
        });
        

    });

</script>
