@model Net4Courier.Models.ShipmentInvoiceVM


@{
    //ViewBag.Title = "Create";
    ViewBag.pTitle = "VAT Invoice";
    ViewBag.pageTitle = "Inbound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var AWBItems = [];
    var RemoveAWBItems = [];
    function calculatetotal() {
        debugger;
        var maxrow = $('#listbody > tr').length;
        var idtext = 'hdnawbchecked_';
        var totalvat = 0;
        var totaladmin = 0;
        for (i = 0; i < maxrow; i++) {
            var checked = $('#hdnawbchecked_' + i).prop('checked');
            if (checked ==true) {
                debugger;
                var Tax = $('#lblTax_' + i).val();
                var Admincharge = $('#lblAdminCharge_' + i).val();

                if (Tax == '')
                    Tax = 0;

                if (Admincharge == '')
                    Admincharge = 0;

                totalvat = parseFloat(totalvat) + parseFloat(Tax);
                totaladmin = parseFloat(totaladmin) + parseFloat(Admincharge);

                

            }
            $('#spanvattotal').html(parseFloat(totalvat).toFixed(2));
            $('#spanadmintotal').html(parseFloat(totaladmin).toFixed(2));

        }
    }
    function showmessage(msg) {
        $('#validations').css('display', 'block');
        if (msg == '')
            $('#validations').val('Please fill required Details!');
        else {
            $('#validations').val(msg);
        }
    }
    function hidemessage() {
        $('#validations').css('display', 'none');

    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('hide');
        var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWbNo_';
        var maxrow = $('#detailsbody > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var deleted = $('#hdndeleted_' + index).val();
                if (deleted != "true") {
                    var con = $('#hdnAWbNo_' + index).val();
                    if (con.trim() == awbno.trim()) {
                        duplicate = true;
                        var message = 'Duplicate AWB No.!';
                      
                        
                        Swal.fire("Data Validation!", "Duplicate AWB No.!", "error");
                        $('#txtawb').val('');
                        $('#txtawb').focus();
                        //break;
                    }

                    if (duplicate == false && index == (parseInt(maxrow - 1))) {
                        return true;
                    }
                }
            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    $(document).ready(function () {
        AWBItems = [];

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        // $(function () {
        //     $('#FromDate').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY',
        //     });

        // });
        // $(function () {
        //     $('#ToDate').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY',
        //     });
        // });
        // $(function () {
        //     $('#InvoiceDate').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY HH:mm',
        //     });
        // });
        // $(function () {
        //     $('#ImportDate').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY',
        //     });
        // });
        //$('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
        //$('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });
        //$('#InvoiceDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        //$('#ImportDate').datetimepicker({ format: 'DD-MM-YYYY' });

        //$('#InscanDate').datepicker({
        //    dateFormat: 'dd-M-yy',
        //    changeYear: true, changeMonth: true,
        //});
        $("#MAWB").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/TaxInvoice/GetMAWBList',
                    datatype: "json",
                    data: {
                        term: request.term, FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.MAWB,
                                value: val.ShipmentImportID
                            }
                        }))
                    }
                })
            },
            minLength: 0,
            autoFocus: false,
            focus: function (e, i) {
                $("#MAWB").val(i.item.label);
                $('#ShipmentImportID').val(i.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#MAWB").val(i.item.label);
                $('#ShipmentImportID').val(i.item.value);
            }
        });



        $('#btnaddall').click(function () {

            if ($("#MAWB").val().trim() == '' || $('#ShipmentImportID').val() == '' || $('#ShipmentImportID').val() == '0') {
                $("#MAWB").focus();
                return;
            }
            if ($('#InvoiceDate').val() == null || $('#InvoiceDate').val() == '') {
                $('#InvoiceDate').focus();
                
                Swal.fire("Data Validation!", "Select Invoice Date!!", "error");
                return false;
            }
            if ($('#FromDate').val() == null || $('#FromDate').val() == '') {
                $('#FromDate').focus();
                Swal.fire("Data Validation!", "Select From Date!!", "error");
                
                return false;
            }
            if ($('#ToDate').val() == null || $('#ToDate').val() == '') {
               
                Swal.fire("Data Validation!", "Select To Date!!", "error");
                $('#ToDate').focus();
                return false;
            }
            var m1 = $('#FromDate').val().split('-')[1];
            var m2 = $('#ToDate').val().split('-')[1];
            var m3 = $('#InvoiceDate').val().split('-')[1];

            var y1 = $('#FromDate').val().split('-')[2];
            var y2 = $('#ToDate').val().split('-')[2];
            var y3 = $('#InvoiceDate').val().split('-')[2];

            if (parseInt(m1) != parseInt(m2) || parseInt(y1) != parseInt(y2)) {
                
                Swal.fire("Data Validation!", "The transaction date should not overlap a month!!", "error");
                $('#FromDate').focus();

                return false;
            }
            if (parseInt(m1) != parseInt(m3) || parseInt(y1) != parseInt(y3)) {
              
                Swal.fire("Data Validation!", "Invoice Date should be in the same month of Transaction Date!!", "error");
                $('#InvoiceDate').focus();
                return false;
            }
            else {
                $('#btnaddall').attr('disabled', 'disabled');
            }
            var checkall = $('#CheckAll').prop('checked');
             $.ajax({
                type: "Get",
                 url: "/TaxInvoice/GetMAWBDetail",
                datatype: "Json",
                 data: {
                     ShipmentImportID: $("#ShipmentImportID").val(), MAWB: $('#MAWB').val(), checkall: true },
                 success: function (response) {
                     if (response.status == "ok") {
                         $.ajax({
                             type: 'POST',
                             url: '@Url.Action("ShowAWBList", "TaxInvoice")',
                             datatype: "html",
                             success: function (data) {
                                 $("#listContainer").html(data);
                                 $('#btnaddall').removeAttr('disabled');
                                 calculatetotal();

                             },
                             error: function (err) {
                                 console.log(err);
                             }
                         });
                     }
                 }
            });
        });



        $('#btnsave').click(function () {
            debugger;
            if ($('#InvoiceDate').val() == '') {
                showmessage();
                $('#InvoiceDate').focus();
                return false;
            }
            else if ($('#EmployeeID').val() == '') {
                showmessage();
                $('#EmployeeID').focus();
                return false;
            }
            else if ($('#MAWB').val() == '') {
                showmessage();
                $('#MAWB').focus();
                return false;
            }
            if ($('#ShipmentInvoiceID').val() == 0) {
                var m1 = $('#FromDate').val().split('-')[1];
                var m2 = $('#ToDate').val().split('-')[1];
                var m3 = $('#InvoiceDate').val().split('-')[1];

                var y1 = $('#FromDate').val().split('-')[2];
                var y2 = $('#ToDate').val().split('-')[2];
                var y3 = $('#InvoiceDate').val().split('-')[2];

                if (parseInt(m1) != parseInt(m2) || parseInt(y1) != parseInt(y2)) {
                    //$.notify('The transaction date should not overlap a month!', "error");
                    Swal.fire("Data Validation!", "The transaction date should not overlap a month!", "error");
                    $('#FromDate').focus();

                    return false;
                }
                if (parseInt(m1) != parseInt(m3) || parseInt(y1) != parseInt(y3)) {
                    Swal.fire("Data Validation!", "Invoice Date should be in the same month of Transaction Date!", "error");

                    $('#InvoiceDate').focus();
                    return false;
                }
            }
            hidemessage();

            var obj = [];
            var maxrow = $('#listbody > tr').length;            
            
            //if (maxrow == 1) {
            //    $.notify('AWB Not added,could not save invoice!');
            //    return false;
            //}
            $('#btnsave').attr('disabled', 'disabled');
            var checkedcount = 0;
            for (i = 0; i < maxrow; i++) {
                //var deleted = $('#hdndeleted_' + i).val();
                var checked = $('#hdnawbchecked_' + i).prop('checked');
                var zerochecked = $('#hdnZeroTax_' + i).prop('checked');
                if (checked == true) {
                    checkedcount = checkedcount + 1;
                    var item = {
                        ShipmentImportDetailID: $('#hdnShipmentId_' +i).val(),
                        AWBNo: $('#hdnawbchecked_' + i).attr('awb'), //$('#hdnAWbNo_' + i).val(),
                        AWBChecked: checked,
                        ZeroTax: zerochecked,
                        InvoiceValue: $('#hdnInvoiceValue_' +i).val(),
                        CurrencyID: $('#hdnCurrencyID_' + i).val(),
                        ExchangeRate: $('#hdnExRate_' + i).val(),
                        Tax: $('#lblTax_' + i).val(),
                        TaxP :$('#lblTaxP_' +i).val(),
                        adminCharges: $('#lblAdminCharge_' +i).val()
                    }
                    obj.push(item);
                }
                if (maxrow == (i + 1)) {

                    if (checkedcount == 0) {
                    
                        Swal.fire("Data Validation!", "AWB are not added,Could not proceed save!", "error");
                        $('#btnsave').removeAttr('disabled');
                        return false;
                    }
                    var saveobj = {
                        ShipmentInvoiceID: $('#ShipmentInvoiceID').val(),
                        InvoiceNo:$('#InvoiceNo').val(),
                        InvoiceDate: $('#InvoiceDate').val(),
                        MAWB:$('#MAWB').val(),
                        ShipmentImportID:$("#ShipmentImportID").val(),
                        EmployeeID: $('#EmployeeID').val(),
                        SupplierID: $('#SupplierID').val(),
                        IsOwn: $('#IsOwn').prop('checked'),
                        AWBDetails: JSON.stringify(obj)
                        
                    }   

                    $.ajax({
                        type: "POST",
                        url: "/TaxInvoice/SaveTaxInvoice",
                        datatype: "Json",
                        data: saveobj,
                        success: function (response) {
                            Swal.fire("Save Status", "VAT Invoice Saved Succesfully!", "success");
                            
                            $('#btnsave').removeAttr('disabled');
                            window.location = "/TaxInvoice/Index";
                        }
                    });
                }
            }

        });

        if (@ViewBag.EditMode== true) {
            $('#btnaddall').attr('disabled', 'disabled');
            $('#MAWB').attr('disabled', 'disabled');
            calculatetotal();
            if ($('#IsOwn').prop('checked') == true) {
                $('#SupplierID').attr('disabled', 'disabled');
            }
            else {
                $('#SupplierID').removeAttr('disabled');
            }
        }
        else {
            $('#SupplierID').attr('disabled', 'disabled');
        }

        $('#IsOwn').change(function () {
            if ($('#IsOwn').prop('checked') == true) {
                $('#SupplierID').attr('disabled', 'disabled');
            }
            else {
                $('#SupplierID').removeAttr('disabled');
            }
        })
        $("#InScanSheetNo").focus();
    });

</script>


    @if (TempData["SuccessMsg"] != null)
    {
<script type="text/javascript">
            $(document).ready(function () {
                var message=@TempData["SuccessMsg"];
                Swal.fire("Save Status", message, "success");
                     
                 });
</script>
    }
    else if (TempData["WarningMsg"] != null)
    {
<script type="text/javascript">
            $(document).ready(function () {
                var message =@TempData["WarningMsg"];
                Swal.fire("Status", message, "error");
                     
                 });
</script>
    }

    @using (Html.BeginForm("Create", "TaxInvoice", FormMethod.Post, new { @id = "taxinvoice" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <fieldset>
         
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5" style="border:1px solid #dedede;padding-top:5px">
                            <h6><b>Filter Option</b></h6>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <label class="col-form-label">From Date</label>
                                                <div class="docs-datepicker">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                                               placeholder="Pick a From Date" autocomplete="off">
                                                        <button type="button"
                                                                class="btn btn-secondary docs-datepicker-trigger"
                                                                disabled>
                                                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div class="docs-datepicker-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <label class="col-form-label">To Date</label>
                                                <div class="docs-datepicker">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                                               placeholder="Pick a date" autocomplete="off">
                                                        <button type="button"
                                                                class="btn btn-secondary docs-datepicker-trigger"
                                                                disabled>
                                                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div class="docs-datepicker-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label class="col-form-label required">MAWB</label>

                                    <div class="input-group d-flex">

                                        @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control", @required = "true" })

                                        <button type="button" class="btn btn-success waves-effect waves-light filter" id="btnaddall">
                                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="col-md-7">
                            <div class="row">

                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.ShipmentInvoiceID, new { })
                                            @Html.HiddenFor(model => model.ShipmentImportID, new { })
                                            <label class="col-form-label required">Invoice No.</label>
                                            @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control", @readonly = "true", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.InvoiceNo)
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <label class="col-form-label">Invoice Date</label>
                                                <div class="docs-datepicker">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control docs-date" name="InvoiceDate" id="InvoiceDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Convert.ToDateTime(@Model.InvoiceDate).ToShortDateString()"
                                                               placeholder="Pick a date" autocomplete="off">
                                                        <button type="button"
                                                                class="btn btn-secondary docs-datepicker-trigger"
                                                                disabled>
                                                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div class="docs-datepicker-container"></div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="flexTitle">
                                                <label class="col-form-label required">Delivery Agent</label>
                                                <div class="checkboxdesign no-padding  text-right" style="float:right">
                                                    @Html.CheckBox("IsOwn", new { @name = "IsOwn", @checked = "checked" }) &nbsp
                                                    <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">Own Company</label>
                                                </div>
                                            </div>
                                            @Html.DropDownListFor(model => model.SupplierID, new SelectList(@ViewBag.Agents, "SupplierID", "SupplierName"), "Select", new { @class = "form-select", @required = "true" })
                                        </div>

                                        <div class="col-md-5 text-md-end ">
                                            <div class="btn_top">
                                                <input type="button"   value="Save" class="btn btn-success" data-toggle="tooltip" title="Click here" id="btnsave" />
                                                <a href='@Url.Action("Index", "TaxInvoice")' class="btn btn-secondary" data-placement="right">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body" id="listContainer">
                    @{Html.RenderPartial("ItemList", Model);}
                </div>
            </div>




        </fieldset>
    }
 
