@model Net4Courier.Models.ShipmentInvoiceSearch
@{
    ViewBag.Title = "Index";
    ViewBag.pTitle = "VAT Invoice";
    ViewBag.pageTitle = "CO Loader";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/TaxInvoice/Index";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}


<script type="text/javascript">
    function showprint() {
        if ($('#ShipmentInvoiceDetailId').val() == '' || $('#ShipmentInvoiceDetailId').val() == '0') {
            $.notify('Select Invoiced AWBNo. to Print!');
            $('#ShipmentInvoiceDetailId').val(0);
            return;
        }
        if ($('#ShipmentInvoiceId').val() == '') {
            $('#ShipmentInvoiceId').val(0);
        }
        var  detailid=$('#ShipmentInvoiceDetailId').val();
        var Id= $('#ShipmentInvoiceId').val();
        var printurl = "/TaxInvoice/InvoicePrint?id=" + Id + "&Details=" + detailid;
        window.open(printurl, '_blank');
    }
    $(document).ready(function () {
       var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "aaSorting": [] });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        $("#AWBNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/TaxInvoice/GetImportAWBList',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AWB,
                                value: val.ShipmentInvoiceDetailId,
                                Id:val.ShipmentInvoiceId
                            }
                        }))
                    }
                })
            },
            minLength: 0,
            autoFocus: false,
            focus: function (e, i) {
                $("#AWBNo").val(i.item.label);
                $('#ShipmentInvoiceDetailId').val(i.item.value);
                $('#ShipmentInvoiceDetailId').attr('label', i.item.label);
                $('#ShipmentInvoiceId').val(i.item.Id);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#AWBNo").val(i.item.label);
                $('#ShipmentInvoiceDetailId').val(i.item.value);
                $('#ShipmentInvoiceDetailId').attr('label',i.item.label);
                $('#ShipmentInvoiceId').val(i.item.Id);
            }
        });

        $('#AWBNo').change(function () {
            if ($('#AWBNo').val() == '') {
                $('#ShipmentInvoiceDetailId').val(0);
            }
            else if ($('#AWBNo').val() != $('#ShipmentInvoiceDetailId').attr('label')) {
                $('#AWBNo').val('');
                $('#ShipmentInvoiceDetailId').val(0);
                $('#AWBNo').focus('');
            }

        });


    });


</script>



@using (@Html.BeginForm("Index", "TaxInvoice", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="lab_ora">Search AWBNo</label>
                    @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control ora_border" })
                    @Html.HiddenFor(model => model.ShipmentInvoiceDetailId)
                    @Html.HiddenFor(model => model.ShipmentInvoiceId)

                </div>

                <div class="col-md-1">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top">
                                <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary waves-effect waves-light filter btn_top" onclick="showprint()">
                                <i class="bx bx-printer mt-1" style="font-size: 21px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
               
                   
                
                <div class="col-md-5 text-md-end">
                        @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || (!isadd)){
                            <a disabled class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/TaxInvoice/Create" title="Create Not allowed in this Financial year!"><i class="mdi mdi-plus me-1"></i> New VAT Invoice</a>
                        }
                        else{
                            <a  class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/TaxInvoice/Create"><i class="mdi mdi-plus me-1"></i> New VAT Invoice</a>
                        }
                </div>
            </div>

           
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="card">
        @if (TempData["SuccessMsg"] != null)
        {           
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
            </script>
        }
        <div class="card-body">
            <table class="table table-bordered" id="datatable">
                    <thead class="table-light">
                        <tr>
                            <th>
                                Invoice No.
                            </th>
                            <th>
                                Invoice Date
                            </th>
                            <th>
                                Invoice Total
                            </th>
                            <th>
                                Entered By
                            </th>
                            <th>
                                MAWB
                            </th>

                            <th>
                                VAT Amount
                            </th>
                            <th>
                                Admin Charges
                            </th>
                            <th>Action</th>
                        </tr>
                </thead>
               
                <tbody>
                    @foreach (var item in @Model.Details)
                    {
                    <tr>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.InvoiceNo)
                        </td>

                        <td>
                            @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.InvoiceDate)
                        </td>

                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.InvoiceTotal)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.EnteredBy)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.MAWB)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.VatTotal)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.AdminCharges)
                        </td>
                        <td>

                            <a href="@Url.Action("Create", new { id = item.ShipmentInvoiceID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a href="@Url.Action("Details", new { id = item.ShipmentInvoiceID })"><i class="mdi mdi-eye font-size-18"></i></a>
                            <a class="aprint text-success" target="_blank" href="InvoiceAWBDownload?id=@item.ShipmentInvoiceID" title="Batch Shipment Excel Downloading "><i class="mdi mdi-file-excel font-size-18"></i></a>
                            @if (isprint)
                            {
                                <a class="aprint text-secondary" target="_blank" href="InvoicePrint?id=@item.ShipmentInvoiceID"><i class="mdi mdi-printer font-size-18"></i></a>
                            }
                            @if (isdelete)
                            {
                                <a href="#" onclick="Delete(@item.ShipmentInvoiceID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                            }
                        </td>
                    </tr>
                            }
                    </tbody>
            </table>
        </div>
    </div>
}
<script type="text/javascript">
    // function Delete(ID) {
    //     if (confirm("Are you sure, You want to Delete Agent Invoice?")) {
    //         window.location.href = "/AgentInvoice/DeleteConfirmed/?id=" + ID;
    //     }
    // }

    function Delete(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                    $.ajax({
                        type: "POST",
                        url: '/TaxInvoice/DeleteConfirmed',
                        datatype: "html",
                        data: {
                            'id': ID
                        },
                        success: function (response) {
                            if (response.status == "OK") {
                                Swal.fire("Delete Status!", response.message, "success");
                                window.location.reload();
                            }
                            else {
                                Swal.fire("Delete Status!", response.message, "error");
                            }
                        }
                    });

                }
            });

    }

</script>
