@model Net4Courier.Models.ShipmentInvoiceVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    function ChangeTax(tax ) {
        var isChecked = $("#hdnZeroTax_" + tax).is(':checked');
        //taxamt, taxpvalue, admincharge, invoiceval


        if (isChecked) {
            $("#tdTax_" + tax).html("0.00");
            $("#tdTaxP_" + tax).html("0.00");
            $("#tdadmincharge_" + tax).html("0.00");
            //$("#lbladmin_" + tax).text("0.00");
        }
        else {
            //$.ajax({
            //    type: "Get",
            //    url: "/TaxInvoice/CalculateCharge",
            //    datatype: "Json",
            //    data: {
            //        invoiceval1: invoiceval
            //    },
            //    success: function (response) {
            //        if (response.status == "ok") {
            //            // $("#lblTaxP_" + tax).text(response.taxval);
            //            $("#lblTax_" + tax).text(response.taxval);
            //            $("#lbladmin_" + tax).text(response.adminval);
            //        }

            //    }
            //});

           
            //$("#lbladmin_" + tax).text(admincharge);

            $("#tdTax_" + tax).html(parseFloat($("#lblTax_" + tax).val()).toFixed(2));
            $("#tdTaxP_" + tax).html(parseFloat($("#lblTaxP_" + tax).val()).toFixed(2));
            $("#tdadmincharge_" + tax).html(parseFloat($("#lblAdminCharge_" + tax).val()).toFixed(2));
            
        }

    }
    $(document).ready(function () {
        var table1 = $('#datatable1').DataTable({ "paging": false, "sPaginationType": "simple" });


        
        $("#Selectall").click(function () {
            var idtext = 'hdnawbchecked_';
            if ($("#Selectall").is(':checked')) {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', true);
                });
            }
            else {
                $('[id^=' + idtext + ']').each(function (index, item) {
                    $(item).prop('checked', false);
                });
            }

            calculatetotal();
        });

    });
</script>
<table class="table table-bordered" id="datatable1">
    <thead class="table-light">
    <th style="width:10%"><input type="checkbox" style="width:20px;" class="Selectall" id="Selectall" value="0" name="Selectall" />AWB No.</th>
    <th style="width:10%">AWB Date</th>
    <th style="width:4%">Bag</th>
    <th style="width:15%">Shipper | Receiver</th>
    <th>Customs Value</th>
    <th>Currency</th>
    <th>Ex.Rate</th>
    <th>Invoice Value</th>
    <th>Zero Tax</th>
    <th>Tax %</th>
    <th>Tax Amount</th>
    <th>Admin Charges</th>
    </thead>

    <tbody class="input-table" id="listbody">
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>

                    @Html.HiddenFor(model => model.Details[i].ShipmentImportDetailID, new { id = "hdnShipmentId_" + @i })
                    @Html.HiddenFor(model => model.Details[i].ShipmentInvoiceDetailID, new { })
                    @Html.CheckBoxFor(model => model.Details[i].AWBChecked, new { @id = "hdnawbchecked_" + @i, @awb = item.AWBNo, shipmentdetailid = item.ShipmentInvoiceDetailID, @class = "checkfilter calfield", style = "margin-left:10px;" ,@onchange="calculatetotal()"})
                    @Html.HiddenFor(model => model.Details[i].TaxP, new { @id = "lblTaxP_" + @i })
                    @*@Html.HiddenFor(model => model.Details[i].Tax, new { @id = "lblTax_" + @i })*@
                    @*@Html.HiddenFor(model => model.Details[i].adminCharges, new { @id = "lblAdminCharge_" + @i }*@
                    @Html.HiddenFor(model => model.Details[i].ExchangeRate, new { @id = "hdnExRate_" + @i })
                    @Html.HiddenFor(model => model.Details[i].CurrencyID, new { @id = "hdnCurrencyID_" + @i })
                    @Html.HiddenFor(model => model.Details[i].InvoiceValue, new { @id = "hdnInvoiceValue_" + @i })
                    @item.AWBNo
                </td>
                <td>@Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.AWBDate)</td>
                <td>@item.BagNo</td>
                <td>
                    <span class="text-over color_green" style="font-size:11px;" title="@item.Shipper">@Html.DisplayFor(modelItem => item.Shipper)</span>
                    <br />
                    <span class="text-over color_blue" style="font-size:11px;" title="@item.Receiver">@Html.DisplayFor(modelItem => item.Receiver)</span>

                </td>
                <td style="text-align:right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.CustomValue, "2")
                </td>
                <td>
                    @item.CurrencyName
                </td>
                <td>@Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.ExchangeRate, "3")</td>
                <td style="text-align:right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.InvoiceValue, _decimal)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Details[i].ZeroTax, new
                    {
                        @id = "hdnZeroTax_" + @i,
                        @awb = item.AWBNo,
                        shipmentdetailid = item.ShipmentInvoiceDetailID,
                        @class = "checkfilter calfield",
                        style = "margin-left:10px;",

                   @onchange = "ChangeTax('" + @i.ToString() + "')"
                    })
                </td>
                <td style="text-align:right" id="tdTaxP_@i.ToString()">
                    @*@Html.CheckBoxFor(model => model.Details[i].ZeroTax, new { @id = "hdnZeroTax_" + @i, @awb = item.AWBNo, shipmentdetailid = item.ShipmentInvoiceDetailID, @class = "checkfilter calfield", style = "margin-left:10px;" ,onchange="ChangeTax() })*@
                    @Html.DisplayFor(model => model.Details[i].TaxP)
                    @*@Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.TaxP, _decimal)*@
                </td>
                <td style="text-align:right" id="tdTax_@i.ToString()">
                    @Html.TextBoxFor(model => model.Details[i].Tax, new { @id = "lblTax_" + @i, @awb = item.AWBNo, @class = "form-control textright", @onchange="calculatetotal()" })
                    @*@Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.Tax, _decimal)*@
                </td>
                <td style="text-align:right" id="tdadmincharge_@i.ToString()">
                    @Html.TextBoxFor(model => model.Details[i].adminCharges, new { @id = "lblAdminCharge_" + @i, @awb = item.AWBNo, @class = "form-control textright", @onchange = "calculatetotal()" })
                    @*@Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.adminCharges, _decimal)*@
                </td>
            </tr>
            i++;
        }
    </tbody>
    <tfoot>
        <tr>
    <th colspan="10" style="text-align:right" >Total </th>
    <th style="text-align:right"><span id="spanvattotal" style="text-align:right"></span> </th>
    <th style="text-align:right"><span id="spanadmintotal" style="text-align:right"></span></th>
    </tr>
    </tfoot>
</table>


