@model IEnumerable<Net4Courier.Models.UserTypeVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     tfoot {
            display: table-header-group;
     }
        </style>


<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });


    });


    </script>
  <section class="content-header">
  <h1 class="headingfont">User Type</h1>

</section>
<p class="indexbtnpadding">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary btnwidth"})
</p>


<section class="content">
      @if (TempData["SuccessMsg"] != null)
    {
    @* <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
                                        </div>*@
             <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
                                                </script>
    }



     <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">

    <thead>
    <tr>
   <th>   @Html.DisplayNameFor(model => model.Name)</th>
        <th>Action</th>
    </tr>
        </thead>
    <tfoot>
       <th>   @Html.DisplayNameFor(model => model.Name)</th>
        <th style="display:none"></th>
    </tfoot>

@foreach (var item in Model) {
    <tr>
        <th>   @Html.DisplayFor(modelItem => item.Name)</th>
      
        <td>
        
             <a href="@Url.Action("Edit", new { id = item.UserTypeID })"><i class="fa fa-pencil"></i></a> |
        
             <a href="#" onclick="Delete(ID=@item.UserTypeID)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
}

</table>
        </div>
    </section>



<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete UserType?")) {
            window.location.href = "/UserType/DeleteConfirmed/?id=" + ID;
        }
    }
</script>


