@model Net4Courier.Models.RoleMasterVM
@{
    ViewBag.Title = "Edit";
    ViewBag.pTitle = "Role";
    ViewBag.pageTitle = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
        $(document).ready(function () {
            $("#RoleName").focus();
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

            $("#btnsave").click(function () {
                if ($("#RoleName").val() == "") {
                    $("#alert").show();
                    return false;

                }
                else {
                    $("#alert").hide();
                    return true;
                }
            });
        });
    </script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.RoleID)
                        <label class="col-form-label required">Role Name</label>
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label required">Type</label>
                        @Html.DropDownList("Type", new List<SelectListItem>
                        {
                            new SelectListItem{ Text="Employee", Value = "Employee" },
                            new SelectListItem{ Text="Agent", Value = "Agent" },
                            new SelectListItem{ Text="Customer", Value = "Csutomer" }

                        }, "Select", new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.Type)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="submit" value="Update" class="btn btn-success" id="btnsave"/>
                        <a href='@Url.Action("Index", "Role", new { id = 0 })' class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
