@model IEnumerable<Net4Courier.Models.InScanMasterVM>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        tfoot {
            display: table-header-group;
        }
    </style>
    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
    @*<script type="text/javascript">


        $(function () {
            $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            
        });

        $(function () {
            $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

            $('#ToDate').datepicker("setDate", new Date());
        });

       
        


    </script>*@

<script type="text/javascript">
        function LoadList() {
            debugger;

            $.ajax({
                url: '@Url.Action("Index", "PickUpRequest")',
                data: { FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val() }
            }).done(function () {
                alert('Added');
            });
        }
        $(document).ready(function () {

            $("select").css({ "border-radius": "5px" });
            var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

            $('#ToDate').datepicker("setDate", new Date());
        });
            //$('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
            //$('#FromDate').datepicker("setDate", new Date());


            //LoadList();

            //var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });
            var table = $('#dataTables-example').DataTable();
            //var table = $('#dataTables-example').dataTable({
            //    "bDestroy": true,
            //}).fnDestroy();

            $('#dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" />');


                //var table = $('#dataTables-example').DataTable();



            });





            // var table = $('#dataTables-example').DataTable({
            // "footerCallback": function ( row, data, start, end, display ) {
            //    var api = this.api(), data;

            //    // Remove the formatting to get integer data for summation
            //    var intVal = function ( i ) {
            //        return typeof i === 'string' ?
            //            i.replace(/[\$,]/g, '')*1 :
            //            typeof i === 'number' ?
            //                i : 0;
            //    };

            //    // Total over all pages
            //    total = api
            //        .column( 4 )
            //        .data()
            //        .reduce( function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0 );

            //    // Total over this page
            //    pageTotal = api
            //        .column( 4, { page: 'current'} )
            //        .data()
            //        .reduce( function (a, b) {
            //            return intVal(a) + intVal(b);
            //        }, 0 );

            //    // Update footer
            //    $( api.column( 4 ).footer() ).html(
            //        '$'+pageTotal +' ( $'+ total +' total)'
            //    );
            //}
            //  });


            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

               var m_names = new Array("Jan", "Feb", "Mar",
"Apr", "May", "Jun", "Jul", "Aug", "Sep",
"Oct", "Nov", "Dec");

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth()+1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year;

            if ($("#FromDate").val()=="")
                $("#FromDate").val('@ViewBag.FromDate');

            if ($("#ToDate").val()=="")
                $("#ToDate").val('@ViewBag.ToDate');


       });


</script>
    <section class="content-header">
        <h1 class="headingfont">InScan Master</h1>

    </section>
    
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="headinglabel">From Date</label>
                <input id="FromDate" class="form-control"  name="FromDate" type="text"  />
                @*@Html.TextBox("FromDate",new { @class = "form-control txttarget" })*@
            </div>

            <div class="col-md-3">
                <label class="headinglabel">To Date</label>
                <input type="text" id="ToDate" name="ToDate" class="form-control"  />
                @*@Html.TextBox("ToDate", new { @class = "form-control txttarget" })*@
            </div>
            <div class="col-md-2" style="padding-top:23px" >
                @*<input type="button" id="btnFilter" class="btn btn-primary btnwidth" value="Filter" onclick="LoadList()" />*@
                @*@Html.ActionLink("Filter", "Index", null, new { @class = "btn btn-primary btnwidth", FromDate = FromDate, ToDate = ToDate });*@
                <input type="button" value="Filter"  class="btn btn-primary btnwidth" onclick="location.href='@Url.Action("Index", "PickupRequest")?FromDate=' + $('#FromDate').val() + ',&ToDate=' + $('#ToDate').val() " />
            </div>
        <div clsas="col-md-2" style="padding-top:23px">
            <p class="indexbtnpadding">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
            </p>
        </div>
            </div>
    </div>



    <section class="content">

        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }
        @*<div class="row no-margin">
                <div class="col-md-3">
                     <label class="headinglabel">Sort By</label>
                            @Html.DropDownList("Filter", new List<SelectListItem>
                            {
                                 new SelectListItem{ Text="Both", Value = "1" },
                                new SelectListItem{ Text="Pending", Value = "2" },
                                new SelectListItem{ Text="Picked Up", Value = "3" },


                             }, new { @class = "form-control" })


                </div>
                 <div class="col-md-3" style="padding-top:25px">
                     <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
                </div>
            </div>*@


        

            <div class="table-responsive tblbackground" style="padding:15px;margin-top:20px">
                <table class="table table-responsive table-bordered tblfont" id="dataTables-example">


                    <thead>
                        <tr>
                            <th>
                                @Html.Label("AWB No.")

                            </th>


                            <th>
                                @Html.Label("Trans Date")
                            </th>
                            <th>
                                @Html.Label("Consignor")
                            </th>


                            <th>
                                @Html.Label("Consignee")
                            </th>
                            
                            <th>
                                @Html.Label("Status")
                            </th>

                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>
                                @Html.Label("AWB No.")

                            </th>


                            <th>
                                @Html.Label("Trans Date")
                            </th>
                            <th>
                                @Html.Label("Consignor")
                            </th>


                            <th>
                                @Html.Label("Consignee")
                            </th>

                            <th>
                                @Html.Label("Status")
                            </th>
                            
                            <th style="display:none"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.AWBNo)
                                </td>
                                <td>
                                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.TransactionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consignor)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Consignee)
                                </td>                                
                                <td>
                                    Status
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.InScanID })"><i class="fa fa-pencil"></i></a> |
                                    @*<a href="@Url.Action("Delete", new { id = item.RoleID })"><i class="fa fa-times"></i></a>*@
                                    <a href="#" onclick="Delete(ID=@item.InScanID)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        
    </section>
    <script type="text/javascript">
        function Delete(ID) {
            if (confirm("Are you sure? You want to Delete PickUp Request?")) {
                window.location.href = "/PickUpRequest/DeleteConfirmed/?id=" + ID;
            }
        }
    </script>
