@model IEnumerable<CMSV2.Models.ReceiptVM>

    @{
        Layout = null;
        var ismodify = true;
        var isdelete = true;
        var isprint = true;

        string path = "/CustomerReceipt/CustomerTradeReceiptDetails/0";
        var customers = ViewBag.AllCustomers as IEnumerable<CMSV2.Models.CustomerMaster>;
        var spath = ""; // System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            CMSV2.Models.SourceMastersModel obj = new CMSV2.Models.SourceMastersModel();
            isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

        }
    }
    <style>
        table.dataTable tfoot th {
            padding-left: 10px !important;
        }

        table.dataTable thead th {
            padding-left: 10px !important;
        }
    </style>

    <script type="text/javascript">

    $(document).ready(function () {

        $('#dataTables-example tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "order": [[0, "desc"]]  });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $(".print").click(function () {
            var row = $(this).parent("a").parent("td").parent("tr");
            var id = $(row).find("td").eq(0).find('input[type=hidden]').val();
            var url = '@spath' + "/Reports/ReceiptVocher.aspx?recpayid=" + id;

            //var src = "http://localhost:1052/Reports/ReceiptVocher.aspx?recpayid=" + id;
            window.open(url, "_blank");
        });


    });




    </script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
        <thead>
            <tr>

                <th style="width: 10%">Receipt Date</th>
                <th>Receipt Number</th>
                <th style="width: 25%">Client</th>
                <th class="right_text">Amount</th>
                <th>Currency</th>
                <th style="width:120px;">Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>

                <th>Receipt Date</th>
                <th>Receipt Number</th>
                <th>Customer</th>
                <th >Amount</th>
                <th>Currency</th>
                <th style="width:120px;"></th>
            </tr>
        </tfoot>

        <tbody>


            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @CMSV2.Models.CommanFunctions.GetShortDateFormat(item.RecPayDate)

                        @Html.HiddenFor(model => item.RecPayID)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DocumentNo)</td>
                    <td class="tdtarget">                        
                        @Html.DisplayFor(modelItem => item.PartyName)
                    </td>
                    <td class="tdtarget right_text" style="text-align:right!important">@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td class="tdtarget">@Html.DisplayFor(modelItem => item.Remarks)</td>

                    <td>

                        @if (ismodify)
                        {
                            <a href='@Url.Action("CustomerTradeReceipt", "CustomerReceipt", new { id = item.RecPayID })' data-toggle="tooltip" data-placement="left" title="Click here"><i class="fa fa-pencil"></i></a>
                        }
                        |
                        @if (isdelete)
                        {
                            <a href="#" onclick="DeleteCustomer(cid=@item.RecPayID)"><i class="fa fa-times-circle"></i></a>
                        }
                        |
                        @if (isprint)
                        {
                            <a href="#"><i class="fa fa-print " aria-hidden="true" onclick="funExportToPDF(@item.RecPayID)"></i></a>
                        }
                        
                        @*@if (isprint)
                        {

                            <a href="#"><i class=" fa fa-file-pdf-o print" style="color:red"></i></a>
                        }*@


                    </td>
                </tr>

            }

        </tbody>
    </table>

    <script type="text/javascript">
      function funExportToPDF(id) {
          //showLoading();
        $.ajax({
             url: '@Url.Action("ReceiptReport", "CustomerReceipt")',

            type: "GET",
            data: { id:id},
                    dataType: "json",
            success: function (response) {
                if (response.result == "ok") {
                    $('#frmPDF').attr('src', @Url.Content("~/ReportsPDF/") + response.path); //''

                    setTimeout(function () {
                        //hideLoading();
                        window.open('@Url.Content("~/ReportsPDF/")' + response.path);
                        //frame = document.getElementById("frmPDF");
                        //framedoc = frame.contentWindow;
                        //framedoc.focus();
                        //framedoc.print();
                    }, 1000);
                } else {
                    alert(resuponse.message);
                    //hideLoading();
                }
            },
        });

        return false;
    }
    </script>
