@model IEnumerable<Net4Courier.Models.PeriodLock>

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Period Lock";
    ViewBag.pageTitle = "Courier Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
 
<div class="col-md-12">
    <p class="indexbtnpadding text-right create_right">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
    </p>
</div>
<div class="clearfix"></div>

<div class="card">
    <div class="card-body">
        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                      $(document).ready(function () {
                          $.notify("@TempData["SuccessMsg"]", "success");
                });
            </script>
        }
        <div class="table-responsive tblbackground" style="padding:15px">
            <table class="table table-responsive table-bordered tblfont" id="datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Period)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentStatus)
                        </th>
                        <th> Remarks </th>
                        <th>
                            Audit Log Date
                        </th>

                        @*<th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <!--<tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Period)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentStatus)
                        </th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.StatusChangeDate)
                        </th>-->
                        @*<th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>*@
                        @*<th></th>*@
                    <!--</tr>
                </tfoot>-->
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Period)
                            </td>
                            <td>
                                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.StartDate)
                        
                            </td>
                            <td>
                                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.EndDate)
                            </td>
                            <td>
                                @if (item.CurrentStatus)
                                {
                                    @Html.DisplayName("Close")
                                }
                                else
                                {
                                    @Html.DisplayName("Open")
                                }
                            </td>
                            <td>
                                @item.Remarks
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusChangeDate)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>*@
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.PeriodLockID })"><i class="mdi mdi-pencil font-size-18"></i></a>
                                @*<a href="#" onclick="Delete(ID=@item.CountryID)"><i class="fa fa-times"></i></a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
