@model IEnumerable<Net4Courier.Models.ReceiptVM>
@{
    ViewBag.Title = "ClientRecieptDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    string path = "/CustomerReceipt/CustomerTradeReceiptDetails/0";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
    }
}

<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<style>
    tfoot {
        display: table-header-group;
    }

    .panel-body {
        padding: 0px;
    }

    #tbl1 tr {
        height: 35px;
    }

    .panel {
        background-color: unset;
        box-shadow: unset;
    }

    /*.tblbackground {
            background-color: #fff;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
            border-radius: 10px;
        }*/

    .box-footer {
        background-color: unset;
    }

    .searchtabs {
        box-shadow: unset !important;
        border-radius: unset !important;
    }
</style>

@*<script src="@Url.Content("~/Scripts/angular.js")"></script>
    <script src="@Url.Content("~/MyJsFiles/CustomerRecieptDetails.js")"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
              

        $("#frmdate").css("border-radius", "5px");
        $("#todate").css("border-radius", "5px");


        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

            $('#ToDate').datepicker("setDate", new Date());
        });

        if ($("#FromDate").val()=="")
                $("#FromDate").val('@ViewBag.FromDate');

        if ($("#ToDate").val()=="")
             $("#ToDate").val('@ViewBag.ToDate');

        //$("#FromDate").val(GetCurrentDate());
        //$("#ToDate").val(GetEndDate());

        function GetCurrentDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);
            var str = new Date(startdate);
            var d = new Date();
            var curr_date = sd.getDate();
            var curr_month = d.getMonth();
            var curr_year = str.getFullYear();
            return ("01" + "-" + m_names[curr_month] + "-" + d.getFullYear());
        }

        function GetEndDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);
            var str = new Date(startdate);
            var d = new Date();
            var curr_date = ed.getDate();
            var curr_month = d.getMonth();
            var curr_year = ed.getFullYear();
            return (d.getDate() + "-" + m_names[curr_month] + "-" + d.getFullYear());
        }



        var frm = new Date($('#FromDate').val());
        var dto = new Date($('#ToDate').val());
        var fYearID = '@Session["fyearid"].ToString()';

            //showLoading();
            $.ajax({
                url: "@Url.Action("GetAllTradeCustomerByDate", "CustomerReceipt")",
                //    data: {  },
                type: "GET",
                data: { fdate: $('#FromDate').val(), tdate: $('#ToDate').val(), FYearID: fYearID },
                dataType: "json",

                success: function (data) {
                    //hideLoading();
                    $("#result").html(data.view);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });


        $("#btnsearch").click(function () {
            var frm = new Date($('#FromDate').val());
            var dto = new Date($('#ToDate').val());
            var fYearID = '@Session["fyearid"].ToString()';

            //showLoading();
            @*$.ajax({
                url: "@Url.Action("GetAllCustomerByDate", "CustomerReciept")",
                //    data: {  },
                type: "GET",
                data: { fdate: $('#frmdate').val(), tdate: $('#todate').val(), FYearID: fYearID },
                dataType: "json",

                success: function (data) {
                    hideLoading();
                    $("#result").html(data.view);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });*@

            $.ajax({
                url: "@Url.Action("GetTradeReceiptsByDate", "CustomerReceipt")",
                //    data: {  },
                type: "GET",
                data: { fdate: $('#FromDate').val(), tdate: $('#ToDate').val(), FYearID: fYearID },
                dataType: "html",

                success: function (data) {
                    //hideLoading();
                    $("#result").html('');
                    $("#result").html(data);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });
        });
     });
</script>


@if (ViewBag.SuccessMsg != null)
{
    <script type="text/javascript">
           $(document).ready(function () {
               $.notify("@ViewBag.SuccessMsg ", "success");
           });
    </script>
}

<section class="content-header" style="margin-bottom:20px">
    <h1 class="headingfont">Customer Receipt</h1>

</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row d-flex">


        <div class=" col-md-1  search_field">
            <label for="FromDate" class="col-3 control-label">From</label>
            <input type="text" class="col-9 form-control text-right datecontrol datepick" name="FromDate" id="FromDate" placeholder="From Date" />
        </div>
        <div class=" col-md-1 search_field">
            <label for="FromDate" class="col-3 control-label">To</label>
            <input type="text" class="col-9 form-control datecontrol text-right datepick" name="ToDate" id="ToDate" placeholder="To Date" />
        </div>
        <div class="col-md-2 m-top">
            @*<input type="submit" value="Filter" class="btn btn-primary btn-gradient btn-block waves-effect waves-light" />*@
            <button type="button" class="btn btn-primary" style="min-width:50px!Important;" id="btnsearch"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
        @*<div>
                <a href="@Url.Action("ExportCustomers")"> Report PDF </a>
            </div>*@

    <div class="m-top text-md-right text-right m-top" style="margin-bottom:10px;">
        @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || !isadd)
        {
            <a href='@Url.Action("CustomerTradeReceipt", "CustomerReceipt", new { id = 0 })' class="btn btn-primary  btnwidth" data-toggle="tooltip" disabled  data-placement="right" title="Click here">Create New</a>
        }
        else
        {
            <a href='@Url.Action("CustomerTradeReceipt", "CustomerReceipt", new { id = 0 })' class="btn btn-primary  btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Create New</a>
        }


    </div>
    </div>
    <div class="table-responsive tblbackground" style="padding:15px;margin-top:20px" id="result">

        @*<div class="row customer_details">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding_none" id="result">
                </div>
            </div>*@

    </div>

}


<script type="text/javascript">
    function DeleteCustomer(cid) {

        if (confirm("Are you sure, You want to Delete this Record?")) {
            window.location.href = "/CustomerReceipt/DeleteCustomerDetTrade/?id=" + cid;
        }
    }
</script>


