@model Net4Courier.Models.CustomerReceiptSearch
@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Customer Receipt";
    ViewBag.pageTitle = "Account Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var _decimal = Session["Decimal"].ToString();
    string path = "/CustomerReceipt/Index";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }

}

<style>


    .panel-body {
        padding: 0px;
    }

    #tbl1 tr {
        height: 35px;
    }

    .panel {
        background-color: unset;
        box-shadow: unset;
    }

    /*.tblbackground {
            background-color: #fff;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
            border-radius: 10px;
        }*/

    .box-footer {
        background-color: unset;
    }

    .searchtabs {
        box-shadow: unset !important;
        border-radius: unset !important;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


        $('#dataTables-example tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "order": [[0, "desc"]] });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

     });
</script>
<script type="text/javascript">
      function funExportToPDF(id) {
       
        $.ajax({
             url: '@Url.Action("ReceiptReport", "CustomerReceipt")',

            type: "GET",
            data: { id:id},
                    dataType: "json",
            success: function (response) {
                if (response.result == "ok") {
                    $('#frmPDF').attr('src', @Url.Content("~/ReportsPDF/") + response.path); //''

                    setTimeout(function () {
                        //hideLoading();
                        window.open('@Url.Content("~/ReportsPDF/")' + response.path);
                        //frame = document.getElementById("frmPDF");
                        //framedoc = frame.contentWindow;
                        //framedoc.focus();
                        //framedoc.print();
                    }, 1000);
                } else {
                    alert(resuponse.message);
                    //hideLoading();
                }
            },
        });

        return false;
    }
</script>


    @if (ViewBag.SuccessMsg != null)
    {
        <script type="text/javascript">
           $(document).ready(function () {
               //$.notify("@ViewBag.SuccessMsg ", "success");
           });
        </script>
    }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="card">
<div class="card-body">
    <div class="row">
        <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">From Date</label>
                        
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                    placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
        <div class=" col-md-2">
        <div class="mb-2">
            <label for="Receipt No." class="col-form-label">Search Receipt No.</label>
            @Html.TextBoxFor(mode => mode.ReceiptNo, new { @class = "form-control text-right ora_border" })
        </div>
        </div>
       <div class="col-md-2">
                                <div class="mb-2 mt-2">
                                    <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top">
                                        <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                    </button>
                                </div>
                            </div>

        <div class="col-md-4 text-md-end">
         <div class="mb-2 mt-2">
            @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || !isadd)
            {
                 <a  class="btn btn-primary waves-effect waves-light btn_top" href="/CustomerReceipt/Create" disabled><i class="mdi mdi-plus me-1"></i> New Customer Receipt</a>
            }
            else
            {
                 <a  class="btn btn-primary waves-effect waves-light btn_top" href="/CustomerReceipt/Create"><i class="mdi mdi-plus me-1"></i> New Customer Receipt</a>
            }
</div>

        </div>
    </div>
</div></div>
        <div class="card">
            <div class="card-body">
                 <table class="table table-bordered mb-0" id="datatable" style="width:100%">
                <thead class="table-light">
                        <tr>
                            <th>
                                Receipt No.
                            </th>
                            <th>
                                Receipt Date
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>Particulars</th>
                            <th>Payment Mode</th>
                            <th>Amount</th>
                            <th>Cheque No.</th>
                            <th>Cheque Date</th>
                            <th width="15%"></th>
                        </tr>
                    </thead>
      
                    <tbody>
                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentNo)
                                </td>
                                <td>
                                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.RecPayDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentMode)
                                </td>
                                <td style="text-align:right">
                                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(item.Amount, @_decimal)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChequeNo)

                                </td>
                                <td>@Html.DisplayFor(modelItem => item.ChequeDate)</td>
                                <td>
                                    <div class="d-flex gap-3">
                                    @if (ismodify)
                                    {
                                        <a href='@Url.Action("Create", "CustomerReceipt", new { id = item.RecPayID })' data-toggle="tooltip" data-placement="left" title="Click here" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    }
                                    
                                    @if (isprint)
                                    {
                                        <a href="#" class="text-secondary"><i class="mdi mdi-printer font-size-18" aria-hidden="true" onclick="funExportToPDF(@item.RecPayID)"></i></a>
                                    }
                                    

                                    @if (isdelete)
                                    {
                                        <a href="#" onclick="DeleteCustomer(ID=@item.RecPayID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    }

                                    @*@if (isprint)
        {

            <a href="#"><i class=" fa fa-file-pdf-o print" style="color:red"></i></a>
        }*@
</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
 </div>
       
    }



  



<script type="text/javascript">
    // function DeleteCustomer(cid) {

    //     if (confirm("Are you sure, You want to Delete this Record?")) {
    //         window.location.href = "/CustomerReceipt/DeleteCustomerDetTrade/?id=" + cid;
    //     }
    // }

    function DeleteCustomer(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this Record?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                     $.ajax({
                         type: "POST",
                         url: '/CustomerReceipt/DeleteCustomerDetTrade',
                         datatype: "html",
                         data: {
                             'id': ID
                         },
                         success: function (response) {
                             if (response.status == "OK") {
                                 Swal.fire("Delete Status!", response.message, "success");
                                 window.location.reload();
                             }
                             else {
                                 Swal.fire("Delete Status!", response.message, "error");
                             }
                         }
                     });

                }
            });

    }
</script>


