@model Net4Courier.Models.CustomerRateTypeVM

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Customer Rate Type";
    ViewBag.pageTitle = "Customer Rate Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
      
        $("#CustomerRateType").focus();

        $("#btnsave").click(function () {
            var rate = $("#CustomerRateType").val();
            var zone = $("#ZoneCategoryID option:selected").val();

            if (rate == "") {
                $("#validations").show();
                return false;
            }
            else if (zone == "") {
                $("#validations").show();
                return false;
            }

            else {
                $("#validations").hide();
                return true;
            }
        });


    });
</script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
    <div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-md-3">
                <div class="mb-2">
                    <label class="col-from-label required">Customer Rate Type</label>
                    @Html.TextBoxFor(model => model.CustomerRateType, new { @class = "form-control txttarget" })
                </div>
            </div>


            @*<div class="col-md-3">
                <div class="mb-2">
                    <label class="col-from-label required">Zone Category</label>
                    @Html.DropDownListFor(model => model.ZoneCategoryID, new SelectList(@ViewBag.zone, "ZoneCategoryID", "ZoneCategory1"), "Select", new { @class = "form-select" });

                </div>
            </div>*@
            <div class="col-md-3">
                <div class="mb-2">
                 <label class="col-from-label required">Type</label>
                  @Html.DropDownListFor(model => model.RateBasedType, ViewBag.RateType as SelectList, new { @class = "form-select" })

                </div>
            </div>
            
            <div class="col-md-3 checkboxdesign btn_top">
                <div class="mb-2 mt-2">
                    @Html.CheckBox("StatusDefault", new { @name = "StatusDefault" })&nbsp;  <label class="col-from-label">Set as Default</label>

                </div>
            </div>


            <div class="col-md-12 text-md-end">
                <input type="submit" value="Save" class="btn btn-success" data-toggle="tooltip" title="Click here" id="btnsave" />
                <a href='@Url.Action("Index", "CustomerRateType", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="">Cancel</a>

            </div>
        </div>

        </div>

         </div>



    </fieldset>
}
</section>