@model Net4Courier.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcCompanyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcCompanyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusDefaultI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusDefaultI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusDefaultD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusDefaultD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusDefaultCargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusDefaultCargo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
