@model Net4Courier.Models.DepartmentVM

@{
    ViewBag.Title = "Edit";
         ViewBag.pTitle = "Department";
    ViewBag.pageTitle = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Department").focus();

        $("#btnsave").click(function () {
            var dep = $("#Department").val();

            if (dep == "") {
                $("#validations").show();
                return false;
            }
            else {
                $("#validations").hide();
                return true;
            }
        });

    });

 </script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        <div class="card"> 
           <div class="card-body"> 
     <div class="row"> 
             <div class="col-md-3">
                      <div class="mb-2">
                          <label class="col-form-label required">Department</label>
                 @Html.HiddenFor(model=>model.DepartmentID)
                   @Html.TextBoxFor(model => model.Department, new {@class="form-control txttarget" })
            @Html.ValidationMessageFor(model => model.Department)
                     
                 </div>
      

          

</div>
                      <div class="col-md-12 text-md-end">
                       <input type="submit" value="Update" class="btn btn-success" data-toggle="tooltip" title="Click here" id="btnsave" />
                               
                          
                        
                          <a href='@Url.Action("Index", "Department", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                               
                        </div>
                    </div>
  </div>  </div>
    </fieldset>
}

