@model Net4Courier.Models.RealeseHoldVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });



    });

 </script>

<section class="content-header">
    <h1 class="headingfont">Hold Realese</h1>

</section>

<section class="content">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>




             <div class="row no-margin"> 
               
      
          <div class="col-md-3">
              @Html.HiddenFor(model => model.InScanID)
                          <label class="headinglabel required">AWB No</label>
                  @Html.TextBoxFor(model => model.AWBNo, new {@class="form-control txttarget" })
            @Html.ValidationMessageFor(model => model.AWBNo)
                     
                 </div>

            <div class="col-md-3">
                          <label class="headinglabel required">Date & Time</label>
             @Html.TextBoxFor(model => model.date, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.date)
                 </div>

                    <div class="col-md-3">
                          <label class="headinglabel required">Collected By</label>
               @Html.TextBoxFor(model => model.CollectedBy, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.CollectedBy)
                     
                 </div>

                    
         </div>





        
             <div class="row no-margin" style="padding-top:25px;"> 
               
          <div class="col-md-3">
                          <label class="headinglabel required">Weight</label>
               @Html.TextBoxFor(model => model.StatedWeight, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.StatedWeight)
                     
                 </div>

                   <div class="col-md-3">
                          <label class="headinglabel required">Pieces</label>
         @Html.TextBoxFor(model => model.Pieces, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.Pieces)
        </div>
      

          <div class="col-md-3">
                          <label class="headinglabel required">Courier Charges</label>
     @Html.TextBoxFor(model => model.CourierCharges, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.CourierCharges)
        </div>


                  



         
       
                 </div>

          

          <div class="row no-margin" style="padding-top:25px;"> 
         
               <div class="col-md-3">
                          <label class="headinglabel required">Shipper</label>
     @Html.TextBoxFor(model => model.Consignor, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.Consignor)
        </div>

                   <div class="col-md-3">
            @Html.HiddenFor(model => model.OriginID)
                          <label class="headinglabel required">Origin</label>
                  @Html.TextBoxFor(model => model.OriginCountry, new {@class="form-control txttarget" })
            @Html.ValidationMessageFor(model => model.OriginCountry)
        </div>
               <div class="col-md-3">
                          <label class="headinglabel required">Consignee</label>
                  @Html.TextBoxFor(model => model.Consignee, new {@class="form-control txttarget" })
            @Html.ValidationMessageFor(model => model.Consignee)
        </div>
                 


        </div>
               

          

        
          <div class="row no-margin" style="padding-top:25px;"> 
               
              
                     <div class="col-md-3" >
            @Html.HiddenFor(model => model.DestinationID)
                          <label class="headinglabel required">Destination</label>
                  @Html.TextBoxFor(model => model.ConsigneeCountry, new {@class="form-control txttarget" })
            @Html.ValidationMessageFor(model => model.ConsigneeCountry)
        </div>    

          <div class="col-md-3">
                          <label class="headinglabel required">Payment Mode</label>
     @Html.TextBoxFor(model => model.StatusPaymentMOde, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.StatusPaymentMOde)
                    
         </div>

               <div class="col-md-3">
                          <label class="headinglabel required">Realese By</label>
     @Html.TextBoxFor(model => model.ReleaseBy, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.ReleaseBy)
                    
          </div>

              
              </div>

         <div class="row no-margin" style="padding-top:25px;"> 
           <div class="col-md-3">
                          <label class="headinglabel required">Realese On</label>
     @Html.TextBoxFor(model => model.ReleaseOn, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.ReleaseOn)
                    
            </div>

               <div class="col-md-3">
                          <label class="headinglabel required">Realese Resoan</label>
     @Html.TextBoxFor(model => model.ReleaseResoan, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.ReleaseResoan)
                    
            </div>
              </div>

          <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12 btn-right">
                          <input type="submit" value="Realese" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                               
                          
                        
                          <a href='@Url.Action("IndexRelease", "Hold", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>
                               
                        </div>
                    </div>
    </fieldset>
            
}
    </section>


