@model Net4Courier.Models.HoldSearch

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Hold/Release Air WayBill";
    ViewBag.pageTitle = "Hold/Release Air WayBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = "/Hold/Index";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<script type="text/javascript">


    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });
    //    //$('#ReleaseOn').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });


    //});


</script>

<script type="text/javascript">
    function ShowStatusModal(InScanId, AWBNo) {

        $('#InScanID').val(InScanId);

        $.ajax({
            type: "POST",
            url: "/AWB/GetActiveStatus",
            datatype: "Json",
            data: { 'InScanID': InScanId },
            success: function (response) {
                debugger;
                console.log(response);
                var _detail = response.data;
                $('#releasemodaltitle').html('Release AWB :' + AWBNo);
                console.log(_detail);
                //$("#AWBNo").val(AWBNo);
                //$('#CourierStatusId').val(_detail.CourierStatusID);
                //$('#StatusTypeId').val(_detail.StatusTypeID);
                //$('#ChangeStatusTypeId').val(_detail.StatusTypeID).trigger('change');

                $('#StatusModal').modal('show');

            }
        });

    }
    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

     
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style=width:100% />');
        });


        var table = $('#dataTables-example').DataTable({
            "aaSorting": []
        });
        table.draw();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });


        //$("#FromDate").val(GetCurrentDate());
        //$('#ToDate').datepicker("setDate", new Date());
        //function GetCurrentDate() {
        //    var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
        //    var sd = new Date();
        //    var curr_date = '01';
        //    var curr_month = sd.getMonth() + 1;
        //    var curr_year = sd.getFullYear();
        //    return (curr_date + "-" + curr_month + "-" + curr_year);
        //}



        //$('#btnsavestatus').click(function () {
        //    if ($('#ReleaseBy').val() == "") {
        //        $("#errlabel").html("Select Released By!");
        //        return;
        //    }
        //    else if ($("#ReleaseOn").val() == "") {
        //        $("#errlabel").html("Select Release On!");
        //        return;
        //    }
        //    else if ($("#ReleaseReason").val() == "") {
        //        $("#errlabel").html("Enter Reason!");
        //        return;
        //    }
        //    else {
        //        $("#errlabel").html("");
        //    }
        //    var statusobj = {
        //        InScanID: $('#InScanID').val(),
        //        ReleaseBy: $('#ReleaseBy').val(),
        //        ReleaseOn: $('#ReleaseOn').val(),
        //        ReleaseReason: $('#ReleaseReason').val()
        //    };

        //    $.ajax({
        //        type: "POST",
        //        url: "/Hold/SaveReleaseStatus",
        //        datatype: "Json",
        //        data: statusobj,
        //        success: function (response) {

        //            $('#StatusModal').modal('hide');
        //            if (response.status == "ok") {
        //                $.notify(response.message, "success");
        //                window.location.reload();
        //            }
        //            else { $.notify("Save Failed :" + response.message, "warning"); }



        //        }
        //    });


        //});

    });


</script>

@using (@Html.BeginForm("Index", "Hold", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

            <div class="col-md-2">
                <label class="lab_blue">Action Type</label>
                @Html.DropDownListFor(mode => mode.ActionType, ViewBag.StatusType as SelectList, new { @class = "form-select" })
            </div>
           <div class="col-md-2">
                <div class="mb-2">
                    <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload" id="btnsearch">
                        <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                    </button>
                </div>
            </div>
              
            <div class="col-md-4 text-md-end btn_top">
                    @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || (!isadd))
                    {
                        <a href='/Hold/Create' class="btn btn-primary me-2" id="Create" disabled><i class="mdi mdi-plus me-1"></i> New Hold / Release </a>
                    }
                    else
                    {
                        <a href='/Hold/Create' class="btn btn-primary me-2" id="Create"><i class="mdi mdi-plus me-1"></i> New Hold / Release </a>
                    }
            </div>
        </div>
    </div>
    </div>
}


        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }
        <div class="card">
        <div class="card-body">
            <table class="table table-bordered mb-0" id="datatable">
                    <thead class="table-light">
                    <tr>
                        <th>
                            Entry Date
                        </th>
                        <th>
                            Air WayBill No.
                        </th>
                        <th>
                            @Html.Label("AWB Date")
                        </th>
                        <th>
                            @Html.Label("Entered By")
                        </th>
                        <th>
                            @Html.Label("Reason")
                        </th>
                        <th>
                            @Html.Label("Action Type")
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                @foreach (var item in Model.Details)
                {
                    <tr>
                        <td class="text-right">
                            @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.EntryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AWBNo)
                        </td>
                        <td class="text-right">
                            @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.AWBDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnteredBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActionType)
                        </td>                     
                        <td>
                            @if (ismodify)
                            {<a href="@Url.Action("Create", new { id = item.HoldReleaseID })"><i class="mdi mdi-pencil font-size-18"></i></a>
                            }

                        </td>
                    </tr>
                }

            </table>
        </div>

   

    </div>

