@model Net4Courier.Models.HoldVM
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    $(document).ready(function () {
        //var table1 = $('#DetailsTable').DataTable({ "paging": false, "aaSorting": []});
    });
</script>
    <table class="table table-bordered mb-0" id="datatable">
                    <thead class="table-light">
        <th>Entry Date</th>
<th>Action Type</th>
    <th>Employee</th>    
    <th>Reason</th>    
    </thead>
    <tbody class="input-table" id="listbody">
        @if (Model.HistoryDetails != null)
        {
        foreach (var item in Model.HistoryDetails)
        {
        <tr>
            <td>
                @item.EntryDate
            </td>
            <td>
                @item.ActionType
            </td>
            <td>
                @item.EnteredBy
            </td>
            <td>
                @item.Remarks
            </td>
        </tr>
            i++;
        }
        }
    </tbody>
</table>


