@model Net4Courier.Models.ExportShipmentFormModel
@{
    
    ViewBag.pTitle = "Manage Manifest";
    ViewBag.pageTitle = "Outbound";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
    // var cities = (IEnumerable<CourierMVC.EntityFramework.S_CityMaster>)ViewBag.Cities;
}
<style>

    textarea {
        width: 100%;
        resize: vertical;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #Details [class*="col"] {
        padding-left: 2px;
        padding-right: 2px;
    }

    .reve_ratessm {
        width: 11%;
        float: right;
    }

    #Details input, #Details select {
        font-size: 12px;
    }
   

    .reve_rates1 {
        width: 5%;
    }

    .reve_rates2 {
        width: 6%;
    }

    .reve_rates {
        width: 8%;
    }

    .reve_rates3 {
        width: 9.5%;
    }

    .reve_rates4 {
        width: 17.5%;
    }
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    function redrawgridall() {
        debugger;
        var _checked = $('#Selectall').prop('checked');
        var maxrow = $('#listContainer > tr').length;

        for (var i = 0; i < maxrow; i++) {
            $('#chkawb_' + i).prop('checked', _checked);

        }
    }
    $(document).ready(function () {



        if ($('#ID').val() > 0) {
            $('#ShipmentTypeId').trigger('change');
        }
        else {
            $('#ShipmentTypeId').trigger('change');
        }


        $("#tAWB").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/ExportShipment/GetAWB',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    //open: function () {
                    //    autoComplete.zIndex(dlg.zIndex() + 1);
                    //}
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AWBNo,
                                value: val.AWBNo,
                                ID: val.InScanID
                            }
                        }))
                    }
                })
            }, minLength: 0,
            focus: function (e, i) {
                $("#tAWB").val(i.item.label);
                //$("#txtInScanID").val(i.item.ID);
                //$("#txtInScanID").attr('label', i.item.label);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#tAWB").val(i.item.label);
                //$("#txtInScanID").val(i.item.ID);
                //$("#txtInScanID").attr('label', i.item.label);
            }
        });




    });




</script>
     @using (Html.BeginForm("CreateExport", "ExportShipment", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate", @id = "exportShipment" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-5">
                        <div class="text-right ">
                            <input type="button" value="Download Template" class="btn btn-primary" onclick="window.location.href='/Template/ManifestTemplate.csv'">

                            <input type="submit" class="btn btn-success  btnwidth" value="Save " name="Command" id="btnSave" />
                            <a href='@Url.Action("Index", "ExportShipment")' class="btn btn-secondary">Cancel</a>

                         
                            <div class="btn-group hide" id="divothermenu1">
                                <a class="btn btn-pink" target="_blank" href="/ExportShipment/ExportShipmentPrint?id=@Model.ID" title="Import Shipment Printing"><i class="mdi mdi-printer font-size-18"></i></a>
                             </div>

                        </div><!-- /btn-group -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        @Html.HiddenFor(mode => Model.ID)
                        <input type="hidden" id="hdnDetailCount" value="@Model.ShipmentsVM.Count" />
                        @Html.LabelFor(model => model.ManifestNumber, "Manifest Number", htmlAttributes: new { @class = "col-form-label " })
                        @Html.TextBoxFor(model => model.ManifestNumber, new { @class = "form-control", @disabled = "true", @style = "text-decoration:none", @width = "100%" })
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Manifest Date</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date datetimepicker" name="ManifestDate" id="ManifestDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Convert.ToDateTime(@Model.ManifestDate).ToString("dd-MM-yyyy HH:mm")"
                                           placeholder="Pick a date" autocomplete="off">
                                    <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <label class="col-form-label">Manifest Type</label>
                        @Html.DropDownListFor(model => model.ShipmentTypeId, new SelectList(@ViewBag.Type, "ID", "ShipmentType"), "Select Shipment Type", htmlAttributes: new { @class = "form-select", @required = "true" })

                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label">Fowarding Agent</label>
                        @Html.DropDownListFor(model => model.FAgentID, new SelectList(@ViewBag.FwdAgentId, "SupplierID", "SupplierName"), "Select", new { @class = "form-select" })
                    </div>

                    <div class="col-md-2">
                        <label class="col-form-label">Delivery  Agent</label>
                        @Html.DropDownListFor(model => model.AgentID, new SelectList(@ViewBag.AgentList, "SupplierID", "SupplierName"), "Select", new { @class = "form-select" })
                        @Html.HiddenFor(model => model.TotalAWB, new { @class = "form-control", @min = 1, @required = "true", @readonly = "readonly" })
                    </div>

                    <div class="col-md-1">
                        @Html.LabelFor(model => model.MAWB, "MAWB", htmlAttributes: new { @class = "col-form-label" })
                        @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control", @min = 1 })
                        @Html.ValidationMessageFor(model => model.MAWB, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <label class="col-form-label">M.Wt</label>
                        @Html.TextBoxFor(model => model.MAWBWeight, new { @class = "form-control", @min = 1 })
                        @Html.ValidationMessageFor(model => model.MAWBWeight, "", new { @class = "text-danger" })
                    </div>


                </div>





                <div class="row flightarea hide" id="flightarea">
                    <div class="col-md-2">
                        <div class="mb-2">
                            @Html.LabelFor(model => model.OriginAirportCity, "Origin Airport City", htmlAttributes: new { @class = "headinglabel required" })
                            <div>
                                @Html.TextBoxFor(model => model.OriginAirportCity, new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.OriginAirportCity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            @Html.LabelFor(model => model.DestinationAirportCity, "Destination Airport City", htmlAttributes: new { @class = "headinglabel required" })
                            <div>
                                @Html.TextBoxFor(model => model.DestinationAirportCity, new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.DestinationAirportCity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            @Html.LabelFor(model => model.FlightDate, "Origin Flight Date", htmlAttributes: new { @class = "headinglabel" })
                            <div>
                                @Html.TextBoxFor(model => model.FlightDate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FlightDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            @Html.LabelFor(model => model.FlightNo, "Origin Flight Number", htmlAttributes: new { @class = "headinglabel required" })
                            <div>
                                @Html.TextBoxFor(model => model.FlightNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FlightNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">

                        <div class="mb-2">
                            @Html.LabelFor(model => model.Bags, htmlAttributes: new { @class = "headinglabel required" })
                            @Html.TextBoxFor(model => model.Bags, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Bags, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1">

                        <div class="mb-2">
                            @Html.LabelFor(model => model.RunNo, htmlAttributes: new { @class = "headinglabel" })
                            @Html.TextBoxFor(model => model.RunNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RunNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1  form-group">
                        @Html.LabelFor(model => model.CD, htmlAttributes: new { @class = "headinglabel" })
                        <div>
                            @Html.TextBoxFor(model => model.CD, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CD, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">

                        <div class="mb-2">
                            <div class="flexTitle">

                                <label class="col-form-label">AWB No.</label>
                                <div class="checkboxdesign no-padding text-right" style="float: right;">
                                    @Html.CheckBox("ChkBulkAWB", new { @id = "ChkBulkAWB",  @onchange = "searchoption(1)" }) &nbsp
                                    <label class="col-form-label" style="color: #00a65a !important; padding-left: 0 !important">Bulk AWB</label>
                                </div>
                            </div>

                            <div class="input-group">
                                <input type="text" id="txtAWBNo" class="form-control" placeholder="Select AWB No." />
                                <button type="button" id="btnaddsingle"  onclick="AddSingleAWB()" class="btn btn-success waves-effect waves-light filter ">
                                    <i class="bx bx-plus mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" style="border:1px solid #ccc">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-2">
                                    <label class="col-form-label">Origin Country (Optional)</label>
                                    <input type="text" class="form-control" id="txtOriginCountry" placeholder="Select Origin Country" />

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-2">
                                    <label class="col-form-label">Destination (Optional)</label>
                                    <input type="text" class="form-control" id="txtDestinationCountry" placeholder="Select Destination Country" />

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="mb-2">
                                    <label class="col-form-label">Co Loader</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtColoader" placeholder="Select Co-Loader Name" />
                                        <input type="hidden" id="hdnCoLoaderID" />
                                        <button type="button" onclick="AddBulkAWB()" id="btnaddbulk" class="btn btn-success waves-effect waves-light filter ">
                                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-2 text-md-right">
                                <label class="col-form-label">Upload CSV</label>
                                <div class="mb-2">
                                    <a class="btn btn-success waves-effect waves-light" id="btnUpload" title="Upload .CSV File" style="padding: 1px 10px;"><i class="mdi mdi-file-excel font-size-21"></i></a>
                                    <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                                </div>
                            </div>
                       
                       
                        </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label>Total MAWB Weight</label>
                            <div>
                                <input type="text" id="txtTotalMAWBWt" value="" class="form-control text-right" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label>Total Fwd Rate</label>
                            <div>
                                <input type="text" id="txtTotalFwdRate" value="" class="form-control text-right " readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label>Total Verified Weight</label>
                            <div>
                                <input type="text" id="txtTotalVerifiedWt" value="" class="form-control text-right" readonly />
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-2 text-md-end">
                        @*<label>Search in the Grid</label>
                        <input type="text" id="txtsearch" class="form-control" placeholder="Search Text" />*@
                    </div>
                </div>
                <table class="table table-bordered mb-0" id="datatable1" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th><input type="checkbox" style="width:20px;" class="Selectall" id="Selectall" value="0" name="Selectall" onchange="redrawgridall()" /></th>
                            <th>
                                AWB & Date
                            </th>
                            <th>
                                Shipper
                            </th>
                            <th>
                                Receiver
                            </th>
                            <th>
                                Contents
                            </th>
                            <th>
                                PCS & Weight
                            </th>
                            <th>Bag No.</th>
                            <th>Fwd Agent</th>
                            <th>
                                FWD AWB No.
                            </th>
                            <th>
                                FWD Rate
                            </th>
                            <th>
                                Verified Weight
                            </th>

                        </tr>
                      
                    </thead>
                   
                    <tbody class="input-table" id="listContainer">
                        @{Html.RenderPartial("ExportShipmentList", Model);}
                    </tbody>
              
                </table>
            </div>
        </div>

    }
 
   
    @Html.Partial("~/Views/Shared/_LoaderModal.cshtml")
    @section scripts{

        <script src="~/Scripts/JS/ManifestCreate.js"></script>


    }