
@model Net4Courier.Models.ExportShipmentFormModel
@{
    /**/

    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
   
@foreach (var item in Model.ShipmentsVM)
{
<tr>
    <td>

        @Html.HiddenFor(model => model.ShipmentsVM[i].ShipmentDetailID, new { @Value = @item.ShipmentDetailID, @id = "hdnShipmentDetailID_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].InscanId, new { @Value = @item.InscanId, @id = "hdnInscanId_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].MAWB, new { @Value = @item.MAWB ,@id= "hdnMAWB_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].AWBNo, new { @Value = @item.AWBNo, @id = "hdnAWBNo_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].AWBDate, new { @Value = @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.AWBDate), @id = "hdnAWBDate_" + @i })
        
        @Html.HiddenFor(model => model.ShipmentsVM[i].Contents, new { @Value = @item.Contents, @id = "hdnContents_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].Shipper, new { @Value = @item.Shipper, @id = "hdnShipper_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].Receiver, new { @Value = @item.Receiver, @id = "hdnReceiver_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].PCS, new { @Value = @item.PCS, @id = "hdnPCS_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].Weight, new { @Value = @item.Weight, @id = "hdnWeight_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].Value, new { @Value = @item.Value, @id = "hdnValue_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].CurrencyID, new { @Value = @item.CurrencyID, @id = "hdnCurrencyID_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].InboundShipmentID, new { @Value = @item.InboundShipmentID, @id = "hdnInboundShipmentID_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].ExportID, new { @Value = @item.ExportID, @id = "hdnExportID_" + @i })
        @*@Html.HiddenFor(model => model.ShipmentsVM[i].FwdAgentAWBNo, new { @Value = $"{item.FwdAgentAWBNo}" })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdAgentId, new { @Value = $"{item.FwdAgentId}" })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdCharge, new { @Value = $"{item.FwdCharge}" })
        @Html.HiddenFor(model => model.ShipmentsVM[i].OtherCharge, new { @Value = $"{item.OtherCharge}" })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdFlight, new { @Value = $"{item.FwdFlight}" })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdDate, new { @Value = $"{item.FwdDate}" })*@
        @Html.HiddenFor(model => model.ShipmentsVM[i].OriginCountry, new { @Value = @item.OriginCountry, @id = "hdnOriginCountry_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].OriginCity, new { @Value = @item.OriginCity, @id = "hdnOriginCity_" + @i })

        @Html.HiddenFor(model => model.ShipmentsVM[i].DestinationCountry, new { @Value = @item.DestinationCountry, @id = "hdnDestinationCountry_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].DestinationCity, new { @Value = @item.DestinationCity, @id = "hdnDestinationCity_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdDate, new { @Value = @item.FwdDate, @id = "hdnFwdDate_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdFlight, new { @Value = @item.FwdFlight, @id = "hdnFwdFlight_" + @i })
        @Html.HiddenFor(model => model.ShipmentsVM[i].FwdCharge, new { @Value = @item.FwdCharge, @id = "hdnFwdCharge_" + @i })
        @*@Html.HiddenFor(model => model.ShipmentsVM[i].VerifiedWeight, new { @Value = @item.VerifiedWeight, @id = "hdnVerifiedWeight_" + @i })*@
        @Html.HiddenFor(model => model.ShipmentsVM[i].OtherCharge, new { @Value = @item.OtherCharge, @id = "hdnOtherCharge_" + @i })

        @if (item.AWBChecked)
        {
            <input type="checkbox" id="chkawb_@i" checked value="@item.AWBChecked" onchange="TotalItems()" />
        }
        else
        {
            <input type="checkbox" id="chkawb_@i" value="@item.AWBChecked" onchange="TotalItems()" />
        }
    </td>

    <td>
        @item.AWBNo <br />
        @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.AWBDate)
    </td>
    <td>
        @item.Shipper<br />

        @item.OriginCountry
    </td>
    <td>
        @item.Receiver<br />
        @item.DestinationCountry
    </td>
    <td>
        @item.Contents
    </td>
    <td>
        @item.PCS <br />
        @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Weight, "3") <br />
        @*@item.BagNo*@
    </td>
    <td>
        <input type="text" class="form-control" id="txtBagNo_@i" value="@item.BagNo" />
    </td>
    <td>
        <input type="text" class="form-select" id="txtFwdAgent_@i" value="@item.FwdAgentName" fagentid="@item.FwdAgentId" />

    </td>
    <td>
        <input type="text" class="form-control" id="txtFwdAgentNo_@i" value="@item.FwdAgentAWBNo" />
    </td>

    <td>
        <input type="text" class="form-control textright" id="txtFwdRate_@i" value="@Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.FwdCharge,"2")" onchange="TotalItems()" />
    </td>
    <td>
        <input type="text" class="form-control textright3" id="txtFwdVerifiedWeight_@i" value="@item.VerifiedWeight" onchange="TotalItems()" />
    </td>
    
   

    
</tr>
    i++;
}
