@model Net4Courier.Models.ExportShipmentFormModel

@{
    ViewBag.Title = "Details";
    var i = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
    decimal pcstot = 0;
    decimal weighttot = 0;
    decimal nettotal = 0;
    decimal fwdcharge = 0;
    decimal fwdothercharge = 0;
    var currency = "";
}
<script src="~/Content/plugins/excel/jquery.table2excel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        setTwoNumberDecimal($('#AdminPer'));
        setTwoNumberDecimal($('#CustomerInvoiceTax'));
        setTwoNumberDecimal($('#FuelPer'));
    });

</script>
<script>
    function ExportExcel() {

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date.toString() + curr_month.toString() + curr_year.toString() + '_' + d.getHours() + d.getMinutes();
        $("#dataTables-example").table2excel({
            filename: "ExportManifestMaster_" + reqdate + ".xls"
        });
        $("#table2").table2excel({
            filename: "ExportManifestDetail_" + reqdate + ".xls"
        });
        
    }
     function setTwoNumberDecimal(obj) {
        if ($(obj).val() == null || $(obj).val() == "") {
            $(obj).val(0);
        }
        else {

            $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
        }
    }
       function printDiv() {
          var divid="divreport"
    var contents = document.getElementById(divid).innerHTML;
    var frame1 = document.createElement('iframe');
    frame1.name = "frame1";
    frame1.style.position = "absolute";
    frame1.style.top = "-1000000px";
    document.body.appendChild(frame1);
    var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
    frameDoc.document.open();
    frameDoc.document.write('<html><head><title>DIV Contents</title>');
    frameDoc.document.write('</head><body>');
    frameDoc.document.write(contents);
    frameDoc.document.write('</body></html>');
    frameDoc.document.close();
    setTimeout(function () {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        document.body.removeChild(frame1);
    }, 500);
    return false;
}

</script>
<div class="row no-margin" style="padding-top: 10px">
    <div class="col-md-12 btn-right">
        <input type="button" value="Print" class="btn btn-primary btnwidth" onclick="printDiv()" />&nbsp;&nbsp;
        <a class="btn btn-primary btnwidth" title="Export to Excel" style="width: 60px!Important;min-width: 50px!important;" href="Javascript:void(0)" onclick="ExportExcel()"><img style="width:30px;height:30px" src="~/Content/img/ExcelIcon.jpg" /></a>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btnwidth float-right" })
    </div>
</div>

<div class="" id="divreport">
    <style>
        body {
            box-sizing: border-box;
            font-family: Calibri;
        }



        .invoiceRow {
            margin: 50px 0;
        }

        .logo {
            padding-left: 60px;
            padding-bottom: 20px;
        }

        .invoiceRow table th {
            text-align: left;
            background: #daf2fb;
            -webkit-print-color-adjust: exact;
            color: #1a7fa5;
            font-size: 14px;
        }

        .headrow {
            justify-content: space-between;
            align-items: flex-end;
        }

        .d-flex {
            display: flex;
        }

        table {
            width: 100%;
        }

        .trnrow {
            display: flex;
            justify-content: flex-end;
        }

        .invoiceRow table {
            border: 1px solid #c0e0ec;
            ;
            border-spacing: 0;
            border-collapse: unset;
        }

            .invoiceRow table th, .invoiceRow table td {
                padding: 8px 10px;
            }


        .rightInfo, .leftInfo, .logo, .rightBlock, .trnitem, .rightTotal {
            width: 40%;
        }

        .rightBlock, .trnitem {
            text-align: center;
        }

            .rightBlock h1 {
                text-transform: uppercase;
                color: #a51717;
            }

        .rightInfo table {
            background: #eee;
        }

            .rightInfo table th {
                border-bottom: 2px dashed #333;
            }

            .rightInfo table th, .rightInfo table td {
                border-right: 2px solid #333;
            }

                .rightInfo table th:last-of-type, .rightInfo table td:last-of-type {
                    border-right: none;
                }

        .particularInner table {
            border-spacing: 0;
        }

            .particularInner table th {
                border-top: 2px solid #07a7e3;
                border-bottom: 2px solid #07a7e3;
                padding: 8px 6px;
                text-align: left;
                background: #07a7e3;
                font-size: 14px;
                color: #fff;
                font-weight: normal;
                -webkit-print-color-adjust: exact;
            }

            .particularInner table td {
                padding: 5px 10px;
                font-weight: normal;
            }

        .trnBlock {
            padding-bottom: 30px;
        }

        .particularInner table tr:last-of-type td {
            border-bottom: 2px solid #333;
        }

        .particularInner table > thead > th {
            font-weight: 500;
        }

        .particularInner table > tbody > tr > td {
            font-size: 12px !important;
        }

        .totalRow {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 10px 0;
        }

            .totalRow h3 {
                padding-bottom: 20px;
                text-decoration: underline;
            }

            .totalRow table {
                font-weight: bold;
                table-layout: fixed;
                text-align: right;
            }

        .terms ol {
            list-style-position: inside;
        }

            .terms ol li {
                padding: 5px 0;
            }

        .text-right {
            text-align: right !important;
        }
    </style>
    <section class="invoiceInfo">
        <div class="invoiceRow d-flex">

            <table id="dataTables-example">
                <tr>
                    <th>Manifest No.</th>
                    <th>Consignor Name</th>
                    <th>Consignee Name</th>
                    <th>Origin Airport</th>
                    <th>Destination Airport</th>
                    <th>---</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ManifestNumber)
                    </td>
                    <td>@Html.DisplayFor(model => model.ConsignorName)</td>
                    <td>@Html.DisplayFor(model => model.ConsigneeName)</td>
                    <td>@Html.DisplayFor(model => model.OriginAirportCity)</td>
                    <td>@Html.DisplayFor(model => model.DestinationAirportCity)</td>
                </tr>
                <tr>
                    <th>
                        Origin Country
                    </th>
                    <th>Destination Country</th>
                    <th>Flight Date</th>
                    <th>CD</th>
                    <th>Run No.</th>
                    <th>Bags</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ConsignorCountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ConsigneeCountryname)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FlightDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CD)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.RunNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bags)
                    </td>
                </tr>
                <tr>
                    <th>Consignor Address</th>
                    <th>Consignee Address</th>
                    <th>Flight No.</th>
                    <th>Type</th>
                    <th>
                        MAX AWB
                    </th>
                    <th>
                        Total AWB
                    </th>
                </tr>
                <tr>
                    <td>  @Html.DisplayFor(model => model.ConsignorAddress)</td>
                    <td>    @Html.DisplayFor(model => model.ConsigneeAddress)</td>
                    <td>
                        @Html.DisplayFor(model => model.FlightNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.MAWB)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TotalAWB)
                    </td>
                </tr>
            </table>

        </div>
    </section>
    <section class="particulars" style="margin-top:10px">
        <div class="particularInner">
            <table id="table2">
                <thead>
                    <tr>
                        <th>
                            SNo.
                        </th>
                        <th>
                            AWB No.
                        </th>
                        <th width="13%">
                            Shipper
                        </th>
                        <th width="13%">
                            Receiver
                        </th>
                        @*<th width="8%">
                                Destination
                            </th>*@
                        <th width="8%">
                            Contents
                        </th>
                        <th>
                            Payment Mode
                        </th>
                        <th>
                            Pcs
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Bag
                        </th>
                        <th>
                            Charge
                        </th>
                        <th>
                            F.Agent Details
                        </th>
                        @*<th>
                            F.A. AWB
                        </th>
                        <th>
                            F.A. Date
                        </th>
                        <th class="text-right">
                            F.A.Charge
                        </th>
                        <th class="text-right">
                            O.Charge
                        </th>
                        <th>
                            Flight
                        </th>*@
                    </tr>
                </thead>
                <tbody class="input-table">
                    @foreach (var shipment in Model.ShipmentsVM)
                    {
                        pcstot = pcstot + Convert.ToInt32(@shipment.PCS);
                        weighttot = weighttot + Convert.ToDecimal(@shipment.Weight);
                        nettotal = nettotal + Convert.ToDecimal(@shipment.Value);
                        fwdcharge = fwdcharge + Convert.ToDecimal(shipment.FwdCharge);
                        fwdothercharge = fwdothercharge + Convert.ToDecimal(shipment.OtherCharge);
                        currency = @shipment.CurrenySymbol;
                        <tr>
                            <td>@i</td>
                            <td>@shipment.AWB</td>
                            <td>
                                @shipment.Shipper<br />
                                @shipment.ConsignorPhone <br />
                                @shipment.OriginCountry
                            </td>
                            <td>
                                @shipment.Reciver <br />
                                @shipment.ConsigneePhone <br />
                                @shipment.DestinationCity
                            </td>
                            <td>@shipment.Contents</td>
                            <td>@shipment.PaymentMode</td>
                            <td style="text-align:right">@shipment.PCS</td>
                            <td style="text-align:right">@shipment.Weight.ToString("0.000")</td>
                            <td>@shipment.BagNo</td>
                            <td style="text-align:right" >@shipment.Value.ToString("0.00") @shipment.CurrenySymbol</td>
                            <td>
                                @shipment.ForwardAgentName<br />
                                @shipment.FwdAgentAWBNo <br />
                                @shipment.FwdDate <br />
                                @Net4Courier.Models.CommonFunctions.GetFormatNumber(@shipment.FwdCharge, _decimal)  <br />
                                @shipment.FwdFlight <br />
                                @Net4Courier.Models.CommonFunctions.GetFormatNumber(@shipment.OtherCharge, _decimal)
                            </td>

                        </tr>
                        i++;
                    }
                </tbody>
                <tfoot>
                    <tr style="border:1px solid #afa7a7;font-weight:bold">
                        <td></td>
                        <td></td>
                        <td>
                            Grand Total
                        </td>
                        <td>
                            
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align:right" >@pcstot </td>
                        <td style="text-align:right">@Net4Courier.Models.CommonFunctions.GetFormatNumber(@weighttot,"3")</td>
                        <td></td>
                        <td style="text-align:right">@Net4Courier.Models.CommonFunctions.GetFormatNumber(@nettotal,_decimal) @currency</td>
                        <td style="text-align:right">
                            @if (@fwdcharge > 0)
                            {
                            <label>Fwd Charge : </label> @Net4Courier.Models.CommonFunctions.GetFormatNumber(@fwdcharge, _decimal)<br />
                                    }
                            @if (@fwdothercharge > 0)
                            { 
                            <label>Other Charge : </label>@Net4Courier.Models.CommonFunctions.GetFormatNumber(@fwdothercharge, _decimal)
                                    
                             }
                        </td>

                    </tr>

                </tfoot>
            </table>

        </div>
    </section>

</div>

<script>
    $(document).ready(function () {
        $("#exportshipment").addClass("active");
    });
</script>

