
@model Net4Courier.Models.ExportShipmentFormModel
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}

@*<script type="text/javascript">
    $(function () {
        $('.ForwardDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    });
</script>*@
@foreach (var item in Model.Shipments)
{
    <tr>
        <td>

            @Html.HiddenFor(model => model.Shipments[i].ShipmentDetailID, new { @Value = @item.ShipmentDetailID })
            @Html.HiddenFor(model => model.Shipments[i].HAWB, new { @Value = @item.HAWB })
            @Html.HiddenFor(model => model.Shipments[i].AWB, new { @Value = @item.AWB })
            @Html.HiddenFor(model => model.Shipments[i].BagNo, new { @Value = @item.BagNo })
            @Html.HiddenFor(model => model.Shipments[i].Contents, new { @Value = @item.Contents })
            @Html.HiddenFor(model => model.Shipments[i].Shipper, new { @Value = @item.Shipper })
            @Html.HiddenFor(model => model.Shipments[i].Reciver, new { @Value = @item.Reciver })
            @Html.HiddenFor(model => model.Shipments[i].PCS, new { @Value = @item.PCS })
            @Html.HiddenFor(model => model.Shipments[i].Weight, new { @Value = @item.Weight })
            @Html.HiddenFor(model => model.Shipments[i].Value, new { @Value = @item.Value })
            @Html.HiddenFor(model => model.Shipments[i].CurrencyID, new { @Value = @item.CurrencyID })
            @Html.HiddenFor(model => model.Shipments[i].ImportDetailID, new { @Value = @item.ImportDetailID })
            @Html.HiddenFor(model => model.Shipments[i].ImportShipmentDetailID, new { @Value = @item.ImportShipmentDetailID })
            @Html.HiddenFor(model => model.Shipments[i].ExportID, new { @Value = @item.ExportID })
            @Html.HiddenFor(model => model.Shipments[i].DestinationCity, new { @Value = @item.DestinationCity })
            @Html.HiddenFor(model => model.Shipments[i].DestinationCountry, new { @Value = @item.DestinationCountry })
            @Html.HiddenFor(model => model.Shipments[i].FwdAgentId, new { @Value = @item.FwdAgentId })
            @Html.HiddenFor(model => model.Shipments[i].FwdAgentAWBNo, new { @Value = @item.FwdAgentAWBNo })
            @Html.HiddenFor(model => model.Shipments[i].FwdDate, new { @Value = @item.FwdDate })
            @Html.HiddenFor(model => model.Shipments[i].FwdFlight, new { @Value = @item.FwdFlight })
            @Html.HiddenFor(model => model.Shipments[i].FwdCharge, new { @Value = @item.FwdCharge })
            @Html.HiddenFor(model => model.Shipments[i].OtherCharge, new { @Value = @item.OtherCharge })
            @(i + 1)
        </td>
        @*<td>
            @item.HAWB

        </td>*@
        <td>
            @item.AWB

            @*@Html.EditorFor(model => model.Shipments[i].AWB, new { htmlAttributes = new { @class = "tbl-control", @required = "true", @Value = $"{item.AWB}" } })*@
        </td>
        <td>
            @item.Shipper
        </td>

        <td>
            @item.Reciver
        </td>
        <td>
            @item.DestinationCountry
        </td>

        <td>
            @item.BagNo
        </td>
        <td>
            @item.Contents
        </td>
        <td>
            @item.PCS

            @*@Html.EditorFor(model => model.Shipments[i].BagNo, new { htmlAttributes = new { @class = "tbl-control", @required = "true", @Value = $"{item.BagNo}" } })*@
        </td>
        <td class="text-right">
            @*@item.Weight*@
            @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Value, "3")
            @*@Html.TextAreaFor(model => model.Shipments[i].Contents, new { @class = "tbl-control", @required = "true", @Value = $"{item.Contents}" })*@
        </td>
        <td class="text-right">
            @Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Value, @Session["Decimal"].ToString())
        </td>
        <td>
            <a onclick="ShowForwardAgentModal('@i')" href="javascript:void(0);"><i class="fa fa-file"></i></a>
        </td>
    </tr>
    i++;
}
