@model IEnumerable<Net4Courier.Models.ExportShipmentFormModel>
@{
    Layout = null;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;

    string path = "/ExportShipment/Index";    

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<thead>
    <tr>
        <th>
            Manifest Number
        </th>
        <th>
            Manifest Date
        </th>
        <th>
            Flight No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAWB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Total AWB
        </th>
        <th>
            Created By
        </th>
        <th>
            Agent
        </th>

        <th width="5%"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManifestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAWB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAWB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>

            <td style="font-size:13px">
                @if (isprint)
                {
                <a target="_blank" href="ExportShipmentReport?id=@item.ID"><i class="fa fa-print"></i></a>
                }
                <a href="Details?id=@item.ID"><i class="fa fa-eye"></i></a><br />
                @if (ismodify)
                {
                    <a href="CreateExport?id=@item.ID"><i class="fa fa-pencil"></i></a>
                }
                @if (isdelete)
                {
                    <a href="#" onclick="deleteExport(@item.ID, 'ExportShipment')"><i class="fa fa-times"></i></a>
                }

            </td>
        </tr>
    }
</tbody>
