@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $('#txtdate&time').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
        $('#txttoDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
    });
        </script>
<section class="content-header">
    <h1 class="headingfont">Shipment HoldRelease</h1>

</section>

<section class="content">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
     <div class="row no-margin"> 
               
             <div class="col-md-3">
                          <label class="headinglabel required">AWB NO.</label>
            
                    @Html.TextBox("txtAWBNo", "", new{ @class="form-control"})
                    
                 </div>
      
              <div class="col-md-3">
                          <label class="headinglabel required">Shipper</label>
            
                       @Html.TextBox("txtshipper", "", new{ @class="form-control"})
                    
                 </div>
         <div class="col-md-3">
                          <label class="headinglabel required">Date & Time</label>
            
                       @Html.TextBox("txtdate&time", "", new{ @class="form-control"})
                    
                 </div>
         <div class="col-md-3">
                          <label class="headinglabel required">Origin</label>
            
                       @Html.TextBox("txtOrigin", "", new{ @class="form-control"})
                    
                 </div>
         </div>

         <div class="row no-margin"> 

               <div class="col-md-3">
                          <label class="headinglabel required">CollectedBy</label>
            
                       @Html.TextBox("txtCollectedby", "", new{ @class="form-control"})
                    
                 </div>
            <div class="col-md-3">
                          <label class="headinglabel required">Consignee</label>
            
                       @Html.TextBox("txtConsignee", "", new{ @class="form-control"})
                    
                 </div>

             <div class="col-md-3">
                          <label class="headinglabel required">Weight</label>
            
                       @Html.TextBox("txtWeight", "", new{ @class="form-control"})
                    
                 </div>
             <div class="col-md-3">
                          <label class="headinglabel required">Pieces</label>
            
                       @Html.TextBox("txtpieces", "", new{ @class="form-control"})
                    
                 </div>
           </div>


         <div class="row no-margin">
                <div class="col-md-3">
                          <label class="headinglabel required">Destination</label>
            
                       @Html.TextBox("txtdestination", "", new{ @class="form-control"})
                    
                 </div>
             <div class="col-md-3">
                          <label class="headinglabel required">Courier Charges</label>
            
                       @Html.TextBox("txtcourierCharges", "", new{ @class="form-control"})
                    
                 </div>
             <div class="col-md-3">
                          <label class="headinglabel required">Payment Mode</label>
            
                       @Html.TextBox("txtPaymentMode", "", new{ @class="form-control"})
                    
                 </div>
             <div class="col-md-3">
                          <label class="headinglabel required">Entered By</label>
            
                       @Html.TextBox("txtenteredBy", "", new{ @class="form-control"})
                    
                 </div>
            </div>
         <div class="row no-margin">

              <div class="col-md-3">
                          <label class="headinglabel required">Return Time</label>
            
                       @Html.TextBox("txtreturnTime", "", new{ @class="form-control"})
                    
                 </div>
              <div class="col-md-3">
                          <label class="headinglabel required">Entered By</label>
            
                       @Html.TextArea("txtReason", "", new{ @class="form-control"})
                    
                 </div>
             </div>
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                      <input type="submit" value="Save" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                               
                          
                       @*     <input type="submit" value="Save&Print" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" style="margin-left:5px;"  />*@

                          <a href='@Url.Action("Index", "Department", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>
                               
                        </div>
                    </div>
    </fieldset>
}
    </section>
