@model Net4Courier.Models.ImgViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("CompanyLogo", "CompanyMaster", FormMethod.Post, new { enctype = "multipart/form-data",role = "form", @id = "imagesave" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row no-margin d-flex">
        <div class="col-md-4">
            <label class="headinglabel required ">Customer</label>
            @Html.HiddenFor(model => model.ImgLst.FileId)                        
            @Html.TextBoxFor(model => model.FileAttach, new { type = "file", placeholder = "select file", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FileAttach)
        </div>
        <div class="col-md-1">
            @if (Model.ImgLst.FileFullPath != null && Model.ImgLst.FileFullPath!="")
            {
                <img src = '/UploadFiles/@Model.ImgLst.FileName'  width = "100"  height = "100" />
            }
            
        </div>

        <div class="col-md-1">
            <button class="btn btn-primary" type="submit" id="btnsearch" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;">Upload</button>
        </div>
    </div>

}
