@model Net4Courier.Models.EmployeeMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmployeeMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassportNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassportNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassportExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassportExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisaNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisaNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisaExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisaExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JoinDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JoinDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicSalary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicSalary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HRA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Allowances)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Allowances)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Designation.Designation1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designation.Designation1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusCommission)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusCommission)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcCompanyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcCompanyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statusDefault)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statusDefault)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statusMobileLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statusMobileLogin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileDeviceID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileDeviceID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileDevicePwd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileDevicePwd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPerson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPerson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditLimit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZoneCategoryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZoneCategoryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcHeadID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcHeadID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
