@model Net4Courier.Models.BankReconcSearch
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
    ViewBag.pTitle = "Bank Reconciliation";
    ViewBag.pageTitle = "GL Transactions";
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
}
<script type="text/javascript">
    var chequelist = [];
    function setTwoNumberDecimal(obj) {

         $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));

    }
   

   
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#ReconcDate').datepicker({
                maxDate: ed,
                minDate: sd,
                dateFormat: 'dd-mm-yy',
            });
        });
        $('#btnupdate').click(function () {
            getchequelist();

        });

        setTimeout(function () {
            var maxrow1 = $('#chequetablebody > tr').length;
            for (j = 0; j < maxrow1; j++) {
                debugger;
                $('#dwstatus_' + j).val($('#dwstatus_' + j).attr('value')).trigger('change');
                setTwoNumberDecimal($('#txtcharge_' + j));
            }
        }, 300)

        $('#ChangeStatus').focus();
    });

    function getchequelist() {
        debugger;
        chequelist = [];
        var maxrow1 = $('#chequetablebody > tr').length;
            if (maxrow1 == 0) {

                Swal.fire('Data validation','No Cheque Items Listed', "error");
                $('#btnupdate').removeAttr('disabled');
                return;
            }

            for (j = 0; j < maxrow1; j++) {
                debugger;
                var checked = $('#chk_' + j).prop("checked");
                if (checked == true) {

                        if($('#dwstatus_' + j).val() == null || $('#dwstatus_' + j).val() == '')
                        {
                            $('#chk_' + j).removeAttr('checked');
                        }
                        else {
                            var item = {
                                AcBankDetailID: $('#hdnDetailID_' + j).val(),
                                    ChangeStatus: $('#dwstatus_' + j).val(),
                                    BankCharges: $('#txtcharge_' + j).val(),
                                    Remarks: $('#txtremarks_' + j).val(),
                                    Amount: $('#hdnAmount_' + j).val(),
                                    StatusReconciled: $('#chk_' + j).prop('checked')
                                }
                    }
                    chequelist.push(item);
                }
                if ((j + 1) == maxrow1) {
                    if (chequelist.length == 0) {


                        Swal.fire('Data validation', 'Select Cheque Item to continue', "error");
                        $('#btnupdate').removeAttr('disabled');
                    }
                    else {
                        savereconcile();
                    }
                }
            }

    }
    function savereconcile() {
        $.ajax({
            type: "POST",
            url: "/BankReconciliation/SaveReconc",
            datatype: "Json",
            data: { ReconcDate: $('#ReconcDate').val(), Details: JSON.stringify(chequelist) },
            success: function (response) {
                var status = response.Status;
                var documentno = response.DocumentNo;
                var message = response.Message;
                if (status == "Ok") {

                    Swal.fire('Save Status',message, "success");

                    setTimeout(function () {
                        window.location.href = "/BankReconciliation/Index";
                    },200)


                }
                else {
                    Swal.fire('Save Status', message, "error");

                }
            }
        });
    }
    function redrawgrid(obj) {
        debugger;
        var DetailId = $(obj).attr('Detailid');
        var statuschecked = $(obj).prop('checked');
        var idindex = $(obj).attr('id').split('_')[1];
        if ($('#ChangeStatus').val() == '') {


            Swal.fire('Save Status', 'Select Status to change', "error");
            return false;
        }


        var maxrow1 = $('#chequetablebody > tr').length;
        for (j = 0; j < maxrow1; j++) {
            debugger;
            if (j == parseInt(idindex)) {
                if (statuschecked == true)
                    $('#dwstatus_' + j).val($('#ChangeStatus').val()).trigger('change');
                else
                    $('#dwstatus_' + j).val('').trigger('change');

                break;
            }
        }
        
    
        //$.ajax({
        //    type: "POST",
        //    url: "/BankReconciliation/ShowChequeList",
        //    datatype: "html",
        //    data: { DetailId: DetailId, statuschecked: statuschecked, StatusTrans:$('#ChangeStatus').val(), all: false },
        //    success: function (response) {
        //        $("#listContainer1").html(response);
        //      //  $('#loaderpopup').modal('hide');
        //        setTimeout(function () {
        //            var maxrow1 = $('#chequetablebody > tr').length;
        //            for (j = 0; j < maxrow1; j++) {
        //                debugger;
        //                $('#dwstatus_' + j).val($('#dwstatus_' + j).attr('value')).trigger('change');
        //            }
        //            $('#ChangeStatus').focus();
        //        },100)

        //    }
        //});
    }
</script>

@using (Html.BeginForm("Index", "BankReconciliation", FormMethod.Post, new { @id = "customerledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">

        <div class="card-body">
            <div class="row">
                @{
                    if (ViewBag.SaveEnable == false)
                    {
                        <span class="text-danger bold"><i class="mdi mdi-lock"></i> @ViewBag.Message</span>
                    }
                }


            </div>
            <div class="row">


                <div class="col-md-2">


                    <div class="mb-2">
                        <label class="col-form-label">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-2">
                        <label class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="flexTitle">
                        <label class="col-form-label required">Bank</label>

                    </div>

                    @Html.DropDownListFor(model => model.BankHeadID, new SelectList(ViewBag.BankList, "AcHeadID", "Achead"), "Select", new { @class = "form-control" })
                    <div class="checkboxdesign no-padding  text-right" style="float:right">
                        @{
                            if (@Model.LedgerBalance > 0)
                            {
                                <span style="color:blue">@Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.LedgerBalance, "2")</span>
                            }
                            else
                            {
                                <span style="color:red">@Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.LedgerBalance, "2")</span>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label">Status</label>
                    <div class="input-group gap-2 ">

                        @Html.DropDownListFor(model => model.FilterStatus, new SelectList(ViewBag.ChequeStatus, "BRCode", "Comment"), "Pending", new { @class = "form-select" })
                        <button class="btn btn-primary btn-success" id="btngenerate" type="submit">   <i class="bx bx-revision mt-1" style="font-size: 13px;"></i></button>
                    </div>
                </div>


                <div class="col-md-2">
                    <label class="col-form-label required">Change Status</label>
                    <div class="input-group gap-2 ">
                        @Html.DropDownListFor(model => model.ChangeStatus, new SelectList(ViewBag.ChequeStatus, "BRCode", "Comment"), "Select", new { @class = "form-select" })
                        @{
                            if (ViewBag.SaveEnable == false)
                            {
                                <button disabled class="btn btn-primary btn-success text-right" id="btnupdate" type="button">Update</button>
                            }
                            else
                            {
                                <button class="btn btn-primary btn-success text-right" id="btnupdate" type="button">Update</button>
                            }
                        }

                    </div>
                </div>
                <div class="col-md-2">


                    <div class="mb-2">
                        <label class="col-form-label">Reconc Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ReconcDate" id="ReconcDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ReconcDate.ToShortDateString()"
                                       placeholder="Pick a Reconc date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                    @*@Html.TextBoxFor(model => model.ReconcDate, new { @class = "form-control text-right", @required = "true" })*@

                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row" style="">

                <div class="col-md-5" style="max-height:700px;overflow-x:scroll;overflow-y:scroll">
                    @{
                        if (ViewBag.SaveEnable == false)
                        {
                            <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                            <input disabled type="button" class="btn btn-primary btn-success waves-effect waves-light " id="btnUpload" title="Upload .CSV File" style="padding: 1px 10px;" value="Upload .CSV" />
                            <input disabled type="button" class="btn btn-primary btn-success waves-effect waves-light" id="btnAutoReconc" title="Upload .CSV File" style="padding: 1px 10px;" value="Auto Reconc" />

                        }
                        else
                        {
                            <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                            <input type="button" class="btn btn-primary btn-success waves-effect waves-light  " id="btnUpload" title="Upload .CSV File" style="padding: 1px 10px;" value="Upload .CSV" />
                            <input type="button" class="btn btn-primary btn-success waves-effect waves-light" id="btnAutoReconc" title="Upload .CSV File" style="padding: 1px 10px;" value="Auto Reconc" />

                        }
                    }
                    <input type="button" value="Download Template" class="btn btn-primary waves-effect waves-light" style="padding: 1px 10px;" onclick="window.location.href='/Template/BankReconcTemplate.csv'">

                    <div class="col-md-12" id="listContainer2">
                        @{Html.RenderPartial("BankCSVList", Model);}

                    </div>
                </div>
                    <div class="col-md-7" id="listContainer1" style="max-height:700px;overflow-x:scroll;overflow-y:scroll">
                        @{Html.RenderPartial("BankChequeList", Model);}

                    </div>

                </div>
        </div>
    </div>

}


@Html.Partial("~/Views/Shared/_LoaderModal.cshtml")
@section scripts{

    <script src="~/Scripts/JS/AcBankReconcCreate.js"></script>

}


