@model Net4Courier.Models.DRRSearchVM

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "DRS Reconciliation";
    ViewBag.pageTitle = "DRS Reconciliation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/DRSReceipt/Index";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}



<script type="text/javascript">
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyN' && (event.altKey)) { //ADD AWB
                window.location = '/DRSReconc/Create';
                //$('#btnCreateNew').trigger('click');
            }
        });
       
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style=width:100% />');
        });


        var table = $('#dataTables-example').DataTable({ "aaSorting": [], "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>




@using (Html.BeginForm("Index", "DRSReconc", FormMethod.Post, new { @id = "booksearch" }))
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">DRR No.</label>
                        @Html.TextBoxFor(model => model.DRRNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2 mt-2">
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top " id="btnsearch">
                            <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-4 text-md-end btn_top">
                    <a href='/DRSReconc/CreateBulk' class="btn btn-primary" id="btnCreateNew1"><i class="mdi mdi-plus me-2"></i>New DRS-Summary</a>
                    @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || !isadd)
                    {
                        <a href='/DRSReconc/Create' class="btn btn-primary me-1" id="btnCreateNew" disabled title="Create Not allowed in the previous financial year"><i class="mdi mdi-plus me-1"></i> New DRS Reconciliation</a>
                    }
                    else
                    {
                        <a href='/DRSReconc/Create' class="btn btn-primary me-1" id="btnCreateNew"><i class="mdi mdi-plus me-1"></i>New DRS-Detail</a>


                    }

                </div>
            </div>
        </div>
    </div>
}

        @if (TempData["SuccessMsg"] != null)
        {

            <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }

        <div class="card">
            <div class="card-body" style="overflow-x:scroll">
                <table class="table table-bordered mb-0" id="datatable">
                    <thead class="table-light">
                        <tr>
                            <th>DRR Date</th>
                            <th>DRR No.</th>
                            <th>DRS Receipt No.</th>
                            <th>Receipt Date</th>
                            <th>DRS No</th>
                            <th>Reconciled Amount</th>
                            <th>Delivered By</th>
                            <th>Prepared By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                
                    @foreach (var item in Model.Details)
                    {
                <tr>
                    <td>
                        @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.DRRDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DRRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DRSReceiptNo)
                    </td>
                    <td>
                        @item.DRSReceiptDate
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DRSNo)
                    </td>
                    <td style="text-align:right">
                        @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.ReconciledAmount, "2")
                    </td>
                    <td>
                        @item.DeliveredByName
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @*  @Html.ActionLink("Edit", "Edit", new {  id=item.DRSReceiptID  }) *@
                        <a class="text-success" href="@Url.Action("Create", new { id = item.DRRID })"><i class="mdi mdi-pencil font-size-18"></i></a> |

                        <a href="#" class="text-danger" onclick="Delete(ID=@item.DRRID)"><i class="mdi mdi-delete font-size-18"></i></a>
                    </td>
                </tr>
                    }

                </table>
            </div>
        </div>

    <script type="text/javascript">
        // function Delete(ID) {
        //     if (confirm("Are you sure, You want to Delete DRR Entry?")) {
        //         window.location.href = "/DRSReconc/DeleteConfirmed/?id=" + ID;
        //     }
        // }
      
        function Delete(ID) {
        Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
            function (t) {
                if (t.value) {

                     $.ajax({
                         type: "POST",
                         url: '/DRSReconc/DeleteConfirmed',
                         datatype: "html",
                         data: {
                             'id': ID
                         },
                         success: function (response) {
                             if (response.status == "OK") {
                                 Swal.fire("Delete Status!", response.message, "success");
                                 window.location.reload();
                             }
                             else {
                                 Swal.fire("Delete Status!", response.message, "error");
                             }
                         }
                     });

                }
            });

    }
    </script>
