@model Net4Courier.Models.PODStatusVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });



        $("#AWBNo").blur(function () {
            $.ajax({
                type: "GET",
                //url: "/PODStatusUpdation/getpodshippment",
                url: "/PODStatusUpdation/getpodshippment",
                datatype: "Json",
                data: { id: $("#AWBNo").val() },
                success: function (data) {
                    if (data.AWBNo != null) {
                        $("#CollectedBy").val(data.CollectedBy);
                        $("#StatedWeight").val(data.StatedWeight);
                        $("#Pieces").val(data.Pieces);
                        $("#CourierCharges").val(data.CourierCharges);
                        $("#Consignor").val(data.Consignor);
                        $("#ConsignorCountryID").val(data.ConsignorCountryID);
                        $("#Consignee").val(data.Consignee);
                        $("#CosigneeCountryID").val(data.CosigneeCountryID);
                        $("#StatusPaymentMOde").val(data.StatusPaymentMOde);

                    }

                }
            });
        });
    });

</script>



<section class="content-header">
    <h1 class="headingfont">POD/Status Updation</h1>

</section>



<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div id="validations" style="color: red; margin-left: 7px; display: none">* Please fill mandatory fields</div>
        <fieldset>

            <div class="row no-margin">
                <div class="col-md-3">
                    <label class="headinglabel required">AWB No</label>
                    @Html.HiddenFor(model=>model.PODID)
                    @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AWBNo)

                </div>
                <div class="col-md-3">
                    <label class="headinglabel required">Date & Time</label>

                    @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Date)

                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Collected By</label>

                    @Html.TextBoxFor(model => model.CollectedBy, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CollectedBy)

                </div>


            </div>


            <div class="row no-margin">
                <div class="col-md-3">
                    <label class="headinglabel required">Weight</label>

                    @Html.TextBoxFor(model => model.StatedWeight, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatedWeight)

                </div>
                <div class="col-md-3">
                    <label class="headinglabel required">Pieces</label>

                    @Html.TextBoxFor(model => model.Pieces, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Pieces)

                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Courier Charges</label>

                    @Html.TextBoxFor(model => model.CourierCharges, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourierCharges)

                </div>


            </div>

            <div class="row no-margin">
                <div class="col-md-3">
                    <label class="headinglabel required">Shipper</label>

                    @Html.TextBoxFor(model => model.Consignor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Consignor)

                </div>
                <div class="col-md-3">
                    <label class="headinglabel required">Origrin</label>

                    @Html.TextBoxFor(model => model.ConsignorCountryID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConsignorCountryID)
                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Consignee</label>

                    @Html.TextBoxFor(model => model.Consignee, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Consignee)

                </div>


            </div>


            <div class="row no-margin">
                <div class="col-md-3">
                    <label class="headinglabel required">Destination</label>

                    @Html.TextBoxFor(model => model.CosigneeCountryID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CosigneeCountryID)

                </div>
                <div class="col-md-3">
                    <label class="headinglabel required">Payment Mode</label>

                    @Html.TextBoxFor(model => model.StatusPaymentMOde, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatusPaymentMOde)

                </div>

            </div>



            <div class="row no-margin">


                <div class="col-md-3">
                    <label class="headinglabel required">Delivery Status</label>
                    @Html.DropDownListFor(model => model.CourierStatusID, new SelectList(@ViewBag.delivery, "CourierStatusID", "CourierStatus"), "select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourierStatusID)

                </div>

                @*   <div class="col-md-3">
                    <label class="headinglabel required">Receiver Name</label>

                    @Html.TextBoxFor(model => model.RecevierName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RecevierName)

                </div>

                    <div class="col-md-3">
                    <label class="headinglabel required">Remarks</label>

                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks)

                </div>*@

                <div class="col-md-3">
                    <label class="headinglabel required">Receiver Name</label>

                    @Html.TextBoxFor(model => model.RecevierName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RecevierName)

                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Remarks</label>

                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remarks)

                </div>


            </div>


            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />



                    <a href='@Url.Action("Index", "PODStatusUpdation", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>

                </div>
            </div>

        </fieldset>
    }
</section>
<script type="text/javascript">
    $(document).ready(function () {

        $("#Date").datepicker({ dateFormat: 'dd-M-yy', changeYear: true, changeMonth: true });
    });
</script>


