@model IEnumerable<Net4Courier.Models.PODStatusVM>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <style>
     tfoot {
            display: table-header-group;
     }
        </style>


<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style=width:100% />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
<section class="content-header">
    <h1 class="headingfont">POD Status Updation</h1>


    <p class="indexbtnpadding">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary btnwidth"})
</p>



    <section class="content">
      @if (TempData["SuccessMsg"] != null)
    {
             <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
                                                </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">

    <thead>
    <tr>
      
       <th>
           @Html.Label("Delivery Status")
        </th>
        <th>
            @Html.Label("Receiver Name")
        </th>
        <th>
            @Html.Label("Remarks")
        </th>
      
        <th>Action</th>
    </tr>
        </thead>
    <tfoot>
         <tr>
      
        <th>
           @Html.Label("Delivery Status")
        </th>
        <th>
            @Html.Label("Receiver Name")
        </th>
        <th>
            @Html.Label("Remarks")
        </th>
        <th style="display:none"></th>
    </tr>
    </tfoot>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourierStatusID)
        </td>
      
      
        <td>
            @Html.DisplayFor(modelItem => item.RecevierName)
        </td>
        
      
          <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
         

        <td>
      
             <a href="@Url.Action("Edit", new { id = item.PODID })"><i class="fa fa-pencil"></i></a>|
       <a href="#" onclick="Delete(ID=@item.PODID)"><i class="fa fa-times"></i></a>
                             
        </td>
    </tr>
}

</table>
        </div>
    </section>

    
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete POD Status Updation?")) {
            window.location.href = "/PODStatusUpdation/DeleteConfirmed/?id=" + ID;
        }
    }
</script>
