@model IEnumerable<Net4Courier.Models.ImportShipment>


<thead>
    <tr>
        <th>
            Manifest Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAWB)
        </th>
        <th>
            Manifest Date
        </th>
        <th>
            Flight Date
        </th>
        <th>
            Flight No
        </th>
        <th>
            Origin Country
        </th>
        <th>
            Origin Airport
        </th>
        <th>
            Destination Country
        </th>
        <th>
            Destination Airport
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManifestNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAWB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OrginCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationCity)
        </td>

        <td>

            @if (ViewBag.Token.Update)
            {
                <a href="EditImport?ImportId=@item.ID"><span class="batch-icon batch-icon-pencil"></span></a><br />
            }

        </td>
    </tr>
    }
</tbody>
