@model Net4Courier.Models.DatePicker
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript">


    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#ToDate').datepicker("setDate", new Date());
    //});

    //$(function () {
    //    $('#txtpickuptime').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
    //});

     var table = $('#datatable-1').DataTable();

</script>
<script type="text/javascript">
    $(document).ready(function () {
    var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

            $('#ToDate').datepicker("setDate", new Date());
        });

        $(function () {
            $('#txtpickuptime').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY HH:mm',
            });
        });


         //$('#datatable-1 tfoot th').each(function () {
         //       var title = $(this).text();
         //       $(this).html('<input type="text" style="width:100%" />');
         //   });


            var table = $('#datatable-1').dataTable({
                "bDestroy": true,
                //"order": []
                "aaSorting": [],
                "searching": false
           });




    });


</script>

<section class="content-header">
    <h1 class="headingfont">Export Shipments</h1>

</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="row search">
                        <div class="col-lg-5 col-md-4 col-sm-4 search_field">
                            <label for="FromDate" class="col-3 control-label">From</label>
                            <input type="text" class="col-9 form-control datecontrol datepick" name="FromDate" id="FromDate" placeholder="From Date" value="@Model.FromDate.ToString("dd-MM-yyyy")" />
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 search_field">
                            <label for="FromDate" class="col-3 control-label">To</label>
                            <input type="text" class="col-9 form-control datecontrol datepick" name="ToDate" id="ToDate" placeholder="To Date" value="@Model.ToDate.ToString("dd-MM-yyyy")" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 text-center">
                            <input type="submit" value="Filter" class="btn btn-primary btn-gradient btn-block waves-effect waves-light" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 text-md-right text-center" style="margin-bottom:10px;">
                    @*@if (ViewBag.Token.Create)
                {
                    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary btn-sm waves-effect waves-light" });
                }*@
                    @Html.ActionLink("Create New", "CreateExport", null, new { @class = "btn btn-primary btn-sm waves-effect waves-light" })

                    @Html.ActionLink("View Imports", "ViewImport", null, new { @class = "btn btn-primary btn-sm waves-effect waves-light" })

                    <button type="button" style="margin-left:25px" class="btn btn-primary btn-sm waves-effect waves-light" onclick="printDiv()">Summary</button>
                </div>
            </div>
            <div class="table-responsive tblbackground" style="padding:15px;margin-top:20px">
                <table class="table table-responsive table-bordered tblfont" id="datatable-1" >
                    @{ Html.RenderAction("Table", "ExportShipment");}
                </table>
            </div>
        </div>
        </div>
}

<script>
        $(document).ready(function () {
            $("#importshipment").addClass("active");
            @if(TempData["toasterMessage"] != null)
            {
                @:toasterMessage("@TempData["toasterMessage"].ToString()");
            }
        });
        function deleteExport(id, controller) {
            debugger;
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this " + controller,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            datatype: "html",
                            url: "Delete?id=" + id.toString(),
                            data: id,
                            success: function (data) {
                                debugger;
                                swal({ title: "Deleted!", text: controller + " has been deleted.", type: "success" }, function () { window.location = window.location.href; });
                            }
                        });
                    } else {
                        swal("Cancelled", controller + " is safe :)", "error");
                    }
                });

        }
</script>

