@model IEnumerable<Net4Courier.Models.ExportShipment>
    

        <thead>
            <tr>
                <th>
                    Manifest Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightDate)
                </th>
                <th>
                    Flight No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MAWB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RunNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    Total AWB
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Agent
                </th>
                <th>
                    Created Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManifestNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAWB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RunNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAWB)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.EmployeeMaster.EmployeeName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a target="_blank" href="ExportShipmentReport?id=@item.ID"><i class="fa fa-print"></i></a>

                        @*<a target="_blank" href="Shipmentxl?id=@item.ID"><img src="~/assets/img/ExcelDownload.png" style="width:28px;"/></a>*@

                        <a href="Details?id=@item.ID"><i class="fa fa-eye"></i></a><br />


                        @if (item.ExportShipmentDetails.FirstOrDefault().ImportDetailID == 0)
                        {
                            <a href="CreateExport?id=@item.ID"><i class="fa fa-pencil"></i></a>

                        }
                        else
                        {
                            <a href="Edit?id=@item.ID"><span class="batch-icon batch-icon-pencil"></span>Edit</a>
                        }

                        <a href="#" onclick="deleteExport(@item.ID, 'Export Shipment')"><i class="fa fa-times"></i></a>

                    </td>
                </tr>
            }
        </tbody>
