@model CourierMVC.Models.ImportShipmentFormModel
@{

    ViewBag.Title = "ViewImport";
    var Agents = ViewBag.Agents as List<Net4Courier.Models.AgentMaster>;
    var Countries = ViewBag.Countries as List<Net4Courier.Models.CountryMaster>;
    var Cities = ViewBag.Cities as List<Net4Courier.Models.CityMaster>;
}
<style>
    select{
        border-radius:5px !important;
    }
</style>
  @using (Html.BeginForm("ViewImport", "ExportShipment", FormMethod.Post, new { @id = "importShipment" }))
        {
    
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <h4>View Import Shipments</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h3>Search By
                        <span style="float:right">
                            <a href="Index"  class="waves-effect waves-light"><b>back</b></a>
                        </span>
                    </h3>

                    <div class="row search">
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="AgentName">Agent Name</label>
                            @*<input type="text" class="form-control" name="AgentID" id="AgentID" placeholder="" value="@Model.AgentID" />*@
                            <select class="form-control" name="AgentID" id="AgentID">
                                <option value="">Select Agent</option>
                                @foreach (var item in Agents)
                                {
                                    if (item.ID == Model.AgentID)
                                    {
                                        <option value="@item.ID" selected>@item.AgentName</option>

                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.AgentName</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field" style="padding-left:15px">
                            <label for="ManifestNumber">Manifest Number</label>
                            <input type="text" class="form-control" name="ManifestNumber" id="ManifestNumber" value="@Model.ManifestNumber" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="MAWB">MAWB</label>
                            <input type="text" class="form-control" name="MAWB" id="MAWB" value="@Model.MAWB" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="ManifestDate">Manifest Date</label>
                            <input type="text" class="form-control  datecontrol datepick" name="CreatedDate" id="CreatedDate" value="@Model.CreatedDate.ToString("dd-MM-yyyy")" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="Date">Flight Date</label>
                            <input type="text" class="form-control datecontrol datepick" name="Date" id="Date" placeholder="Date" value="@Model.Date.ToString("dd-MM-yyyy")" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="FlightNumber">Flight Number</label>
                            <input type="text" class="form-control " name="FlightNo" id="FlightNo" value="@Model.FlightNo" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="OriginCountryID">Origin Country</label>
                            @*<input type="text" class="form-control " name="OriginCountryID" id="OriginCountryID" value="@Model.OriginCountryID" />*@
                            @*@Html.DropDownListFor(model => model.OriginCountryID, null, "Select Country", htmlAttributes: new { @class = "form-control"})*@
                            <input type="text" class="form-control " name="OrginCountry" id="OrginCountry" value="@Model.OrginCountry" />

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="OriginCityID">Origin Airport</label>
                            @*<input type="text" class="form-control " name="OriginCityID" id="OriginCityID" value="@Model.OriginCityID" />*@
                            @*@Html.DropDownListFor(model => model.OriginCityID, null, "Select City", htmlAttributes: new { @class = "form-control" })*@
                            @*<select class="form-control" name="OriginCityID" id="OriginCityID">
            <option value="">Select City</option>
            @foreach (var item in Cities)
            {
                if (item.CityID == Model.OriginCityID)
                {
                    <option value="@item.CityID" selected>@item.City</option>

                }
                else
                {
                    <option value="@item.CityID">@item.City</option>

                }
            }
        </select>*@
                            <input type="text" class="form-control " name="OriginCity" id="OriginCity" value="@Model.OriginCity" />

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="DestinationCountryID">Destination Country</label>
                            @*<input type="text" class="form-control " name="DestinationCountryID" id="DestinationCountryID" value="@Model.DestinationCountryID" />*@
                            @*@Html.DropDownListFor(model => model.DestinationCountryID, null, "Select Country", htmlAttributes: new { @class = "form-control" })*@
                            <input type="text" class="form-control " name="DestinationCountry" id="DestinationCountry" value="@Model.DestinationCountry" />

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 search_field">
                            <label for="DestinationAirportOfShipmentId">Destination Airport</label>
                            <input type="text" class="form-control " name="DestinationCity" id="DestinationCity" value="@Model.DestinationCity" />

                            @*<input type="text" class="form-control " name="DestinationAirportOfShipmentId" id="DestinationAirportOfShipmentId" value="@Model.DestinationAirportOfShipmentId" />*@
                            @*@Html.DropDownListFor(model => model.DestinationAirportOfShipmentId, null, "Select City", htmlAttributes: new { @class = "form-control" })*@
                            @*<select class="form-control" name="DestinationAirportOfShipmentId" id="DestinationAirportOfShipmentId">
            <option value="">Select City</option>
            @foreach (var item in Cities)
            {
                if (item.CityID == Model.DestinationAirportOfShipmentId)
                {
                    <option value="@item.CityID" selected>@item.City</option>

                }
                else
                {
                    <option value="@item.CityID">@item.City</option>

                }
            }
        </select>*@
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="submit" value="Filter" id="btnSubmit" style="margin-top:55px" class="btn btn-primary btn-gradient btn-block waves-effect waves-light" />
                            @*<button type="button" style="margin-top:55px" class="btn btn-primary btn-sm waves-effect waves-light" onclick="printDiv()">Print</button>*@

                        </div>
                        @*<div class="col-lg-2 col-md-2 col-sm-2">
            <button type="button" style="margin-top:55px" class="btn btn-primary btn-sm waves-effect waves-light" onclick="printDiv()">Print</button>
        </div>*@
                    </div>
                </div>

            </div>
            <table class="table table-datatable table-striped table-hover table_lg_head m_icons dataTable no-footer" id="datatable-1" role="grid" aria-describedby="datatable-1_info">
                @{ Html.RenderAction("ImportTable", "ExportShipment");}
            </table>
        </div>
    </div>
}
@section Scripts {
    <script>
        function initialize() {
            var options = {
                types: ['(cities)'],
            };
            var options1 = {
                types: ['(regions)'],
            };

            var input2 = document.getElementById('DestinationCity');
            new google.maps.places.Autocomplete(input2,options);
            var input3 = document.getElementById('OriginCity');
            new google.maps.places.Autocomplete(input3, options);
            var input= document.getElementById('OrginCountry');
            new google.maps.places.Autocomplete(input, options1);
            var input1 = document.getElementById('DestinationCountry');
            new google.maps.places.Autocomplete(input1, options1);

        }

        google.maps.event.addDomListener(window, 'load', initialize);
        $(document).ready(function () {


            $("#Date").removeClass("active");
            @if(TempData["toasterMessage"] != null)
            {
                @:toasterMessage("@TempData["toasterMessage"].ToString()");
            }
            
            $("#btnSubmit").click(function () {
                debugger;
                var agentid = $("#AgentID").val();
                var ManifestNumber = $("#ManifestNumber").val();
                var MAWB = $("#MAWB").val();
                var CreatedDate = $("#CreatedDate").val();
                var Date = $("#Date").val();
                var FlightNo = $("#FlightNo").val();
                var OriginCountryID = $("#OrginCountry").val();
                var OriginCityID = $("#OriginCity").val();
                var DestinationCountryID = $("#DestinationCountry").val();
                var DestinationAirportOfShipmentId = $("#DestinationCity").val();
                if (agentid == "" && ManifestNumber == "" && MAWB == "" && CreatedDate == "" && Date == "" && FlightNo == "" && OriginCountryID == "" && OriginCityID == "" && DestinationCountryID == "" && DestinationAirportOfShipmentId == "") {
                    alert("Please select atleast one Filter value !!")

                    return false;
                } else {
                    return true;
                }
            });
            function initialize() {
                var input2 = document.getElementById('DestinationCity');
                new google.maps.places.Autocomplete(input2);
                var input3 = document.getElementById('OriginCity');
                new google.maps.places.Autocomplete(input3);

            }

            google.maps.event.addDomListener(window, 'load', initialize);
        });
      
    </script>
}
