@model Net4Courier.Models.ImportShipmentVM
@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Inter-branch Import";
    ViewBag.pageTitle = "Inter-branch Import";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var cities = (IEnumerable<CourierMVC.EntityFramework.S_CityMaster>)ViewBag.Cities;
}
<style>


    .reve_rates > input {
        font-size: 12px !important;
    }

    .reve_rates1 > input {
        font-size: 12px !important;
    }

    .reve_rates2 > input {
        font-size: 12px !important;
    }



    .reve_rates3 > textarea {
        min-height: 4rem !important;
        font-size: 12px !important;
    }
</style>

<script>
    //$(function () {
    //    $('#CreatedDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

</script>
<script>
    //Origin and Destination City  Autocomplete code
    $(document).ready(function () {
     var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        // $(function () {
        //     $('#CreatedDate').datetimepicker({
        //         maxDate: ed,
        //         minDate: sd,
        //         format: 'DD-MM-YYYY',
        //     });

        // });
        // $('#ManifestDate').datetimepicker({
        //     maxDate: ed,
        //     minDate: sd,
        //     format: 'DD-MM-YYYY HH:mm'
        // });
        // $('#FlightDate1').datetimepicker({
        //     maxDate: ed,
        //     minDate: sd,
        //     format: 'DD-MM-YYYY HH:mm'
        // });
        //ConsignorLocationName
        $("#OriginAirportCity").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            //$('#EventVenueId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            },
            focus: function (event, ui) {
                $('#OriginAirportCity').val(ui.item.label);

                return false;
            }
        });
        //ConsigneeLocationName
        $("#DestinationAirportCity").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            //$('#EventVenueId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#DestinationAirportCity').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#DestinationAirportCity').val(ui.item.label);
                return false;
            }
        });


    })
</script>
<script type="text/javascript">
    var objitems = [];

    function CallAutoFixation() {
        //AutoDataFixation
        $('#loaderpopup').modal('show')
          $.ajax({
                type: 'POST',
                url: '@Url.Action("AutoDataFixation", "ImportManifest")',
             datatype: "json",
            success: function (data) {

                if (data == "ok") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowImportItemList", "ImportManifest")',
                        datatype: "html",
                        success: function (data) {
                            $("#listContainer").html(data);
                            var max = $('#listbody > tr').length;
                            $('#loaderpopup').modal('hide')
                            $('#btnUpload').removeAttr('disabled');
                            $('#TotalAWB').val(max);
                        },
                        error: function (err) {
                            $('#loaderpopup').modal('hide')
                            console.log(err);
                        }
                    });
                }
                else {
                    $('#loaderpopup').modal('hide')
                }
              },
            error: function (err) {
                  $('#loaderpopup').modal('hide')
                  console.log(err);
              }
            });
    }
    function UpdateImported() {
        $.ajax({
            type: "POST",
            url: "/ImportManifest/UpdateImportedItem",
            datatype: "Json",
            data: { Details: JSON.stringify(objitems) },
            contentType:'application/x-www-form-urlencoded',
            success: function (response) {

            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function savefixation() {
        debugger;
        var Field = $('#FieldName').val();
        var SourceValue = $('#SourceValue').val();
        var DestinationValue = $('#DestinationValue').val();
        var DestinationCountry = $('#DestinationCountry').val();
        var DestinationCity = $('#DestinationCity').val();
        var DestinationLocation = $('#DestinationLocation').val();

        //UpdateDataFixation
         $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDataFixation", "ImportManifest")',
             datatype: "html",
             data: { TargetColumn :Field,SourceValue: SourceValue , TargetValue:DestinationCountry },
            success: function (data) {
                $("#listContainer").html(data);
              }
            });


    }
    function additem() {
        $.each(objitems, function (index, item) {
            var i = index;
            var ReceiverContact = item.ReceiverContact;
            var ReceiverAddress = item.ReceiverAddress;
            var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWBNo_' + i + '"  value="' + item.AWBNo + '" /> ';
            datahtml = datahtml + '<input type="hidden" id="hdnBag_' + i + '"  value="' + item.Bag + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnAWBDate_' + i + '"  value="' + item.AWBDate + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnShipper_' + i + '"  value="' + item.Shipper + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiver_' + i + '"  value="' + item.Receiver + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverContact_' + i + '"  value="' + ReceiverContact + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverPhone_' + i + '"  value="' + item.ReceiverPhone + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnReceiverAddress_' + i + '"  value="' + ReceiverAddress + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationLocation_' + i + '"  value="' + item.DestinationLocation + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationCountry_' + i + '"  value="' + item.DestinationCountry + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnDestinationCity_' + i + '"  value="' + item.DestinationCity + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnPcs_' + i + '"  value="' + item.Pcs + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnWeight_' + i + '"  value="' + item.Weight + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnValue_' + i + '"  value="' + item.Value + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnCOD_' + i + '"  value="' + item.COD + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnContent_' + i + '"  value="' + item.Content + '"/>';
            datahtml = datahtml + '<input type="hidden" id="hdnImportType_' + i + '"  value="' + item.ImportType + '"/>';
            var html = '<tr><td>' + datahtml + (parseInt(i) + 1) + '</td><td>' + item.AWBNo + '</td><td>' + item.AWBDate + '</td><td>' + item.Shipper + '</td>' +
                '<td><strong>' + item.Receiver + '</strong><br/><span style="color:blue">' + ReceiverContact + '</span></br>' + ReceiverAddress + '<br/>' + item.ReceiverPhone + '</td>' +
                '<td>' + item.DestinationLocation + '</td><td>' + item.DestinationCity + '<br/>' + item.DestinationCountry + '</td>' +
                '<td>' + item.Bag + '</td>' +
                '<td>' + item.Content + '</td>' +
                '<td>' + item.Pcs + '</td>' +
                '<td class="text-right">' + parseFloat(item.Weight).toFixed(3) + '</td>' +
                '<td class="text-right">' + parseFloat(item.Value).toFixed(2) + '</td>' +
                '<td class="text-right">' + item.COD + '</td>' +
                '<td class="text-right">' + item.ImportType + '</td></tr>';

            $("#listContainer").append(html);
        });
    }
    $(document).on("change", "#importFile", function () {
        var files = $("#importFile").get(0).files;

        var formData = new FormData();
        formData.append('importFile', files[0]);

        if (files.length > 0) {
            $('#btnUpload').attr('disabled', 'disabled');
            $.ajax({
                url: '/ImportManifest/ImportFile',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Status === 1) {
                        var data = response.data;
                        $('#loaderpopup').modal('show');
                              $.ajax({
                              type: 'POST',
                              url: '@Url.Action("ShowImportItemList", "ImportManifest")',
                              datatype: "html",
                            success: function (data) {
                                    $("#listContainer").html(data);
                                var max = $('#listbody > tr').length;
                                $('#loaderpopup').modal('hide')
                                $('#btnUpload').removeAttr('disabled');
                                    $('#TotalAWB').val(max);
                            }
                      });

                    } else {
                        $('#loaderpopup').modal('hide')
                        $('#btnUpload').removeAttr('disabled');
                        $.notify(response.Message, 'error');
                    }
                },
                error: function (err) {
                    $('#loaderpopup').modal('hide')
                    console.log(err);
                }

            });
        }
        else {
            $('#btnUpload').removeAttr('disabled');
        }
    });

    $(document).on("click", "#btnUpload", function () {


        $('#importFile').trigger('click');
    });


    $(document).ready(function () {
       // callniceapi();
        $("#MAWB").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/ImportShipment/GetMAWBList',
                    datatype: "json",
                    data: {
                        term: request.term, AgentId:$('#AgentID').val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.MAWB,
                                value: val.ShipmentImportID
                            }
                        }))
                    }
                })
            },
            minLength: 0,
            autoFocus: false,
            focus: function (e, i) {
                e.preventDefault();
                $("#MAWB").val(i.item.label);
                $('#ExportShipmentID').val(i.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#MAWB").val(i.item.label);
                $('#ExportShipmentID').val(i.item.value);
            }
        });
          $('#btnsearch').click(function () {

              if ($('#ExportShipmentID').val() == 0 || $('#ExportShipmentID').val() == '') {
                $('#MAWB').focus();
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowExportItemList", "ImportShipment")',
                datatype: "html",
                data: {
                    ExportShipmentId: $('#ExportShipmentID').val()
                },
                success: function (data) {
                    debugger;
                    $("#listContainer").html(data);
                    var max = $('#inputtable > tr').length;
                    var html = $('#inputtable > tr >td:first').html();
                    $('#TotalAWB').val(max);
                    if (html == 'No data available in table') {
                        $.notify("No Items are available!", "error");
                    }
                }
            });

    });
        $('#ManifestDate').change(function () {
             $.ajax({
                type: 'GET',
                url: '@Url.Action("GetManifestNo", "ImportManifest")',
                datatype: "json",
                data: {
                    ManifestDateTime: $('#ManifestDate').val()
                },
                success: function (data) {
                    $('#ManifestNumber').val(data);
                }
            });

        })
        $('#btnFixation').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowImportDataFixation", "ImportManifest")',
                datatype: "html",
                data: {
                    FieldName: 'DestinationLocation'
                },
                success: function (data) {
                    $("#popupContainer").html(data);
                    $('#fixationpopup').modal('show');
                }
            });
        })
        $('#btnSave').click(function () {
            debugger;


            if ($('#AgentID').val() == '') {
                $.notify('Please Fill Required Fields!');
                $('#AgentID').focus();
                return;
            }
            else if ($('#ManifestDate').val() == '') {
                $.notify('Please Fill Required Fields!');
                $('#ManifestDate').focus();
                return;
            }
            //else if ($('#Route').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Route').focus();
            //    return;
            //}
            ////else if ($('#Type').val() == '') {
            ////    $.notify('Please Fill Required Fields!');
            ////    $('#ShipmentTypeId').focus();
            ////    return;
            ////}
            //else if ($('#OriginAirportCity').val() == '') {
            //        $.notify('Please Fill Required Fields!');
            //    $('#OriginAirportCity').focus();
            //        return;
            //}
            //else if ($('#DestinationAirportCity').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#DestinationAirportCity').focus();
            //        return;
            //}
            //else if ($('#FlightDate1').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#FlightDate1').focus();
            //    return;
            //}
            //else if ($('#FlightNo').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#FlightNo').focus();
            //    return;
            //}
            //else if ($('#MAWB').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#MAWB').focus();
            //    return;
            //}
            //else if ($('#TotalAWB').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#TotalAWB').focus();
            //    return;
            //}
            //else if ($('#ParcelNo').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#ParcelNo').focus();
            //    return;
            //}
            //else if ($('#Weight').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Weight').focus();
            //    return;
            //}
            //else if ($('#Bags').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Bags').focus();
            //    return;
            //}
            //else if ($('#Bags').val() == '') {
            //    $.notify('Please Fill Required Fields!');
            //    $('#Bags').focus();
            //    return;
            //}


            var obj = [];
            var maxrow = $('#listbody > tr').length;
            if (maxrow == 0) {
                alert('Click upload to import Items from Excel!');
                return;
            }
            $('#btnSave').attr('disabled', 'disabled');
            var master = {
                ID: $('#ID').val(),
                ManifestNumber: $('#ManifestNumber').val(),
                AgentID: $('#AgentID').val(),
                ManifestDate: $('#CreatedDate').val(),
                //ShipmentTypeId: $('#ShipmentTypeId').val(),
                OriginAirportCity: $('#OriginAirportCity').val(),
                DestinationAirportCity: $('#DestinationAirportCity').val(),
                FlightDate1: $('#FlightDate1').val(),
                FlightNo: $('#FlightNo').val(),
                MAWB: $('#MAWB').val(),
                Type: $('#Type').val(),
                TotalAWB: $('#TotalAWB').val(),
                ParcelNo: $('#ParcelNo').val(),
                Weight: $('#Weight').val(),
                Bags: $('#Bags').val(),
                Route: $('#Route').val()
            }
            $('#loaderpopup').modal('show');
            $.ajax({
                type: "POST",
                url: "/ImportShipment/SaveImport",
                datatype: "Json",
                data: { Master: JSON.stringify(master), Details: JSON.stringify(obj) },
                success: function (response) {
                    debugger;
                    $('#loaderpopup').modal('hide');
                    $.notify("Import Shipment Saved Succesfully!", "success");
                    $('#btnSave').removeAttr('disabled');
                    window.location.href = "/ImportShipment/Index";


                },
                error: function (err) {
                    $('#loaderpopup').modal('hide');
                    console.log(err);
                    $('#btnSave').removeAttr('disabled');
                }
            });


        });
        if ($('#ID').val() > 0) {
            //DisplayImprotItem();
        }


    });
    function DisplayImprotItem() {
        //GetImportItem
        $("#listContainer").html('');
        $.ajax({
            type: "POST",
            url: "/ImportManifest/GetImportItem",
            datatype: "Json",
            data: { id: $("#ID").val() },  //$("#CollectedByID option:selected").val()
            success: function (response) {
                debugger;
                var data = response.data;
                $.each(data, function (index, item) {
                    var i = $("#listContainer > tr").length;
                    var ReceiverContact = item.ReceiverContact;
                    var ReceiverAddress = item.ReceiverAddress;
                    objitems.push(item);
                    var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWBNo_' + i + '"  value="' + item.AWBNo + '" /> ';
                    datahtml = datahtml + '<input type="hidden" id="hdnBag_' + i + '"  value="' + item.Bag + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnAWBDate_' + i + '"  value="' + item.AWBDate + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnShipper_' + i + '"  value="' + item.Shipper + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnReceiver_' + i + '"  value="' + item.Receiver + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnReceiverContact_' + i + '"  value="' + ReceiverContact + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnReceiverPhone_' + i + '"  value="' + item.ReceiverPhone + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnReceiverAddress_' + i + '"  value="' + ReceiverAddress + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnDestinationLocation_' + i + '"  value="' + item.DestinationLocation + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnDestinationCountry_' + i + '"  value="' + item.DestinationCountry + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnDestinationCity_' + i + '"  value="' + item.DestinationCity + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnPcs_' + i + '"  value="' + item.Pcs + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnWeight_' + i + '"  value="' + item.Weight + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnValue_' + i + '"  value="' + item.Value + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnCOD_' + i + '"  value="' + item.COD + '"/>';
                    datahtml = datahtml + '<input type="hidden" id="hdnContent_' + i + '"  value="' + item.Content + '"/>';
                    var html = '<tr><td>' + datahtml + (parseInt(i) + 1) + '</td><td>' + item.AWBNo + '</td><td>' + item.AWBDate + '</td><td>' + item.Shipper + '</td>' +
                        '<td><strong>' + item.Receiver + '</strong><br/><span style="color:blue">' + ReceiverContact + '</span></br>' + ReceiverAddress + '<br/>' + item.ReceiverPhone + '</td>' +
                        '<td>' + item.DestinationLocation + '</td><td>' + item.DestinationCity + '<br/>' + item.DestinationCountry + '</td>' +
                        '<td>' + item.Bag + '</td>' +
                        '<td>' + item.Content + '</td>' +
                        '<td>' + item.Pcs + '</td>' +
                        '<td class="text-right">' + parseFloat(item.Weight).toFixed(3) + '</td>' +
                        '<td class="text-right">' + parseFloat(item.Value).toFixed(2) + '</td>' +
                        '<td class="text-right">' + item.COD + '</td>'+
                        '<td class="text-right">' + item.ImportType + '</td></tr>';

                    $("#listContainer").append(html);
                    if ((i + 1) == data.length) {
                        UpdateImported();
                    }
                });
            }
        });
    }
    $(function () {
        //$('#ManifestDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        //$('#FlightDate1').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });

        if ($('#EnableAPI').val() == 'False') {
            $('#btnGETAPI').attr('disabled', 'disabled');
        }
    });
</script>


    
        @using (Html.BeginForm("Create", "ImportShipment", FormMethod.Post, new { @id = "importShipment" }))
        {
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="mb-2">
                                @Html.HiddenFor(mode => Model.ID)
                                @Html.HiddenFor(mode => Model.FlightDate)
                                @Html.LabelFor(model => model.ManifestNumber, "Manifest Number", htmlAttributes: new { @class = "headinglabel " })
                                @Html.TextBoxFor(model => model.ManifestNumber, new { @class = "form-control", @disabled = "true", @style = "text-decoration:none", @width = "100%" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                @Html.LabelFor(model => model.CreatedDate, "Manifest Date", htmlAttributes: new { @class = "headinglabel" })
                              
                                 <div class="docs-datepicker">
                                    <div class="input-group">
                                        <input type="text" class="form-control docs-date" name="CreatedDate" id="CreatedDate" value="@Model.CreatedDate"  autocomplete="off">
                                        <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled><i class="mdi mdi-calendar" aria-hidden="true"></i></button>
                                    </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="mb-2">
                                <label class="headinglabel required">Import Agent</label>
                                @Html.DropDownListFor(model => model.AgentID, new SelectList(@ViewBag.Agent, "AgentID", "Name"), "Select", new { @class = "form-select" })
                            </div>
                        </div>

                        <div class="col-md-1 hide">
                            <div class="mb-2">
                                <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                                <input type="button" id="btnfile" style="display:none" />
                                <a class="btn btn-primary small_btn btn-2 mt-0" id="btnUpload" title="Upload Excel" href="Javascript:void(0)"><i class=" fa fa-file-o"></i></a>
                            </div>
                         </div>
                        <div class="col-md-3">
                            <div class="mb-2">
                                <label class="headinglabel required">Export Manifest </label>
                                @Html.HiddenFor(mode=>mode.ExportShipmentID)
                                @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control", @required = "true", @autocomplete = "off" })
                            </div>
                         </div>
                            <div class="col-md-1">
                                <button type="button" id="btnsearch" class="btn btn-success waves-effect waves-light filter btn_top" title="Get Collected AWBs">
                                        <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                            <div class="col-md-2 text-md-end btn_top">
                                <input type="button" value="Save" id="btnSave" class="btn btn-success" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
            
                        <div class="col-md-1 hide">
                            <label class="headinglabel">Total AWB</label>
                            @Html.TextBoxFor(model => model.TotalAWB, new { @class = "form-control text-right", @min = 1 })
                            @Html.ValidationMessageFor(model => model.TotalAWB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            

             <div class="card">
                <div class="card-body">
                            @{Html.RenderPartial("ItemList", Model);}
                        </div>
                        </div>

        }



