@model Net4Courier.Models.ImportShipment

@{
    ViewBag.Title = "Details";
    var i = 1;
}

<div class="card">
    <div class="card-body">
        <h4>Import Shipment</h4>
        <hr />
        <dl class="dl-horizontal row">
            <div class="col-md-3">
                <dt>
                    Manifest Number
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ManifestNumber)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Origin
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OriginCity)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Destination
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DestinationCity)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Consignor Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConsignorAddress)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Consignee Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConsigneeAddress)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Flight Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Flight No
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlightNo)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    MAWB
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MAWB)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.CD)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CD)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Bags)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Bags)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Run No
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RunNo)
                </dd>
            </div>



            <div class="col-md-3">
                <dt>
                    Total AWB
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalAWB)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Airport City
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DestinationCity)
                </dd>
            </div>

            @*<div class="col-md-3">
                    <dt>
                        Origin Country
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.S_CountryMaster.CountryName)
                    </dd>
                </div>

                <div class="col-md-3">
                    <dt>
                        Destination Country
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.S_CountryMaster1.CountryName)
                    </dd>
                </div>*@

            <div class="col-md-3">
                <dt>
                    Created Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Created by
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.S_ForwardingAgentLogin.UserName)
                </dd>
            </div>

            <div class="col-md-3">
                <dt>
                    Last edited by
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.S_ForwardingAgentLogin1.UserName)
                </dd>
            </div>

            <div class="col-md-3">

                <dt>
                    Agent Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.S_ForwardingAgentMaster.AgentName)
                </dd>
            </div>
        </dl>
        <h4>Shipments</h4>
        <hr />
        <table class="table table-datatable table-striped table-hover table_lg_head m_icons dataTable no-footer" id="datatable-1" role="grid" aria-describedby="datatable-1_info">
            <thead>
                <tr>
                    <th>
                        Sl No
                    </th>
                    <th>
                        HAWB NO.
                    </th>
                    <th>
                        AIRWAY BILL NO.
                    </th>
                    <th>
                        PCS
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Contents
                    </th>
                    <th>
                        Shipper
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Receiver
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Bag No
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shipment in Model.S_ImportShipmentDetails)
                {
                    <tr>
                        <td>@i</td>
                        <td>@shipment.HAWB</td>
                        <td>@shipment.AWB</td>
                        <td>@shipment.PCS</td>
                        <td>@shipment.Weight</td>
                        <td>@shipment.Contents</td>
                        <td>@shipment.Shipper</td>
                        <td>@shipment.Value @shipment.S_CurrencyMaster.Symbol</td>
                        <td>@shipment.Reciver</td>
                        <td>@shipment.DestinationCity</td>
                        <td>@shipment.BagNo</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <hr />
        <div class="form-group col-lg-3 col-md-6 col-sm-12 float-right" style="display:flex">
            <div class="col-md-6">
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-secondary btn-sm waves-effect waves-light float-right" })
            </div>
            <div class="col-md-6">
                @if (ViewBag.Edit == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary waves-effect waves-light" })
                }
                else
                {
                    <button class="btn btn-primary waves-effect waves-light" disabled>Edit</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#importshipment").addClass("active");
        });
    </script>
}
