@model Net4Courier.Models.CODInvoiceVM

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "COD Invoice";
    ViewBag.pageTitle = "Account Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
    var _alphanum = Session["AWBAlphaNumeric"].ToString();
}

@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}


<style>
    .w-6 {
        width: 6%;
    }

    .charegRow {
        background: #f8fbff;
    }

        .charegRow td {
            border: 0 !important;
        }

        .charegRow label {
            font-size: 14px !important;
            font-weight: bold !important;
        }

    .taxBlock .col-md-2, .taxBlock .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .align_self {
        margin-top: 31px;
    }

    .w-12 {
        width: 12%;
    }

    .taxBlock label {
        margin: 0;
    }

    /* Match Bootstrap form-select-sm size */
    .select2-container .select2-selection--single {
        height: 30px !important;
        line-height: 30px !important;
        padding: 2px 6px !important;
        font-size: 0.8rem !important; /* smaller font */
        border-radius: 0.2rem !important;
    }

    /* Text inside the select */
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 26px !important;
        font-size: 0.8rem !important; /* smaller font */
        padding-left: 2px !important;
    }

    /* Dropdown arrow alignment */
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 28px !important;
    }
    .select2-container .select2-selection--multiple .select2-selection__choice {
       
        padding: 0 17px;
    }
</style>

<style>
    #invoicesearch .row .col-md-1 {
        width: 12%;
    }

    .multiselect {
        align-items: center;
        display: flex !Important;
        justify-content: space-around;
    }

    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }

    #FormDate {
        border-radius: 10px;
    }
</style>
<script type="text/javascript">
    function addCommas(nStr) {

        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
    }
    function setTwoNumberDecimal(obj) {
        debugger;

        $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
        gettotal();
    }

    function setThreeNumberDecimal(obj) {
        debugger;

       $(obj).val(parseFloat($(obj).val()).toFixed(3));
}
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#InvoiceDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });

    //    var d = new Date();
    //    var curr_date = d.getDate();
    //    var curr_month = d.getMonth() + 1;
    //    var curr_year = d.getFullYear();

    //    var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

    //    $('#InvoiceDate').val(reqdate);
    //});
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


       /* $('#movementid').select2();*/
        $(function () {
            //$('#InvoiceDate').datepicker({
            //    maxDate: ed,
            //    minDate: sd,
            //    dateFormat: 'dd/mm/yy',
            //});
                 var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

        $('#InvoiceDate').val(reqdate);
        });
    });


</script>

<script>
    var customernames = [];
    function gettotal() {
        debugger;
        var netvalue = parseFloat($('#lbltotalcharge').html());
        //var CustomerInvoiceTax = $('#CustomerInvoiceTax').val();
        var AdminPer = 0;
        //var FuelPer = $('#FuelPer').val();
        var Clearance = 0;
        var Discount = $('#Discount').val();
        if (netvalue == '' || netvalue == null)
            netvalue = 0;

        //if (CustomerInvoiceTax == null || CustomerInvoiceTax == '') {
        //    CustomerInvoiceTax = 0;
        //}
        if (AdminPer == null || AdminPer == '') {
            AdminPer = 0;
        }
        if (Clearance == null || Clearance == '') {
            Clearance = 0;
        }
        if (Discount == null || Discount == '') {
            Discount = 0;
        }

        //$('#lblfuelpercent').html(FuelPer);
       // $('#lbladminpercent').html(AdminPer);
        //$('#lbltaxpercent').html(CustomerInvoiceTax);
        $('#lbldiscount').html(Discount);
       // $('#lblclearancecharge').html(Clearance);
        @*var taxamt = parseFloat(CustomerInvoiceTax) / 100 * parseFloat(netvalue);
        taxamt = parseFloat(taxamt).toFixed(@_decimal);
        $('#ChargeableWT').val(parseFloat(taxamt).toFixed(@_decimal));
        $('#lbltaxamount').html(taxamt);*@

      //  var adminamt = parseFloat(AdminPer) / 100 * parseFloat(netvalue);
      //  adminamt = parseFloat(adminamt).toFixed(@_decimal);
      //  $('#AdminAmt').val(adminamt);
      //  $('#lbladminamount').html(adminamt);

       // var fuelamt = $('#lblfuelamount').html();// parseFloat(FuelPer) / 100 * parseFloat(netvalue);
       // fuelamt = parseFloat(fuelamt).toFixed(@_decimal);
       // $('#FuelAmt').val(fuelamt);
       // $('#lblfuelamount').html(fuelamt);

      //  var taxamount = $('#lbltaxamount').html();// parseFloat(FuelPer) / 100 * parseFloat(netvalue);
      //  taxamount = parseFloat(taxamount).toFixed(@_decimal);
      //  $('#ChargeableWT').val(taxamount);



        //var netotal = parseFloat(netvalue) + parseFloat(taxamt) + parseFloat(adminamt) + parseFloat(fuelamt) + parseFloat(Clearance) - parseFloat(Discount);
        var netotal = parseFloat(netvalue) + parseFloat(adminamt) + parseFloat(Clearance) - parseFloat(Discount);
        $('#InvoiceTotal').val(parseFloat(netotal).toFixed(@_decimal));
        $('#lblinvoicetotal').html(parseFloat(netotal).toFixed(@_decimal))
    }
    function ValidateTotal() {
        debugger;

        var idtext = 'hdnTotalCharge_';
        var amt = 0;
        var totalsurchargeamount = 0;
        var totalcouriercharge = 0;
        var totalotherCharge = 0;
        var totalVATCharge = 0;
        var max = $('#details > tbody > tr').length;// - 6;

        $('[id^=' + idtext + ']').each(function (index, item) {
            var awbchecked = $('#hdnawbchecked_' + index).prop('checked');
            //var totalcharge = $('#hdnTotalCharge_' + index).val();
            //var couriercharge = $('#hdnCourierCharge_' + index).val();
            //var othercharge = $('#hdnOtherCharge_' + index).val();
            //var vatamount = $('#hdnVatAmount_' + index).val();
            if (awbchecked == true) {

                if ($(item).val() == "" || $(item).val() == null) {
                    $(item).val(0);
                }
                var itemval = $(item).val();
                itemval = itemval.replace(',', '');

                var invamount = parseFloat(itemval);
                amt = parseFloat(amt)+ parseFloat(invamount);// -Total Charge + parseFloat(invamount);
                //totalsurchargeamount = parseFloat(totalsurchargeamount) + parseFloat(surchargeamount);
                //totalcouriercharge = parseFloat(totalcouriercharge) + parseFloat(couriercharge);
                //totalotherCharge = parseFloat(totalotherCharge) + parseFloat(othercharge);
                //totalVATCharge = parseFloat(totalVATCharge) + parseFloat(vatamount);
                @*$('#lblcouriercharge').html(parseFloat(totalcouriercharge).toFixed(2));
                $('#lblfuelamount').html(parseFloat(totalsurchargeamount).toFixed(2));
                $('#lblothercharge').html(parseFloat(totalotherCharge).toFixed(2));
                $('#lbltotalcharge').html(parseFloat(amt).toFixed(2));

                $('#lbltaxamount').html(parseFloat(totalVATCharge).toFixed(2));
                $('#InvoiceTotal').val(parseFloat(amt).toFixed(@_decimal));*@

                console.log((parseInt(index) + 1));
            }

            if ((parseInt(index) + 1) == parseInt(max)) {
                $('#lblinvoicetotal').html(parseFloat(amt).toFixed(@_decimal))
                $('#InvoiceTotal').val(parseFloat(amt).toFixed(@_decimal));
               // gettotal();
            }
        });




    }

    function CheckAWBExists(awbno) {


        var idtext = 'hdnAWBNo_';

        var max = $('#details > tbody > tr').length;
        var found = false;
        $('[id^=' + idtext + ']').each(function (index, item) {

            var awbchecked = $('#hdnawbchecked_' + index).prop('checked');
            var awb = $('#hdnAWBNo_' + index).val();
            if (awb == awbno) {
                if (awbchecked == true) {
                    found = true;
                    Swal.fire('Data Validation','AWB No. already Selected!','error');
                    $('#AWBNo').val('');
                    $('#AWBNo').focus();
                    return "notfound";
                }
                else {
                    found = true;
                    $.ajax({
                        type: "POST",
                        url: "/CODInvoice/ShowItemListSelect",
                        datatype: "html",
                        data: { AWBNo: awbno, statuschecked: true },
                        success: function (response) {
                            $("#listContainer").html(response);
                            ValidateTotal();
                            $('#AWBNo').val('');
                            $('#AWBNo').focus();
                            return "found";
                        }
                    });

                }
            }
            if ((index +1) == max) {
                if (found == false) {
                    $('#AWBNo').val('');
                    $('#AWBNo').focus();
                    Swal.fire('Data Validation', 'AWB No. not Found!', 'error');
                    /*$.notify('AWB No. not Found!');*/
                    return "notfound!";
                }
            }
        });

    }


     function redrawgridbyawbno(obj) {

        if ('@_alphanum'== 'True') {
            var txt = $(obj).val().trim();
          $(obj).val(txt.replace(/[^\d,]/g, ''));
          }
        var awbno = $(obj).val();
        if (awbno != '') {
            CheckAWBExists(awbno);


        }
    }
    function redrawgrid(obj) {

        var awbno = $(obj).attr('awbno');
        var statuschecked = $(obj).prop('checked');

        $.ajax({
            type: "POST",
            url: "/CODInvoice/ShowItemListSelect",
            datatype: "html",
            data: { AWBNo: awbno, statuschecked: statuschecked },
            success: function (response) {
                $("#listContainer").html(response);
                ValidateTotal();
            }
        });
    }
    function redrawgridall() {

        var customer = 0;
        var statuschecked = $('#Selectall').prop('checked');

        $.ajax({
            type: "POST",
            url: "/CODInvoice/ShowItemListSelect",
            datatype: "html",
            data: { AWBNo: '', statuschecked: statuschecked },
            success: function (response) {
                $("#listContainer").html(response);
                setTimeout(function () {
                    $('#Selectall').prop('checked', statuschecked);
                    ValidateTotal();
                }, 300)

            }
        });
    }
    // Helpers to limit to a single selection (without destroying Select2)
    function limitSelect2ToOne(sel) {
        var $el = $(sel);
        $el.off('select2:select.limit').on('select2:select.limit', function (e) {
            var selected = $el.val() || [];
            if (selected.length > 5) {
                // keep only the last selected
                var last = e.params.data.id;
                $el.val([last]).trigger('change.select2');
            }
        });
    }
    function removeLimitSelect2(sel) {
        $(sel).off('select2:select.limit');
    }
    $(document).ready(function () {
        function getSelectedTextsCsv() {
            return $('#drpClientID').select2('data').map(function (x) { return x.text; }).join(', ');
        }

        // Example: on change
        $('#tags').on('change', function () {
            var csv = getSelectedTextsCsv();
            console.log('Selected texts:', csv);
        });
        var $select = $('#drpClientID11').select2({
            placeholder: 'Select a customer',
            width: '100%',
            minimumInputLength: 1,     // <-- correct option
            allowClear: true,          // show clear (optional)
            //closeOnSelect: false,      // keep dropdown open for further typing (optional)
            // dropdownParent: $('#yourModalId'), // uncomment if inside a Bootstrap modal
            ajax: {
                url: '/CODInvoice/GetCustomerName',
                dataType: 'json',
             //   delay: 250,
                data: function (params) {
                    return {
                        term: params.term || '',
                        Type: $('#CustomerRole').val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(function (item) {
                            // id should ideally be a unique ID; using name is OK if unique
                            return { id: item.CustomerName, text: item.CustomerName };
                        })
                    };
                },
                cache: true
            }
        });

        // (nice UX) focus the search box whenever it opens
        //$select.on('select2:open', function () {
        //    setTimeout(function () {
        //        document.querySelector('.select2-container--open .select2-search__field')?.focus();
        //    }, 0);
        //});


        //$.ajax({
        //    type: "GET",
        //    url: '/CODInvoice/GetCustomerName',
        //    data: {
        //        'term': '', 'Type': $('#CustomerRole').val()
        //    },
        //    success: function (data) {
        //        debugger;


        //        $.each(data, function (index, item) {
        //            //    console.log(data);
        //            var value = data[index].CustomerName;
        //            var label = data[index].CustomerName;


        //            var selected = false;

        //            if (selected == true) {
        //                var html = '<option selected value="' + value + '">' + label + '</option>';
        //                $('#drpClientID').append(html);
        //            }
        //            else {
        //                var html = '<option value="' + value + '">' + label + '</option>';
        //                $('#drpClientID').append(html);
        //            }
        //        })

        //        $('#drpClientID').select2({
        //            width: '100%',
        //            /* dropdownParent: $('#customerpopup')   // adjust to your modal's ID*/
        //        });


        //    }
        //});

        ////  $("#CustomerName").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: '/CODInvoice/GetCustomerName',
        //            datatype: "json",
        //            data: {
        //                term: request.term
        //            },
        //            success: function (data) {
        //                response($.map(data, function (val, item) {
        //                    return {
        //                        label: val.CustomerName,
        //                        value: val.CustomerName,
        //                        CustomerId: val.CustomerID

        //                    }
        //                }))
        //            }
        //        })
        //    },
        //    minLength: 1,
        //      autoFocus: false,
        //      focus: function (event, ui) {
        //          $("#CustomerName").val(ui.item.value);

        //          $('#CustomerID').val(ui.item.CustomerId);
        //      },
        //    select: function (e, i) {
        //        e.preventDefault();
        //        $("#CustomerName").val(i.item.label);

        //        $('#CustomerID').val(i.item.CustomerId);
        //    },

        //});

        // role change handler
        $('input[name="rbCustomerRole"]').on('change', function () {
            var role = this.value; // "Consignee" | "Consignor"
            $('#CustomerRole').val(role);

            // Update label text
            $('#custRoleLabel').text(role + ' Customer');

            // If Consignor should be single-select, disable multi-select behavior visually
            if (role === 'Consignor') {
                // keep Select2 but allow only one selection
                limitSelect2ToOne('#drpClientID');
            } else {
                removeLimitSelect2('#drpClientID');
            }
        });
         $('#btnsearch').click(function () {
            var customername=getSelectedTextsCsv();
             const checked = document.querySelector('input[name="rbCustomerRole"]:checked');
             const role = checked ? checked.value : null;   // "Consignee" or "Consignor"
             console.log('Role:', role);
             if (customername == '' || customername == null) {
                 $('#drpClientID').focus();
                return false;
             }
            //else if ($('#movementid').val() == null) {
            //    $('#movementid').focus();
            //    alert('Select Courier type!')
            //    return false;
            //}

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowItemList", "CODInvoice")',
                datatype: "html",
                data: {
                    CustomerName: customername, FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), MovementId: 1, Type: role
                },
                success: function (data) {
                    debugger;
                    $("#listContainer").html(data);
                    $("#CustomerName").attr('CustomerId', $('#CustomerID').val());
                    $('#btnsave1').removeAttr('disabled');
                    var max = $('#details > tbody > tr').length - 7;

                    if (max == 0) {
                        Swal.fire('Data Validation','AWB are not available!','error');
                    }
                    else {
                        ValidateTotal();
                    }

                }
            });

    });


        


        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyS' && (event.altKey)) { //ADD AWB
                $('#btnsave1').trigger('click');
            }
        });
    });




</script>




@*<div class="row no-margin">
        @{ Html.RenderAction("InvoiceSearch", "CustomerInvoice");}
    </div>*@


<fieldset>
    @using (Html.BeginForm("Create", "CODInvoice", FormMethod.Post, new { @id = "customerInvoice" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-2">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rbCustomerRole" id="rbConsignee" value="Consignee" checked>
                                <label class="form-check-label" for="rbConsignee">Consignee</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rbCustomerRole" id="rbConsignor" value="Consignor">
                                <label class="form-check-label" for="rbConsignor">Consignor</label>
                            </div>

                            <input type="hidden" id="CustomerRole" value="Consignee" />
                            @Html.HiddenFor(model => model.CustomerID)

                            <label class="col-form-label required " id="custRoleLabel"> Customer</label>
                            @*<select id="drpClientID" tabindex="12" multiple class="form-select select2-multiple" style="width:100%" required="required"></select>*@
                            <select id="drpClientID"  name="Tags" width="500px" multiple></select>
                            @Html.ValidationMessageFor(model => model.CustomerName)

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">From Date</label>
                            @Html.HiddenFor(model => model.MovementId)
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                           placeholder="Pick a From Date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">To Date</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                           placeholder="Pick a date" autocomplete="off">
                                    <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mt-2 text-md-end">
                            <button type="button" class="btn btn-success waves-effect waves-light filter btn_top" id="btnsearch">
                                <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                            </button>

                        </div>
                    </div>
                    <div class="col-md-2 text-md-end btn_top">
                        <div class="mb-2 mt-2">
                            <input type="submit" value="Save" id="btnsave" class="btn btn-success btnwidth hide" />
                            <input type="button" value="Save" id="btnsave1" class="btn btn-success btnwidth">
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
                <div class="row">


                    @*<select id="tags1" name="Tags" multiple></select>*@

                   

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label required "> Invoice No</label>
                            @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control txttarget", @required = "true", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.InvoiceNo)
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Invoice Date</label>
                            @Html.HiddenFor(model => model.InvoiceTotal)
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="InvoiceDate" id="InvoiceDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.InvoiceDate.ToShortDateString()"
                                           placeholder="Pick a date" autocomplete="off">
                                    <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label class="col-form-label">Invoice To</label>
                            @Html.TextAreaFor(model => model.CustomerName, new { @class = "form-control", @rows = "4", @cols = "50" })
                        </div>
                    </div>

                    <div class="col-md-4 d-flex float-right">
                        <div class="mb-2">

                            <label class="col-form-label">Search AWB No.</label>
                            @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control", @onchange = "redrawgridbyawbno(this)" })

                        </div>
                    </div>

                    @*<div class="col-md-1">
            <div class="mb-2">
                <label class="col-form-label">Discount </label>
                @Html.TextBoxFor(model => model.Discount, new { @class = "form-control text-right txttarget calfield", onchange = "setTwoNumberDecimal(this)" })
                @Html.ValidationMessageFor(model => model.Discount)
            </div>
        </div>*@

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" id="listContainer">
             

                @{Html.RenderPartial("InvoiceList", Model);}


            </div>
        </div>


    }
</fieldset>

<script type="text/javascript">
    
       
 
    function redrawgridbyawbno(obj) {
        debugger;
        if ('@_alphanum'== 'True') {
            var txt = $(obj).val().trim();
          $(obj).val(txt.replace(/[^\d,]/g, ''));
          }
        var awbno = $(obj).val();
        if (awbno != '') {
            CheckAWBExists(awbno);


        }
    }
    function redrawgrid(obj) {
        debugger;
        var awbno = $(obj).attr('awbno');
        var statuschecked = $(obj).prop('checked');

        $.ajax({
            type: "POST",
            url: "/CODInvoice/ShowItemListSelect",
            datatype: "html",
            data: { AWBNo: awbno, statuschecked: statuschecked },
            success: function (response) {
                $("#listContainer").html(response);
                ValidateTotal();
            }
        });
    }
    function redrawgridall() {
        debugger;
        var customer = 0;
        var statuschecked = $('#Selectall').prop('checked');

        $.ajax({
            type: "POST",
            url: "/CODInvoice/ShowItemListSelect",
            datatype: "html",
            data: { AWBNo: '', statuschecked: statuschecked },
            success: function (response) {
                $("#listContainer").html(response);
                setTimeout(function () {
                    $('#Selectall').prop('checked', statuschecked);
                    ValidateTotal();
                }, 300)

            }
        });
    }
    $(document).ready(function () {
        $('#drpClientID').select2({
            width: '100%',
            tags: true,                 // allow new entries
            tokenSeparators: [',', ' '], // create on comma/space
            placeholder: 'Type and press Enter…'
        });
        $("#AWBNo").keydown(function (e) {
            if (e.keycode == 13) {
                if ('@_alphanum'== 'True') {
                    var txt = $('#AWBNo').val().trim();
                    $('#AWBNo').val(txt.replace(/[^\d,]/g, ''));
                }
                redrawgridbyawbno($('#AWBNo'));
            }

        });
        @*$("#AWBNo").change(function () {
          if ('@_alphanum'== 'True') {
                var txt = $('#txtawb').val().trim();
                $('#txtawb').val(txt.replace(/[^\d,]/g, ''));
            }
        });*@
         var table1 = $('#details').DataTable({ "paging": false, "sPaginationType": "simple", "aaSorting": [0, "desc"], "destroy": true });

    });
</script>

<script type="text/javascript">

     function deleteAWBItem(i)
      {

            $.ajax({
                url: '@Url.Action("AddOrRemoveAWBNo1", "CODInvoice")?i='+i,
                type: 'post',
                dataType: 'json',
                data:   {
                                ship: $('form#customerInvoice').serialize(),i:i
                            },
                success: function (data) {
                    //$("#listContainer").html(data);

                }
               });

        }


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        @*$('#CustomerID').change(function () {

            var fullform = $('form#customerInvoice').serialize();
            console.log(fullform);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCustomerAWBList", "CODInvoice")?Id=' + $('#CustomerID').val(),
                datatype: "html",
                data: {
                    ship: fullform
                },
                success: function (data) {
                    //console.log(data);
                    var _cust = JSON.stringify(data);
                    $("#listContainer").html(data);
                    $('#Selectall').prop('checked', true);
                    //gettotal();
                }
            });

        });*@

        $('#btnsave1').click(function () {
            $('#btnsave1').attr('disabled', 'disabled');
            var maxrow = $('#details > tbody > tr').length;
            var totalcharge = parseFloat($('#lbltotalcharge').html());
        if ($('#CustomerName').val() == '' || $('#CustomerName').val()==null) {
            $.notify("Select customer to add Invoice!");
            $('#btnsave1').removeAttr('disabled');
            $('#CustomerName').focus();
            return false;
        }
        else if (maxrow == 0) {
            $('#btnsave1').removeAttr('disabled');
            $.notify("Select AWB Details to add Invoice!");
            return false;
        }
        else if (totalcharge == 0)
        {
            $('#btnsave1').removeAttr('disabled');
            $.notify("Select AWB Details to add Invoice!");
            return false;
        }
        else {
            $('#btnsave').trigger('click');
        }
            //var tot = $('#lbltotalcharge').html();
            //var totval = parseFloat(tot);
            //if (totval == 0) {
            //    alert('Select AWB Details to Create Invoice!');
            //    return false;
            //}
        });

    });
</script>
@section scripts{
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    


}

 