@model Net4Courier.Models.InvoiceAllParam
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="/Content/Multiselect/bootstrap-multiselect.js"></script>
<script src="~/Content/plugins/excel/jquery.table2excel.js"></script>
<style>
    textarea {
        width: 100%;
        resize: vertical;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<style>
    #invoicesearch .row .col-md-1 {
        width: 12%;
    }

    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }

    #FormDate {
        border-radius: 10px;
    }
</style>

<script>
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#InvoiceDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });

    //    var d = new Date();
    //    var curr_date = d.getDate();
    //    var curr_month = d.getMonth() + 1;
    //    var curr_year = d.getFullYear();

    //    var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

    //    $('#InvoiceDate').val(reqdate);
    //});
    function ExportExcel() {

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date.toString() + curr_month.toString() + curr_year.toString() + '_' + d.getHours() + d.getMinutes();
        $("#DetailsTable").table2excel({
            filename: "InvoicePendingRegister_" + reqdate + ".xls"
        });
    }
    function PrintDiv(divid) {

        var contents = document.getElementById(divid).innerHTML;
        var frame1 = document.createElement('iframe');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('</head><body>');
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
        }, 500);
        return false;
    }
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });
        });

        $(function () {
            $('#InvoiceDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY HH:mm',
            });
                var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

        $('#InvoiceDate').val(reqdate);
        });

        $('#InvoiceType1').change(function () {

            $('#InvoiceType').val($('#InvoiceType1').val());
        })
        $('#FromDate').blur(function () {
            $('#btngeneratePending').removeAttr('disabled');
            $('#btngenerate').attr('disabled', 'disabled');
        });

        $('#ToDate').blur(function () {
            $('#btngeneratePending').removeAttr('disabled');
            $('#btngenerate').attr('disabled', 'disabled');
        });
              $.ajax({
                type: "Get",
                url: "/CustomerInvoice/GetCourierType",
                datatype: "Json",
                  success: function (response) {

                      var data = response.data;
                    $('#movementid').empty();

                    $.each(data, function (index, value) {

                        var o_st = $("#MovementId").val().split(",");

                        var flag = 0;
                        for (var j = 0 ; j < o_st.length; j++) {
                            debugger;
                                if (o_st[j] == value.MovementID) {
                                    flag = 1;
                                    break;
                                }

                        }

                        if (flag == 1) {
                            $('#movementid').append('<option value="' + value.MovementID + '" selected=true>' + value.MovementType + '</option>');
                        }
                        else {
                            $('#movementid').append('<option value="' + value.MovementID + '">' + value.MovementType + '</option>');
                        }

                    });



                      $('#movementid').multiselect({
                        nonSelectedText:'Select',
                        enableClickableOptGroups: true,
                        enableCollapsibleOptGroups: true,
                        enableFiltering: false,
                        includeSelectAllOption: true,
                        enableCaseInsensitiveFiltering: false,
                        selectAllValue: 'multiselect-all'
                      });


                }
              });
        $('#btngeneratePending').click(function () {
            if ($('#FromDate').val() == null || $('#FromDate').val() == '') {
                $('#FromDate').focus();
                $.notify('Select From Date!', "error");
                return false;
            }
            if ($('#ToDate').val() == null || $('#ToDate').val() == '') {
                $.notify('Select To Date!', "error");
                $('#ToDate').focus();
                return false;
            }
            if ($('#InvoiceDate').val() == null || $('#InvoiceDate').val() == '') {
                $('#InvoiceDate').focus();
                alert('Select Invoice Date!')
                return false;
            }
            var m1 = $('#FromDate').val().split('-')[1];
            var m2 = $('#ToDate').val().split('-')[1];
            var m3 = $('#InvoiceDate').val().split('-')[1];

            var y1 = $('#FromDate').val().split('-')[2];
            var y2 = $('#ToDate').val().split('-')[2];
            var y3 = $('#InvoiceDate').val().split('-')[2];

            //if (parseInt(m1) != parseInt(m2) || parseInt(y1) != parseInt(y2)) {
            //    $.notify('The transaction date should not overlap a month!', "error");
            //    $('#FromDate').focus();

            //    return false;
            //}
            //if (parseInt(m1) != parseInt(m3) || parseInt(y1) != parseInt(y3)) {
            //    $.notify('Invoice Date should be in the same month of Transaction Date!', "error");
            //    $('#InvoiceDate').focus();
            //    return false;
            //}
            if ($('#movementid').val() == null) {
                $('#movementid').focus();
                $.notify('Select Courier type!', "error")
                return false;
            }

            if ($('#InvoiceType1').val() == null || $('#InvoiceType1').val() == '') {
                $('#InvoiceType1').focus();
                $.notify('Select Invoice Type!', "error")
                return false;
            }
            var obj = {
                FromDate: $('#FromDate').val(),
                ToDate: $('#ToDate').val(),
                InvoiceDate: $('#InvoiceDate').val(),
                SelectedValues: $('#movementid').val(),
                InvoiceType: $('#InvoiceType').val()
            }
            $('#imgloader').css('display', 'block');
            $('#btngeneratePending').attr('disabled', 'disabled');
            $.ajax({
                type: "POST",
                url: "/CustomerInvoice/GenerateInvoicePending",
                datatype: "html",
                data: obj,
                success: function (response) {
                    if (response.status == "ok") {
                        $.notify(response.message);
                        $('#imgloader').css('display', 'none');
                        redrawgridall();
                        $('#btngenerate').removeAttr('disabled');
                        $('#btngeneratePending').removeAttr('disabled');
                        //$.ajax({
                        //    type: "POST",
                        //    url: "/CustomerInvoice/ShowInvoicePending",
                        //    datatype: "html",
                        //    data: obj,
                        //    success: function (response) {
                        //        $("#pendingcontainer").html(response);
                        //    }
                        //});
                        return;
                    }
                    else {
                        $.notify(response.message);
                        $('#imgloader').css('display', 'none');
                    }
                    //$("#pendingcontainer").html(response);
                    //var itemcount = $('#listbody > tr').length;
                    //if (itemcount > 0) {
                    //    $('#btngenerate').removeAttr('disabled');
                    //    $('#btngeneratePending').removeAttr('disabled');                        
                    //    $.notify('Invoice Pending Generated Succesfully!');
                    //    $('#imgloader').css('display', 'none');
                    //}
                    //else {
                    //    $.notify('No Invoice Pending!');
                    //    $('#btngenerate').attr('disabled', 'disabled');
                    //    $('#btngeneratePending').removeAttr('disabled');                        
                    //    $('#imgloader').css('display', 'none');
                    //}


                }

            });

        })
        $('#btngenerate').click(function () {
            debugger;

            if ($('#FromDate').val() == null || $('#FromDate').val() == '') {
                $('#FromDate').focus();
                $.notify("Select From Date!", "error");
                return false;
            }
            if ($('#ToDate').val() == null || $('#ToDate').val() == '') {
                $('#ToDate').focus();
                $.notify("Select To Date!", "error");

                return false;
            }

            //if ($('#InvoiceDate').val() == null || $('#InvoiceDate').val() == '') {
            //    $('#InvoiceDate').focus();
            //    $.notify("Select Invoice Date!", "error");
            //    return false;
            //}
            var m1 = $('#FromDate').val().split('-')[1];
            var m2 = $('#ToDate').val().split('-')[1];
            var m3 = $('#InvoiceDate').val().split('-')[1];

            var y1 = $('#FromDate').val().split('-')[2];
            var y2 = $('#ToDate').val().split('-')[2];
            var y3 = $('#InvoiceDate').val().split('-')[2];

            //if (parseInt(m1) != parseInt(m2) || parseInt(y1) != parseInt(y2)) {
            //    $.notify('The transaction date should not overlap a month!', "error");
            //    $('#FromDate').focus();

            //    return false;
            //}
            //if (parseInt(m1) != parseInt(m3) || parseInt(y1) != parseInt(y3)) {
            //    $.notify('Invoice Date should be in the same month of Transaction Date!', "error");
            //    $('#InvoiceDate').focus();
            //    return false;
            //}


            if ($('#movementid').val() == null) {
                $('#movementid').focus();
                $.notify('Select Courier type!', "error")
                return false;
            }

            if ($('#InvoiceType1').val() == null || $('#InvoiceType1').val() == '') {
                $('#InvoiceType1').focus();
                $.notify('Select Invoice Type!', "error")
                return false;
            }


            $('#imgloader').css('display', 'block');
            $('#btngeneratePending').attr('disabled','disabled');
            var customerids = '';
            var maxrow = $('#listbody > tr').length;
            for (var i = 1; i <= maxrow; i++) {
                if ($('#customerchecked_' + i).prop('checked')) {
                    var customerid = $('#customerchecked_' + i).attr('customerid');
                    if (customerids == '')
                        customerids = customerids + customerid;
                    else
                        customerids = customerids + ',' + customerid;
                }
                
                if (i == maxrow) {
                    debugger;
                    if (customerids == '' || customerids == null) {
                        $.notify('Select Customer to Generate Invoice!');
                        $('#imgloader').css('display', 'none');
                        $('#btngeneratePending').attr('disabled', 'disabled');
                        return false;
                    }
                    else {
                        $('#CustomerIDS').val(customerids);
                        

                    }

                    var obj = {
                        FromDate: $('#FromDate').val(),
                        ToDate: $('#ToDate').val(),
                        InvoiceDate: $('#InvoiceDate').val(),
                        SelectedValues: $('#movementid').val(),
                        InvoiceType: $('#InvoiceType').val(),
                        CustomerIDS: $('#CustomerIDS').val()
                    }

                    $.ajax({
                        type: "POST",
                        url: "/CustomerInvoice/GenerateInvoice",
                        datatype: "Json",
                        data: obj,
                        success: function (response) {
                            if (response.status == "ok") {
                                $('#btngeneratePending').removeAttr('disabled');
                                $.notify("Invoice Generated Count : " + response.InvoiceCount);
                                $('#imgloader').css('display', 'none');
                                setTimeout(function () {
                                    $('#btngeneratePending').trigger('click');
                                },300)
                                
                                return;
                            }
                            else {
                                $('#btngeneratePending').removeAttr('disabled');
                                $('#imgloader').css('display', 'none');
                                alert(response.message);
                            }
                        }

                    });
                }
            }
        })

    });


    @*$('#MovementId').select2({
        data:@ViewBag.Movement,
        multiple: true
    });*@

</script>

<section class="container-fluid over_hide">
    <h1 class="titles_head">Generate Multiple Invoice</h1>
</section>
@using (Html.BeginForm("multipleinvoice", "CustomerInvoice", FormMethod.Post, new { @id = "invoiceall" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row no-margin" style="padding-top:10px">
    <div class="col-md-4">                                                                               
        <div class="row no-margin">
            <div class="col-md-6">

                <label class="required headinglabel">From Date</label>

                @Html.HiddenFor(model => model.MovementId)
                @Html.HiddenFor(model => model.InvoiceType)
                @Html.HiddenFor(model => model.CustomerIDS)
                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right" })


            </div>

            <div class="col-md-6">

                <label class="required headinglabel">To Date</label>

                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right" })


            </div>

            <div class="col-md-6" style="margin-bottom: 10px;">

                <label class="headinglabel required ">Courier Type</label>


                <select id="movementid" name="SelectedValues" multiple="multiple" class="form-control">
                    <option value=""></option>
                </select>

            </div>

            <div class="col-md-6">

                <label class="headinglabel required">Invoice Type</label>

                @Html.DropDownList("InvoiceType1", new List<SelectListItem>
               {
                   new SelectListItem{ Text="Customer Invoice", Value = "Customer"},
                   new SelectListItem{ Text="COLoader Invoice", Value = "COLoader" }
                }, "Select", new { @class = "form-control", @required = "true", @id = "InvoiceType1" })

            </div>


            <div class="col-md-6">

                <label class="headinglabel required ">Invoice Date</label>

                @Html.TextBoxFor(model => model.InvoiceDate, new { @class = "form-control text-right" })

            </div>
            <div class="col-md-6 small_btn_mar" style="padding-top: 6px;">
                <input type="button" value="Retrieve Pending Invoices" class="btn btn-warning" id="btngeneratePending" />

            </div>

            <div class="col-md-7">
                <input type="button" value="Generate Invoices" class="btn btn-primary" id="btngenerate" disabled/>
            </div>
            <div class="col-md-2" style="padding-top:13px">
                <img id="imgloader" src="~/Content/img/loading-gif-free-download-6.gif" style="width:35px;height:35px;display:none" />
            </div>

        </div>

        <style>
            #btngenerate {
                padding: 0px 40px 3px 40px !important;
                margin-top: 15px;
            }
            .btn-primary[disabled]:hover {
                background: #2eb2e6 !important;
                border-color: #2eb2e6 !important;
            }
            .btn-primary[disabled] {
                background: #2e6da4 !important;
                border-color: #2e6da4 !important;
            }
        </style>
       
    </div>
    <div class="col-md-8" >
        <div class="row no_mar_cre">
            <div class="col-md-12 no-padding" style="text-align:right;margin-bottom: 15px;">                
                <a class="btn btn-dark btnwidth" title="Click to Print" style="width: 60px!Important;min-width: 50px!important;" href="Javascript:void(0)" onclick="PrintDiv('pendingcontainer')"><i class="fa fa-print" aria-hidden="true"></i></a>
                <a class="btn btn-success btnwidth" title="Export to Excel" style="width: 60px!Important;min-width: 50px!important;" href="Javascript:void(0)" onclick="ExportExcel()"><i class="far fa-file-excel"></i></a>
            </div>
        </div>
            <div class="row no-margin" >
                <div class="col-xs-12 no-padding for-device">
                    <div class="data-table payment-div scrolling_list">
                        <div class="data" id="pendingcontainer">
                            @{Html.RenderPartial("InvoicePendingList", Model);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }



