@model Net4Courier.Models.MCPaymentPrint
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script type="text/javascript">
    $(document).ready(function () {


        var table1 = $('#DetailsTable').DataTable({ "paging": false, "sPaginationType": "simple" });

        //table1.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });
</script>
<table class="table table-bordered table-responsive" id="DetailsTable" style="background-color: white">

    <thead>
    <th style="text-align:center" width="5%">
        All
        @Html.CheckBoxFor(model => model.AWBAllSelected, new { @class = "Selectall", @id = "AWBSelectall", @onchange = "redrawAWBgridall()" })
        @*All  <input type="checkbox" style="width:20px;" class="Selectall" id="AWBSelectall" value="0" name="Selectall" onchange="redrawAWBgridall()" />*@
    </th>
    @*<th width="5%">SNo.</th>*@
    <th width="9%">AWB No.</th>
    <th width="9%">AWB Date</th>
    <th width="23%">Consignor</th>
    <th width="23%">Consignee</th>
    <th width="10%">Material Cost</th>
    <th width="10%">Received Amount</th>
    <th width="10%">Paid Amount</th>
    @*<th width="17%">Voucher No.</th>
    <th>Printed</th>*@

    </thead>
    <tbody class="input-table" id="awbtablebody">

        @foreach (var item in Model.Details)
        {
            <tr  >
                <td>

                    @Html.HiddenFor(model => model.Details[i].DRRDetailID, new { @Value = @item.DRRDetailID, @id = "hdnDRRDetailID_" + @i })

                    @Html.HiddenFor(model => model.Details[i].AWBNo, new { @Value = @item.AWBNo, @id = "hdnAWBNo_" + @i })
                    @Html.HiddenFor(model => model.Details[i].InScanID, new { @Value = @item.InScanID, @id = "hdnInScanID_" + @i })
                    @Html.HiddenFor(model => model.Details[i].Consignor, new { @Value = @item.Consignor, @id = "hdnConsignor1_" + @i })
                    
                    @Html.CheckBoxFor(model => model.Details[i].AWBChecked, new { name = "AWBChecked", @class = "checkfilter calfield", style = "margin-left:10px;", @id = "awbchecked_" + @i ,@consignor=item.Consignor, @awbno=item.AWBNo, @onchange="redrawAWBgrid(this)" })


                </td>
                @*<td>
                    @(i + 1)
                </td>*@
                <td>
                    @item.AWBNo
                </td>
                <td>
                    @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.DRRDate)
                </td>
                <td>
                    @item.Consignor
                </td>
                <td>
                    @item.Consignee
                </td>
                <td class="text-right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.MCAmount, _decimal)
                </td>
                <td class="text-right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.Receivedmount, _decimal)
                </td>
                <td class="text-right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.PaidAmount, _decimal)
                </td>
                @*<td>
                    @item.VoucherNo
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Details[i].Printed, new { @class = " ", style = "margin-left:10px;", @disabled = "disabled" })
                </td>*@
            </tr>
            i++;
        }




    </tbody>

</table>

<script>
    $(document).ready(function () {


        $("#AWBSelectall").change(function () {
            getconsignorawblist();
            //var i = 0;
            //debugger;
            //var selectall = false;
            //if ($(this).prop("checked") == true) {
            //    i = 1;
            //    selectall = true;
            //    $("#listContainer2 tbody tr").addClass('Selected');
            //    $(".checkfilter").prop('checked', true);                
            //} else {
            //    $("#listContainer2 tbody tr").removeClass('Selected');
            //    $(".checkfilter").prop('checked', false);
                
            //    selectall = false;
            //}

             
            //var maxrow = $('#awbtablebody > tr').length;
            //for (var i = 0; i < maxrow; i++) {
            //    $('#awbchecked_' + i).attr('checked', selectall);
            //    if (selectall == true) {
            //        $('#awbchecked_' + i).parent().parent().removeClass('hide');
            //    }
            //    else {
            //        $('#awbchecked_' + i).parent().parent().addClass('hide');
            //    }
            //    if ((i+1) == maxrow) {
            //        debugger;
            //       // gettotal();
            //    }
            //}

        });
       
    });

</script>
