@model Net4Courier.Models.MCPaymentPrint

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "MC Payment Voucher Print";
    ViewBag.pageTitle = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
}
<style>
    .w-6 {
        width: 6%;
    }

    .charegRow {
        background: #f8fbff;
    }

        .charegRow td {
            border: 0 !important;
        }

        .charegRow label {
            font-size: 14px !important;
        }

    .taxBlock .col-md-2, .taxBlock .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .align_self {
        margin-top: 31px;
    }

    .w-12 {
        width: 12%;
    }

    .taxBlock label {
        margin: 0;
    }
</style>

<script type="text/javascript">
    var consignorlist = [];
    var awblist = [];

    function redrawConsignorgridall() {
        var statuschecked = $('#ConsignorSelectall').prop('checked');
        //$('#loaderpopup').modal('show');
        $.ajax({
            type: "POST",
            url: "/MCPaymentVoucher/ShowConsignor",
            datatype: "html",
            data: { Consignor: '', statuschecked: statuschecked, all: true},
            success: function (response) {
                $("#listContainer1").html(response);
                $.ajax({
                    type: "POST",
                    url: "/MCPaymentVoucher/ShowAWB",
                    datatype: "html",
                    data: { AWBNo: '', statuschecked: false, all: false },
                    success: function (response1) {
                       
                        $("#listContainer2").html(response1);

                    }
                });
            }
        });

       

    }
    function redrawConsignorgrid(obj) {
        debugger;
        var customer = $(obj).attr('consignor');
        var statuschecked = $(obj).prop('checked');
      //  $('#loaderpopup').modal('show');
        $.ajax({
            type: "POST",
            url: "/MCPaymentVoucher/ShowConsignor",
            datatype: "html",
            data: { Consignor: customer, statuschecked: statuschecked,all:false },
            success: function (response) {
                $("#listContainer1").html(response);
                $.ajax({
                    type: "POST",
                    url: "/MCPaymentVoucher/ShowAWB",
                    datatype: "html",
                    data: { AWBNo: '', statuschecked: false, all: false },
                    success: function (response1) {
                        //setTimeout(function () {
                        //    $('#loaderpopup').modal('hide');
                        //}, 50)

                        $("#listContainer2").html(response1);

                    }
                });
            }
        });
    }
    function redrawAWBgrid(obj) {
        debugger;
        var awbno = $(obj).attr('awbno');
        var statuschecked = $(obj).prop('checked');
      //  $('#loaderpopup').modal('show');
        $.ajax({
            type: "POST",
            url: "/MCPaymentVoucher/ShowAWB",
            datatype: "html",
            data: { AWBNo: awbno, statuschecked: statuschecked,all:false },
            success: function (response) {
                setTimeout(function () {
                    $('#loaderpopup').modal('hide');
                }, 50)

                $("#listContainer2").html(response);


            }
        });
    }

    function redrawAWBgridall() {
        debugger;
        var statuschecked = $('#AWBSelectall').prop('checked');
       // $('#loaderpopup').modal('show');
        $.ajax({
            type: "POST",
            url: "/MCPaymentVoucher/ShowAWB",
            datatype: "html",
            data: { AWBNo: '', statuschecked: statuschecked, all: true },
            success: function (response) {
                //setTimeout(function () {
                //    $('#loaderpopup').modal('hide');
                //},50)
                
                $("#listContainer2").html(response);

            }
        });
    }
        function getconsignorlist() {
            consignorlist = [];
            var maxrow = $('#consignortablebody > tr').length;
            if (maxrow == 0) {
                Swal.fire('Data Validation','No Awb to print!', "error");
                $('#btngenerate').removeAttr('disabled');
                return;
            }
            for (i = 0; i < maxrow; i++) {
                var checked = $('#consignorchecked_' + i).prop("checked");
                if (checked == true) {
                    var item = {

                        Consignor: $('#hdnConsignor_' + i).val()
                    }
                    consignorlist.push(item);
                }
                if ((i + 1) == maxrow) {

                    getawblist();
                }
            }



        }

    function getawblist() {

            awblist = [];
            var maxrow1 = $('#awbtablebody > tr').length;
            if (maxrow1 == 0) {

                Swal.fire('Data Validation','No AWb to Print!',"error");
                $('#btngenerate').removeAttr('disabled');
                return;
            }

            for (j = 0; j < maxrow1; j++) {
                debugger;
                var checked = $('#awbchecked_' + j).prop("checked");
                if (checked == true) {
                    var item = {

                        InScanID: $('#hdnInScanID_' + j).val(),
                        AWBNo: $('#hdnAWBNo_' + j).val(),
                        DRRDetailID: $('#hdnDRRDetailID_' +j).val(),
                        Consignor: $('#hdnConsignor1_' + j).val()
                    }
                    awblist.push(item);
                }
                if ((j + 1) == maxrow1) {
                    if (awblist.length == 0) {

                        Swal.fire('Data Validation', 'Select awb to print!', 'error');
                        $('#btngenerate').removeAttr('disabled');
                    }
                    else {
                        savevoucher();
                    }
                }
            }

        }

    function savevoucher() {
        var multiplesheet = 0;
        if ($('#MultipleSheet').prop('checked'))
            multiplesheet = 1;

            $.ajax({
                type: "POST",
                url: "/MCPaymentVoucher/SaveMCPaymentVoucher",
                datatype: "Json",
                data: { PrintDate: $('#PrintDate').val(), ConsignorDetails: JSON.stringify(consignorlist), Details: JSON.stringify(awblist) },
                success: function (response) {
                    var status = response.Status;
                    var documentno = response.DocumentNo;
                    var message = response.Message;
                    if (status == "Ok") {

                        Swal.fire('Data Validation', message, 'success');
                         window.location.href = "/MCPaymentVoucher/VoucherPrint?id=0&DocumentNo=" + documentno + "&MSheet=" + multiplesheet;

                    }
                    else {
                        Swal.fire('Data Validation', message, 'error');

                    }
                }
            });
        }

    function getconsignorawblist() {
        consignorlist = [];
        var maxrow = $('#consignortablebody > tr').length;
        var maxrow1 = $('#awbtablebody > tr').length;

        for (j = 0; j < maxrow1; j++) {
            debugger;
           // $('#awbchecked_' + j).prop('checked', false);
            $('#awbchecked_' + j).parent().parent().addClass('hide');
        }

        for (i = 0; i < maxrow; i++) {
            var checked = $('#consignorchecked_' + i).prop("checked");
            if (checked == true) {


                var Consignor= $('#hdnConsignor_' + i).val();


                for (j = 0; j < maxrow1; j++) {
                    debugger;
                    var awbconsignor = $('#awbchecked_' + j).attr("consignor");
                    if (Consignor == awbconsignor) {
                        var awbcheck = $("#AWBSelectall").prop("checked");
                        //$('#awbchecked_' + j).prop('checked', awbcheck);
                        $('#awbchecked_' + j).parent().parent().removeClass('hide');
                    }
                }


            }
        }



    }
        $(document).ready(function () {
             var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
            $('#PrintDate').datepicker({
                //maxDate: ed,
                //minDate: sd,
                format: 'dd-mm-yy',
            });

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

            $('#PrintDate').val(reqdate);


            $('#btngenerate').click(function () {
              //  $('#loaderpopup').modal('show');
                $('#btngenerate').attr('disabled', 'disabled');


                getconsignorlist();
             //   getawblist();




            });

            $('#btnsearch').click(function () {
                var documentno = $('#DocumentNo').val();
                window.location.href = "/MCPaymentVoucher/Print?id=" + documentno;

            });

            $('#btnprint').click(function () {
                //  $('#loaderpopup').modal('show');
                //$('#btnprint').attr('disabled', 'disabled');

                var DetailsID = '';
                var printurl = "/MCPaymentVoucher/VoucherPrint?id=" + $('#DocumentNo').val() + "&Details=" + DetailsID;
                window.open(printurl, '_blank');


            });
            @*if (@Model.DocumentNo> 0) {
                $('#btnprint').trigger('click');
            }*@
        });


</script>


<fieldset>
    @using (Html.BeginForm("Print", "MCPaymentVoucher", FormMethod.Post, new { @id = "customerledger" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Print Date</label>
                            <div class="docs-datepicker">
                                <div class="input-group">
                                    <input type="text" class="form-control docs-date" name="PrintDate" id="PrintDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.PrintDate.ToShortDateString()"
                                           placeholder="Pick a date" autocomplete="off">
                                    <button type="button"
                                            class="btn btn-secondary docs-datepicker-trigger"
                                            disabled>
                                        <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="docs-datepicker-container"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 mt-2">
                        <button class="btn btn-secondary btn_top" id="btngenerate" type="button">Print</button>
                    </div>
                    <div class="col-md-2 btn_top">
                        @Html.CheckBox("MultipleSheet", new { @name = "MultipleSheet", style = "height:15px!important;width:auto!important;margin-right:5px" }) &nbsp
                        <label class="col-form-label mt-2" style="color:blue!important;padding-bottom:10px">Separate Sheet</label>
                    </div>
                    @*<div class="col-md-2">
                            <label class="headinglabel">Print No.</label>
                            @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control text-right"})
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-success" id="btnsearch" type="button"  style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-warning" id="btnprint" type="button" style="margin-top:30px;">Print</button>
                        </div>*@
                    <div class="col-md-7 text-md-end btn_top">
                        <a href='@Url.Action("Index", "MCPaymentVoucher")' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" id="listContainer1">
                        @{Html.RenderPartial("ConsignorList", Model);}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body" id="listContainer2">
                        @{Html.RenderPartial("AWBList", Model);}
                    </div>
                </div>
            </div>
        </div>
    }
</fieldset>
@Html.Partial("~/Views/Shared/_LoaderModal.cshtml")
<div class="modal fade" id="mcloaderpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:5px">
            <div class="modal-header">

                <h4 class="modal-title" id="LoaderModalLabel">
                    Data Selecting
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <h2>Processing...</h2>
                        <img src="~/Content/img/loading-gif-free-download-6.gif" id="imgloader" class="" style="padding-left:15px;height:60px;width:60px;" />
                    </div>
                </div>
            </div>
            @*<div class="modal-footer" style="padding-top: 5px">
                    <button type="button" class="btn btn-primary" onclick="savefixation()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


