@model Net4Courier.Models.MCPaymentVoucherVM

@{
    ViewBag.Title = "Modify";
    ViewBag.pTitle = "MC Payment Voucher Print";
    ViewBag.pageTitle = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
}
    <style>
        .w-6 {
            width: 6%;
        }

        .charegRow {
            background: #f8fbff;
        }

            .charegRow td {
                border: 0 !important;
            }
            .charegRow label{
                font-size:14px!important;
            }
        .taxBlock .col-md-2, .taxBlock .col-md-3 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .align_self {
            margin-top: 31px;
        }

        .w-12 {
            width: 12%;
        }

        .taxBlock label {
            margin: 0;
        }
    </style>
 


<script type="text/javascript">
    var consignorlist = [];
    var awblist = [];


        function getconsignorlist() {
            consignorlist = [];
            var maxrow = $('#consignortablebody > tr').length;
            for (i = 0; i < maxrow; i++) {
                var checked = $('#consignorchecked_' + i).prop("checked");
                if (checked == true) {
                    var item = {

                        Consignor: $('#hdnConsignor_' + i).val()
                    }
                    consignorlist.push(item);
                }
                if ((i + 1) == maxrow) {
                    getawblist();
                }
            }



        }

        function getawblist() {
            awblist = [];
            var maxrow = $('#awbtablebody > tr').length;
            for (i = 0; i < maxrow; i++) {
                debugger;
                var checked = $('#awbchecked_' + i).prop("checked");
                if (checked == true) {
                    var item = {

                        InScanID: $('#hdnInScanID_' + i).val(),
                        AWBNo: $('#hdnAWBNo_' + i).val(),
                        DRRDetailID: $('#hdnDRRDetailID_' +i).val(),
                        Consignor: $('#hdnConsignor1_' + i).val()
                    }
                    awblist.push(item);
                }
                if ((i + 1) == maxrow) {
                    if (awblist.length == 0) {
                        $.notify("Select awb to print!", "error");
                    }
                    else {
                        savevoucher();
                    }
                }
            }

        }

        function savevoucher() {
            $.ajax({
                type: "POST",
                url: "/MCPaymentVoucher/SaveMCPaymentVoucher",
                datatype: "Json",
                data: { PrintDate: $('#PrintDate').val(), ConsignorDetails: JSON.stringify(consignorlist), Details: JSON.stringify(awblist) },
                success: function (response) {
                    var status = response.Status;
                    var documentno = response.DocumentNo;
                    var message = response.Message;
                    if (status == "Ok") {
                        $.notify(message, "success");
                        setTimeout(function () {

                            window.location.href = "/MCPaymentVoucher/Index?id=" + documentno;

                        },200)

                    }
                    else {
                        $.notify(message, "error");
                    }
                }
            });
        }

        $(document).ready(function () {

             var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
            //$('#PrintDate').datetimepicker({
            //    maxDate: ed,
            //    minDate: sd,
            //    format: 'DD-MM-YYYY HH:mm',
            //});

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();

            $('#PrintDate').val(reqdate);


            $('#btngenerate').click(function () {
              //  $('#loaderpopup').modal('show');
                $('#btngenerate').attr('disabled', 'disabled');


                getconsignorlist();
             //   getawblist();




            });

            $('#btnsearch').click(function () {
                var documentno = $('#DocumentNo').val();
                window.location.href = "/MCPaymentVoucher/Print?id=" + documentno;

            });

            $('#btnprint').click(function () {
                //  $('#loaderpopup').modal('show');
                //$('#btnprint').attr('disabled', 'disabled');
                var multiplesheet = $('#MultipleSheet').prop('checked');
                var DetailsID = '';
                var Inscanids = '';
                var maxrow = $('#awbtablebody > tr').length;
                for (var i = 0; i < maxrow; i++) {
                    if ($('#awbchecked_' + i).prop('checked')) {
                        var inscanid = $('#hdnInScanID_' + i).val();
                        if (Inscanids=='')
                            Inscanids = Inscanids + inscanid;
                        else
                            Inscanids = Inscanids + ',' + inscanid;
                    }
                    if ((i + 1) == maxrow) {
                        debugger;
                        if (Inscanids == '' || Inscanids == null) {
                            $.notify('Select AWB to Print!');
                            return false;
                        }
                        var obj = {
                            MCPaymentVoucherId: $('#MCPaymentVoucherID').val(),
                            InscanID: Inscanids,
                            MultiplePrint: multiplesheet
                        }
                        $.ajax({
                            type: "Post",
                            url: "/MCPaymentVoucher/GetVoucherMultiplePrint",
                            datatype: "Json",
                            data: obj,
                            success: function (response) {
                                console.log(response);
                                if (response == "ok") {
                                    var printurl = "/MCPaymentVoucher/VoucherMultiplePrint";
                                    window.open(printurl, '_blank');
                                }
                            }
                        });
                    }
                }


            });
            @*if (@Model.DocumentNo> 0) {
                $('#btnprint').trigger('click');
            }*@
        });


</script>


 

 
    @if (TempData["SuccessMsg"] != null)
    {

        <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }
 
        @using (Html.BeginForm("Print", "MCPaymentVoucher", FormMethod.Post, new { @id = "customerledger" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="card">
    <div class="card-body">
        <div class="row ">
            
                <div class="col-md-2">

                    <label class="headinglabel required ">Voucher No.</label>
                    @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control", @required = "true", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.MCPaymentVoucherID)

                </div>
                <div class="col-md-2">

                    <label class="headinglabel required ">Print Date</label>
                    @Html.TextBoxFor(model => model.PrintDate, new { @class = "form-control text-right", @required = "true", @readonly = "readonly" })


                </div>

                <div class="col-md-3">
                    <label class="headinglabel">Consignor</label>
                    @Html.TextBoxFor(model => model.Consignor, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-2" style="padding-top:30px">
                    @Html.CheckBox("MultipleSheet", new { @name = "MultipleSheet", style = "height:15px!important;width:auto!important;margin-right:5px" }) &nbsp
                    <label class="headinglabel" style="color:blue!important;padding-bottom:10px">Separate Sheet</label>
                </div>
                <div class="col-md-1">

                    <button class="btn btn-warning" id="btnprint" type="button" style="margin-top:30px;">Print</button>

                </div>
                <div class="col-md-2 text-md-end">

                    <a href='@Url.Action("Index", "MCPaymentVoucher")' class="btn btn-secondary btn_top" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>

                </div>
            </div>
        </div>
    </div>
  

    <div class="row no-margin" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="col-md-12" id="listContainer2">
                @{Html.RenderPartial("AWBItem", Model);}

            </div>
        </div>
    </div>
    }




