@model Net4Courier.Models.MCPaymentPrintSearch

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "MC Payment Closing";
    ViewBag.pageTitle = "MC Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = @Session["Decimal"].ToString();
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/MCPaymentVoucher/MCClosing";
    var rowindex = 0;

}
<style>
    tfoot {
        display: table-header-group;
    }
</style>
<style>
    .w-6 {
        width: 6%;
    }

    .charegRow {
        background: #f8fbff;
    }

        .charegRow td {
            border: 0 !important;
        }

        .charegRow label {
            font-size: 14px !important;
        }

    .taxBlock .col-md-2, .taxBlock .col-md-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .align_self {
        margin-top: 31px;
    }

    .w-12 {
        width: 12%;
    }

    .taxBlock label {
        margin: 0;
    }
</style>

<script type="text/javascript">
    var itemlist = [];
    function getvoucherlist() {
        debugger;
        var maxrow = $('#detailbody > tr').length;
        
        
        for (i = 0; i < maxrow; i++) {
            var checked = $('#awbchecked_' + i).prop("checked");
            if (checked == true) {
                var item = {
                    MCPaymentVoucherID: $('#hdnvoucherid_' + i).val()
                }
                itemlist.push(item);
            }
            if ((i + 1) == maxrow) {
                savevoucher(itemlist);
            }
        }

    }
    function savevoucher() {
       
        debugger;

        $.ajax({
            type: "POST",
            url: "/MCPaymentVoucher/SaveMCClosing",
            datatype: "Json",
            data: { Details: JSON.stringify(itemlist) },
            success: function (response) {
                var status = response.Status;
                var documentno = response.DocumentNo;
                var message = response.Message;
                if (status == "OK") {

                    Swal.fire('Data Validation', message, 'success');
                    window.location.href = "/MCPaymentVoucher/MCClosing";

                }
                else {
                    Swal.fire('Data Validation', message, 'error');

                }
            }
        });
    }
    $(document).ready(function () {


        $("#Selectall").change(function () {
            var i = 0;
            debugger;
            var selectall = false;
          

            var maxrow = $('#detailbody > tr').length;
            for (var i = 0; i < maxrow; i++) {
                var awbcheck = $("#Selectall").prop("checked");
                $('#awbchecked_' + i).prop('checked', awbcheck);
                if ((i + 1) == maxrow) {
                    debugger;
                    // gettotal();
                }
            }

        });

    });
  
    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


       


  
        

    });


</script>

    @if (TempData["SuccessMsg"] != null)
    {

        <script type="text/javascript">
                 $(document).ready(function () {
                     //$.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }
    <fieldset>
        @using (Html.BeginForm("MCClosing", "MCPaymentVoucher", FormMethod.Post, new { @id = "customerledger" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 search_field">
                    <label for="FromDate" class="headinglabel">Voucher No./ AWB No.</label>
                    @Html.TextBoxFor(mode => mode.AWBNo, new { @class = "form-control text-right blue_border" })
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top" id="btnreport">
                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-md-end btn_top">

                    <a href='javascript:void(0)' onclick="getvoucherlist()" class="btn btn-success me-2" id="btnsave">Save</a>
                    <a href='@Url.Action("Index", "MCPaymentVoucher")' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>

                </div>
            </div>
        </div>
        </div>

        <div class="card">
            <div class="card-body">
                 <table class="table table-bordered mb-0" id="dataTables1">
                    <thead class="table-light">
                        <tr>
                            <th>Print Date</th>
                            <th>Voucher No.</th>
                            <th>Consignor</th>
                            <th>Total AWB</th>
                            <th>Total Amount</th>
                            <th> @Html.CheckBox("AllSelected", new { @class = "Selectall", @id = "Selectall"  })</th>
                        </tr>
                    </thead>
                  
                    <tbody id="detailbody">
                        @foreach (var item in @Model.Details)
                        {
                            <tr>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.PrintDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoucherNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consignor)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAWB)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>
                                <td>
                                    <div class="d-flex gap-3">
                                        @Html.HiddenFor(modelItem=>item.MCPaymentVoucherID,new { @id = "hdnvoucherid_" + @rowindex })
                                        @Html.CheckBoxFor(model => item.AWBChecked, new { @class = "Selectall", @id = "awbchecked_" + @rowindex, @onchange = "redrawAWBgridall()" })
                                    </div>
                                </td>
                            </tr>
                            rowindex++;
                        }
                    </tbody>
                </table>
            </div>
</div>

        }
    </fieldset>


 
