@model Net4Courier.Models.CreditNoteVM
@{
    var i = 0;
}

<script type="text/javascript">
    $(document).ready(function () {


        //var table1 = $('#AcYearEndCustomer').DataTable({ "paging": false, "sPaginationType": "simple" });


    });
</script>

<style>
    .newrow .form-select {
        border: 2px solid darkseagreen;
    }
    .newrow .form-control {
        border: 2px solid darkseagreen;
    }
</style>


        <table class="table table-bordered mb-0 mt-3" id="datatable1" style="width:100%">
            <thead class="" style="text-align:center">
                <tr style="background-color:lightgray">

                    <th>Account Head</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Remarks</th>
                    <th></th>

                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.AcDetailHeadID, new SelectList(@ViewBag.achead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select", @placeholder = "Select Chart of Account" })
                        @Html.ValidationMessageFor(model => model.AcDetailHeadID)
                    </td>
                    <td>
                        <input type="text" value="@Model.DebitAmount" id="txtDebitAmount" class="form-control textright" />
   
                     </td>
                    <td><input type="text" value="@Model.CreditAmount" id="txtCreditAmount" class="form-control textright" readonly /></td>
                    <td>
                        @Html.TextBoxFor(model => model.AcDetailRemarks, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AcDetailRemarks)
                    </td>
                    <td>
                        <button type="button" class="" index="1" id="btnAdd" onclick="additem()" style="margin-top: 0px !important; border: none; background: none" title="Add New"><i class="bx bxs-add-to-queue text-success" style="font-size: 33px;"></i></button>
                    </td>
    </tr>
    </thead>
    <tbody id="details">

        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @item.AcHeadName
                    @Html.HiddenFor(model => model.Details[i].AcHeadID, new { @Value = @item.AcHeadID, @id = "txtHeadID_" + @i })
                    @Html.HiddenFor(model => model.Details[i].AcHeadName, new { @Value = @item.AcHeadName })
                    @Html.HiddenFor(model => model.Details[i].Remarks, new { @Value = @item.Remarks, @id = "txtRemarks_" + @i })
                    @Html.HiddenFor(model => model.Details[i].Amount, new { @Value = @item.Amount, @id = "txtAmt_" + @i })
                    @Html.HiddenFor(model => model.Details[i].DebitAmount, new { @Value = @item.DebitAmount, @id = "txtDebitAmt_" + @i })
                    @Html.HiddenFor(model => model.Details[i].CreditAmount, new { @Value = @item.CreditAmount, @id = "txtCreditAmt_" + @i })
                    @Html.HiddenFor(model => model.Details[i].deleted, new { @Value = @item.deleted, @id = "hdndeleted_" + @i })
                </td>
                <td style="text-align:right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.DebitAmount, "2")
                </td>

                <td style="text-align:right">
                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.CreditAmount, "2")
                </td>

                <td>@item.Remarks</td>
                <td><a class="text-danger" href="javascript:void(0)" onclick="Deleterow(@i)" id="DeleteRow_@i"><i class="mdi mdi-delete font-size-18"></i></a></td>

            </tr>
            i++;
        }
    </tbody>
    <tfoot style="background-color: lightgray">
        <tr class="text-danger">
            <td>

                <input type="hidden" id="AcHeadID" value="@Model.AcHeadID" />
                <label style="color:blue" id="lblAcHeadName">@Model.AcHeadName </label>


            </td>
            <td style="color: blue; font-weight: bold;text-align:right">
                <label id="lbldebittotal" val="@Model.HDebitAmount">@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.HDebitAmount, "2")</label>
            </td>
            <td style="color: blue; font-weight: bold;text-align:right">
                <label id="lblcredittotal" val="@Model.HCreditAmount">@Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.HCreditAmount, "2")</label>
            </td>
            <td>
            </td>
            <td></td>
        </tr>
    </tfoot>

    </table>

 

