@model Net4Courier.Models.SkylarkInscanSearch

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Skylark Inscan";
    ViewBag.pageTitle = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = "/SkylarkInScan/Index";
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isadd = true;
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<script>
    $(document).ready(function () {
        $("#CustomerName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/CustomerMaster/GetCustomerName',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CustomerName,
                                value: val.CustomerName,
                                CustomerId: val.CustomerID,
                                type: val.CustomerType
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $("#CustomerName").val(ui.item.value);
                $("#CustomerID").val(ui.item.CustomerId);

            },
            select: function (e, i) {
                e.preventDefault();
                $("#CustomerName").val(i.item.label);
                $("#CustomerID").val(ui.item.CustomerId);

            },

        });

    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label for="FromDate" class="col-form-label">From Date</label>
                        @*@Html.TextBoxFor(mode => mode.FromDate, new { @class = "form-control text-right color_blue_border" })*@
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="mb-2">
                        <label for="FromDate" class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a To Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Collected By</label>
                        @Html.DropDownListFor(model => model.CollectedBy, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select"  })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <label for="Receipt No." class="col-form-label">Customer Name</label>
                        @Html.TextBoxFor(mode => mode.CustomerName, new { @class = "form-select" })
                        @Html.HiddenFor(mode => mode.CustomerID, new { @class = "form-select" })
                    </div>
                </div>
                <div class="col-md-2 mt-2">
                    <div class="mb-2">
                        @*<a class="btn btn-success waves-effect waves-light filter mt-3 refresh_btn" href="Javascript:void(0)" onclick="location.href='@Url.Action("IndexAcBook", "Accounts")?VoucherType=' + $('#VoucherType').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="mdi mdi-refresh mt-1"></i></a>*@
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload">
                            <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
                

            </div>

       </div>

            </div>

  <div class="card">
        <div class="card-body">


            <div class="row">
                <table class="table align-middle table-nowrap" id="datatable">
                    <thead class="table-light">
                        <tr>
                            <th>
                                Skylark Batch No.
                            </th>
                            <th>
                                Batch Date
                            </th>
                            <th>
                                Customer
                            </th>
                            <th>
                               Collected by
                            </th>
                            <th>Vehicle</th>
                            <th>
                                Total AWB
                            </th>
                            <th>AWB Batch Status</th>
                            <th></th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model.Details)
                        {
                        <tr>
                            <td>@item.BatchNo</td>
                            <td>@Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.EntryDateTime)</td>
                            <td>@item.CustomerName</td>

                            <td><span class="text_over colorblue"> @item.EmployeeName</span></td>
                            <td>@item.VehicleNo</td>
                            <td style="text-align:right">@item.TotalAWB</td>
                            <td style="text-align:right">
                             @{ 
                                 if (item.AWBBatchID > 0)
                                 {  
                                   <a style="color:blue" target="_blank"  href="/AWBBatch/Create?id=@item.AWBBatchID">@item.AWBBatchNo</a>
                                 }
                                 else
                                 {
                                    <span style="color:red">Pending</span> 
                                 }
                             }
                            </td>

                            <td>
                                <div class="d-flex gap-3">
                                    @if (ismodify)
                                    {
                                        <a class="text-success" href='@Url.Action("Create", "SkylarkInscan", new { id = item.ID })' data-toggle="tooltip" data-placement="left" title="Click here"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    }


                                   
                                </div>
                            </td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
 
 