@model Net4Courier.Models.TaxConfiguration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TaxConfiguration</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourierMoveMentID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourierMoveMentID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourierDescriptionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourierDescriptionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxPercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxPercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesHeadID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesHeadID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AcCompanyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AcCompanyID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EffectFromDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EffectFromDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
