@model Net4Courier.Models.AccountSetupMasterVM
@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Account Setup";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .col-form-label {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("#DebitHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Accounts/AccountHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#DebitHead").val(i.item.label);
                $('#DebitAccountId').val(i.item.AcHeadID);
            }
        });

        $("#CreditHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Accounts/AccountHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#CreditHead").val(i.item.label);
                $('#CreditAccountId').val(i.item.AcHeadID);
            }
        });

        //$("#btnsave").click(function () {
        //    var prov = $("#Pagecontrol option:selected").val();
        //    var accrued = $("#AccountHeadID option:selected").val();
        //    var openjob = $("#AccountNature option:selected").val();
        //    var customer = $("#Remarks option:selected").val();
        //    //var cash = $("#CashControlAcID option:selected").val();
        //    var supplier = $("#AccountName").val();

        //    if (prov == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else if (accrued == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else if (openjob == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else if (customer == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    //else if (cash == "") {
        //    //    $("#alert").show();
        //    //    return false;
        //    //}
        //    else if (supplier == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else {
        //        $("#alert").hide();
        //        return true;
        //    }

        //});

    });
</script>


<div class="card ">
    <div class="card-body">
        @if (ViewBag.ErrorMsg != null)
        {
            <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.ErrorMsg ", "error");
         });
            </script>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="">
                <div id="alert" style="color:red;display:none;margin-left:10px;">*Please select mandatory fields</div>
                <fieldset>

                    <div class="row">

                        <div class="col-md-4">
                               <div class="mb-2">
                            <label class="required col-form-label">Page Name</label>
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.DebitAccountId)
                            @Html.HiddenFor(model => model.CreditAccountId)
                            @Html.TextBoxFor(model => model.PageName, new { @class = "form-control" })
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                            <label class="required col-form-label">Trans Type</label>
                            @Html.TextBoxFor(model => model.TransType, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                            <label class="required col-form-label">Sales Type</label>
                            @Html.TextBoxFor(model => model.SalesType, new { @class = "form-control" })
                        </div>
                        </div>
                        <div class="col-md-4">
                             <div class="mb-2">
                            <label class="required col-form-label">Parcel Type</label>
                            @Html.TextBoxFor(model => model.ParcelType, new { @class = "form-control" })
                        </div>
                        </div>
                        <div class="col-md-4">
                            <label class="required col-form-label">Debit Account Head</label>
                            @Html.TextBoxFor(model => model.DebitHead, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.DebitHead)
                        </div>

                        <div class="col-md-4">
                              <div class="mb-2">
                            <label class="required col-form-label">Credit Account Head</label>
                            @Html.TextBoxFor(model => model.CreditHead, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.CreditHead)
                        </div></div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 text-md-end mt-3">


                            <input type="submit" value="Save" class="btn btn-success waves-effect waves-light btnwid" id="btnsave" />
                            <a href='@Url.Action("Index", "AccountSetup", new { id = 0 })' class="btn btn-dark btnwid pull-right">Cancel</a>


                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>


