@model List<Net4Courier.Models.AccountSetupMasterVM>

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Account Setup";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<style>
    tfoot {
        display: table-header-group;
    }

   
</style>
<script type="text/javascript">
   
  
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.draw();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        
     
     
    });
   
</script> 
 
 
<div class="clearfix"></div>

    @if (ViewBag.SuccessMsg != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.SuccessMsg ", "success");
         });
        </script>
    }

    @if (ViewBag.ErrorMsg != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.ErrorMsg ", "danger");
         });
        </script>
    }



    <div class="card">
        <div class="card-body">
            <div class="row">
               
                  <div class="col-md-12 mb-4 text-md-end">
                <a disabled class="btn btn-primary waves-effect waves-light" href="/AccountSetup/Create"><i class="mdi mdi-plus me-1"></i>  New Account Setup </a>
            </div>

            </div>
            <div class="row mt-3">
                <table class="table table-datatable dataTable table-bordered tblfont" id="datatable">
                    <thead>
                        <tr>

                            <th>
                                Page Name
                            </th>
                            <th>
                                Trans Type
                            </th>
                            <th>Sales Type </th>
                            <th>
                                Parcel Type
                            </th>
                            <th>
                                Debit Head
                            </th>
                            <th>
                                Credit Head
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="details">

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PageName)
                                </td>
                                <td>
                                    @item.TransType
                                </td>
                                <td>
                                    @item.SalesType
                                </td>
                                <td>
                                    @item.ParcelType
                                </td>
                                <td>
                                    @item.DebitHead
                                </td>
                                <td>
                                    @item.CreditHead
                                </td>

                                <td>

                                    <a class="text-success" href="@Url.Action("Create", new { id = item.ID })"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    @*<a href="#" onclick="Delete(ID=@item.ID)"><i class="fa fa-times"></i></a>*@

                                </td>



                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Account Setup?")) {
            window.location.href = "/AccountSetup/DeleteConfirmed/?id=" + ID;
        }
    }
</script>