@model Net4Courier.Models.DRSReceiptVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

    });

</script>



<section class="content-header">
    <h1 class="headingfont">Delivery Runsheet Receipt</h1>

</section>


<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div id="validations" style="color: red; margin-left: 7px; display: none">* Please fill mandatory fields</div>
        <fieldset>

            <div class="row no-margin">
                <div class="col-md-3">
                    @Html.HiddenFor(model=>model.DRSReceiptID)
                    <label class="headinglabel required">DRS No.</label>

                    @Html.TextBoxFor(model => model.DRSNo, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.DRSNo)

                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Vehicle</label>

                    @Html.DropDownListFor(model => model.VehicleID, new SelectList(@ViewBag.verhicle, "VehicleID", "VehicleNo"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DRSNo)

                </div>

                <div class="col-md-3">
                    <label class="headinglabel required">Remarks</label>

                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.Remarks)

                </div>



                <div class="col-md-3">
                    <label class="headinglabel required">Transaction Date</label>

                    @Html.TextBoxFor(model => model.DRSReceiptDate, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.DRSReceiptDate)

                </div>

            </div>


            <div class="row no-margin" style="padding-top: 10px">

                <div class="col-md-3">
                    <label class="headinglabel required">Amount</label>

                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.Amount)

                </div>


                <div class="col-md-3">
                    <label class="headinglabel required">Delivered By</label>

                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(@ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeID)

                </div>

             @*   <div class="col-md-3">
                    <label class="headinglabel required">Account</label>

                    @Html.DropDownListFor(model => model.AcID, new SelectList(@ViewBag.AcHeads, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AcID)

                </div>*@

                <div class="col-md-3">
                    <label class="headinglabel required">Department</label>

                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(@ViewBag.Department, "DepartmentID", "Department1"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepartmentID)

                </div>


            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">
                    <input type="submit" value="Update" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />



                    <a href='@Url.Action("Index", "DRSReceipt", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>

                </div>
            </div>

        </fieldset>
    }
</section>
<script type="text/javascript">
    $(document).ready(function () {

        $("#DRSReceiptDate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true, changeMonth: true });
    });
    </script>











