@model Net4Courier.Models.LocationVM

@{
    ViewBag.Title = "Create";
    
    ViewBag.pTitle = "Location";
    ViewBag.pageTitle = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>

<script type="text/javascript">

    function SaveLocationEntry() {

        if ($('#Location').val() == '' && $('#CityName').val() == '' && $('#CountryName').val() == '') {

            Swal.fire('Save Stsatus', "Enter Location Details", "error");
            return;
        }
        else if ($('#Location').val() != '' && ($('#CityName').val() == '' || $('#CountryName').val() == '')) {

            Swal.fire('Save Stsatus', "Enter Location's City/Country Details", "error");
            return;
        }
        var cust = {

            LocationID: $('#LocationID').val(),
            Location: $('#Location').val(),
            CityName: $('#CityName').val(),
            CountryName: $('#CountryName').val()
        }

        $.ajax({
            type: 'POST',
            url: '/LocationMaster/SaveLocationEntry',
            datatype: "json",
            data: cust,
            success: function (response) {
                debugger;
                if (response.status == 'ok') {
                     
                    Swal.fire('Save Status', response.message, "success");
                    window.location.href = "/LocationMaster/Index";

                }
                else {
                                        
                    Swal.fire('Save Status', response.message, "error");
                    
                }
            }
        });
    }
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Location").focus();
        $("#CityID").empty();
        $('#CityID').append('<option value="0">Select</option>');


         $('#CountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#CountryName').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#CountryName').val(ui.item.label);

                return false;
            }
        });
        $('#CityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#CityName').val(ui.item.label);
                $('#CountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#CityName').val(ui.item.label);
                $('#CountryName').val(ui.item.Country);
                return false;
            }
        });


        $('#Location').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#Location').val(ui.item.label);
                $('#CityName').val(ui.item.City);
                $('#CountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#Location').val(ui.item.label);
                $('#CityName').val(ui.item.City);
                $('#CountryName').val(ui.item.Country);
                return false;
            }
        });
        $("#btnsave").click(function () {
            var loc = $("#Location").val();
            var cou = $("#CountryID option:selected").val();
            var cit = $("#CityID option:selected").val();



            if (loc == "") {
                $("#validations").show();
                return false;
            }
            else if (cou == "") {
                $("#validations").show();
                return false;
            }
            else if (cit == "") {
                $("#validations").show();
                return false;
            }

            else {
                $("#validations").hide();
                SaveLocationEntry();
                return true;
            }

        });

     

    });
</script>


<div class="searchdiv">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
       <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>

        <div class="row no-margin">

            <div class="col-md-12">
                <div class="col-mb-2">
                    <label class="headinglabel required">Location</label>
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control txttarget" })
                    @Html.HiddenFor(model => model.LocationID)
                    @Html.HiddenFor(model => model.PlaceID)
                </div>
            </div>

            <div class="col-md-12">
                <label class="headinglabel required">City</label>
                @Html.TextBoxFor(model => model.CityName, new { @class = "form-control txttarget" })

            </div>
            <div class="col-md-12">
                <label class="headinglabel required">Country</label>
                @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control txttarget" })

            </div>






        </div>

      <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12 btn-right">
                           
                              <input type="button" value="Save" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                               
                          
                        
                          <a href='@Url.Action("Index", "LocationMaster", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>
                          
                        </div>
                    </div>


    </fieldset>
}
    </div>

