@model Net4Courier.Models.LocationMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LocationMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityMaster.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityMaster.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDefault)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDefault)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
