@model IEnumerable<Net4Courier.Models.MenuAccessLevelVM>
@{
      ViewBag.Title = "List";
    ViewBag.pTitle = "AccessRights";
    ViewBag.pageTitle = "AccessRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function save(item) {
        debugger;
        //console.log(JSON.stringify(items));
        $.ajax({
            type: "POST",
            url: "/MenuRole/SaveAccessLevel",
            contentType: 'application/json',
            data:  JSON.stringify(item) ,
            success: function (response) {
                if (response.status == "ok") {

                    Swal.fire('Save Status',response.message, "success");
                   // window.location = "/InScan/index";
                }
                else {
                    Swal.fire('Save Status', response.message, "error");
                    

                }
            }
        });
    }
    function savemessage(totalcount,savecount) {
        if (totalcount == savecount) {
            Swal.fire('Save Status', "Access Rights Saved Successfully!", "success");
                
            setTimeout(function () {
                window.location.reload();
            }, 300)          
                
            }
        
        
    }
    $(document).ready(function () {

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });
        var items = [];

        $('#btnsave').click(function () {
            debugger;
            console.log(items);
            //save(items);
            if (items.length > 0) {
                var totalcount = items.length;
                var savecount = 0;
                $.each(items, function (key, value) {
                    debugger;
                    save(value);
                    savecount++;
                });

            }
            setTimeout(function () {
                savemessage(totalcount,savecount)
            },500)
            //$('#details').find('.menuaccess').each(function () {
            //    var menuaccessid = $(this).val();
            //    var addrights = $('#IsAdd_' + $(this).val()).prop('checked');
            //    var modifyright = $('#IsModify_' + $(this).val()).prop('checked');
            //    var saveobj = {
            //        MenuAccessID: menuaccessid,
            //        IsAdd: addrights,
            //        IsModify: modifyright,
            //        Isprint: false,
            //        IsDelete: true
            //    }
            //    items.push(saveobj);
            //});


        });


        $(".checkfilter").change(function () {
            debugger;
              $('#btnsave').removeAttr('disabled');
              //$('#btncancel').removeAttr('disabled');
            var id = $(this).attr('id');
              var menuaccessid = id.split('_')[1];
              var addrights = $('#IsAdd_' + menuaccessid).prop('checked');
              var modifyright = $('#IsModify_' + menuaccessid).prop('checked');
              var modifyprint = $('#Isprint_' + menuaccessid).prop('checked');
              var modifydelete = $('#IsDelete_' + menuaccessid).prop('checked');
              var saveobj = {
                  MenuAccessID: menuaccessid,
                  IsAdd: addrights,
                  IsModify: modifyright,
                  Isprint: modifyprint,
                  IsDelete: modifydelete
              }
              if (items.length == 0)
                  items.push(saveobj);
              else {
                  var exists = false;
                  $.each(items, function (key, value) {
                      debugger;
                      if (value.MenuAccessID == menuaccessid) {
                          items[key] = saveobj;
                          exists = true;
                          return;
                      }
                  });
                  setTimeout(function () {
                      if(exists == false)
                  items.push(saveobj);
                  },200)

              }



        });
        //table.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
    });

</script>

<div class="clearfix"></div>

    @if (TempData["SuccessMsg"] != null)
    {
        @*  <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4><i class="icon fa fa-check"></i>Alert!</h4>
                <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
            </div>*@
        <script type="text/javascript">
                 $(document).ready(function () {
                     //$.notify("@TempData["SuccessMsg"]", "success");
                      });
        </script>
    }
    <div class="card">
    <div class="card-body">
<div class="row">
    <div class="col-md-3">
    <div class="mb-2">
        <label class="col-form-label required"> User Role</label>
        @Html.DropDownList("RoleId", new SelectList(@ViewBag.Roles, "RoleID", "RoleName", @ViewBag.RoleId), "Select", new { @class = "form-select" })

    </div>
    </div>
 <div class="col-md-2">
  <div class="mb-2 mt-2">
    <button type="button" class="btn btn-success waves-effect waves-light filter btn_top" onclick="location.href='@Url.Action("AccessRights", "MenuRole")?id=' + $('#RoleId').val()"><i class="bx bx-search mt-1" style="font-size: 21px;"></i></button>
    </div>
    </div>
    <div class="col-md-7 text-md-end btn_top">
     <div class="mb-2 mt-2">
        <input type="button" value="Save" id="btnsave" disabled class="btn btn-success" />
        <a class="btn btn-secondary" id="btncancel"  href="Javascript:void(0)" onclick="location.href='@Url.Action("AccessRights", "MenuRole")?id=' + $('#RoleId').val()">Cancel</a>
        @*@Html.ActionLink("Cancel", "AccessRights", null, new { @class = "btn btn-danger btnwidth float-right" })*@
    </div>
    </div>
    </div>
<hr>
         <table class="table table-bordered mb-0" id="datatable" style="width:100%">
    <thead class="table-light">
                <tr>
                    <th>
                        Parent Menu
                    </th>
                    <th>
                       Menu Name
                    </th>
                    <th>
                        IsAdd
                    </th>
                    <th>
                        IsEdit
                    </th>
                    <th>
                        IsPrint
                    </th>
                    <th>
                        IsDelete
                    </th>                    
                </tr>

            </thead>

            <tbody id="details">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentMenuName)
                        </td>
                        <td class="">
                            @Html.HiddenFor(modelItem => item.MenuID)
                            @Html.HiddenFor(modelItem => item.RoleID)
                            @Html.HiddenFor(modelItem => item.MenuAccessID)
                            <input type="hidden" class="menuaccess" value="@item.MenuAccessID" />
                            @Html.DisplayFor(modelItem => item.MenuName)
                        </td>
                        <td>
                        
                                @Html.CheckBoxFor(modelIte => item.IsAdd, new { name = "", @id= "IsAdd_"+ item.MenuAccessID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                        
                        </td>
                        <td>
                        
                                @Html.CheckBoxFor(modelIte => item.IsModify, new { name = "", @id = "IsModify_" + item.MenuAccessID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                        
                        </td>
                        <td>
                        
                                @Html.CheckBoxFor(modelIte => item.Isprint, new { name = "", @id = "Isprint_" + item.MenuAccessID, @class = "checkfilter calfield", style = "margin-left:10px;" })
                        
                        </td>
                        <td>
                        
                                @Html.CheckBoxFor(modelIte => item.IsDelete, new { name = "", @id = "IsDelete_" + item.MenuAccessID,@class = "checkfilter calfield", style = "margin-left:10px;" })
                        
                        </td>
                        <!--<td>-->
                            @*<a href="@Url.Action("Delete", new { id = item.MenuID })"><i class="fa fa-times"></i></a>*@

                            <!--<a href="#" onclick="Delete(ID=@item.MenuAccessID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                        </td>-->
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
