@model Net4Courier.Models.RevenueType

@{
    ViewBag.Title = "Modify";
    ViewBag.pTitle = "Revenue & Cost Type";
    ViewBag.pageTitle = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 765px;
        padding: 20px;
        margin-top: 25px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

  
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#RevenueType1").focus();

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        //$("#RevenueCost").append(function () {
        //    var wt = $(this).val();
        //    $("#RevenueCost").val(parseFloat(wt).toFixed(2));
        //});
        //$("#MinimumValue").append(function () {
        //    var wt = $(this).val();
        //    $("#MinimumValue").val(parseFloat(wt).toFixed(2));
        //});

        $('#RevenueGroup').change(function () {
            console.log($('#RevenueGroup').val());
            var revgroup = $('#RevenueGroup').val();
            if (revgroup == 'Revenue') {
                $('#AcHeadID').attr('required', 'required');
                $('#AcHeadID').removeAttr('readonly');
                $('#CostAcHeadID').removeAttr('required');
                $('#CostAcHeadID').val(0).trigger('change');
                $('#CostAcHeadID').attr('readonly', 'readonly');
                $('#CostAcHeadID').removeClass('form-select');
                $('#CostAcHeadID').addClass('form-control');

                $('#AcHeadID').addClass('form-select');
                $('#AcHeadID').removeClass('form-control');

            }
            else if (revgroup == 'Cost') {
                $('#AcHeadID').removeAttr('required');
                $('#CostAcHeadID').attr('required', 'required');
                $('#CostAcHeadID').removeAttr('readonly');
                $('#AcHeadID').val(0).trigger('change');
                $('#AcHeadID').attr('readonly', 'readonly');
                $('#AcHeadID').removeClass('form-select');
                $('#AcHeadID').addClass('form-control');

                $('#AcHeadID').removeClass('form-select');
                $('#AcHeadID').addClass('form-control');
            }
            else if (revgroup == 'OtherRevenue') {
                $('#AcHeadID').attr('required', 'required');
                $('#CostAcHeadID').removeAttr('required');
                $('#CostAcHeadID').val(0).trigger('change');
                $('#CostAcHeadID').attr('readonly', 'readonly');
                $('#CostAcHeadID').removeClass('form-select');
                $('#CostAcHeadID').addClass('form-control');
                $('#AcHeadID').addClass('form-select');
                $('#AcHeadID').removeClass('form-control');
            }


        })
        $('#RevenueGroup').val($('#RevenueGroup').attr('value')).trigger('change');
        //$("#btnsave").click(function () {
        //    var rev = $("#RevenueType1").val();
        //    var achead = $("#AcHeadID option:selected").val();
        //    var revco = $("#RevenueCode").val();


        //    if (rev == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else if (achead == "") {
        //        $("#alert").show();
        //        return false;
        //    }
        //    else if (revco == "") {
        //        $("#alert").hide();
        //        return false;
        //    }

        //    else {
        //        return true;
        //    }


        //});

    });
</script>
<div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <script type="text/javascript">
                      $(document).ready(function () {
                          var msg='@ViewBag.SuccessMsg';
                          Swal.fire("Data Validation",msg, "error");
                        });
                        </script>
                    }
                    @using (Html.BeginForm("Edit", "RevenueType", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate", @id = "quickAWB" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "needs-validation" })

                        <fieldset class="searchdiv sm-width" style="max-width: 465px !important;">

                            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
                            <div class="row no-margin">


                                @Html.HiddenFor(model => model.RevenueTypeID)



                                <div class="col-md-12 mb-2">
                                    <label class="required headinglabel">Revenue Type</label>
                                    @Html.TextBoxFor(model => model.RevenueType1, new { @class = "form-select txttarget" })
                                    @Html.ValidationMessageFor(model => model.RevenueType1)

                                </div>

                                <div class="col-md-12 mb-2">
                                    <label class="headinglabel">Revenue Code</label>
                                    @Html.TextBoxFor(model => model.RevenueCode, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.RevenueCode)
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label class=" headinglabel">Revenue Group</label>

                                    @*@Html.DropDownList("RevenueGroup1", new SelectList(@ViewBag.RevenueGroup, "TypeName", "TypeName", Model.RevenueGroup), "Select", new { @class = "form-select", @id = "RevenueGroup1" })*@
                                    @Html.DropDownListFor(model => model.RevenueGroup, new SelectList(@ViewBag.RevenueGroup, "TypeName", "TypeName", Model.RevenueGroup), "Select", new { value = Model.RevenueGroup, @class = "form-select", @id = "RevenueGroup" })
                                    @Html.ValidationMessageFor(model => model.RevenueGroup)

                                </div>
                                <div class="col-md-12 mb-2">
                                    <label class="required headinglabel">Revenue Chart-of-Account</label>
                                    @Html.DropDownListFor(model => model.AcHeadID, new SelectList(@ViewBag.accounthead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select" })
                                    @Html.ValidationMessageFor(model => model.AcHeadID)
                                </div>


                                <div class="col-md-12 mb-2">
                                    <label class="required headinglabel">Cost Chart-of-Account</label>
                                    @Html.DropDownListFor(model => model.CostAcHeadID, new SelectList(@ViewBag.costaccounthead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-select" })
                                    @Html.ValidationMessageFor(model => model.CostAcHeadID)
                                </div>
                                <div class="row no-margin">
                                    <div class="col-md-12">
                                        <label class="required col-form-label">Branch</label>
                                        @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.Branches, "BranchID", "BranchName"), new { @class = "form-select txttarget", @required = "required" })
                                    </div>
                                </div>
                                @*<div class="col-md-1 btn_top">
                        <a href="/Accounts/CreateAcHead?frmpage=2" class="plus_icon"><i class="bx bx-plus-medical"></i></a>

                    </div>*@


                                @*<div class="col-md-6">
                        <label class="headinglabel">Revenue Cost</label>
                        @Html.TextBoxFor(model => model.RevenueCost, new { @class = "form-control textright", @Value = "0" })
                        @Html.ValidationMessageFor(model => model.RevenueCost)

                    </div>



                    <div class="col-md-6">
                        <label class="headinglabel">Minimum Value</label>
                        @Html.TextBoxFor(model => model.MinimumValue, new { @class = "form-control textright", @Value = "0" })
                        @Html.ValidationMessageFor(model => model.MinimumValue)
                    </div>*@


                                <div class="col-md-12 mt-3">
                                    <a href='@Url.Action("Index", "RevenueType", new { id = 0 })' class="btn btn-dark float-right">Cancel</a>

                                    <input type="submit" value="Update" class="btn btn-success float-right me-2" id="btnsave" />

                                    &nbsp;


                                </div>
                            </div>

                        </fieldset>
                    }

                </div>
            </div>   </div>
            </div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
