@model Net4Courier.Models.AWBBatchVM
@{


    var _decimal = @Session["Decimal"].ToString();
}
<style>
    .colorblue
    {color:blue}
    .colorred{
        color:red;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {


        var table = $('#datatable1').DataTable({
            "aaSorting": [],
            "searching": true,
            "bPaginate": false,

        });

    });
</script>

            <table class="table table-bordered mb-0" id="datatable1" style="width:100%">
                        <thead class="table-light">
                        <tr>
                            <th style="width:5px;">
                                S.No
                            </th>
                            <th> AWB No.</th>
                            <th style="width:25%">Shipper & Receiver</th>
                            @*<th style="width:25%">Receiver</th>*@
                            <th>Charge</th>
                            <th>MCost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbl1">
                         @for (int i = 1; i <= Model.Details.Count; i++)
                            {

                        <tr id="awbtr_@i">
                            <td style="width:5px;">
                                @i
                            </td>
                            <td>
                                <a target="_blank" href="/AWB/Create?id=@Model.Details[i - 1].InScanID">@Model.Details[i - 1].AWBNo</a>
                                <br />
                                @Model.Details[i - 1].TransactionDate <br />
                                <span class="colorblue" title="Pay Mode">
                                    @Model.Details[i - 1].PaymentModeText
                                </span>
                                <br />
                                <span class="colorred" title="Weight">
                                    Wt:  @Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.Details[i - 1].Weight, "3")
                                </span>
                                
                            </td>
                            <td>
                                <span class="colorblue" title="Consignor">
                                    @Model.Details[i - 1].Consignor <br />
                                    @Model.Details[i - 1].ConsignorCountryName 
                                </span>  
                                <br />
                             <span class="text-success" title="Consigee Detail">
                                 @Model.Details[i - 1].Consignee  <br />
                                @Model.Details[i - 1].ConsigneeCountryName </span>
                            </td>
                            <td style="text-align:right">
                                CC:  @Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.Details[i - 1].CourierCharge, _decimal) <br />
                                OC:  @Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.Details[i - 1].OtherCharge, _decimal) <br />
                                Tax: @Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.Details[i - 1].TaxAmount, _decimal) <br />
                                <span class="colorblue" title="NetValue">
                                    Net  @Net4Courier.Models.CommonFunctions.GetFormatNumber(Model.Details[i - 1].NetTotal, _decimal)
                                </span>
                                
                            </td>
                            <td style="text-align:right">
                                @Net4Courier.Models.CommonFunctions.GetFormatNumber(@Model.Details[i - 1].MaterialCost,_decimal)
                            </td>

                            <td>
                            <a href="javascript:void(0)" class="text-success" onclick="editawb(@Model.Details[i-1].InScanID,@i)"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a href="javascript:void(0)" class="text-danger" onclick="deleteawb(@Model.Details[i-1].InScanID,@i)"><i class="mdi mdi-delete font-size-18"></i></a>
                            </td>

                        </tr>

                            }

                    </tbody>

                </table>







