@model Net4Courier.Models.AWBBatchVM
@{
    Layout = null;
}
<style>
    ul.ui-front {
        z-index: 1100;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Consignee1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AWBBatch/GetReceiverName', //'/AWB/GetConsigneeName',
                    datatype: "json",
                    data: {
                        term: request.term, Shipper: $('#Shipper').val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Name,
                                value: val.Name,
                                ContactPerson: val.ContactPerson,
                                Address1: val.Address1,
                                Address2: val.Address2,
                                Pincode: val.PinCode,
                                Phone: val.Phone,
                                CountryName: val.CountryName,
                                CityName: val.CityName,
                                LocationName: val.LocationName,
                                ConsigneeMobileNo: val.ConsigneeMobileNo

                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, i) {
                $('#Consignee1').val(i.item.value);
                $("#ConsigneeContact1").val(i.item.ContactPerson);
                $("#ConsigneeAddress1_1").val(i.item.Address1);
                $("#ConsigneeAddress2_1").val(i.item.Address2);

                $("#ConsigneeAddress3_1").val(i.item.Pincode);
                $("#ConsigneePhone1").val(i.item.Phone);
                $("#ConsigneeCountryName1").val(i.item.CountryName);
                $("#ConsigneeCityName1").val(i.item.CityName);
                $("#ConsigneeLocationName1").val(i.item.LocationName);
                if ($('#DeliveryLocation').attr('disabled') != 'disabled')
                    $('#DeliveryLocation').val(i.item.LocationName);
                $("#ConsigneeLocation1").val(i.item.LocationName);

                //if (i.item.ConsigneeMobileNo == null || i.item.ConsigneeMobileNo == 'undefined')
                //    $("#ConsigneeMobileNo").val('');
                //else
                //    $("#ConsigneeMobileNo").val(i.item.ConsigneeMobileNo);
                //fillDeliveryLocation();
            },
            select: function (e, i) {
                e.preventDefault();
                $("#Consignee1").val(i.item.label);
                $("#ConsigneeContact1").val(i.item.ContactPerson);
                $("#ConsigneeAddress1_1").val(i.item.Address1);
                $("#ConsigneeAddress2_1").val(i.item.Address2);

                $("#ConsigneeAddress3_1").val(i.item.Pincode);
                $("#ConsigneePhone1").val(i.item.Phone);
                $("#ConsigneeCountryName1").val(i.item.CountryName);
                $("#ConsigneeCityName1").val(i.item.CityName);
                $("#ConsigneeLocationName1").val(i.item.LocationName);
                //if ($('#DeliveryLocation').attr('disabled') != 'disabled')
                //    $('#DeliveryLocation').val(i.item.LocationName);
              //  $("#ConsigneeLocation1").val(i.item.LocationName);
                //if (i.item.ConsigneeMobileNo == null || i.item.ConsigneeMobileNo == 'undefined')
                //    $("#ConsigneeMobileNo").val('');
                //else
                //    $("#ConsigneeMobileNo").val(i.item.ConsigneeMobileNo);
                ////fillDeliveryLocation();
            },

        });

          $('#ConsigneeLocationName1').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#ConsigneeLocationName1').val(ui.item.label);
                $('#ConsigneeLocationName1').attr('label', ui.item.label);
                    $('#ConsigneeCityName1').val(ui.item.City);
                    $('#ConsigneeCountryName1').val(ui.item.Country);
                    //$('#PickupLocation').val(ui.item.Country);
                    return false;
            },
                focus: function (event, ui) {
                    $('#ConsigneeLocationName1').val(ui.item.label);
                    $('#ConsigneeLocationName1').attr('label', ui.item.label);
                    $('#ConsigneeCityName1').val(ui.item.City);
                    $('#ConsigneeCountryName1').val(ui.item.Country);
                    //$('#PickupLocation').val(ui.item.label);
                return false;
            }
          });

        @*$("#ConsigneeLocationName1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetEventVenuesList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        if (data.length == 0) {
                            $('#PlaceId').val("");
                            //$('#VenueLocationMesssage').show();
                            return false;
                        }
                        else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.description,
                                    value: item.place_id
                                }
                            }));
                        }
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                $('#ConsigneeLocationName1').val(ui.item.label);
                $('#PlaceId').val(ui.item.value);
                return false;
            }
        });*@
        ///.autocomplete("widget").addClass("CitiesAutocomplete");


        //$("#ConsigneeLocationName1").change(function () {

        //    $.ajax({
        //        type: "GET",
        //        url: "/ZoneChart/GetVenueDetailsByPlace",
        //        datatype: "Json",
        //        data: { placeId: $('#PlaceId').val() },
        //        success: function (response) {
        //            debugger;
        //            console.log(response);
        //            $('#ConsigneeCountryName1').val(response.Country);
        //            $('#ConsigneeCityName1').val(response.City);
        //        }
        //    });
        //});
    });

</script>
<div class="row no-margin" style="padding-top: 10px; ">
    <div class="col-md-6">
        <label class="headinglabel required">Name</label>
        @Html.TextBoxFor(model => model.Consignee1, new { @class = "form-control txttarget", @autocomplete = "off", @type = "search", @required = "true" })
        <input type="hidden" id="PlaceId" />
    </div>
    <div class="col-md-6">
        <label class="headinglabel">Contact Person</label>
        @Html.TextBoxFor(model => model.ConsigneeContact1, new { @class = "form-control txttarget", @required = "true",@type = "search" })
    </div>


</div>
<div class="row no-margin" style="padding-top: 10px; ">
    <div class="col-md-4">
        <label class="headinglabel">Flat/Building</label>
        @Html.TextBoxFor(model => model.ConsigneeAddress1_1, new { @class = "form-control txttarget", @required = "true", @type = "search" })
    </div>
    <div class="col-md-4">
        <label class="headinglabel">Street</label>
        @Html.TextBoxFor(model => model.ConsigneeAddress2_1, new { @class = "form-control txttarget", @type = "search" })
    </div>
    <div class="col-md-4">
        <label class="headinglabel">Pincode</label>
        @Html.TextBoxFor(model => model.ConsigneeAddress3_1, new { @class = "form-control txttarget", @type = "search" })
    </div>
</div>
<div class="row no-margin" style="padding-top: 10px">
    <div class="col-md-4">
        <label class="headinglabel">Consingee Location</label>
        @Html.TextBoxFor(model => model.ConsigneeLocationName1, new { @class = "form-control txttarget autocomplete",  @required = "true" , @type = "search" })
    </div>
    <div class="col-md-4">
        <label class="headinglabel">Consignee City</label>
        @Html.TextBoxFor(model => model.ConsigneeCityName1, new { @class = "form-control txttarget",  @required = "true" , @type = "search" })
    </div>

    <div class="col-md-4">
        <label class="headinglabel">Consignee Country</label>
        @Html.TextBoxFor(model => model.ConsigneeCountryName1, new { @class = "form-control txttarget",  @required = "true" , @type = "search" })
    </div>
</div>
<div class="row no-margin" style="padding-top: 10px">

    <div class="col-md-6">
        <label class="headinglabel">Telephone No</label>
        @Html.TextBoxFor(model => model.ConsigneePhone1, new { @class = "form-control textright", @required = "true", @type = "search" })
    </div>
    <div class="col-md-6">
        <label class="headinglabel">Mobile No.</label>
        @Html.TextBoxFor(model => model.ConsigneeMobileNo1, new { @class = "form-control textright", @required = "true" , @type = "search" })
    </div>
</div>