@model Net4Courier.Models.InScanVM


@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Domestic Inscan";
    ViewBag.pageTitle = "InScan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script type="text/javascript">
    var AWBItems = [];
    var RemoveAWBItems = [];
    function showmessage(msg) {
        $('#validations').css('display', 'block');
        if (msg == '')
            $('#validations').val('Please fill required Details!');
        else {
            $('#validations').val(msg);
        }
    }
    function hidemessage() {
        $('#validations').css('display', 'none');

    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('hide');
         var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWbNo_';
        var maxrow = $('#detailsbody > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var deleted = $('#hdndeleted_' + index).val();
                if (deleted != "true") {
                    var con = $('#hdnAWbNo_' + index).val();
                    if (con.trim() == awbno.trim()) {
                        duplicate = true;
                        var message = 'Duplicate AWB No.!';
                      
                        Swal.fire("Data Validation!", "Duplicate AWB No.!", "error");
                        $('#txtawb').val('');
                        $('#txtawb').focus();
                        //break;
                    }

                    if (duplicate == false && index == (parseInt(maxrow - 1))) {
                        return true;
                    }
                }
            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    $(document).ready(function () {
        AWBItems = [];

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        //$('#QuickInscanDateTime').datetimepicker({
        //    maxDate: ed,
        //    minDate: sd,
        //    format: 'DD-MM-YYYY HH:mm'
        //});
        //$('#QuickInscanDateTime').datepicker({
        //    dateFormat: 'dd-mm-yy',
        //}).on('changeDate', function (e) {
        //    $(this).datepicker('hide');
        //});
        //$('#CollectedDate').datepicker({
        //    dateFormat: 'dd-mm-yy',
        //}).on('changeDate', function (e) {
        //    $(this).datepicker('hide');
        //});
        //$('#CollectedDate').datepicker({
        //    maxDate: ed,
        //    minDate: sd,
        //    format: 'DD-MM-YYYY HH:mm'
        //});
        //$('#InscanDate').datepicker({
        //    dateFormat: 'dd-M-yy',
        //    changeYear: true, changeMonth: true,
        //});

        $('#CollectedByID').change(function () {
            $.ajax({
                type: "GET",
                url: "/InScan/GetVehicle",
                datatype: "Json",
                data: { EmployeeId: $('#CollectedByID').val() },
                success: function (response) {
                    debugger;
                    if (response.VehicleId != 0) {
                        $('#VehicleId').val(response.VehicleId).trigger('change');
                    } else{
                        $('#VehicleId').val('').trigger('change');
                    }
                }
            });

        })
        $("#txtBatchNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AWBBatch/GetAWBBatch',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.BatchNo,
                                value: val.BatchId
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#txtBatchNo').val(ui.item.label);
                $('#txtBatchId').val(ui.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $('#txtBatchNo').val(i.item.label);
                $('#txtBatchId').val(i.item.value);
            }
        });
        $("#txtawb").change(function () {
            $('#btnadd').trigger('click');
        });
        $("#btnbatchadd").click(function () {
            debugger;
            var CollectedByID = $('#CollectedByID').val();
            if (CollectedByID == null || CollectedByID == '')
                CollectedByID = 0;
            if (CollectedByID == '') {
                $.notify('Select Collected By!')
                return false;
            }
            else if ($('#CollectedDate').val() == '') {
                $.notify('Select Collected Date!')
                return false;
            }
            else {
                $('#btnbatchadd').attr('disabled', 'disabled');
            }

            $.ajax({
                type: "POST",
                url: "/InScan/GetAWBDetailbyCourier", //GetAWBDetail",
                datatype: "Json",
                data: { collectedby: CollectedByID, Collecteddate: $('#CollectedDate').val() },
                success: function (response) {
                    if (response.status == "ok") {
                        debugger;
                        var data = response.data;
                        AWBItems=data;
                        // var i = $('#details tr').length - 1;
                        //$("#details").append('<tr>' + '<td id= >' + data.AWB + '<input type="hidden" value=' + $("#txtawb").val() + ' name="lst[' + i + '].AWB"></td><td><a href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        //$("#details").append('<tr awbno="' + $("#txtawb").val() + '">' + '<td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' + $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        $("#detailsbody").html('');
                        $.each(AWBItems, function (index, item) {
                            debugger;
                            var i = $('#detailsbody > tr').length;
                            var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWbNo_' + i + '"  value="' + item.AWB + '" />  <input type="hidden" id="hdnInScanId_' + i + '"  value="' + item.InScanId + '" /> <input type="hidden" id="hdnShipmentDetailId_' + i + '"  value="' + item.ShipmentDetailId + '" /><input type="hidden" id="hdnCourierStatusId_' + i + '"  value="' + item.CourierStatusId + '" /><input type="hidden" id="hdnDRSID_' + i + '"  value="' + item.DRSID + '" /> '
                            $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + datahtml + (parseInt(i) + 1) + '</td><td><a target="_blank" href="/AWB/Create?id=' + item.InScanId + '">' + item.AWB + '</a></td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td><a awbno="' + item.AWB + '" href="javascript:void(0);" onclick="deletetrans(this,' + i + ')" class="rem">Remove</a></td></tr>');
                        });
                        $('#btnbatchadd').removeAttr('disabled');
                        //$("#txtBatchNo").val('');
                        //$("#txtBatchNo").focus();

                    }
                    else {
                        $('#btnbatchadd').removeAttr('disabled');
                       // $("#txtBatchNo").focus();
                        //alert(response.message);
                    
                        Swal.fire("Data Validation!", response.message, "error");
                    }

                    //$.each(data, function (index, value) {

                    //      var i = AWBItems.length; // $('#details tr').length - 1;
                    //      $("#details").append('<tr awbno="' +  $("#txtawb").val() + '">' + '<td>' + index + '</td><td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' +  $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                    //});

                }


            });
        });
        $("#btnadd").click(function () {
            debugger;
            var CollectedByID = $('#CollectedByID').val();
            if (CollectedByID == null || CollectedByID == '')
                CollectedByID = 0;
            if ($("#txtawb").val().trim() == '') {
                return;
            }
            else if (checkduplicate($('#txtawb').val())==false)
            {
                return;
            }
            else {
                $('#btnadd').attr('disabled', 'disabled');
            }

            $.ajax({
                type: "POST",
                url: "/InScan/GetAWBDetail",
                datatype: "Json",
                data: { id: $("#txtawb").val(), collectedby: CollectedByID},
                success: function (response) {
                    if (response.status == "ok") {
                        var data = response.data;
                        AWBItems = [];
                        AWBItems.push(data);
                       // var i = $('#details tr').length - 1;
                        //$("#details").append('<tr>' + '<td id= >' + data.AWB + '<input type="hidden" value=' + $("#txtawb").val() + ' name="lst[' + i + '].AWB"></td><td><a href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        //$("#details").append('<tr awbno="' + $("#txtawb").val() + '">' + '<td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' + $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        //$("#detailsbody").html('');
                        console.log(data);
                        $.each(AWBItems, function (index, item) {
                            debugger;
                            var i = $('#detailsbody > tr').length;
                            var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWbNo_' + i + '"  value="' + item.AWB + '" />  <input type="hidden" id="hdnInScanId_' + i + '"  value="' + item.InScanId + '" /> <input type="hidden" id="hdnShipmentDetailId_' + i + '"  value="' + item.ShipmentDetailId + '" /><input type="hidden" id="hdnCourierStatusId_' + i + '"  value="' + item.CourierStatusId + '" /><input type="hidden" id="hdnDRSID_' + i + '"  value="' + item.DRSID + '" /> '
                            $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + datahtml + (parseInt(i) + 1) + '</td><td><a target="_blank" href = "/AWB/Create?id=' + item.InScanId + '" >' +  item.AWB + '</a></td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td><a awbno="' + item.AWB + '" href="javascript:void(0);" onclick="deletetrans(this,' + i + ')" class="rem">Remove</a></td></tr>');
                        });
                        $('#btnadd').removeAttr('disabled');
                        $('#OutScanReturned').attr('disabled', 'disabled');
                        $("#txtawb").val('');
                        $("#txtawb").focus();
                    }
                    else {
                        $('#btnadd').removeAttr('disabled');
                        $("#txtawb").focus();
                      
                        Swal.fire("Data Validation!", response.message, "error");
                    }

                    //$.each(data, function (index, value) {

                    //      var i = AWBItems.length; // $('#details tr').length - 1;
                    //      $("#details").append('<tr awbno="' +  $("#txtawb").val() + '">' + '<td>' + index + '</td><td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' +  $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                    //});

                }


            });
        });


        //$("#InScanSheetNo").change(function () {
        function DisplayAWBItems() {
            debugger;
          //  $('#details tr').slice(1).remove();
            $.ajax({
                type: "POST",
                url: "/InScan/GetAWB",
                datatype: "Json",
                data: { id: $("#QuickInscanID").val() },  //$("#CollectedByID option:selected").val()
                success: function (response) {
                    debugger;
                    console.log(response);
                    if (response.status == "ok") {
                        var quickinscan = response.masterdata;
                        //$('#QuickInscanID').val(quickinscan.QuickInscanID);
                        //$('#DepotID').attr('readonly', 'readonly');
                        //$('#DepotID').val(quickinscan.DepotId).trigger('change');
                        //$('#VehicleId').val(quickinscan.VehicleId).trigger('change');
                        //$('#DriverName').val(quickinscan.DriverName);
                        //$('#CollectedByID').val(quickinscan.CollectedByID).trigger('change');
                        //$('#ReceivedByID').val(quickinscan.ReceivedByID).trigger('change');
                        //var myDate = new Date(quickinscan.QuickInscanDateTime.match(/\d+/)[0] * 1);
                        //var cmon = myDate.getMonth() + 1;
                        //var inscandate = myDate.getDate() + "-" + cmon + "-" + myDate.getFullYear() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                        //$('#QuickInscanDateTime').val(inscandate);
                        //$('#QuickInscanDateTime').attr('readonly', 'readonly');
                        AWBItems = [];
                        AWBItems = response.data;

                        $.each(AWBItems, function (index, item) {
                            if (item.Origin == null)
                                item.Origin = "";
                            if (item.Destination == null) {
                                item.Destination = "";
                            }
                            var i = $('#detailsbody > tr').length;
                            var datahtml = '<input type="hidden" class="hdndeleted" id="hdndeleted_' + i + '"  value="false" /> <input type="hidden" id="hdnAWbNo_' + i + '"  value="' + item.AWB + '" />  <input type="hidden" id="hdnInScanId_' + i + '"  value="' + item.InScanId + '" /><input type="hidden" id="hdnShipmentDetailId_' + i + '"  value="' + item.ShipmentDetailId + '" />  '
                            $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + datahtml + (parseInt(i) + 1) + '</td><td><a target="_blank" href = "/AWB/Create?id=' + item.InScanId + '" >' + item.AWB + '</a></td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td></td></tr>');
                            //<a awbno="' + item.AWB + '" href="javascript:void(0);" onclick="deletetrans(this,' + i + ')" class="rem">Remove</a>
                            //$("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + (parseInt(index) + 1) + '</td><td>' + item.AWB + '</td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td></td></tr>');
                            //<td><a awbno="' + item.AWB + '" href="javascript:void(0);" class="rem">Remove</a></td>
                        });

                    }
                    else {
                        AWBItems = [];
                          $("#detailsbody").html('');
                        $('#QuickInscanID').val('');
                        $('#DepotID').val('').trigger('change');
                        $('#VehicleId').val(0).trigger('change');
                        $('#DriverName').val('');
                        $('#CollectedByID').val(0).trigger('change');
                        $('#ReceivedByID').val(0).trigger('change');
                          var d = new Date();
                        var curr_date = d.getDate();
                        var curr_month = d.getMonth()+1;
                        var curr_year = d.getFullYear();
                        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
                         $('#QuickInscanDateTime').val(reqdate);

                    }

                }
            });
        }
        $('#btnsave').click(function () {
            debugger;

            if ($('#QuickInscanDateTime').val() == '') {
                showmessage();
                $('#QuickInscanDateTime').focus();
                return;
            }
            else if ($('#DepotID').val() == '') {
                showmessage();
                $('#DepotID').focus();
                return;
            }
            else if ($('#CollectedByID').val() == '') {
                showmessage();
                $('#CollectedByID').focus();
                return;
            }
            else if ($('#ReceivedByID').val() == '') {
                showmessage();
                $('#ReceivedByID').focus();
                return;
            }
            else if ($('#VehicleId').val() == '') {
                showmessage();
                $('#VehicleId').focus();
                return;
            }

            hidemessage();

            var obj = [];
            var maxrow = $('#detailsbody > tr').length;
            if (maxrow == 0) {
                
                Swal.fire("Data Validation!", 'AWB Not added,could not save', "error");
                return;
            }
            $('#btnsave').attr('disabled', 'disabled');
            for (i = 0; i < maxrow; i++) {
                var deleted = $('#hdndeleted_' + i).val();
                if (deleted != 'true') {
                    var item = {
                        AWB: $('#hdnAWbNo_' + i).val(),
                        InScanId: $('#hdnInScanId_' + i).val(),
                        Origin: "",
                        Destination: "",
                        ShipmentDetailId: $('#hdnShipmentDetailId_' + i).val(),
                        DRSID: $('#hdnDRS_' + i).val(),
                        CourierStatusId: $('#hdnCourierStatusId_' + i).val()
                    }
                    obj.push(item);
                }

                if (maxrow == (i + 1)) {
                    var saveobj = {
                        QuickInscanID: $('#QuickInscanID').val(),
                        DepotID: $('#DepotID').val(),
                        DepotName: "",
                        InScanSheetNo: $('#InScanSheetNo').val(),
                        VehicleId: $('#VehicleId').val(),
                        DriverName: $('#DriverName').val(),
                        BranchId: 0,
                        UserId: 0,
                        CollectedByID: $('#CollectedByID').val(),
                        ReceivedByID: $('#ReceivedByID').val(),
                        QuickInscanDateTime: $('#QuickInscanDateTime').val(),
                        CollectedDate: $('#CollectedDate').val(),
                        //SelectedInScanId: SelectedInScanId,
                        //RemovedInScanId: RemovedAWB,
                        OutScanReturned: $('#OutScanReturned').prop('checked'),
                        Details: JSON.stringify(obj)
                    }

                    $.ajax({
                        type: "POST",
                        url: "/InScan/SaveQuickInScan",
                        datatype: "Json",
                        data: saveobj,
                        success: function (response) {
                            if (response.status == "ok") {
                                debugger;
                                //$("#detailsbody").html('');
                                //$('#QuickInscanID').val(0);
                                //$('#DepotID').val(0);
                                //$('#VehicleId').val(0).trigger('change');
                                //$('#DriverName').val('');
                                //$('#CollectedByID').val(0).trigger('change');
                                //$('#ReceivedByID').val(0).trigger('change');
                                //var myDate = new Date(quickinscan.QuickInscanDateTime.match(/\d+/)[0] * 1);
                                //var cmon = myDate.getMonth() + 1;
                                //var inscandate = myDate.getDate() + "-" + cmon + "-" + myDate.getFullYear() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                                //$('#QuickInscanDateTime').val(inscandate);

                                //$('#InScanSheetNo').val('');
                                //$("#txtawb").val('');
                                //$('#InScanSheetNo').focus();
                                ////RemoveAWBItems = [];
                                ////AWBItems = [];
                              
                                Swal.fire("Data Validation!", response.message, "success");
                                $('#btnsave').removeAttr('disabled', 'disabled');
                                window.location = "/InScan/Index";
                            }
                            else {
                                $('#btnsave').removeAttr('disabled', 'disabled');
                              
                                Swal.fire("Data Validation!", response.message, "error");
                            }
                        }
                    });
                }
            }

        });
        if ('@ViewBag.EditMode' == "true") {
            $('#divadd').addClass('hide');
            DisplayAWBItems();
            $("#InScanSheetNo").attr('readonly', 'readonly');
        }
        else {
            var m_names = new Array("Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
            $('#QuickInscanDateTime').val(reqdate);
            $('#CollectedDate').val(reqdate);
            $("#ReceivedByID").focus();
        }


    });

</script>



    @if (TempData["SuccessMsg"] != null)
    {
<script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["SuccessMsg"]", "success");
                      var message = "@TempData["SuccessMsg"]";
                      Swal.fire("Data Validation!", message, "success");
                 });
</script>
    }

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                             <div class="col-md-12 mb-2 text-md-end">
                                    <input type="button" value="Save" class="btn btn-success" data-toggle="tooltip" id="btnsave" />
                                    <a href='@Url.Action("Index", "InScan")' class="btn btn-secondary">Cancel</a>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        @Html.HiddenFor(model => model.QuickInscanID, new { })
                                        <label class="col-form-label required">Sheet No.</label>
                                        @Html.TextBoxFor(model => model.InScanSheetNo, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.InScanSheetNo)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label class="col-form-label required">InScan Date</label>
                                        <div class="docs-datepicker">
                                            <div class="input-group">
                                                <input type="text" class="form-control docs-date datetimepicker" name="QuickInscanDateTime" id="QuickInscanDateTime" value="@Model.QuickInscanDateTime.ToShortDateString()" readonly autocomplete="off">
                                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled><i class="mdi mdi-calendar" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="docs-datepicker-container"></div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.QuickInscanDateTime)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Depot</label>
                                        @Html.DropDownListFor(model => model.DepotID, new SelectList(@ViewBag.depot, "ID", "Depot"), "Select", new { @class = "form-select" })
                                    </div>
                                </div>
                                
                           
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label class="col-form-label required">Depot-Received By</label>
                                        @Html.DropDownListFor(model => model.ReceivedByID, new SelectList(@ViewBag.employeerec, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label required">Collected Date</label>
                                     <div class="docs-datepicker">
                                            <div class="input-group">
                                                <input type="text" class="form-control docs-date datetimepicker" name="CollectedDate" id="CollectedDate" value="@Model.CollectedDate.ToShortDateString()" autocomplete="off">
                                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled><i class="mdi mdi-calendar" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="docs-datepicker-container"></div>
                                        </div>
                                  
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="col-form-label required">Collected By</label>
                                    @*@Html.TextBoxFor(model => model.DriverName, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.CollectedByID, new SelectList(@ViewBag.employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })
                                </div>
                                </div>
                          
                                 <div class="col-md-10">
                                 <div class="mb-2">
                                    <label class="col-form-label">Vehicle Detail</label>
                                    @Html.DropDownListFor(model => model.VehicleId, new SelectList(@ViewBag.Vehicles, "VehicleID", "VehicleName"), "Select", new { @class = "form-select" })
                                    @*@Html.HiddenFor(model => model.VehicleId)*@
                                </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-2 mt-2 ms-4">
                                        <button type="button" id="btnbatchadd" class="btn btn-success waves-effect waves-light filter btn_top" title="Get Collected AWBs">
                                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                                        </button>
                                    </div>
                                </div>
                               
                                <div class="col-md-10">
                                    <div class="mb-2">
                                        <label class="col-form-label required">AWB No.</label>
                                        <input type="text" id="txtawb" class="form-control" autocomplete="off" />
                                        @*<div class="checkboxdesign no-padding  text-right" style="float:right">
                                            @Html.CheckBox("OutScanReturned", new { @name = "OutScanReturned" }) &nbsp
                                            <label class="headinglabel" style="color:#07a7e3!important;padding-left: 0!important">OutScan Returned</label>
                                        </div>*@
                                    </div>
                                </div>
                                 
                                <div class="col-md-2" id="divadd">
                                    <div class="mb-2 mt-2 ms-4">
                                        <button type="button" id="btnadd" class="btn btn-success waves-effect waves-light filter btn_top">
                                            <i class="bx bx-plus mt-1" style="font-size: 21px;"></i>
                                        </button>
                                    </div>
                                </div>                   
                               
                            </div>




                        @*<div class="col-md-3">
                            <label class="headinglabel">Driver Name</label>
                            @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.DriverName)
                        </div>*@

                </div>

                 </div></div>
            <div class="col-md-7">

                <div class="card">
                    <div class="card-body">
                         <table class="table table-bordered" id="datatable1">
                    <thead class="table-light">
                                    <th>S No.</th>
                                    <th>AWB No.</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Remove</th>
                                    </thead>
                                    <tbody id="detailsbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                   

                


                <div class="modal fade" id="loaderpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="border-radius:5px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="LoaderModalLabel">
                                    Data Importing
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center">
                                        <h2>Processing...</h2>
                                        <img src="~/Content/img/loading-gif-free-download-6.gif" id="imgloader" class="" style="padding-left:15px;height:60px;width:60px;" />
                                    </div>
                                </div>
                            </div>
                            @*<div class="modal-footer" style="padding-top: 5px">
                                    <button type="button" class="btn btn-primary" onclick="savefixation()">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>
                    </div>
                </div>

            }
</section>
