@model Net4Courier.Models.SupplierInvoiceSearch
@{
    Layout = null;
}
<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="/Content/Multiselect/bootstrap-multiselect.js"></script>
<style>
#invoicesearch .row .col-md-1 {
    width: 12%;
} 
.multiselect{
	 align-items: center;
    display: flex!Important;
    justify-content: space-around;
}
#movementid + .btn-group button,#movementid + .btn-group{
	display:block;
	width:100%;
	}
#FormDate{
    border-radius:10px;
}
</style>

<script>
     var customernames = [];
    $(document).ready(function () {

          
          $("#SupplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/SupplierPayment/GetSupplierName',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.SupplierName,
                                value: val.SupplierId                                
                            }
                        }))
                    }
                })
            },
            minLength: 1,
              autoFocus: false,
              focus: function (e, ui) {
                  e.preventDefault();
                  $("#SupplierName").val(ui.item.label);
                  $('#SupplierId').val(ui.item.value);
              },
            select: function (e, i) {                
                $("#SupplierName").val(i.item.label);
                $('#SupplierId').val(i.item.CustomerId);
            },

        });


         $('#btnsearch').click(function () {

            if ($('#SupplierId').val() == 0 || $('#SupplierId').val() == '' ||$('#SupplierId').val() == null) {
                $('#SupplierName').focus();
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowItemList", "CustomerInvoice")',
                datatype: "html",
                data: {
                    CustomerId: $('#CustomerId').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), MAWB: $('#MAWB').val()
                },
                success: function (data) {
                    debugger;
                    $("#listContainer").html(data);
                    var max = $('#listbody > tr').length;
                    var html = $('#listbody > tr >td:first').html();
                    $('#TotalAWB').val(max);
                    if (html == 'No data available in table') {
                        $.notify("No Import Items are available!", "error");
                    }
                }
            });

    });

         

              $.ajax({
                type: "Get",
                url: "/CustomerInvoice/GetCourierType",
                datatype: "Json",
                  success: function (response) {

                      var data = response.data;
                    $('#movementid').empty();

                    $.each(data, function (index, value) {

                        var o_st = $("#MovementId").val().split(",");

                        var flag = 0;
                        for (var j = 0 ; j < o_st.length; j++) {
                            debugger;
                                if (o_st[j] == value.MovementID) {
                                    flag = 1;
                                    break;
                                }

                        }

                        if (flag == 1) {
                            $('#movementid').append('<option value="' + value.MovementID + '" selected=true>' + value.MovementType + '</option>');
                        }
                        else {
                            $('#movementid').append('<option value="' + value.MovementID + '">' + value.MovementType + '</option>');
                        }

                    });



                      $('#movementid').multiselect({
                        nonSelectedText:'Select',
                        enableClickableOptGroups: true,
                        enableCollapsibleOptGroups: true,
                        enableFiltering: false,
                        includeSelectAllOption: true,
                        enableCaseInsensitiveFiltering: false,
                        selectAllValue: 'multiselect-all'
                      });


                }
              });

        $('#btnsearch').click(function () {

            if ($('#CustomerId').val() == 0 || $('#CustomerId').val() == '' ||$('#CustomerId').val() == null) {
                $('#CustomerName').focus();
                return false;
            }
            else if ($('#movementid').val() == null) {
                $('#movementid').focus();
                alert('Select Courier type!')
                return false;
            }
        })

    });


    @*$('#MovementId').select2({
        data:@ViewBag.Movement,
        multiple: true
    });*@

</script>
@using (Html.BeginForm("InvoiceSearch", "FowardingAgentInvoice", FormMethod.Post, new { @id = "invoicesearch" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row no-margin ">
    <div class="col-md-4">
        <label class="headinglabel required ">Supplier</label>
        @Html.HiddenFor(model => model.SupplierId)        
        @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SupplierName)
    </div>
    <div class="col-md-1">
        @Html.HiddenFor(model => model.MovementId)
        <label class="headinglabel required ">From Date</label>
        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right" })
    </div>

    <div class="col-md-1">
        <label class="headinglabel required">To Date</label>
        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right" })
    </div>
    @*<div class="col-md-2">
            <input type="submit" value="Filter Customer" id="search" class="btn btn-primary" style="margin-top:31px" />&nbsp;&nbsp;
        </div>*@
    <div class="col-md-2">
        <label class="headinglabel required ">Courier Type</label>

        <select id="movementid" name="SelectedValues" multiple="multiple" class="form-control">
            <option value=""></option>
        </select>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" type="button" id="btnsearch" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
</div>
   
}


