@model Net4Courier.Models.PODVM
@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "POD";
    ViewBag.pageTitle = "Proof of Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/POD/Create";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
}
<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="/Content/Multiselect/bootstrap-multiselect.js"></script>
<style>
    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
</style>

<style type="text/css">

    .searchMc {
        border: 2px solid #07a7e3;
        position: relative;
        padding: 30px 10px;
        margin: 20px 0;
    }

        .searchMc h4 {
            padding: 0 30px;
            position: ABSOLUTE;
            top: -21px;
            display: inline-block;
            left: 22px;
            background: #f8fbff;
            text-align: center;
        }
.multiselect-container{
    margin:0!important;
}
.multiselect-native-select .btn-group{
    display:block;
}
.multiselect.dropdown-toggle{
    width: 100%;
    display: block;
    float: none;
}
    .show-error {
        color: red;
    }

    .show-green {
        color: green;
        font-weight: 700;
    }


    .searchMc .checkboxdesign {
        align-items: flex-start;
    }
</style>

<script>

    function checkduplicate(awbno) {
        debugger;
        var idtext = 'hdnAWBNo_';
        var maxrow = $('#tbl1 > tr').length;
        if (maxrow > 0) {
            var duplicate = false;
            $('[id^=' + idtext + ']').each(function (index, item) {
                var con = $('#hdnAWBNo_' + index).val();
                if (con.trim() == awbno.trim()) {
                    duplicate = true;
                    var message='Duplicate AWB No.!';
                    $('#ulerr').removeClass('show-green');
                    $('#ulerr').addClass('show-error');
                    $('#lierr').html(message);
                    $('#btnAdd').attr('disabled', 'disabled');
                    //break;
                }

                if (duplicate == false && index == (parseInt(maxrow - 1))) {
                    return true;
                }

            });
            if (duplicate == true) {
                return false;
            }
        }
        else {

            return true;
        }
    }
    function checkDate(obj) {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' || $(obj).val() == null) {
            return '';
        }
        else {
            var date = $(obj).val().split('-');
            value = date[1] + '/' + date[0] + '/' + date[2];
        }

        return value

    }
    function checkdata(obj)
    {
        var value = '';
        if ($(obj).val() == '' || $(obj).val() == undefined || $(obj).val() == 'undefined' ||$(obj).val() == null) {
            return '';
        }
        else {
            value = $(obj).val();
        }

        return value

    }
    function getdate(date) {
        var myDate = new Date(date);
        var cmon = myDate.getMonth() + 1;
        var entrydate = cmon + "/" + myDate.getDate() + '/' + myDate.getFullYear();
        return entrydate
    }
    function deletetrans(obj, i) {
        $(obj).parent().parent().addClass('hide');
        var obj1 = $(obj).parent().parent().find('.hdndeleted');
        $(obj1).val(true);
    }
    function checkfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '')
        {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdrpfieldvalidate(obj) {

        if ($(obj).val() == null || $(obj).val().trim() == '' || $(obj).val().trim() == '0') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }

    function checkNumberfieldvalidate(obj) {
        if ($(obj).val() == null || $(obj).val().trim() == '') {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else if (parseFloat($(obj).val()) == 0 || parseInt($(obj).val()) == 0) {
            $('#ulerr').removeClass('show-green');
            $('#ulerr').addClass('show-error');
            $('#lierr').html('Please Enter Required Values!');
            $(obj).focus();
            return false;
        }
        else {
            return true;
        }
    }
    function checkdeliverystatus(obj) {
        var id = $(obj).attr('id');
        var status=$(obj).prop('checked');
        if (id == 'DeliveryAttempted' && status==true) {
            $('#Delivered').removeAttr('checked');
        }
        else if (id == 'DeliveryAttempted' && status == false)
        {
           $('#Delivered').prop('checked', 'checked');
        }
        else if (id == 'Delivered' && status == true)
        {
                $('#DeliveryAttempted').removeAttr('checked');
         }
        else if (id == 'Delivered' && status ==false)
                {
                $('#DeliveryAttempted').prop('checked', 'checked');
                }

    }
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("textarea").css({ "border-radius": "5px" });
       var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        // $('#AWBDate').datetimepicker({
        //     maxDate: ed,
        //     minDate: sd,
        //     format: 'DD-MM-YYYY'
        // });

        // $('#DeliveredDate').datetimepicker({
        //     maxDate: ed,
        //     minDate: sd,
        //     format: 'DD-MM-YYYY hh:mm'
        // });
        // //$('#DelieveryAttemptDate').datetimepicker({ format: 'DD-MM-YYYY' });
        // $('#ReceivedTime').datetimepicker({
        //     maxDate: ed,
        //     minDate: sd,
        //     format: 'DD-MM-YYYY hh:mm'
        // });


        $('#AWBNo').change(function () {
            if ($('#AWBNo').val().trim() == '') {
                var message = 'Enter AWBNo!';
                $('#ulerr').addClass('show-error');
                $('#ulerr').removeClass('show-green');
                $('#lierr').html(message);
                return;
            }
            else if (checkduplicate($('#AWBNo').val()) == false)
            {
                return;
            }
            else
            {
                $.ajax({
                    type: "Get",
                    url: '/POD/GetAWBInfo',
                    datatype: "json",
                    data: {
                        awbno: $('#AWBNo').val()
                    },
                    success: function (response) {
                        debugger;
                        var status = response.Status;
                        var mode = response.Mode;
                        var data = response.data;
                        var message = 'Status :' + response.Status + ', Mode :' + response.Mode;
                        if (status == 'NotAvailabel') {
                            $('#AWBNo').val('');
                            $.notify('Air waybill no. is not found!', 'error');
                            $('#AWBNo').focus();
                        }
                        if (status == 'NotValid') {
                            //$('#ulerr').addClass('show-green');
                            //$('#ulerr').removeClass('show-error');
                            //$('#lierr').html(message);
                            var courierstatus = response.data.CourierStatus;
                            $('#AWBNo').val('');
                            $.notify('AWB Status :' + courierstatus + ',This Status not valid to add POD', 'error');
                            $('#AWBNo').focus();
                        }
                        else if (status == 'Valid') {

                            var Shipper = data.Shipper;
                            var Consignee = data.Consignee;
                            var ConsigneeContact = data.ConsigneeContact;
                            var awbdate = data.AWBDate;
                            var AWBDate = new Date(awbdate.match(/\d+/)[0] * 1);
                            var cmon = AWBDate.getMonth() + 1;
                            var _awbdate = AWBDate.getDate() + "-" + cmon + "-" + AWBDate.getFullYear();
                            $('#AWBDate').val(_awbdate);
                            $('#InScanID').val(data.InScanID);
                            $('#ShipmentDetailId').val(data.ShipmentDetailId);
                            $('#Shipper').val(Shipper);
                            $('#Consignee').val(Consignee);
                            $("#ConsigneeContact").val(ConsigneeContact);
                            $("#ReceiverName").val(ConsigneeContact);
                            $("#ReceiverName").focus();
                        }


                    }
                });
            }
        });

        $('#btnAdd').click(function () {
            debugger;


            if (!checkfieldvalidate($('#AWBNo')))
                return;

            if (!checkfieldvalidate($('#AWBDate')))
                return;

            if (!checkfieldvalidate($('#Shipper')))
                return;

            if (!checkfieldvalidate($('#Consignee')))
                return;

            if (!checkfieldvalidate($('#ReceiverName')))
                return;


            $('#lierr').html('');
            var InScanID = $('#InScanID').val();
            var ShipmentDetailID = $('#ShipmentDetailId').val();
            var AWBNo = $('#AWBNo').val();
            var AWBDate = checkDate($('#AWBDate'));
            var Shipper = $('#Shipper').val();
            var Receiver = checkdata($('#Consignee'));
            var ConsigneeContact = checkdata($("#ConsigneeContact"));
            var ReceiverName = checkdata($("#ReceiverName"));
            var ReceivedTime = $('#ReceivedTime').val();

            var defaultdate = $('#AWBDate').val();
            var DeliveryAttemptedBy = 0;
            var DelieveryAttemptDate = defaultdate;
            var DeliveryAttempted = $('#DeliveryAttempted').prop('checked');
            //if (DeliveryAttempted) {
            //    if (!checkfieldvalidate($('#DelieveryAttemptDate')))
            //        return;
            //    if (!checkdrpfieldvalidate($('#DeliveryAttemptedBy')))
            //        return;
            // DeliveryAttemptedBy = $('#DeliveryAttemptedBy').val();
            //DelieveryAttemptDate = checkDate($('#DelieveryAttemptDate'));
            //}
        var DeliveredBy = 0;
            var DeliveredDate = defaultdate;
            var Delivered = true; // $('#Delivered').prop('checked');
            if(Delivered)
            {
                if (!checkfieldvalidate($('#DeliveredDate')))
                    return;
                if (!checkdrpfieldvalidate($('#DeliveredBy')))
                    return;
                DeliveredBy = $('#DeliveredBy').val();
                DeliveredDate = checkDate($('#DeliveredDate'));
            }

            var i = $('#tbl1 > tr').length;
            var row = i + 1;
            var datahtml =
                '<span id="srow_' + i + '">' + row + '</span>' +
                '<input class="hdndeleted" type="hidden" value="false" id="hdndeleted_' + i + '" />' +
                '<input type="hidden" id="hdnInScanID_' + i + '" value="' + InScanID + '" />' +
                '<input type="hidden" id="hdnShipmentDetailID_' + i + '" value="' + ShipmentDetailID + '" />' +
                '<input type="hidden" id="hdnAWBNo_' + i + '" value="' + AWBNo + '" />' +
                '<input type="hidden" id="hdnConsignor_' + i + '" value="' + Shipper + '" />' +
                '<input type="hidden" id="hdnReceiverName_' + i + '" value="' + ReceiverName + '"/>' +
                '<input type="hidden" id="hdnReceivedTime_' + i + '" value="' + ReceivedTime + '"/>' +
                '<input type="hidden" id="hdnDeliveryAttempted_' + i + '" value="' + DeliveryAttempted + '"/>' +
                '<input type="hidden" id="hdnDelivered_' + i + '" value="' + Delivered + '"/>' +
                '<input type="hidden" id="hdnDeliveryAttemptedBy_' + i + '" value="' + DeliveryAttemptedBy + '"/>' +
                '<input type="hidden" id="hdnDelieveryAttemptDate_' + i + '" value="' + DelieveryAttemptDate + '"/>' +
                '<input type="hidden" id="hdnDeliveredBy_' + i + '" value="' + DeliveredBy + '"/>' +
                '<input type="hidden" id="hdnDeliveredDate_' + i + '" value="' + DeliveredDate + '"/>';


                $('#tbl1').append('<tr>' +
                    '<td>' + datahtml + '</td>' +
                    '<td>' + AWBNo + '<br/>' + AWBDate + '</td>' +
                    '<td>' + Shipper + '</td>' +
                    '<td>' + Receiver + '</td>' +
                     '<td>' + ReceiverName + '</td>' +
                    '<td>' + DeliveredDate + '</td>' +
                    '<td><a href="javascript:void(0)" onclick="deletetrans(this,' + i + ')"><i class="fa fa-times"></i></a></td>' +
                    '</tr>');
            $('#AWBNo').val('');
            $('#AWBDate').val('');
            $('#Shipper').val('');
            $('#Consignee').val('')
            $('#ReceiverName').val('')
            $('#ReceivedTime').val('')
            $('#AWBNo').focus();

        });

        $('#btnSave').click(function () {
            debugger;
            // $('#btnSave').attr('disabled', 'disabled');
            var obj = [];
            var maxrow = $('#tbl1 > tr').length;
            if (maxrow == 0) {
                alert('AWB Not added,could not save Batch!');
                return;
            }
            for (i = 0; i < maxrow; i++) {
                debugger;
                var deleted = $('#hdndeleted_' + i).val();
                if (deleted == 'false') {
                    var InScanID = $('#hdnInScanID_' + i).val();
                    var ShipmentDetailId = $('#hdnShipmentDetailID_' + i).val();
                    var AWBNo = $('#hdnAWBNo_' + i).val();
                    //var AWBDate = $('#hdnTransactionDate_' + i).val();
                    //var Shipper = $('#hdnConsignor_' + i).val();
                    var Receiver = $('#hdnReceiverName_' + i).val();
                    var ReceiverTime = $('#hdnReceivedTime_' + i).val();
                    var Delivered = $('#hdnDelivered_' + i).val();
                    var DeliveryAttempted = $('#DeliveryAttempted_' + i).val();
                    var DeliveryAttemptedBy = $('#hdnDeliveryAttemptedBy_'+i).val()
                    var DelieveryAttemptDate = $('#hdnDelieveryAttemptDate_'+i).val()
                    var DeliveredBy = $('#hdnDeliveredBy_' + i).val()
                    var DeliveredDate = $('#hdnDeliveredDate_' + i).val()

                    var item = {
                        InScanID: InScanID,
                        ShipmentDetailId: ShipmentDetailId,
                        AWBNo: AWBNo,
                        ReceiverName: Receiver,
                        ReceivedTime1: ReceiverTime,
                        DeliveryAttempted: DeliveryAttempted,
                        Delivered: Delivered,
                        DeliveryAttemptedBy: DeliveryAttemptedBy,
                        //DelieveryAttemptDate: DelieveryAttemptDate,
                        DeliveredBy: DeliveredBy,
                        DeliveredDate: DeliveredDate
                    }

                    obj.push(item);
                }

                if (maxrow == (i + 1)) {

                    $.ajax({
                        type: "POST",
                        url: "/POD/SaveBatchPOD",
                        datatype: "Json",
                        data: { Details: JSON.stringify(obj) },
                        success: function (response) {
                            //console.log(response);

                            debugger;
                            if (response == "ok") {
                                $.notify("POD Saved Succesfully!", "success");
                                $('#btnSave').removeAttr('disabled');
                                @*location.href = '@Url.Action("Index","DRSReconc")';*@
                                window.location.href = "/POD/Index";
                                //setTimeout(function () {
                                //    window.location.href = "/POD/Index";

                                //}, 100)
                            }
                            else {

                                $.notify(response, "error");
                                $('#btnSave').removeAttr('disabled');
                                //$.notify(response.message, "warning");
                                return false;
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
            }
        });
    });
</script>

<!-- Main content -->

    @using (Html.BeginForm("Create", "POD", FormMethod.Post, new { @id = "FormReceipt" }))
    {
        @Html.ValidationSummary(true)

       
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right mb-2">
                                <input type="submit" class="btn btn-success" value="Save " name="Command" id="btnSave" />
                                <a href='@Url.Action("Index", "POD", new { id = 0 })' class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">AWB Number</label>
                                @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control", @autocomplete = "off" })
                                @Html.HiddenFor(mode => mode.InScanID)
                                @Html.HiddenFor(mode => mode.ShipmentDetailId)
                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="mb-2">
                                    <label class="col-form-label">AWB Date</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="AWBDate" id="AWBDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.AWBDate.ToShortDateString()"
                                                placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                          
                      
                            <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">Shipper</label>
                                @Html.TextBoxFor(model => model.Shipper, new { @class = "form-control", @readonly = "readonly", @autocomplete = "off" })
                            </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label">Consignee</label>
                                @Html.TextBoxFor(model => model.Consignee, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.ConsigneeContact)
                            </div>
                            </div>
                        
                            <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Receiver Name</label>
                                @Html.TextBoxFor(model => model.ReceiverName, new { @class = "form-control"  })
                            </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6">
                                <div class="mb-2">
                                    <label class="col-form-label">Received Time</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="ReceivedTime" id="ReceivedTime" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ReceivedTime"
                                                placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                  
                            <div class="col-xs-12 col-sm-6">
                                <div class="mb-2">
                                    <label class="col-form-label">Delivered</label>
                                    <div class="docs-datepicker">
                                        <div class="input-group">
                                            <input type="text" class="form-control docs-date" name="DeliveredDate" id="DeliveredDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.DeliveredDate"
                                                placeholder="Pick a date" autocomplete="off">
                                            <button type="button"
                                                    class="btn btn-secondary docs-datepicker-trigger"
                                                    disabled>
                                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="docs-datepicker-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <div class="mb-2">
                                <label class="col-form-label required">Delivered By</label>
                                @Html.DropDownListFor(model => model.DeliveredBy, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-select" })
                            </div>
                            </div>
                   
                            @*<div class="col-xs-12 col-sm-6">
                                <div class="flex">
                                    <div class=" no-padding  text-right">
                                        @Html.CheckBox("DeliveryAttempted", new { @name = "DeliveryAttempted", @onchange= "checkdeliverystatus(this)" }) &nbsp
                                        <label class="headinglabel" style="color:#07a7e3!important;padding-left: 0!important"></label>
                                    </div>
                                    <label class="headinglabel">Delivery Pending</label>
                                </div>
                            </div>*@


                            <div class="col-md-12 text-md-end mt-2">
                                <input type="button" class="btn btn-success  btnwidth" value="Add & Continue" name="Command" id="btnAdd" />
                            </div>

                            @*<div class="col-xs-12 col-sm-6">
                                <label class="headinglabel required">Delivery Attempted By</label>
                                @Html.DropDownListFor(model => model.DeliveryAttemptedBy, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select", new { @class = "form-control" })
                            </div>*@
                        
                            <div class="col-md-6 flex justify-between" style="">
                                <ul class="list-unstyled show-error" id="ulerr">
                                    <li id="lierr"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     </div> </div>
                     

                    <div class="col-md-7 scrolling_list">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered mb-0" id="datatable">
                                        <thead class="table-light">
                                            <tr style="font-weight: bold; background:#07a7e3;">
                                                    <th>S.No</th>
                                                    <th>AWB No.</th>
                                                    <th>Shipper</th>
                                                    <th>Consignee</th>
                                                    <th>Receiver</th>
                                                    <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbl1">
                                            </tbody>

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                   


            }

