@model IEnumerable<Net4Courier.Models.BusinessTypeVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     tfoot {
            display: table-header-group;
     }
        </style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
<section class="container-fluid over_hide">
    <h1 class="titles_head">Business Type</h1>

</section>

<div class="col-md-12">
<p class="indexbtnpadding text-right create_right">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary btnwidth"})
</p>
</div>




<section class="content">
      @if (TempData["SuccessMsg"] != null)
    {
     <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@TempData["SuccessMsg"]", "success");
                 });
                                                </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">

    <thead>
    <tr>
       
        <th>
              @Html.Label("Type")
        </th>
        <th>
            @Html.Label("Action")
        </th>
        
    </tr>
        </thead>

    <tfoot>
    <tr>
       
      
       
        <th>
             @Html.Label("Type")
        </th>
       
       
        <th style="display:none"></th>
    </tr>
        </tfoot>

    <tbody>
@foreach (var item in Model) {
    <tr>
      
        
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType)
        </td>
        
        
        <td>
             <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil"></i></a> |
            @*<a href="@Url.Action("Delete", new { id = item.RoleID })"><i class="fa fa-times"></i></a>*@
            <a href="#" onclick="Delete(ID=@item.Id)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
}
</tbody>
</table>
        </div>
    </section>

<script type="text/javascript">
    function Delete(id) {
        if (confirm("Are you sure, You want to Delete Status Type?")) {
            window.location.href = "/BusinessType/DeleteConfirmed/?id=" + ID;
        }
    }
</script>