@model Net4Courier.Models.InboundAWBBatchModel
@{
    
    Layout = null;
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
    var _mindate = @Net4Courier.Models.CommonFunctions.GetMinFinancialDate(); //'2020/01/01',
    var _maxdate = @Net4Courier.Models.CommonFunctions.GetMaxFinancialDate();
    int otherchargecount = 0;
    int itemcount = 0;
    var _alphanum = Session["AWBAlphaNumeric"].ToString();

}




<script type="text/javascript">
    
    window.onload = function () {

        

       
    }
      
    //customer and shipper autocomplete
    $(document).ready(function () {
        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyC' && (event.altKey)) {
                showcustomerentry();
            }
            if (event.code == 'KeyL' && (event.altKey)) {
                $('#lblconsignorLocation').attr('popup', 'open');
                $('#lblconsigneeLocation').attr('popup', '');
                showLocationEntry();
            }
            if (event.code == 'KeyN' && (event.altKey)) {
                $('#lblconsignorLocation').attr('popup', '');
                $('#lblconsigneeLocation').attr('popup', 'open');
                showLocationEntry();
            }
        });
        $('#lblcustomer').click(function () {
            showcustomerentry();
        })
        $('#lblconsignorLocation').click(function () {
            $('#lblconsignorLocation').attr('popup', 'open');
            $('#lblconsigneeLocation').attr('popup', '');
            showLocationEntry();
        })

        $('#lblconsigneeLocation').click(function () {
            $('#lblconsignorLocation').attr('popup', '');
            $('#lblconsigneeLocation').attr('popup', 'open');
            showLocationEntry();
        })
         
    });

</script>
<script type="text/javascript">
    function noaction() {
        alert("Page under development!");
    }


     function setTwoNumberDecimal(obj) {

         $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
         CalculateTax();
    }
    function setThreeNumberDecimal(obj) {

        if ($(obj).val() == '') {
            $(obj).val(0);
        }
        else {
            $(obj).val(parseFloat($(obj).val()).toFixed(3));
        }

}
    function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
    }
    function isNumberKey1(evt)
       {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
          //if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          if (charCode!=8 && charCode!=0 && (charCode < 48 || charCode > 57))
             return false;

          return true;
    }
     

    function ShowOtherChargesModal() {
        $('#OtherChargesModal').modal('show');
    }
    function ShowStatusModal() {

          $.ajax({
            type: "POST",
            url: "/AWB/GetActiveStatus",
            datatype: "Json",
            data: { 'InScanID': $('#InScanID').val() },
            success: function (response) {
                var _detail = response.data;
                //$('#ChangeStatusTypeId').val(0).tigger('change');
                $('#ChangeStatusTypeId').val(_detail.StatusTypeID).trigger('change');
                //if (_detail.CourierStatusID != null)
                //$('#ChangeCourierStatusId').val(_detail.CourierStatusID);

                 $('#StatusModal').modal('show');

            }
        });

    }

   
     
    

    $(document).ready(function () {
       
        $("#AWBNo").focus();
         
        $('#MovementID').change(function () {
            var materialcost = 0;

            if (@ViewBag.EditMode== true) {
                materialcost = $('#Materialcost').val();
                if (materialcost == '')
                    materialcost = 0;
                if (parseFloat(materialcost) > 0) {
                    $('#Materialcost').removeAttr('Disabled');
                }
                return;
            }
            else {
                var movetype = $('#MovementID option:selected').text();

                if (movetype == 'Domestic' || movetype == 'Export') {
                    $('#Materialcost').removeAttr('Disabled');
                }
                else {
                    $('#Materialcost').val(0);
                    $('#Materialcost').attr('Disabled', 'disabled');
                }
            }

        });

        $('#Weight').change(function () {

            var weightval = parseFloat($('#Weight').val());
            if (weightval > 30 && $('#ParcelTypeID').val() != 4) {
                if ($('#ParcelTypeID').val() == 0) {
                    $('#ParcelTypeID').val(4);
                }
                else {
                    $('#ParcelTypeID').val(4);
                    //alert('Weight is only less than 30kg to this parcel type!');
                }
            }
            else if (weightval <= 30 && $('#ParcelTypeID').val() !=3) {
                $('#ParcelTypeID').val(3);
                //alert('Weight should be above than 30kg to this selcted parceltype!');
            }
        });
              
        $('#ChangeStatusTypeId').change(function () {

            var pcourierstatusid = $('#CourierStatusId').val();
            if (pcourierstatusid == null)
                pcourierstatusid = 0;

            $.ajax({
                type: "POST",
                url: "/AWB/GetStatus",
                datatype: "Json",
                data: { 'StatusTypeId' : $('#ChangeStatusTypeId').val() },
                success: function (response) {

                    //$('#CourierStatusId').select2("destroy");
                     //$("#ChangeCourierStatusId").select2('destroy');
                     $('#ChangeCourierStatusId').html('');
                    var opthtml = '<option value="0">Select</option>';
                    $(response.data).each(function (index, item) {
                        if (item.id == pcourierstatusid && pcourierstatusid!=0) {
                               opthtml += '<option  value="' + item.id + '">' + item.text + '</option>';
                        }
                        else {
                            opthtml += '<option value="' + item.id + '">' + item.text + '</option>';
                        }
                    });
                    $('#ChangeCourierStatusId').html(opthtml);
                    $('#ChangeCourierStatusId').val($('#CourierStatusId').val()).trigger('change');

                    //$('#CourierStatusId').val(response.data[2].id);
                  //  $('#ChangeCourierStatusId').select2();
                    //$('#CourierStatusId').val("2").trigger('change');
                    //$('#CourierStatusId').select2('data', response.data[2]);
                    //$('#CourierStatusId').val('2').text(response.data[2].text);


                    // $('#ChangeCourierStatusId').select2({
                    //        width: '100%',
                    //        allowClear: true,
                    //        multiple: false,
                    //        placeholder: "Select Status"
                    //        });

                    }
               });
           });
        $('#btnsavestatus').click(function () {

             var statusobj = {
                InScanID: $('#InScanID').val(),
                StatusTypeID: $('#ChangeStatusTypeId').val(),
                CourierStatusID: $('#ChangeCourierStatusId').val(),
                CourierStatusText: '' //$("#ChangeCourierStatusId option:selected").text()
            };

             $.ajax({
                type: "POST",
                url: "/AWB/SaveStatus",
                datatype: "Json",
                data: statusobj,
                success: function (response) {

                    if (response.status == "ok")
                    {
                        var statustype = $("#ChangeStatusTypeId option:selected").text();
                        var statustext = $("#ChangeCourierStatusId option:selected").text();
                        $('#StatusTypeId').val($('#ChangeStatusTypeId').val());
                        $('#CourierStatusId').val($('#ChangeCourierStatusId').val());
                        $('#h4statustype').html(statustype);
                        $('#h4courierstatus').html(response.statustext);
                        $.notify("Status Updated Successfully!", "success");
                    }
                    else
                    {
                       $.notify("Save Failed :" + data, "warning");
                    }

                    $('#StatusModal').modal('hide');

                }
            });


        });

        $("#HAWBNo").keyup(function () {
            $('#h2awb').html('<strong>' + $('#HAWBNo').val() + '</strong>');
        });
        document.addEventListener('keydown', function (event) {
            if (event.code == 'KeyS' && (event.altKey)) { //ADD AWB
                 $("#btnsave").trigger('click');
            }
        });       
               

      

      
        @*var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

            $('#TransactionDate').datepicker({
                maxDate:ed,
                minDate: sd,
                dateFormat: 'dd-mm-yy',
            });*@

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth()+1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();


       
        

        if (@ViewBag.EditMode== true) {

                    

            
           
            $('#PaymentModeId').focus();
        }
        else {
            

        if ( $('#InScanID').val() == "0" || $('#InScanID').val() == 0 || $('#InScanID').val() == null) {
            $('#divsetting').addClass('hide');
            $('#AWBNo').focus();
        }

    }


    });
</script>
<script>
    
    $(document).ready(function () {            

        $("#CargoDescription").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AWBBatch/GetTypeofGoods',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.TypeOfGood1,
                                value: val.TypeOfGood1

                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#CargoDescription').val(ui.item.value);

            },
            select: function (e, i) {
                e.preventDefault();
                $('#CargoDescription').val(i.item.value);
            }
        });
 
        //$('#ProductTypeID').change(function () {
        //    getCourierCharge();
        //});
        $('#PaymentModeId').change(function () {
            if ($('#PaymentModeId').attr('readonly') == 'readonly') {
                $('#PaymentModeId').val($('#PaymentModeId').attr('paymentid'));
            }
            //else
            //    getCourierCharge();
        });
        //$('#Weight').change(function () {
        //    getCourierCharge();
        //});
        $('#ConsignorCountryName').change(function () {
            if ($('#ConsignorCountryName').val() != $('#BranchCountry').val()) {
                $('#MovementID').val(3).trigger('change');
            }
            else if ($('#ConsigneeCityName').val() == $('#BranchCity').val()) {
                $('#MovementID').val(1).trigger('change');
            }
            else if ($('#ConsigneeCityName').val() != $('#BranchCity').val()) {
                $('#MovementID').val(2).trigger('change');
            }
            //getCourierCharge();

        });                

        $('#ConsignorLocationName').change(function () {
            if ($('#ConsignorCountryName').val() != $('#BranchCountry').val()) {
                $('#MovementID').val(3).trigger('change');
            }            
        });



    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ConsignorCountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {

                $('#ConsignorCountryName').val(ui.item.label);
                $('#ConsignorCountryName').attr('label',ui.item.label);
              
                //$('#LocationName1').attr('placeid', ui.item.value);
                //$('#PLACEID1').val(ui.item.value)

            },
            focus: function (event, ui) {
                event.preventDefault();
                $('#ConsignorCountryName').val(ui.item.label);
                $('#ConsignorCountryName').attr('label', ui.item.label);
                

            }
          });
        $('#ConsignorCityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country:val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#ConsignorCityName').val(ui.item.label);
                $('#ConsignorCityName').attr('label', ui.item.label);
                  $('#ConsignorCountryName').val(ui.item.Country);
                //  $('#PickupLocation').val(ui.item.Country);

            },
            focus: function (event, ui) {
                $('#ConsignorCityName').val(ui.item.label);
                $('#ConsignorCityName').attr('label', ui.item.label);
                $('#ConsignorCountryName').val(ui.item.Country);
              //  $('#PickupLocation').val(ui.item.Country);

            }
          });


        @*$('#ConsignorLocationName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#ConsignorLocationName').val(ui.item.label);
                $('#ConsignorLocationName').attr('label', ui.item.label);
                    $('#ConsignorCityName').val(ui.item.City);
                    $('#ConsignorCountryName').val(ui.item.Country);
                    
                return false;
            },
                focus: function (event, ui) {
                    $('#ConsignorLocationName').val(ui.item.label);
                    $('#ConsignorLocationName').attr('label', ui.item.label);
                    $('#ConsignorCityName').val(ui.item.City);
                    $('#ConsignorCountryName').val(ui.item.Country);
                    
                return false;
            }
          });*@


        $('#ConsigneeCountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    },
                    error: function (x, y, z) {
                        alert('error');
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#ConsigneeCountryName').val(ui.item.label);
                $('#ConsigneeCountryName').attr('label',ui.item.label);
                 
                return false;
            },
            focus: function (event, ui) {
                $('#ConsigneeCountryName').val(ui.item.label);
                $('#ConsigneeCountryName').attr('label', ui.item.label);
                
                return false;
            }
          });
        $('#ConsigneeCityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: {
                        SearchText: request.term
                    },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country:val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#ConsigneeCityName').val(ui.item.label);
                $('#ConsigneeCityName').attr('label',ui.item.label);
                  $('#ConsigneeCountryName').val(ui.item.Country);
                
                return false;
            },
            focus: function (event, ui) {
                $('#ConsigneeCityName').val(ui.item.label);
                $('#ConsigneeCityName').attr('label', ui.item.label);
                $('#ConsigneeCountryName').val(ui.item.Country);
            

                return false;
            }
          });


        @*$('#ConsigneeLocationName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                success: function (data) {
                response($.map(data, function (val, item) {
                    return {
                        label: val.Location,
                        value: val.Location,
                        City: val.CityName,
                        Country: val.CountryName
                    }
                }))
            }
            })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#ConsigneeLocationName').val(ui.item.label);
                $('#ConsigneeLocationName').attr('label',ui.item.label);
                    $('#ConsigneeCityName').val(ui.item.City);
                    $('#ConsigneeCountryName').val(ui.item.Country);
                    $('#DeliveryLocation').val(ui.item.Country);
                return false;
            },
                focus: function (event, ui) {
                    $('#ConsigneeLocationName').val(ui.item.label);
                    $('#ConsigneeLocationName').attr('label', ui.item.label);
                    $('#ConsigneeCityName').val(ui.item.City);
                    $('#ConsigneeCountryName').val(ui.item.Country);
                    $('#DeliveryLocation').val(ui.item.Country);

                return false;
            }
          });
        $('#ConsignorLocationName').change(function () {

            if ($('#ConsignorLocationName').val() != '') {
                if ($('#ConsignorLocationName').val().trim().toLowerCase() != $('#ConsignorLocationName').attr('label').trim().toLowerCase()) {
                    $('#ConsignorLocationName').val('');
                    $('#ConsignorCityName').val('');
                    $('#ConsignorCountryName').val('');
                    $('#ConsignorLocationName').attr('label', '');
                    $('#ConsignorLocationName').focus();
                }
                else {
                    getMovementType();
                }
            }
        });*@

        $('#ConsignorCountryName').change(function () {
            if ($('#ConsignorCountryName').val() != '') {
                if ($('#ConsignorCountryName').val().trim().toLowerCase() != $('#ConsignorCountryName').attr('label').trim().toLowerCase()) {
                    $('#ConsignorCountryName').val('');
                    $('#ConsignorCountryName').attr('label', '');
                    $('#ConsignorCountryName').focus();
                }
                else {
                    getMovementType();
                }
            }
        });

        $('#ConsignorCityName').change(function () {
            if ($('#ConsignorCityName').val() != '') {
                if ($('#ConsignorCityName').val().trim().toLowerCase() != $('#ConsignorCityName').attr('label').trim().toLowerCase()) {
                    $('#ConsignorCityName').val('');
                    $('#ConsignorCountryName').val('');
                    $('#ConsignorCityName').attr('label', '');
                    $('#ConsignorCityName').focus();
                }
                else {
                    getMovementType();
                }
            }
        });
        //$('#ConsigneeLocationName').change(function () {
        //    if ($('#ConsigneeLocationName').val() != '') {
        //        if ($('#ConsigneeLocationName').val().trim().toLowerCase() != $('#ConsigneeLocationName').attr('label').trim().toLowerCase()) {
        //            $('#ConsigneeLocationName').val('');
        //            $('#ConsigneeCountryName').val('');
        //            $('#ConsigneeCityName').val('');
        //            $('#ConsigneeLocationName').attr('label', '');
        //            $('#ConsigneeLocationName').focus();
        //        }
        //        else {
        //            getMovementType();
        //        }
        //    }
        //});

        $('#ConsigneeCountryName').change(function () {
            if ($('#ConsigneeCountryName').val() != '') {
                if ($('#ConsigneeCountryName').val().trim().toLowerCase() != $('#ConsigneeCountryName').attr('label').trim().toLowerCase()) {
                    $('#ConsigneeCountryName').val('');
                    $('#ConsigneeCountryName').attr('label', '');
                    $('#ConsigneeCountryName').focus();
                }
                else {
                    getMovementType();
                }
            }
        });

        $('#ConsigneeCityName').change(function () {
            if ($('#ConsigneeCityName').val() != '') {
                if ($('#ConsigneeCityName').val().trim().toLowerCase() != $('#ConsigneeCityName').attr('label').trim().toLowerCase()) {
                    $('#ConsigneeCityName').val('');
                    $('#ConsigneeCountryName').val('');
                    $('#ConsigneeCityName').attr('label', '');
                    $('#ConsigneeCityName').focus();
                }
                else {
                    getMovementType();
                }
            }
        });
     
        
   
        
        $('#ShipmentModeID').change(function () {
            $.ajax({
                type: "POST",
                url: "/AWB/GetMaxAWBNo",
                datatype: "Json",
                data: {
                    ShipmentModeID: $('#ShipmentModeID').val() },
                success: function (data) {
                    $("#HAWBNo").val(data);
                }
            });
        })
        $("#AWBAutoGenerated").click(function () {
            if ($("#AWBAutoGenerated").is(':checked')) {
                $('#HAWBNo').attr('readonly', 'readonly');
                $.ajax({
                    type: "POST",
                    url: "/AWB/GetMaxAWBNo",
                    datatype: "Json",
                    data: {
                        ShipmentModeID: $('#ShipmentModeID').val()
                    },
                    success: function (data) {
                        $("#HAWBNo").val(data);
                    }
                });
            }
            else {

                $('#HAWBNo').removeAttr('readonly');
                $('#HAWBNo').val('');
                $('#HAWBNo').focus();
            }
        });

        $("#Pieces").keypress(function (e) {
            return RestrictSpaceSpecial1(e);
        })
        $("#Pieces").change(function () {
            var x = $(this);
            var str = $(this).val().trim();
            if (str != '' && str != null) {
                $(this).val($(this).val().trim());
                str = $(this).val();
                //console.log(str);
                $(this).val(parseFloat(str).toFixed(0));
            }
            else {
                $(this).val(parseFloat(0).toFixed(0));
            }

        });
        $("#Weight").keypress(function (e) {
            return RestrictSpaceSpecial(e);
        })
        $("#Weight").change(function () {
            var x = $(this);
            var str = $(this).val().trim();
            if (str != '' && str != null) {
                $(this).val($(this).val().trim());
                str = $(this).val();
                //console.log(str);
                $(this).val(parseFloat(str).toFixed(3));
            }
            else {
                $(this).val(parseFloat(0).toFixed(3));
            }

        });
    });

</script>




@using (Html.BeginForm("AWBEntry", "AgentShipment", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate", @id = "quickAWB" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "needs-validation" })
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-4">
                    <label class="col-form-label">Airway Bill Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date" name="TransactionDate" id="TransactionDate" value=@Model.AWBDate.ToString() autocomplete="off">
                            <button type="button"
                                    class="btn btn-secondary docs-datepicker-trigger"
                                    disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                    <div class="invalid-feedback">
                        AWB Date Required
                    </div>


                </div>
                <div class="col-md-4">
                    <input type="hidden" id="hdnCustomerType" value="0" />
                    @Html.HiddenFor(model => model.ShipmentID)
                    @Html.HiddenFor(model => model.BranchID)
                    @Html.HiddenFor(model => model.CourierStatusID)
                    @Html.HiddenFor(model => model.StatusTypeId)
                    @Html.HiddenFor(model => model.CustomerID)
                    @Html.HiddenFor(model => model.PaymentModeId)
                    @Html.HiddenFor(model => model.CourierCharge)
                    @Html.HiddenFor(model => model.OtherCharge)
                    
                    @Html.HiddenFor(model => model.Currency)
                    @Html.HiddenFor(model => model.CustomerRateID)
                    @Html.HiddenFor(model => model.EntrySource)
                    @Html.HiddenFor(model => model.BagNo)
                    <input type="hidden" id="txtAWBProcessed" value="" required />


                    <label class="col-form-label">Airway Bill No.</label>
                    @if (@Model.ShipmentID == 0)
                    {@Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control txttargetcaps", @required = "true", @maxlength = 20 }) }

                else
                {
                    @Html.TextBoxFor(model => model.AWBNo, new { @class = "form-control txttargetcaps", @Disabled = "disabled" })
                }
                    <div class="invalid-feedback">
                        AWB No. Required
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="mb-2">
                        <label class="col-form-label">Cargo Description</label>
                        @Html.HiddenFor(model => model.BranchLocation)
                        @Html.HiddenFor(model => model.BranchCity)
                        @Html.HiddenFor(model => model.BranchCountry)

                        @Html.TextBoxFor(model => model.CargoDescription, new { @class = "form-control txttarget", @autocomplete = "off" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="card-title mb-3 mt-2">Consignor/Shipper Details</h3><hr />
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Name</label>
                                @Html.TextBoxFor(model => model.Consignor, new { @class = "form-select txttarget", @autocomplete = "off", @type = "search", @required = "true", @style = "", @placeholder = "Consignor Name" })
                                <div class="invalid-feedback">
                                    Enter Consignor Name
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Contact Name</label>
                                @Html.TextBoxFor(model => model.ConsignorContact, new { @class = "form-control txttarget", @autocomplete = "off", @type = "search", @style = "", @placeholder = "Contact Name" })
                                <div class="invalid-feedback">
                                    Enter Consignor Contact Name
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Telephone No.</label>
                                @Html.TextBoxFor(model => model.ConsignorPhone, new { @class = "form-control text-right", @placeholder = "Telephone" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Mobile No.</label>
                                @Html.TextBoxFor(model => model.ConsignorMobileNo, new { @class = "form-control text-right", @placeholder = "Mobile No." })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Flat/building</label>
                                @Html.TextBoxFor(model => model.ConsignorAddress1_Building, new { @class = "form-control txttarget", @placeholder = "Flat/Building" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Area</label>
                                @Html.TextBoxFor(model => model.ConsignorAddress2_Street, new { @class = "form-control txttarget", @placeholder = "Street" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">PinCode</label>
                                @Html.TextBoxFor(model => model.ConsignorAddress3_PinCode, new { @class = "form-control txttarget", @placeholder = "PinCode" })
                            </div>
                        </div>




                        <div class="col-md-6">
                            <div class="mb-2">

                                <label class="col-form-label text-lightblue">Origin Location</label>
                                @Html.TextBoxFor(model => model.ConsignorLocationName, new { @class = "form-select txttarget autocomplete", @placeholder = "Location", @label = "" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">

                                <div class="flex">
                                    <div class="input-group">
                                        <label class="col-form-label text-lightblue">City<span class="red">(Alt+N)</span></label>
                                        <div class="input-group-sm mt-16 masterplus " id="lblconsigneeLocation">
                                            <i class="mdi mdi-dots-horizontal" aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.ConsignorCityName, new { @class = "form-select txttarget", @required = "true", @placeholder = "Origin City" })
                                <div class="invalid-feedback">
                                    Select Origin City
                                </div>
                                @*<input class="form-control" id="ConsignorCityName" name="ConsignorCityName" type="text" readonly />*@
                                @*@Html.DropDownListFor(model => model.origincity, new SelectList(@ViewBag.City, "CityID", "City"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Country</label>
                                @Html.TextBoxFor(model => model.ConsignorCountryName, new { @class = "form-select txttarget", @required = "true", @label = "", @placeholder = "Origin Country" })
                                <div class="invalid-feedback">
                                    Select Origin Country
                                </div>
                                @*<input class="form-control" id="ConsignorCountryName" name="ConsignorCountryName" type="text" readonly />*@
                                @*@Html.DropDownListFor(model => model.origincountry, new SelectList(@ViewBag.Country, "CountryID", "CountryName"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3 class="card-title mb-3 mt-2">Receiver/Consignee Details</h3><hr />
                    </div>
                    <div class="row">
                        <div class="col-md-12  mb-2">
                            <div class="flexTitle">
                                <label class="col-form-label text-lightpink">Name</label>
                                <div class="checkboxdesign no-padding text-right" style="float:right">
                                    @Html.CheckBox("ShowAllConsignee", new { @name = "ShowAllConsignee", @style = "margin-bottom:5px;margin-right: 0px !important;" }) &nbsp
                                    <label class="col-form-label" style="color:#07a7e3!important;padding-left: 0!important">All</label>
                                </div>
                            </div>
                            @Html.TextBoxFor(model => model.Consignee, new { @class = "form-control txttarget", @autocomplete = "off", @type = "search", @required = "true", @placeholder = "Consignee Name" })
                            <div class="invalid-feedback">
                                Consignee Name Required
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label text-lightblue">Contact Name</label>
                                @Html.TextBoxFor(model => model.ConsigneeContact, new { @class = "form-control txttarget", @autocomplete = "off", @type = "search", @style = "", @placeholder = "Consignee Contact" })
                                <div class="invalid-feedback">
                                    Enter Consignee Contact Name
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Telephone No.</label>
                                @Html.TextBoxFor(model => model.ConsigneePhone, new { @class = "form-control text-right", @placeholder = "Phone No." })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Mobile No.</label>
                                @Html.TextBoxFor(model => model.ConsigneeMobileNo, new { @class = "form-control text-right", @placeholder = "Mobile No." })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Flat/building</label>
                                @Html.TextBoxFor(model => model.ConsigneeAddress1_Building, new { @class = "form-control txttarget", @placeholder = "Flat /Building" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Area</label>
                                @Html.TextBoxFor(model => model.ConsigneeAddress2_Street, new { @class = "form-control txttarget", @placeholder = "Area / Land Mark" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">PinCode</label>
                                @Html.TextBoxFor(model => model.ConsigneeAddress3_PinCode, new { @class = "form-control txttarget", @placeholder = "PinCode" })
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Location</label>
                                @Html.TextBoxFor(model => model.ConsigneeLocationName, new { @class = "form-select txttarget autocomplete", @label = "", @placeholder = "Location" })

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-2">
                                <div class="flex">
                                    <div class="input-group">
                                        <label class="col-form-label text-lightpink">City<span class="red">(Alt+N)</span></label>
                                        <div class="input-group-sm mt-16 masterplus " id="lblconsigneeLocation">
                                            <i class="mdi mdi-dots-horizontal" aria-hidden="true"></i>
                                        </div>

                                        <div class="invalid-feedback">
                                            Select Destination City
                                        </div>
                                    </div>
                                </div>
                                @Html.TextBoxFor(model => model.ConsigneeCityName, new { @class = "form-select txttarget", @required = "true", @label = "", @placeholder = "Destination City" })
                                @*<input class="form-control" id="ConsigneeCityName" name="CityName" type="text" onFocus="geoCitylocate()" />*@
                                @*@Html.DropDownListFor(model => model.destinationCity, new SelectList(@ViewBag.City, "CityID", "City"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="col-form-label text-lightpink">Country</label>
                                @Html.TextBoxFor(model => model.ConsigneeCountryName, new { @class = "form-select txttarget", @required = "true", @label = "", @placeholder = "Destination Country" })
                                <div class="invalid-feedback">
                                    Select Destination Country
                                </div>
                                @*<input class="form-control" id="ConsigneeCountryName" name="ConsigneeCountryName" type="text" onFocus="geoCountrylocate()" />*@
                                @*@Html.DropDownListFor(model => model.destinationCountry, new SelectList(@ViewBag.Country, "CountryID", "CountryName"), "Select", new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3 class="card-title mb-3 mt-2">Shipment Details</h3><hr />
                    </div>

                    <div class="row">


                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Pieces</label>
                                @Html.TextBoxFor(model => model.Pieces, new { @class = "form-control textright", @onkeypress = "return isNumberKey1(event)", @required = "true", @maxlength = 13 })
                                <div class="invalid-feedback">
                                    Enter Pieces
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Weight</label>
                                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control textright3", @onkeypress = "return isNumberKey(event)", @onchange = "setThreeNumberDecimal(this)", @required = "true", @minimum = 0.1 })
                                <div class="invalid-feedback">
                                    Enter Pieces
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Movement Type</label>
                                @Html.DropDownListFor(model => model.MovementID, new SelectList(@ViewBag.Movement, "MovementID", "MovementType"), "Select", new { @class = "form-select", @required = "true" })
                                <div class="invalid-feedback">
                                    Movement Type Required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Product Type</label>
                                @Html.DropDownListFor(model => model.ProductTypeID, new SelectList(@ViewBag.ProductType, "ProductTypeID", "ProductName"), "Select", new { @class = "form-select", @required = "true" })
                                <div class="invalid-feedback">
                                    Product Type Required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Parcel Type</label>
                                @Html.DropDownListFor(model => model.ParcelTypeID, new SelectList(@ViewBag.parceltype, "ID", "ParcelType1"), "Select", new { @class = "form-select", @required = "true" })
                                <div class="invalid-feedback">
                                    Parcel Type Required
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label">Mat.Cost</label>
                                @Html.TextBoxFor(model => model.MaterialCost, new { @class = "form-control txtright textright", @onkeypress = "return isNumberKey(event)", @onchange = "setTwoNumberDecimal(this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label required">Currency</label>
                                @Html.DropDownListFor(model => model.CurrencyID, new SelectList(@ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select", new { @class = "form-select", @required = "required" })
                                <div class="invalid-feedback">
                                    Currency Required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label">Customs Value</label>
                                @Html.TextBoxFor(model => model.CustomsValue, new { @class = "form-control txtright textright", @onkeypress = "return isNumberKey(event)", @onchange = "setTwoNumberDecimal(this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="col-form-label">Remarks</label>
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control txttarget" })
                            </div>
                        </div>

                        <div class="col-md-4 mt-5 text-right">
                            <div class="mb-2">
                                <a id="btnClear" class="btn btn-warning  btnwidth">Clear</a>
                                <button type="submit" id="btnAdd" entrymode="Add" entryindex="-1" class="btn btn-success  btnwidth pull-right">Add</button>

                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
        </div>
           









}








<div class="modal fade" id="customerpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:5px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Customer Entry
                </h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="customerContainer">

                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <button type="button" class="btn btn-primary" onclick="SaveCustomerEntry()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Locationpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:5px">

            <div class="modal-header">
                <h4 class="modal-title">
                    Location Entry
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <div class="container-fluid" id="LocationContainer">

                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <button type="button" class="btn btn-success" onclick="SaveLocationEntry()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddImportAWBpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:5px">

            <div class="modal-header">
                <h4 class="modal-title">
                    Import Shipment Reference
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <div class="container-fluid" id="ImportAWBContainer">
                    <div class="row">
                        <div class="col-md-4">
                            <lable>Import AWB Reference </lable>
                            <input type="hidden" id="txtImportInscanID" value="" class="form-control" />
                            <input type="text" id="txtImportAWBNo" value="" class="form-control" />
                        </div>
                        <div class="col-md-2" style="padding-top:0px">
                            <button type="button" class="btn btn-primary" style="margin-top:17px!important" onclick="CheckImportAWBReference()">Search</button>
                        </div>
                        <div class="col-md-6">
                            <lable>AWB Date</lable>
                            <input type="text" id="txtImportAWBDate" value="" class="form-control" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <lable>Consignor</lable>
                            <input type="text" id="txtImportAWBConsignor" value="" class="form-control" readonly />
                        </div>
                        <div class="col-md-6">
                            <lable>Consignee</lable>
                            <input type="text" id="txtImportAWBConsignee" value="" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <lable>Consignor Country</lable>
                            <input type="text" id="txtImportAWBConsignorCountry" value="" class="form-control" readonly />
                        </div>
                        <div class="col-md-6">
                            <lable>Consignee Country</lable>
                            <input type="text" id="txtImportAWBConsigneeCountry" value="" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-top: 5px">
                <button type="button" class="btn btn-warning " style="float:left;margin-left:15px;" onclick="RemoveImportAWBReference()">Remove</button>
                <button type="button" class="btn btn-primary" onclick="SaveImportAWBReference()">Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



  
<script>
    function RestrictSpaceSpecial1(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        console.log(e.keyCode);
        if ((k >= 48 && k <= 57))
            return true;
        else
            return false;
        //return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
    function RestrictSpaceSpecial(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        //console.log(e.keyCode);
        if ((k >= 48 && k <= 57) || k == 46)
            return true;
        else
            return false;
        //return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
    
</script>


 

<script type="text/javascript">

    $(document).ready(function () {
        //$('#TransactionDate').datetimepicker({
        //    // dateFormat: 'dd-mm-yy',
        //    format: 'DD/MM/YYYY HH:mm:ss',
        //    minDate: getFormattedDate(new Date())
        //});

        $('.txtNum').blur(function () {
            if (isNaN(parseInt($(this).val()))) {
                $(this).val('0.00');
            } else {
                var amt = parseFloat($(this).val());
                $(this).val(amt.toFixed(2));
            }
        });


    });
    function getFormattedDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear().toString().slice(2);
        return day + '-' + month + '-' + year;
    }
    function ClearData() {
        $("#ReceivedFrom").val('');
        $("#SelectedReceivedFrom").val(0);
        $("#amount").val('');
        $("#remark1").val('');
        $("#AcHeadAllocation").val('');
        $("#SelectedAcHeadAllocation").val(0);
        $("#ExpAmount").val('');
        $("#ExpAllocationTable").find("tr:gt(0)").remove();
    }
</script>
