@model Net4Courier.Models.AWBBatchSearch

@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Outbound AWB Batch";
    ViewBag.pageTitle = "Outbound AWB Batch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/AgentShipment/BatchIndex";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
 
<style>
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);


        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style=width:100% />');
        });


        var table = $('#dataTables-example').DataTable({ "aaSorting": [], "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>





@using (Html.BeginForm("BatchIndex", "AgentShipment", FormMethod.Post, new { @id = "booksearch" }))
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">From Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate.ToShortDateString()"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="headinglabel">AWB No.</label>
                        @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top">
                            <i class="bx bx-search mt-1" style="font-size: 21px;"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-md-end">
                    <div class="mb-2">
                        <input type="button" value="Download Template" class="btn btn-success btn_top" onclick="window.location.href='/Template/InboundShipmentTemplate.csv'">
                        @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || !isadd)
                        {
                            <a disabled class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/AgentShipment/BatchCreate" title="Create Not allowed in the previous financial year"><i class="mdi mdi-plus me-1"></i> New AWBBatch</a>
                        }
                        else
                        {
                            <a class="btn btn-primary waves-effect waves-light  btn_top text-md-end" href="/AgentShipment/BatchCreate"><i class="mdi mdi-plus me-1"></i> New AWBBatch</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">
      


        <table class="table table-bordered" id="datatable">
            <thead class="table-light">
                <tr>
                    <th>
                        Batch No
                    </th>
                    <th>
                        Batch Date
                    </th>
                    <th>
                        Total AWB
                    </th>
                   <th>Audit Log</th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model.Details)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNumber)
            </td>
            <td class="text-right">
                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(@item.BatchDate)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TotalAWB)
            </td>

            <td>
                <div>
                    <span class="text_over1" style="color:blue;font-size:11px;" title="Created Detail">@Html.DisplayFor(modelItem => item.CreatedDate) - @Html.DisplayFor(modelItem => item.CreatedByName) </span>
                    <br />
                    <span class="text_over1" style="color:red;font-size:11px;" title="Modified Detail">@Html.DisplayFor(modelItem => item.ModifiedDate) - @Html.DisplayFor(modelItem => item.ModifiedByName)</span>
                </div>
            </td>
            <td>
                <div class="d-flex gap-3">
                    <a href="@Url.Action("BatchCreate", new { id = item.ID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                    @if (isprint)
                    {
                        <a target="_blank" class="text-secondary" href="@Url.Action("Details", "AgentShipment", new { id = item.ID })"><i class="mdi mdi-printer font-size-18"></i></a>
                    }
                    @if (isdelete)
                    {
                        <a href="#" class="text-danger" onclick="Delete(ID=@item.ID)"><i class="mdi mdi-delete font-size-18"></i></a>
                    }
                </div>
            </td>

        </tr>
            }
        </table>
    </div>
</div>
    

<script type="text/javascript">
        function Delete(ID) {
            if (confirm("Are you sure, You want to Delete AWB Batch?")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteAWB", "AWBBatch")',
                    datatype: "html",
                    data: {
                        BatchId: ID, InscanId: 0
                    },
                    success: function (response) {
                        if (response.Status == "OK") {
                            $.notify(response.Message, "success");
                            window.location.reload();
                        }
                        else {
                            $.notify(response.Message, "error");

                        }
                    }
                });
            }
        }
</script>
