@model Net4Courier.Models.ImportShipment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>S_ImportShipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManifestNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManifestNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsignorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsignorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsigneeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsigneeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAWB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAWB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAWB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAWB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CityMaster.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CityMaster.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CityMaster1.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CityMaster1.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CityMaster2.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CityMaster2.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CountryMaster.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CountryMaster.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CountryMaster1.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CountryMaster1.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_ForwardingAgentLogin.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_ForwardingAgentLogin.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_ForwardingAgentLogin1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_ForwardingAgentLogin1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_ForwardingAgentMaster.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_ForwardingAgentMaster.AgentName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
