@model Net4Courier.Models.CustomerInvoiceVM

@{
    ViewBag.Title = "Print";
    ViewBag.pTitle = "Customer Invoice";
    ViewBag.pageTitle = "Account Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
 

<script type="text/javascript">

    function ExportExcelNew() {

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();
        //$('#CustomerInvoiceNo').val();
        var reqdate = $('#CustomerName').val() + "_" + curr_date.toString() + curr_month.toString() + curr_year.toString();// + '_' + d.getHours() + d.getMinutes();
        $("#divreportNew").table2excel({
            filename: "Invoice_" + reqdate + ".xls"
        });
    }
    function setTwoNumberDecimal(obj) {
        if ($(obj).val() == null || $(obj).val() == "") {
            $(obj).val(0);
        }
        else {

            $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
        }
    }
    function setThreeNumberDecimal(obj) {

       $(obj).val(parseFloat($(obj).val()).toFixed(3));
}
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });
    //});
</script>
<style>
    .headinglabel {
        text-transform: uppercase;
        font-size: 14px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        setTwoNumberDecimal($('#AdminPer'));
        setTwoNumberDecimal($('#CustomerInvoiceTax'));
        setTwoNumberDecimal($('#FuelPer'));
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

      
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#divreportNew").html());

            //$.ajax({
            //    type: "POST",
            //    url: "/CustomerInvoice/Details",
            //    datatype: "html",
            //    data: { GridHtml: $("#divreportNew").html() },
            //    success: function (response) {
            //        $("#listContainer").html(response);
            //        ValidateTotal();
            //        $(obj).val('');
            //        $(obj).focus();
            //    }
            //});
        });
    });

</script>
<script>
    function printDiv() {
        var divContents = document.getElementById("divreport").innerHTML;
        var a = window.open('', '', 'height=500, width=1500');
        a.document.write('<html>');
        //var title = "Period :" + $('#FromDate').val() + " TO " + $('#ToDate').val()
        a.document.write('<body > <h1>Customer Invoice </h1>');
        //a.document.write('<h1>' + title + '</h1><br/>');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }
</script>


<section class="card">
    <div class="card-body">

        @using (Html.BeginForm("Details", "CustomerInvoice", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" />
            <div class="row " style="padding-top: 10px">

                <div class="col-md-6">

                    <h1 class="card-title">Customer Invoice - View</h1>

                </div>

                <div class="col-md-6 text-md-end">
                    @*<input type="button" value="Print" class="btn btn-primary btnwidth" onclick="printDiv()" />&nbsp;&nbsp;*@
                    <a class="btn btn-success" title="Export to Excel" style="" href="Javascript:void(0)" onclick="ExportExcelNew()"><i class="mdi mdi-file-excel font-size-18"></i></a>
                    @*<input type="submit" id="btnSubmit" value="Export" />*@
                    <a target="_blank" href="InvoicePrint?id=@Model.CustomerInvoiceID" class="btn btn-primary btnwidth">Print</a>
                    @Html.HiddenFor(mode => mode.CustomerName)
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })

                    <input type="hidden" name="GridHtml" />
                </div>
            </div>
        }

        <hr />
        <div id="divreportNew">

            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12" id="listContainer">

                    @{Html.RenderPartial("InvoiceListPrint", Model);}


                </div>
            </div>
        </div>


    </div>
</section>

 
@section scripts{


    <script src="~/Content/plugins/excel/jquery.table2excel.js"></script>
}