@model Net4Courier.Models.CustomerInvoiceSearch
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();  
    }

@*<thead>
    <tr>
        <th>
            Invoice No.
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Customer Name
        </th>
        <th>Invoice Amount</th>
        <th width="5%"></th>
    </tr>
</thead>*@
<tbody>
    @foreach (var item in Model.Details)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerInvoiceNo)
            </td>
            <td>                
                @Net4Courier.Models.CommonFunctions.GetShortDateFormat(item.InvoiceDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td style="text-align:right"> @Html.DisplayFor(modelItem => item.TotalAWB)</td>
            <td style="text-align:right">                
                @Net4Courier.Models.CommonFunctions.GetFormatNumber(item.InvoiceTotal, _decimal)

            </td>
            <td>
            <div class="d-flex gap-3">
                @*<a target="_blank" href="ExportShipmentReport?id=@item.CustomerInvoiceID"><i class="fa fa-print"></i></a>*@
                <a class="aprint text-secondary" target="_blank" href="InvoicePrint?id=@item.CustomerInvoiceID" title="Invoice Printing"><i class="mdi mdi-printer font-size-18"></i></a>

                <a class="aview text-primary" target="_blank"  href="Details?id=@item.CustomerInvoiceID"><i class="mdi mdi-eye font-size-18"></i></a>

                <a class="aedit text-success" href="Create?id=@item.CustomerInvoiceID"><i class="mdi mdi-pencil font-size-18"></i></a>

                <a class="adelete text-danger" href="#" onclick="Delete(@item.CustomerInvoiceID)"><i class="mdi mdi-delete font-size-18"></i></a>
                <a class="mt-1" href="#" onclick="ShowReceipt(@item.CustomerInvoiceID,@item.CustomerID)">CR</a>
                </div>
            </td>
        </tr>
    }
</tbody>
<script type="text/javascript">
    
    function Delete(ID) {
            Swal.fire({ title: "Are you sure?", text: "Do you want to delete this?", icon: "warning", showCancelButton: !0, confirmButtonColor: "#34c38f", cancelButtonColor: "#f46a6a", confirmButtonText: "Yes, delete it!" }).then(
                function (t) {
                    if (t.value) {

                        $.ajax({
                            type: "POST",
                           url: "/CustomerInvoice/DeleteConfirmed",
                            datatype: "html",
                            data: {
                                'id': ID
                            },
                            success: function (response) {
                                if (response.status == "OK") {
                                    Swal.fire("Delete Status!", response.message, "success");
                                    window.location.reload();
                                }
                                else {
                                    Swal.fire("Delete Status!", response.message, "error");
                                }
                            }
                        });

                    }
                });

        }
</script>

