@model Net4Courier.Models.tblDepot

@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Depot";
    ViewBag.pageTitle = "Depot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<script type="text/javascript">
    $(document).ready(function () {


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

         $('#CountryName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCountryList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CountryName,
                                value: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#CountryName').val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $('#CountryName').val(ui.item.label);

                return false;
            }
        });
        $('#CityName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCityList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.City,
                                value: val.City,
                                Country: val.CountryName
                            }
                        }))
                    }
                });
            },
            minLength: 1,
            autoFocus: false,
            select: function (event, ui) {
                event.preventDefault();
                $('#CityName').val(ui.item.label);
                $('#CountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#CityName').val(ui.item.label);
                $('#CountryName').val(ui.item.Country);
                return false;
            }
        });


        $('#LocationName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetLocationList", "ZoneChart")",
                    data: { SearchText: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.Location,
                                value: val.Location,
                                City: val.CityName,
                                Country: val.CountryName
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            select: function (e, ui) {
                e.preventDefault();
                $('#LocationName').val(ui.item.label);
                $('#CityName').val(ui.item.City);
                $('#CountryName').val(ui.item.Country);
                return false;
            },
            focus: function (event, ui) {
                $('#LocationName').val(ui.item.label);
                $('#CityName').val(ui.item.City);
                $('#CountryName').val(ui.item.Country);
                return false;
            }
        });
        $("#AgentID").prop("disabled", false);
        $("#IsOwn").click(function () {
            if ($("#IsOwn").is(':checked')) {
                $("#AgentID").prop("disabled", true);
            }
            else {
                $("#AgentID").prop("disabled", false);
            }
        });

        $("#btnsave").click(function () {
            var cou = $("#CountryName").val();
            var cit = $("#CityName").val();
            var dep = $("#Depot").val();


            if (cou == "") {
                $("#validations").show();
                return false;
            }
            else if (cit == "") {
                $("#validations").show();
                return false;
            }
            else if (dep == "") {
                $("#validations").show();
                return false;
            }

            else {
                $("#validations").hide();
                return true;
            }
        });




    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
             <div class="mb-2">
                <label class="col-form-label required">City</label>
                @Html.TextBoxFor(model => model.CityName, new { @class = "form-control", id = "CityName"})
                @Html.ValidationMessageFor(model => model.CityName)

            </div>
            </div>
            <div class="col-md-3">
             <div class="mb-2">
                <label class="col-form-label required">Country</label>
                @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control", id = "CountryName"})                
                @Html.ValidationMessageFor(model => model.CountryName)

            </div>
            </div>



            <div class="col-md-3">
             <div class="mb-2">
                <label class="col-form-label required">Depot</label>
                @Html.TextBoxFor(model => model.Depot, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.Depot)

            </div>
            </div>


            <div class="col-md-3">
             <div class="mb-2">
                <label class="col-form-label">Branch</label>
                @Html.DropDownListFor(model => model.BranchID, new SelectList(@ViewBag.Branch, "BranchID", "BranchName"), "Select", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.BranchID)
            </div>
            </div>

            <div class="col-md-3">
            <div class="mb-2">
                <label class="col-form-label">Agent</label>
                @Html.DropDownListFor(model => model.AgentID, new SelectList(@ViewBag.Agent, "AgentID", "Name"), "Select", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.AgentID)
            </div>
            </div>
            <div class="col-md-3 checkboxdesign btn_top">
            <div class="mb-2 mt-2">
                @Html.CheckBox("IsOwn", new { @name = "IsOwn" }) &nbsp;&nbsp;
                <label class="col-form-label">Is Own</label>
                @Html.ValidationMessageFor(model => model.IsOwn)
            </div>
            </div>

            <div class="col-md-12 text-md-end">
            <div class="mb-2">
                <input type="submit" value="Save" class="btn btn-success" data-toggle="tooltip" title="Click here" id="btnsave" />
                <a href='@Url.Action("Index", "Depot", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="">Cancel</a>
            </div>
            </div>
        </div>
  </div>  </div>
 
    </fieldset>
}

   

@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwJ15dRInM0Vi1IAvv6C4V4vVM5HVnMc&libraries=places&callback=initAutocomplete" async defer></script>*@
