@model Net4Courier.Models.InboundAWBBatchModel
@{
    //ViewBag.Title = "(Co-Loader) Create";
    ViewBag.pTitle = "Batch Shipments";
    ViewBag.pageTitle = "Co-Loader";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/Shipment/BatchCreate";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
}
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-7">
                <h4 class="card-title mb-2 mt-1">Airway Bill Details<span id="h2jobcode" style="color:blue" class="ml-10"></span></h4>
            </div>
            <div class="col-md-5">
                <div class="text-right ">


                    <input type="button" class="btn btn-success  btnwidth" value="Save " name="Command" id="btnSaveBatch" />
                    <a href='@Url.Action("BatchIndex", "Shipment")' class="btn btn-secondary">Cancel</a>

                    <div id="divothermenu" class="btn-group hide">

                        <span class="btn btn-primary"><i class="bx bx-cog bx-spin me-2"></i>Sub Menu</span>
                        <button type="button" class="btn btn-primary dropdown-toggle-split border_right" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="ShowBatchShipmentStatusModal()">Change Status</a>

                        </div>
                    </div>
                    @*<div class="btn-group hide" id="divothermenu1">
                            <span class="btn btn-pink"><i class="mdi mdi-printer font-size-14 me-2"></i>Print</span>
                            <button type="button" class="btn btn-pink dropdown-toggle-split border_right" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu" id="divprintmenu">
                                <a class="dropdown-item" href="/Consignment/ReportPrint?id=0&amp;Option=1">Consignment Note Print</a>
                                <a class="dropdown-item" href="/Print/ConsignmentRegister">Consignment Register</a>
                            </div>
                        </div>*@

                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="row" style="padding-top:0px">
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Batch No.</label>
                    @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.BATCHID, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.CustomerID, new { @class = "form-control", @id = "BatchCustomerID", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.EntrySource, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.DefaultCurrencyId, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Batch Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date" name="BatchDate" id="BatchDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.BatchDate.ToString("dd-MM-yyyy")"
                                   placeholder="Pick a date" autocomplete="off">
                            <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">MAWB</label>

                    @Html.TextBoxFor(model => model.MAWB, new { @class = "form-control txttarget" ,@id="MAWB1" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>

            <div class="col-md-2" id="divcustomer">

                <div class="mb-2">
                    <label class="col-form-label">Co Loader</label>

                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-select txttarget", @required = "true" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>



                </div>
            </div>
            <div class="col-md-2">

                <div class="mb-2">
                    <label class="col-form-label">Status</label>

                    @Html.DropDownListFor(model => model.CourierStatusID, new SelectList(@ViewBag.CourierStatusList, "CourierStatusID", "CourierStatus"), "Select", new { @class = "form-select" })
                    <div class="invalid-feedback">
                        Select Courier Status
                    </div>



                </div>
            </div>
            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Total AWB</label>

                    @Html.TextBoxFor(model => model.TotalAWB, new { @class = "form-control textright3" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Total Weight</label>

                    @Html.TextBoxFor(model => model.TotalWeight, new { @class = "form-control textright3" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Origin Airport</label>

                    @Html.TextBoxFor(model => model.OriginAirportCity, new { @class = "form-select txttarget" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Destination Airport</label>

                    @Html.TextBoxFor(model => model.DestinationAirportCity, new { @class = "form-select txttarget" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="mb-2">

                    <div class="mb-2">
                        <label class="col-form-label">Flight Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date datetimepicker" name="FlightDate" id="FlightDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.FlightDate.ToString("dd-MM-yyyy")"
                                       placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Flight No.</label>

                    @Html.TextBoxFor(model => model.FlightNo, new { @class = "form-control txttarget" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>

            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Bags</label>

                    @Html.TextBoxFor(model => model.Bags, new { @class = "form-control textright0" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Run No.</label>

                    @Html.TextBoxFor(model => model.RunNo, new { @class = "form-control" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-1">
                <div class="mb-2">
                    <label class="col-form-label">Parcel No.</label>

                    @Html.TextBoxFor(model => model.ParcelNo, new { @class = "form-control textright0" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>

                </div>

            </div>
            <div class="col-md-2" style="margin-top:34px">
                <div class="btn-group" id="divothermenu1">
                    <span class="btn btn-pink"><i class="mdi mdi-settings-helper font-size-14 me-2"></i>Tools</span>
                    <button type="button" class="btn btn-pink dropdown-toggle-split border_right" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" id="divprintmenu">
                        <a class="dropdown-item text-warning" id="btnImportAPI" title="Import API" href="javascript:void(0)"><i class="mdi mdi-file-account font-size-21"></i>Download API</a>
                        <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />
                        <a class="dropdown-item text-success" id="btnUpload" title="Upload .CSV File" href="javascript:void(0)"><i class="mdi mdi-file-excel font-size-21"></i>Upload .CSV</a>
                        <a class="dropdown-item text-primary" href="javascript:void(0)" id="btnAutoFixation">Auto Fixation</a>
                        <a class="dropdown-item text-black" href="javascript:void(0)" id="btnFixation">Manual Fixation</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @{Html.RenderPartial("AWBEntry", Model);}
    </div>
    <div class="col-md-7" id="listContainer">
        @{Html.RenderPartial("AWBList", Model);}
    </div>
</div>

@Html.Partial("~/Views/Shared/_AutoFixationModal.cshtml")
@Html.Partial("~/Views/Shared/_LoaderModal.cshtml")

<div class="modal fade" id="StatusModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f5f5f5;">

                <h4 class="modal-title">
                    Change Batch & Shipment Status
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">




                <div class="row" style="margin-top:10px">

                    <div class="col-md-12">
                        <label class="col-form-label">Courier Status</label>
                        @Html.DropDownList("CourierStatusId", new SelectList(@ViewBag.CourierStatusList, "CourierStatusID", "CourierStatus", @ViewBag.CourierStatusId), "Select", new { @class = "form-control", @id = "NewCourierStatusID" })

                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <label class="col-form-label">Entry Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date datetimepicker" name="" id="txtChangeDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Net4Courier.Models.CommonFunctions.GetCurrentDateTime().ToString("dd-MM-yyyy HH:mm")"
                                   placeholder="Pick a date" autocomplete="off">
                            <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label class="col-form-label">Remarks</label>
                        <input type="text" class="form-control" id="txtChangeRemarks" />

                    </div>


                </div>
            </div>



            <div class="modal-footer" style="padding-top: 5px">

                <span class="error text-left" id="spantrackstatuserror"></span>
                <button type="button" class="btn btn-primary" onclick="savetrackstatus()">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/JS/InboundShipmentBatchCreate.js"></script>


}

