@model Net4Courier.Models.InboundAWBBatchModel
@{
    ViewBag.Title = "Create";
    ViewBag.pTitle = "Outbound AWB Batch";
    ViewBag.pageTitle = "Outbound AWB Batch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spath = "/AgentShipment/BatchCreate";// System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var _decimal = @Session["Decimal"].ToString();
}
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-7">
                <h4 class="card-title mb-2 mt-1">Airway Bill Details<span id="h2jobcode" style="color:blue" class="ml-10"></span></h4>
            </div>
            <div class="col-md-5">
                <div class="text-right ">


                    
                    <a href='@Url.Action("BatchIndex", "AgentShipment")' class="btn btn-secondary">Cancel</a>

                    

                </div><!-- /btn-group -->
            </div>
        </div>
        <div class="row" style="padding-top:0px">
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Batch No.</label>
                    @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.BATCHID, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Batch Date</label>
                    <div class="docs-datepicker">
                        <div class="input-group">
                            <input type="text" class="form-control docs-date" name="BatchDate" id="BatchDate"  readonly data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.BatchDate.ToShortDateString()"
                                   placeholder="Pick a date" autocomplete="off">
                            <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                <i class="mdi mdi-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="docs-datepicker-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    <label class="col-form-label">Total AWB</label>
                    @Html.TextBoxFor(model => model.TotalAWB, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-3" id="divcustomer">

                <div class="mb-2">
                    <label class="col-form-label">Customer</label>

                    @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control txttarget", @required = "true", @readonly = "readonly" })
                    <div class="invalid-feedback">
                        Select customer
                    </div>



                </div>
            </div>

            <div class="col-md-3 text-right">
                

            </div>
        </div>
    </div>

</div>
<div class="row">
    
    <div class="col-md-12" id="listContainer">
        @{Html.RenderPartial("AWBListAll", Model);}
    </div>
</div>
 
@section scripts{

    <script src="~/Scripts/JS/AgentShipmentBatchCreate.js"></script>


}

