@model Net4Courier.Models.AcJournalMasterVoucherVM

@{
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
    #DeleteNewRow {
        color: #dd4b39;
    }
    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
    textarea.form-control{
        height:80px!important;
    }
</style>
<script type="text/javascript">
    function deleterow(i) {

        var item = $('#JAmount_' + i);
        $(item).parent().parent().addClass('hide');
        var obj = $(item).parent().parent().find('.hdndeleted');
        $(obj).val(true);
        CalculateTotal();

    }
    function CalculateTotal() {
        debugger;
        var maxrow = $('#tbl1 > tr').length;
        Total = 0;
        var totdebit = 0;
        var totcredit = 0;
        for (i = 0; i < maxrow; i++) {
            var debit= $('#JDebit_' + i).val();
            var credit = $('#JCredit_' + i).val();
            if (debit == '') {
                debit = 0;
            }
          
            if (credit == '') {
                credit = 0;
            }
             
            
            var paytypevalue = $('#Paytype_' + i).val();
            //if (paytypevalue == 0)
            //    itemval = parseFloat(itemval).toFixed(3) * -1;

            var deleteobj = $('#JDebit_' + i).parent().parent().find('.hdndeleted').val();
            if (deleteobj != "true") {
                //Total += parseFloat(itemval).toFixed(3);
                totdebit = parseFloat(totdebit) + parseFloat(debit);
                totcredit = parseFloat(totcredit) + parseFloat(credit);

            }
            $('#txtTotalDebit').val(parseFloat(totdebit).toFixed(@_decimal));
            $('#txtTotalCredit').val(parseFloat(totcredit).toFixed(@_decimal));
        }
        if (parseFloat($('#txtTotalDebit').val()) != parseFloat($('#txtTotalCredit').val()) || maxrow==0)
            $('#btnsave').attr('disabled', 'disabled');
        else if (parseFloat(Total)==0 && maxrow>0)
            $('#btnsave').removeAttr('disabled');
    }

    function GetCurrentDate() {

            var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
            var startdate = '@Session["FyearFrom"].ToString()';
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth() + 1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
            //var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
            return (curr_date + "-" + curr_month + "-" + curr_year);
        }
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        //$(function () {
        //    $('#TransDate').datetimepicker({
        //        maxDate: ed,
        //        minDate: sd,
        //        format: 'DD-MM-YYYY',
        //    });


        //});

       if (@Model.AcJournalID> 0)
        {
            $("#TransDate").attr('readonly', 'readonly');
            setTimeout(function () {
                $.ajax({
                    type: "GET",
                    url: "/Accounts/GetAcJVDetails",
                    datatype: "Json",
                    data: { id: $("#AcJournalID").val() },
                    success: function (data) {

                        $.each(data, function (index, value) {

                            var i = $('#tbl1 tr').length;
                            if (value.AcRemark == null)
                                value.AcRemark = '';
                            $("#tbl1").append('<tr>' + '<td>' + value.AcHead + '<input type="hidden" value=' + value.IsDebit + ' id="Paytype_' + i + '" name="acJournalDetailsList[' + i + '].IsDebit"><input type = "hidden" name = "acJournalDetailsList[' + i + '].IsDeleted" class="hdndeleted" /> <input type="hidden" value=' + value.acHeadID + ' name="acJournalDetailsList[' + i + '].value.acHeadID"><input type="hidden" value=' + value.acHeadID + ' name="acJournalDetailsList[' + i + '].acHeadID"><input type="hidden" value=' + value.AcJournalDetID + ' name="acJournalDetailsList[' + i + '].AcJournalDetID"></td>' + '<td class="text-right"><input type="textbox" class="text-right"  onchange="CalculateTotal()" id="JDebit_' + i + '" value=' + parseFloat(value.Debit).toFixed(@_decimal) + ' name="acJournalDetailsList[' + i + '].Debit"></td><td class="text-right"><input type="textbox" class="text-right"  onchange="CalculateTotal()" id="JCredit_' + i + '" value=' + parseFloat(value.Credit).toFixed(@_decimal) + ' name="acJournalDetailsList[' + i + '].Credit"></td>' +
                                 '<td>' + value.AcRemark + '<input type="hidden" value=' + value.AcRemark + ' name="acJournalDetailsList[' + i + '].AcRemark"></td>' +
                                '<td><a href="javascript:void(0)" id="DeleteNewRow"><i class="fa fa-times"></i></a></td></tr> ');
                        });
                        CalculateTotal();
                    }

                    
                });

            }, 1000);
        }
        if (@Model.AcJournalID==0) {
            $("#TransDate").val(GetCurrentDate())

        }
        $("#AcHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Accounts/AccountHeadCreate',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#AcHead").val(i.item.label);
                $('#SelectedAcHead').val(i.item.AcHeadID);
            }
        });

        $("#btnadd").click(function () {

            debugger;
            var str = "";
            var acheadid = $('#SelectedAcHead').val(); //$("#acHeadId option:selected").val();
            var Achead = $('#AcHead').val(); //$("#acHeadId option:selected").text();
            var Amount = $("#Amount").val();
            var PaymentType = $("#IsDebit option:selected").val();
            var PaymentTypetext = $("#IsDebit option:selected").text();
            var remark = $("#AcRemark").val();

            if (Achead == "" || acheadid==0 || acheadid=='') {
                alert("Please Select Account Head!");
                $('#AcHead').focus();
                return;
            }
            if (PaymentType == '') {
                alert("Select Debit/Credit!");
                $('#IsDebit').focus();
                return;
            }
            if (Amount == '') {
                Amount = 0;
            }

            if (Amount == '0') {
                alert("Please Enter Amount!");
                $('#Amount').focus();
                return;
            }
            var Debit = 0;
            var Credit = 0;
            if (PaymentType == 0)
            { Credit = parseFloat($('#Amount').val()).toFixed(@_decimal); }
            else {
                Debit = parseFloat($('#Amount').val()).toFixed(@_decimal);
            }

            var i = $('#tbl1 tr').length;

            $("#tbl1").append('<tr>' + '<td>' + Achead + '<input type = "hidden" name = "acJournalDetailsList[' + i + '].IsDeleted" class="hdndeleted" /> <input type="hidden" value=' + Achead + ' name="acJournalDetailsList[' + i + '].AcHead"><input type="hidden" value=' + acheadid + ' name="acJournalDetailsList[' + i + '].acHeadID"></td>' + '<td class=textright><input class="textright" type="text" onchange="CalculateTotal()" value=' + parseFloat(Debit).toFixed(@_decimal) + ' name="acJournalDetailsList[' + i + '].Debit" id="JDebit_' + i + '" /></td>' +
                '<td class=textright><input type="hidden" id="Paytype_' + i + '" value=' + PaymentType + ' name="acJournalDetailsList[' + i + '].IsDebit"><input class="textright" type="text" onchange="CalculateTotal()" value=' + parseFloat(Credit).toFixed(@_decimal) + ' name="acJournalDetailsList[' + i + '].Credit" id="JCredit_' + i + '" /></td>'
                + '<td>' + remark + '<input type="hidden" value="' + remark + '" name="acJournalDetailsList[' + i + '].AcRemark"></td>' +
                '<td><a href="javascript:void(0)" id="DeleteNewRow" onclick="deleterow(' + i + ')" ><i class="fa fa-times"></i></a></td></tr > ');

           // $("#acHeadId").val($("#acHeadId option:first").val());
            $("#Amount").val('');
            $("#AcRemark").val('');
            $('#AcHead').val('');
            $('#SelectedAcHead').val(0);
            CalculateTotal();
            $('#AcHead').focus();
        });

        $('#tbl1').on("click", "#DeleteNewRow", function () {
            //$(this).parent().parent().remove();
            $(this).parent().parent().addClass('hide');
            var obj = $(this).parent().parent().find('.hdndeleted');
            $(obj).val(true);
            CalculateTotal();
        });

        $("#btnsave").click(function () {
            if ($("#TransDate").val() == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }
        });
    });



</script>

<section class="container-fluid over_hide">
    <h1 class="titles_head">@ViewBag.Title</h1>

</section>
<div class="content ">
    <div id="alert" style="color:red;display:none;margin-left:10px;">*Please Select Transaction Date</div>
    <fieldset>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <div class="row no-margin">
                <div class="col-md-4">
                    <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12" style="text-align:right;padding:10px">

                            <input type="submit" value="Save" class="btn btn-success btnwid" id="btnsave" />

                            &nbsp;
                            <a href='@Url.Action("AcJournalVoucherIndex", "Accounts", new { id = 0 })' class="btn btn-dark btnwid">Cancel</a>

                        </div>

                    </div>
                    <div class="row no-margin">

                        <div class="col-md-4">
                            <label class="headinglabel" id="VoucherNumber">J.V. Number</label>
                            @*<input type="text" name="voucher_number" readonly class="form-control" />*@
                            @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(model => model.AcJournalID)
                        </div>
                        <div class="col-md-4">
                            <label class="required headinglabel" id="lblTransDate">J.V. Date</label>
                            @Html.TextBoxFor(model => model.TransDate, new { @class = "form-control", placeholder = "dd-mmm-yyyy", @autocomplete = "off" })

                        </div>
                        <div class="col-md-4">
                            <label class="headinglabel" id="lblReference">J.V. Reference </label>
                            @Html.TextBoxFor(model => model.Refference, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12">
                            <label class="headinglabel" id="lblremark">Narration</label>
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @rows = "50" })
                        </div>
                    </div>
                    <div class="divider">
                        <hr />
                    </div>
                    <div class="row no-margin" style="padding-top:10px">


                        <div class="col-md-5">
                            <label class="headinglabel">Chart of Accounts</label>
                            @*@Html.DropDownListFor(model => model.acHeadId, new SelectList(ViewBag.Achead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })*@
                            <input type="text" id="AcHead" value="" class="form-control" autocomplete="off" />
                            @Html.HiddenFor(model => model.acHeadId, new { Value = "0", id = "SelectedAcHead" })
                        </div>
                        <div class="col-md-3">
                            <label class="headinglabel">Dr/Cr</label>

                            @Html.DropDownListFor(model => model.IsDebit, new List<SelectListItem> { new SelectListItem { Text = "Dr", Value = "1" }, new SelectListItem { Text = "Cr", Value = "0" } }, "Select", new { @class = "form-control" })

                        </div>

                        <div class="col-md-4">
                            <label class="headinglabel" id="txtAmount">Amount</label>

                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right" })
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-11">
                            <label class="headinglabel" id="lblremark">Remarks</label>
                            @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", @id = "AcRemark" })
                        </div>
                        <div class="col-md-1 text-right" style="">

                            <button type="button" class="refresh_img small_btn_mar" id="btnadd">
                                <img src="/Content/img/plus.png" alt="logolarge">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row no-margin form-layout">
                        <div class="col-xs-12" style="padding-top: 10px">
                            <div class="data" style="padding-top: 10px;">
                                <table border="1" class="table table-responsive table-bordered " style="width: 100%">
                                    <thead>
                                        <tr style="font-weight: bold;background-color: #35b8eb;color: #fff;font-size: 16px;">

                                            <th>Chart Of Accounts</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>
                                                Remark
                                            </th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbl1">
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <b>Total </b>
                                            </td>
                                            <td  class="text-right">
                                                <input type="text" style="background-color:#dedede" class="text-right" id="txtTotalDebit" value="0" readonly />
                                            </td>
                                            <td  class="text-right">
                                                <input type="text" style="background-color:#dedede" class="text-right" id="txtTotalCredit"  value="0" readonly />
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                @Html.HiddenFor(model => model.AcJournalDetail)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </fieldset>
</div>