@model IEnumerable<Net4Courier.Models.AcJournalMasterVM>

@{
    ViewBag.Title = "AcJournalVoucherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;

    string path = "/Accounts/AcJournalVoucherIndex"; // Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />


<style>
    tfoot {
        display: table-header-group;
    }

    .subtable tr td {
        padding: 5px;
    }
</style>
<script type="text/javascript">
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //    $('#ToDate').datepicker("setDate", new Date());
    //});

    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        $(function () {
            $('#FromDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

        });

        $(function () {
            $('#ToDate').datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY',
            });

            $('#ToDate').datepicker("setDate", new Date());
        });
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        //var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });
        var table = $('#dataTables-example').DataTable({
            "aaSorting": [],
            //"dom": '<"top"i>rt<"top"flp><"clear">',
            //dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            //       "<'row'<'col-sm-12'tr>>" +"<'row'<'col-sm-5'i><'col-sm-7'p>>",
            //"pagingType": "simple"
        });
        table.draw();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        function format(d) {
            // `d` is the original data object for the row
            debugger;
            var JournalDetailId = d[5];
            var DataHtml = '';
            $.ajax({
                type: "POST",
                url: "/Accounts/AcBookDetails",
                datatype: "Json",
                data: { DetailId: JournalDetailId },
                success: function (data) {
                    debugger;
                    DataHtml = '<table class="subtable">';
                    $.each(data, function (index, value) {
                        debugger;
                        DataHtml = DataHtml + '<tr><td>' + value.AcHead + '</td><td class="textright">' + value.Amount + '</td><td>' + value.Remarks + '</td></tr>';
                    });
                    debugger;
                    DataHtml = DataHtml + '</table>';
                    $('#pr_' + JournalDetailId).append(DataHtml);
                }
            });

            return '<p id="pr_' + JournalDetailId + '"></p>';
        }

        $('#dataTables-example tbody').on('click', 'td.details-control', function () {
            debugger;
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            console.log(row);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                $(this).find('img').attr('src', '/Content/img/details_open.png');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
                $(this).find('img').attr('src', '/Content/img/details_close.png');
            }
        });
    });

</script>

<section class="container-fluid over_hide">
    <h1 class="titles_head">Account Journal Voucher</h1>
</section>

    <div class="row no_mar_cre">
        <div class="col-md-3">
            <div class="col-md-6">
                <label class="lab_blue">From Date</label>
                <input id="FromDate" class="form-control text-right " name="FromDate" type="text" value="@ViewBag.FromDate" />
                @*@Html.TextBox("FromDate",new { @class = "form-control  text-right txttarget" })*@
            </div>

            <div class="col-md-6">
                <label class="lab_blue">To Date</label>
                <input type="text" id="ToDate" name="ToDate" class="form-control text-right" value="@ViewBag.ToDate" />
                @*@Html.TextBox("ToDate", new { @class = "form-control txttarget text-right" })*@
            </div>
        </div>

        <div class="pull-left" style=" padding-right:15px;padding-left:5px;">
            <a class="refresh_img small_btn_mar btn" href="Javascript:void(0)"  onclick="location.href='@Url.Action("AcJournalVoucherIndex", "Accounts")?FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><img src="/Content/img/refresh.png" alt="logolarge"></a>
        </div>
            <div class="pull-right" style="padding-top:32px;padding-right:15px">
            <p class="indexbtnpadding">
                @if (@Net4Courier.Models.CommonFunctions.CheckCreateEntryValid() == false || (!isadd))
                {
                    @Html.ActionLink("Create New", "AcJournalVoucherCreate", null, new { @class = "btn btn-primary btnwidth", @disabled = "disabled" })
                }
                else
                {
                    @Html.ActionLink("Create New", "AcJournalVoucherCreate", null, new { @class = "btn btn-primary btnwidth" })
                }
            </p>
        </div>
    
</div>

<section class="content">
    @if (ViewBag.SuccessMsg != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.SuccessMsg ", "success");
         });
        </script>
    }

    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    <th>Voucher No</th>
                    <th>Transaction Date </th>
                    <th>Amount</th>
                    <th>Remarks</th>
                    <th>Action</th>
                    <th style="display:none;"></th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Voucher No</th>
                    <th>Transaction Date </th>
                    <th>Amount</th>
                    <th>Remark</th>
                    <th>Action</th>
                    <th style="display:none"></th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        @*<td class="textright">@item.VoucherNo</td>*@
                        <td class="details-control">
                            <img src="/Content/img/details_open.png" id="plus_minus" style="cursor: pointer;" />
                            @Html.DisplayFor(modelItem => item.VoucherNo)
                        </td>
                        <td class="tdtarget">
                            <img src="/Content/img/details_open.png" id="plus_minus" style="cursor: pointer;width:10px;margin:1px;" />
                            @Net4Courier.Models.CommonFunctions.GetShortDateFormat((item.TransDate))
                        </td>
                        <td class="text-right">@Net4Courier.Models.CommonFunctions.GetDecimalFormat(item.Amount,"3")</td>
                        <td>@item.Remarks</td>


                        <td>
                            @if (ismodify)
                            {
                                <a href="@Url.Action("AcJournalVoucherCreate", new { id = item.AcJournalID })"><i class="fa fa-pencil"></i></a>
                            }

                            @if (isprint)
                            {
                                <a onclick="funExportToPDF(@item.AcJournalID)" href="#"><i class="fa fa-print"></i></a>
                            }
                            @if (isdelete)
                            {
                                <a onclick="Delete(ID=@item.AcJournalID)" href="#"><i class="fa fa-times"></i></a>
                            }
                        </td>
                        <td style="display:none;">
                            @item.AcJournalID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete this Voucher?")) {
            window.location.href = "/Accounts/DeleteJVBook/?id=" + ID;
        }
    }
</script>
<script type="text/javascript">
      function funExportToPDF(id) {
          //showLoading();
        $.ajax({
             url: '@Url.Action("AcJournalVoucher", "Accounts")',

            type: "GET",
            data: { id:id},
                    dataType: "json",
            success: function (response) {
                if (response.result == "ok") {
                    $('#frmPDF').attr('src', @Url.Content("~/ReportsPDF/") + response.path); //''

                    setTimeout(function () {
                        //hideLoading();
                        window.open('@Url.Content("~/ReportsPDF/")' + response.path);
                        //frame = document.getElementById("frmPDF");
                        //framedoc = frame.contentWindow;
                        //framedoc.focus();
                        //framedoc.print();
                    }, 500);
                } else {
                    alert(resuponse.message);
                    //hideLoading();
                }
            },
        });

        return false;
    }
</script>