@model Net4Courier.Models.AcInvoiceOpeningVM

@{
     ViewBag.Title = "Create";
    ViewBag.pTitle = "Invoice Opening Balance";
    ViewBag.pageTitle = "Invoice Opening Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    var isadd = true;
    var ismodify = true;
    var isdelete = true;    
    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}



<script type="text/javascript">

    function orderrownumber() {
        var itemcount = $('#dataTables-example > tbody > tr').length;
        var rowindex = 1;
        var i = 0;
        var sumdebit = 0;
        var sumcredit = 0;
        for (i = 0; i < itemcount; i++) {
            var IsDeleted = $('#hdndel_' + i).val();
            if (IsDeleted != "true") {
                $('#row_' + i).html(rowindex);
                rowindex++;

                var Amount = 0;
                if (parseFloat($('#txtDebit_' + i).val()) > 0) {
                    Amount = parseFloat($('#txtDebit_' + i).val());
                    sumdebit = sumdebit + Amount;
                }
                else {
                    AccNature = "Cr";
                    Amount = parseFloat($('#txtCredit_' + i).val());
                    sumcredit = sumcredit + Amount;
                }
            }
            if (i == (itemcount - 1))
                {
                $('#Debit').val(parseFloat(sumdebit).toFixed(2));
                $('#spantotaldebit').html(parseFloat(sumdebit).toFixed(2));
                $('#spantotalcredit').html(parseFloat(sumcredit).toFixed(2));
                $('#Credit').val(parseFloat(sumcredit).toFixed(2));
            }
        }

    }

    function checktotal() {
        var itemcount = $('#dataTables-example > tbody > tr').length;
        var rowindex = 1;
        var i = 0;
        var sumdebit = 0;
        var sumcredit = 0;
        for (i = 0; i < itemcount; i++) {
            var IsDeleted = $('#hdndel_' + i).val();
            if (IsDeleted != "true") {
                rowindex++;

                var Amount = 0;
                if (parseFloat($('#txtDebit_' + i).val()) > 0) {
                    Amount = parseFloat($('#txtDebit_' + i).val());
                    sumdebit = sumdebit + Amount;
                }
                else {
                    AccNature = "Cr";
                    Amount = parseFloat($('#txtCredit_' + i).val());
                    sumcredit = sumcredit + Amount;
                }
            }
            if (i == (itemcount - 1)) {
                $('#Debit').val(parseFloat(sumdebit).toFixed(2));
                $('#spantotaldebit').html(parseFloat(sumdebit).toFixed(2));
                $('#spantotalcredit').html(parseFloat(sumcredit).toFixed(2));

                var balance = parseFloat(sumdebit) - parseFloat(subcredit);
                $('#spanbalance').html(parseFloat(balance).toFixed(2));
                $('#Credit').val(parseFloat(sumcredit).toFixed(2));
            }
        }

    }
    $(document).ready(function () {
          var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);

        var sumdebit = $('#Debit').val();
        var sumcredit = $('#Credit').val();
        $('#spantotaldebit').html(parseFloat(sumdebit).toFixed(2));
        $('#spantotalcredit').html(parseFloat(sumcredit).toFixed(2));
        var balance = parseFloat(sumdebit) - parseFloat(sumcredit);
        $('#spanbalance').html(parseFloat(balance).toFixed(2));
        $('#details').on("click", ".DeleteNewRow", function () {
            debugger;
            //$(this).parent().parent().remove();
            $(this).parent().parent().addClass('hide');
            var obj = $(this).parent().parent().find('.hdndeleted');
            $(obj).val(true);
            orderrownumber();

        });
        $('.text-right').blur(function () {
            if (isNaN(parseInt($(this).val()))) {
                $(this).val('0.00');
            } else {
                var amt = parseFloat($(this).val());
                $(this).val(amt.toFixed(2));
            }
        });
        $('.text-right').change(function () {

            var id = $(this).attr('id').split('_')[0];
            var id1 = $(this).attr('id').split('_')[1];
            if (id == 'txtDebit') {
                if ($(this).val() > 0) {
                    $('#txtCredit_' + id1).val(0);
                }
            }
            else if (id == 'txtCredit')
            {
                if ($(this).val() > 0) {
                    $('#txtDebit_' + id1).val(0);
                }
            }
            checktotal();
        });

        $('#btnadd').click(function () {
            debugger;
            var PartyId = $('#PartyId').val();

            if (PartyId == 0) {
                alert('Select Party Name!');
                return;
            }

            var i = $('#dataTables-example > tbody > tr').length;
            //AcOPInvoiceMasterID
            var Id = $("#Id").val();
            var InvoiceNo = $("#InvoiceNo").val();
            var Invoicedate = $("#Invoicedate").val();
            var LastTransdate = $("#LastTransdate").val();
            var Amount = $("#Amount").val();
            var AccNature = $("#Drcr").val();
            if (InvoiceNo == '') {
                $("#validations").show();
                return;
            } else if (Invoicedate == '') {
                $("#validations").show();
                return;
            }
            else if (LastTransdate == '') {
                $("#validations").show();
                return;
            }
            else if (Amount == '') {
                $("#validations").show();
                return;
            }
            else if (AccNature == '') {
                $("#validations").show();
                return;
            }

            var Debit = 0;
            var Credit = 0;
            if (AccNature == "1") {
                Debit = Amount;
            }
            else if (AccNature == "0") {
                Credit = Amount;
            }
            var rowcount = (parseFloat(i) + 1);
            var html = '<tr><td id="row_' + i + '" >' + rowcount.toLocaleString() + '<input type="hidden" value="false" id="hdndel_' + i + '" class="hdndeleted" /><input type="hidden" value="0"  id="txtId_' + i + '" /></td>';
            html = html + '<td><input type="text" value="' + InvoiceNo + '" id="txtInvoiceNo_' + i + '" /> </td>';
            html = html + '<td><input type="text" class="form-control" value="' + Invoicedate + '" id="txtInvoiceDate_' + i + '" /></td>';
            html = html + '<td><input type="text" class="form-control" value="' + LastTransdate + '" id="txtLastTransDate_' + i + '" /></td>';
            html = html + '<td><input type="text" class="form-control text-right" value="' + Debit + '" id="txtDebit_' + i + '" />  </td>';
            html = html + '<td><input type="text" class="form-control text-right" value="' + Credit + '" id="txtCredit_' + i + '" />  </td>';
            html = html + '<td><a class="DeleteNewRow"><i class="fa fa-times"></i></a></td>';
            html = html + '</tr>'
            $('#details').append(html);
            $("input[type='radio'][name='Type']").each(function (i, index) {
                $(this).attr('disabled', 'disabled');
            });
            $('#btnsearch').attr('disabled', 'disabled');
            $('#PartyName').attr('readonly', 'readonly');
            $('.text-right').blur(function () {
                if (isNaN(parseInt($(this).val()))) {
                    $(this).val('0.000');
                } else {
                    var amt = parseFloat($(this).val());
                    $(this).val(amt.toFixed(2));
                }
                var id = $(this).attr('id').split('_')[0];
                var id1 = $(this).attr('id').split('_')[1];
                if (id == 'txtDebit') {
                    if ($(this).val() > 0) {
                        $('#txtCredit_' + id1).val(0);
                    }
                }
                else if ((id == 'txtCredit')){
                    if ($(this).val() > 0) {
                        $('#txtDebit_' + id1).val(0);
                    }
                }
            });
            $('#txtInvoiceDate_' + i).datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY'
            });
            $('#txtLastTransdate_' + i).datetimepicker({
                maxDate: ed,
                minDate: sd,
                format: 'DD-MM-YYYY'
            });
            orderrownumber();
            $("#InvoiceNo").val('');
            $("#Invoicedate").val('');
            $("#LastTransdate").val('');
            $("#Amount").val(0.00);
            $("#InvoiceNo").focus();

        });

        $("#btnsave").click(function () {
            debugger;
            var itemcount = $('#dataTables-example > tbody > tr').length;
            var openingitems = [];
            var i = 0;
            for (i = 0; i < itemcount; i++) {
                //amt = amt + parseFloat($(item).val());
                var Id = $("#txtId_" + i).val();
                var InvoiceNo = $('#txtInvoiceNo_' + i).val();
                var InvoiceDate = $("#txtInvoiceDate_" + i).val();
                var LastTransDate = $("#txtLastTransDate_" + i).val();
                var AccNature = "Dr";
                var Amount = 0;
                if (parseFloat($('#txtDebit_' + i).val()) > 0) {
                    Amount = parseFloat($('#txtDebit_' + i).val());
                }
                else {
                    AccNature = "Cr";
                    Amount = -1 * parseFloat($('#txtCredit_' + i).val());
                }
                var IsDeleted = $('#hdndel_' + i).val();
                var item1 = { AcOPInvoiceDetailID: Id, InvoiceNo: InvoiceNo, InvoiceDate: InvoiceDate, LastTransdate: LastTransDate, Amount: Amount, AcNature: AccNature, IsDeleted: IsDeleted }

                openingitems.push(item1);
                if (i == (parseFloat(itemcount) - 1)) {
                    var model = { AcOPInvoiceMasterID: $('#AcOPInvoiceMasterID').val(), PartyID: $('#PartyId').val(), StatusSDSC: $('#InvoiceType').val(), Remarks: $('#Remarks').val(), InvoiceDetailVM: openingitems }
                    var items = JSON.stringify({ 'model': model });
                    $.ajax({
                        contentType: 'application/json;charset=utf-8',
                        type: "POST",
                        dataType: 'json',
                        url: "/Accounts/SaveOpeningInvoice",
                        data: items,
                        success: function (data) {
                            if (data.status == "ok") {
                                setTimeout(function () {
                                    window.location.reload();
                                },500)
                                $.notify("Submitted Successfully!", "success");

                            } else {
                                $.notify(data.message, "error");
                            }
                        }
                    });
                }
            }
        });


        $('#btncancel').click(function () {
            location.reload();
        });



    });

    function setThreeNumberDecimal(obj) {
        $(obj).val(parseFloat($(obj).val()).toFixed(2));
    }
</script>



    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                  $(document).ready(function () {
                      //$.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <fieldset>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @{ Html.RenderAction("AcOpeningInvoiceSearch", "Accounts");}
                   
                        <div class="col-md-5">
                            @Html.HiddenFor(model => model.AcOPInvoiceMasterID, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.AcFinancialYearID, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.PartyID, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.StatusSDSC, new { @class = "form-control" })
                            <label class="headinglabel required">Opening Remarks</label>
                            @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label class="headinglabel required">Sum of Debit</label>
                            @Html.TextBoxFor(model => model.Debit, new { @class = "form-control text-right", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            <label class="headinglabel required">Sum of Credit</label>
                            @Html.TextBoxFor(model => model.Credit, new { @class = "form-control text-right ", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-2 border-right">
                    <div>
                        <label class="col-form-label required" style="font-size:15px!Important;color:#35b8eb!important">Total Debit: <span id="spantotaldebit">@Model.Debit </span> </label>
                    </div>
                    <div>
                        <label class="col-form-label required" style="font-size:15px!Important;color:#ff841a!important"> Total Credit: <span id="spantotalcredit">@Model.Credit</span> </label>
                    </div>
                    <div>
                        <label class="col-form-label required" style="font-size:15px!Important;color:#000000!important"> Balance: <span id="spanbalance">@Model.Balance</span> </label>
                    </div>
                </div>
                <div class="col-md-10"  style="padding-left:30px">
                <div class="row">
                <div class="col-md-3">
                <div class="mb-2">
                    <label class="col-form-label required">Invoice Number</label>
                    <input type="text" id="InvoiceNo" class="form-control" />

                </div>
                 </div>
                <div class="col-md-2">
                 <div class="mb-2">
                    <label class="col-form-label required">Invoice Date</label>
                    <input type="text" id="Invoicedate" class="form-control" />

                </div>
                </div>
                <div class="col-md-2">
                 <div class="mb-2">
                    <label class="col-form-label required">Last Invoice Date</label>
                    <input type="text" id="LastTransdate" class="form-control" />

                </div>
                </div>
                <div class="col-md-2">
                 <div class="mb-2">
                    <label class="col-form-label required">Amount</label>
                    <input type="text" id="Amount" onchange="setThreeNumberDecimal(this)" class="form-control" />

                </div>
                </div>
                <div class="col-md-2">
                 <div class="mb-2">
                    <label class="col-form-label required">Debit/Credit</label>
                    <select id="Drcr" class="form-select">
                        <option value="1">Debit</option>
                        <option value="0">Credit</option>
                    </select>

                </div>
                </div>
                <div class="col-md-1 text-md-end">
                 <div class="mb-2 mt-2">
                 <button type="button" class="btn btn-success waves-effect waves-light filter btn_top" index="1" id="btnadd" style="padding: 2px 7px !important;">
                            <i class="bx bx-plus mt-1" style="font-size: 23px;"></i></button>
                   
                </div>
                </div>
                 </div>
                  </div>
            </div>
        </div> </div>
          

            <div class="card">
                @Html.HiddenFor(mode => mode.AcOPInvoiceMasterID)
                <div class="card-body">
                     <table class="table table-bordered mb-0" id="datatable" style="width:100%">
                    <thead class="table-light">
                            <tr>
                                <th>S.No</th>
                                <th>Invoice No.</th>
                                <th>Invoice Date</th>
                                <th>Last Trans. Date</th>
                                <th>
                                    Debit
                                </th>
                                <th>
                                    Credit
                                </th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody id="details">

                            @foreach (var item in Model.InvoiceDetailVM)
                            {
                                <tr>
                                    <td id="row_@i">@(i+1)</td>
                                    <td>
                                        <input type="hidden" class="form-control" value="@item.AcOPInvoiceDetailID" id="txtId_@i" />
                                        <input type="hidden" value="false" id="hdndel_@i" class="hdndeleted" />
                                        <input type="text" class="form-control" value="@item.InvoiceNo" id="txtInvoiceNo_@i" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control date" value='@Net4Courier.Models.CommonFunctions.GetShortDateFormat1(@item.InvoiceDate)' id="txtInvoiceDate_@i" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control date" value="@Net4Courier.Models.CommonFunctions.GetShortDateFormat1(@item.LastTransDate)" id="txtLastTransDate_@i" />
                                    </td>
                                    @if (item.Amount > 0)
                                    {
                                        <td><input type="text" class="form-control text-right " value='@Net4Courier.Models.CommonFunctions.GetDecimalFormat(@item.Amount,"2")' id="txtDebit_@i" />  </td>
                                        <td><input type="text" class="form-control text-right" value="0.000" id="txtCredit_@i" />  </td>

                                    }
                                    else
                                    {
                                        var credit = -1 * item.Amount;
                                        <td><input type="text" class="form-control text-right " value="0.000" id="txtDebit_@i" />  </td>
                                        <td><input type="text" class="form-control text-right" value="@Net4Courier.Models.CommonFunctions.GetDecimalFormat(credit,"2")" id="txtCredit_@i" />  </td>

                                    }
                                    <td>

                                        @if (isdelete)
                                        {
                                            <a class="DeleteNewRow" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                        }

                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>




        </fieldset>
    }

