@model Net4Courier.Models.YearEndProcessSearch

@{
    Layout = null;
    
}
<style>
    .pageTabs {
        padding-top: 0!important;
        padding-bottom:0!important;    
        margin:0;
    }
    .searchnav{
       /* margin:35px 0 20px 0!Important;*/
    }
       
    .searchnav input{
        margin:0;
        height:auto!important;
    }
   /* .searchnav .form-control{
        height:30px!important;
    }*/
    
</style>
<script type="text/javascript">
    function showprocess() {
        $('#loaderpopup').modal('show');
        var obj = {

            ProcessType: $('#ProcessType').val(),
            CustomerType: $('#CustomerType').val(),
            SupplierTypeID: $('#SupplierTypeID').val(),

        }
        $('#h5processingstatus').html('Retrieving...');
        if ($('#ProcessType').val() == "Y") {
            $('#LoaderModalLabel').html("Income and Expendentiure");

        }
        else if ($('#ProcessType').val() == "A") {
            $('#LoaderModalLabel').html("Assets and Liabilities");
        }
        else if ($('#ProcessType').val() == "C") {
            $('#LoaderModalLabel').html("Customer Accounts");
        }
        else {

            $('#LoaderModalLabel').html("Supplier Accounts");
        }
        $.ajax({
            //contentType: 'application/json;charset=utf-8',
            type: "POST",
            dataType: 'html',
            url: "/Accounts/ShowAcYearEndProcessSearch",
            data: {
                datePicker: obj
            },
            success: function (response1) {
                $('#loaderpopup').modal('hide');
                $('#listContainer').html(response1);
              
               // Swal.fire('Save Status', 'Year End Processed has been completed Successfully for Customer Accounts!', "success");

                //if (data.status == "ok") {


                //    $("#btnsearch").trigger('click');
                //    setTimeout(function () {
                //        DisabledAdd();
                //    }, 300)

                //}
                //else {
                //    Swal.fire('Save Status', data.message, "error");
                //}
            }
        });
    }
    function EnableAdd() {
        $('#btnadd').removeAttr('disabled');
        $('#btnsave').removeAttr('disabled');
    }
    function DisabledAdd() {
        $('#btnadd').attr('disabled', 'disabled');
        $('#btnsave').attr('disabled', 'disabled');
    }
    function DisplayLabel() {
        
        if ($('#Customer').prop('checked')) {
            
            $('#lblPartyName').html('Customer');
            
        }
        else if ($('#Forwarding').prop('checked')) {
            
            $('#lblPartyName').html('Forwarding Agent');
            
        }
        else if ($('#CoLoader').prop('checked')) {

            $('#lblPartyName').html('CO Loader');

        }
        else {            
            $('#lblPartyName').html('Supplier');
            
        }
    }
    $(document).ready(function () {
        var url = '/Accounts/GetSupplierName';
        
       
        //$('input[type=radio][name=Type]').val($('#InvoiceType').val());
        $('input:radio[name=Type][value=' + $('#ProcessType').val() + ']').prop('checked', true);
        $('input[type=radio][name=Type]').change(function () {
            if (this.value == 'Y') {
                $('#PartyName').val('');
                $('#PartyId').val('0');
                $('#ProcessType').val('Y');
                $('#lblPartyName').html('Year End Process');
                DisabledAdd();
            }
            else if (this.value == 'A') {
                $('#PartyName').val('');
                $('#PartyId').val('0');
                $('#ProcessType').val('A');
                $('#lblPartyName').html('Customer');
                DisabledAdd();
            }
            else if (this.value == 'C') {
                $('#PartyName').val('');
                $('#PartyId').val('0');
                $('#ProcessType').val('C');    
                $('#lblPartyName').html('Customer');
                DisabledAdd();
            }
            //else if (this.value == 'F') {
            //    $('#PartyName').val('');
            //    $('#PartyId').val('0');
            //    $('#ProcessType').val('F');
            //    $('#lblPartyName').html('Forwarding Agent');
            //    DisabledAdd();
            //}
            //else if (this.value == 'L') {
            //    $('#PartyName').val('');
            //    $('#PartyId').val('0');
            //    $('#ProcessType').val('L');
            //    $('#lblPartyName').html('CO Loader');
            //    DisabledAdd();
            //}
            else if (this.value == 'S') {  
                $('#PartyName').val('');
                $('#PartyId').val('0');
                $('#ProcessType').val('S');
                $('#lblPartyName').html('Supplier');
                DisabledAdd();
            }
           
        });
               
        setTimeout(function () {
            DisplayLabel();
        }, 100);

    
    });
   
    function setThreeNumberDecimal(obj) {
        $(obj).val(parseFloat($(obj).val()).toFixed(3));
    }
</script>


 
<section class="">
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }

    @using (Html.BeginForm("AcYearEndProcessSearch", "Accounts", FormMethod.Post, new { @id = "AcYearEndProcesssearch" }))
    {
        @Html.ValidationSummary(true)
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <div class="card">
            <div class="card-body">
                <div class="row  flex  searchnav ">
                 
                    <div class="col-md-2  border-right form-group  pageTabs ">
                        <label><b>Closing Accounts</b></label>
                        <div class="field checkboxdesign verticalcheckbox">
                            <input type="radio" id="YearEnd" name="Type" value="Y" checked="checked">
                            <label for="Customer" class="headinglabel ">Income and Expenditure</label>
                        </div>
                        <div class="field checkboxdesign verticalcheckbox">
                            <input type="radio" id="AccountHead" name="Type" value="A">
                            <label for="Customer" class="headinglabel ">Assets and Liabilities</label>
                        </div>
                        <div class="field checkboxdesign verticalcheckbox">
                            <input type="radio" id="Customer" name="Type" value="C">
                            <label for="Supplier" class="headinglabel "> Customer Accounts</label>
                        </div>
                        @*<div class="field checkboxdesign verticalcheckbox">
            <input type="radio" id="CoLoader" name="Type" value="L">
            <label for="Supplier" class="headinglabel "> CO Loader  </label>
        </div>*@
                        <div class="field checkboxdesign verticalcheckbox">
                            <input type="radio" id="Supplier" name="Type" value="S">
                            <label for="Supplier" class="headinglabel ">Supplier Accounts</label>
                        </div>
                        @*<div class="field checkboxdesign verticalcheckbox">
            <input type="radio" id="Forwarding" name="Type" value="F">
            <label for="Supplier" class="headinglabel "> Forwarding Agent  </label>
        </div>*@


                    </div>
                    <div class="col-md-10" style="padding-left:30px">
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.HiddenFor(model => model.ProcessType)
                                @Html.HiddenFor(model => model.CustomerType)
                                @Html.HiddenFor(model => model.CurrentYear)
                                @Html.HiddenFor(model => model.NextYear)
                                @Html.HiddenFor(model => model.Comments)
                                @Html.HiddenFor(model => model.SupplierTypeID)
                                @Html.HiddenFor(model => model.CurrentFinancialYearId)
                                @Html.HiddenFor(model => model.CurrentStartDate)

                                <label class="headinglabel">Year Start Date</label>
                                @Html.TextBoxFor(model => model.CurrentStartDate, new { @class = "form-control text-right", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2 ">
                                <label class="headinglabel">Year End Date</label>
                                @Html.TextBoxFor(model => model.CurrentEndDate, new { @class = "form-control text-right", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2 ">
                                <label class="headinglabel">Next Year Start Date</label>
                                @Html.TextBoxFor(model => model.NextYearStartDate, new { @class = "form-control text-right", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2 ">
                                <label class="headinglabel">Next Year End Date</label>
                                @Html.TextBoxFor(model => model.NextYearEndDate, new { @class = "form-control text-right", @readonly = "readonly" })
                            </div>
                            <div class="col-md-1" >
                                
                                <button type="button" id="btnsearch" class="btn btn-success waves-effect waves-light filter btn_top" onclick="showprocess()">
                                    <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                            <div class="col-md-3 text-md-end mt-4">
                                <input type="button" value="Process" class="btn btn-success btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                                @*<input type="button" value="Cancel" class="btn btn-danger btnwidth" data-toggle="tooltip" title="Click here" id="btncancel" />*@
                                @*<input type="button" value="Back" class="btn btn-danger btnwidth" data-toggle="tooltip" title="Click here" id="btnBack" />*@
                                <a href='@Url.Action("AcYearEndProcess", "Accounts", new { type= "All" })' class="btn btn-secondary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="headinglabel">Remarks</label>
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
