@model Net4Courier.Models.YearEndProcessSearch
    @{
        var i = 0;
    }
    
<script type="text/javascript">
    $(document).ready(function () {
        $("#Selectall").click(function () {
            debugger;
            var idtext = 'hdncustomerchecked_';
            if ($("#Selectall").is(':checked')) {
                $('[id^=' + idtext + ']').each(function (index, item) {



                    $(item).prop('checked', true);



                });
            }
            else {
                debugger;
                $('[id^=' + idtext + ']').each(function (index, item) {



                    $(item).prop('checked', false);
                    $(item).removeAttr('checked');


                });
            }
        });



        var table1 = $('#AcYearEndSupplier').DataTable({ "paging": false, "sPaginationType": "simple" });

        $('#SupplierType1').change(function () {
            $('#SupplierTypeID').val($('#SupplierType1').val());

        })

        

        $('#SupplierType1').val($('#SupplierType1').attr('suppliertypeid')).trigger('change');
    });
</script>
<div class="row">
    <div class="col-md-2">
        <label class=" required col-form-label">Supplier Type</label>
        @*@Html.DropDownListFor(model => model.SupplierTypeID, new SelectList(@ViewBag.Suppliertype, "SupplierTypeID", "SupplierType1"), "Select", new { @class = "form-select", @id = "SupplierType1" })*@
        @Html.DropDownList("SupplierType1", new List<SelectListItem>
  {
      new SelectListItem{ Text="Trade Supplier", Value = "1" },
      new SelectListItem{ Text="Sundry Supplier", Value = "2" },
      new SelectListItem{ Text="Forwarding Agent", Value = "3" },
      new SelectListItem{ Text="Delivery Agent", Value = "4" }

   }, new { @class = "form-select",@suppliertypeid=Model.SupplierTypeID })

    </div>
    <div class="col-md-10" style="margin-top:42px">
        <h5> @Model.CurrentYear Supplier Invoice Closing Balance </h5>
    </div>
</div>
    <div class="row no-margin" style="padding-top:30px">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered" id="AcYearEndSupplier" style="background-color:white">
                <thead>
                    <tr>
                        <th>
                            S.No
                            <input type="checkbox" style="width:20px;" class="Selectall" id="Selectall" value="1" name="Selectall" />
                        </th>
                        <th>Supplier Name</th>
                        <th>
                            Closing Balance(@Model.CurrentYear)
                        </th>
                        <th>
                            Posted Balance
                        </th>
                        <th>Difference</th>

                    </tr>
                </thead>
                <tbody id="details">

                    @foreach (var item in Model.SupplierInvDetails)
                    {
                        <tr>
                            <td id="row_@i">
                                @(i+1)
                                @Html.CheckBoxFor(model => model.SupplierInvDetails[i].Selected, new { @id = "hdncustomerchecked_" + @i, @class = " calfield", style = "heiht:20px;margin-left:10px;", @customerid = item.SupplierId })
                            </td>
                            <td>
                                @item.SupplierName
                            </td>
                            @*<td>
                        @item.InvoiceNo
                    </td>
                    <td>
                        @item.InvoiceDate
                    </td>*@

                            @if (item.ClosingAmount < 0)
                            {
                                <td style="text-align:right;color:red">
                                    (    @Net4Courier.Models.CommonFunctions.GetFormatNumber(-1 * @item.ClosingAmount, "2") )
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right;color:blue">
                                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.ClosingAmount, "2")
                                </td>
                            }
                            @if (item.OpeningAmount < 0)
                            {
                                <td style="text-align:right;color:red">
                                    ( @Net4Courier.Models.CommonFunctions.GetFormatNumber(-1 * @item.OpeningAmount, "2") )
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right;color:blue">
                                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.OpeningAmount, "2")
                                </td>
                            }
                            @if (item.Difference < 0)
                            {
                                <td style="text-align:right;color:red">
                                    ( @Net4Courier.Models.CommonFunctions.GetFormatNumber(-1 * @item.Difference, "2") )
                                </td>
                            }
                            else
                            {
                                <td style="text-align:right;color:blue">
                                    @Net4Courier.Models.CommonFunctions.GetFormatNumber(@item.Difference, "2")
                                </td>
                            }
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>


