@model Net4Courier.Models.AccountsReportParam1
@{
    ViewBag.Title = "Report";
    ViewBag.pTitle = "Balance Sheet";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
     $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate.split('-')[1] + '-' + startdate.split('-')[0] + '-' + startdate.split('-')[2]);
        var ed = new Date(enddate.split('-')[1] + '-' + enddate.split('-')[0] + '-' + enddate.split('-')[2]);
         $(function () {
             $('#AsOnDate').datepicker({
                 maxDate: ed,
                 minDate: sd,
                 dateFormat: 'dd-mm-yy',
             });
         });
     });
</script>

 
@using (Html.BeginForm("BalanceSheetReport", "Accounts", FormMethod.Post, new { @id = "ledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="col-form-label required ">As on Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="AsOnDate" id="AsOnDate" value="@Model.AsOnDate.ToShortDateString()"
                                       placeholder="Pick a Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="mb-2">
                            <label class="col-form-label  required">Output</label>
                            @Html.DropDownList("Output", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="PDF", Value = "PDF" },
                                new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                                new SelectListItem{ Text="WORD", Value = "WORD" },

                             }, "Select", new { @class = "form-select", @value = "PDF", @required = "true" })
                            </div>
                        </div>
                      

                        <div class="col-md-2">
                            <div class="mb-2 mt-2 text-md-end">
                                <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload" id="btnreport">
                                    <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                        </div>

                    </div>
            </div>
            <div class="col-md-9">
                @{ Html.RenderAction("ReportFrame", "Accounts");}
                @*<iframe src=@ViewBag.ReportOutput width="100%" height="600px"></iframe>*@
            </div>
        </div>
    </div>
    </div>

}

