@model Net4Courier.Models.AcBookVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.pTitle = "Cash Bank Book";
    ViewBag.pageTitle = "Accounts Transactions";

}
<style>
    .newrow .form-control {
        border: 2px solid darkseagreen;
    }

    .newrow .form-select {
        border: 2px solid darkseagreen;
    }
</style>

        @using (Html.BeginForm("CreateAcBook", "Accounts", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "needs-validation" })
<div class="card">
    <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-7">
                    @{
                        if (ViewBag.SaveEnable == false)
                        {
                            <span class="text-danger bold"><i class="mdi mdi-lock"></i> @ViewBag.Message</span>
                        }
                    }


                </div>
                <div class="col-md-5">

                    @*<button class="btn btn-warning" onclick="return window.location.reload()">Cancel</button>*@
                    <div class="text-right ">

                        @{
                            if (ViewBag.SaveEnable == false)
                            {
                                <button type="submit" id="btnSaveAccounts" class="btn btn-success" disabled>Save</button>
                            }
                            else
                            {
                                <button type="submit" id="btnSaveAccounts" class="btn btn-success">Save</button>
                            }
                        }


                        <a href='@Url.Action("IndexAcBook", "Accounts")' class="btn btn-secondary">Cancel</a>


                    </div><!-- /btn-group -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="mb-2">
                        <input type="hidden" name="deletedExpAllocations" id="deletedExpAllocations" value="" />
                        <input type="hidden" name="deletedJournalDetails" id="deletedJournalDetails" value="" />
                        @Html.HiddenFor(model => model.AcJournalDetail)
                        @Html.HiddenFor(model => model.TransactionNo)
                        @Html.HiddenFor(model => model.AcJournalID)
                        @Html.HiddenFor(model => model.AcBankDetailID)
                        @Html.HiddenFor(model => model.VoucherType)
                        @*              @Html.HiddenFor(model => model.transtype)*@
                        @*@Html.HiddenFor(model => model.paytype)*@

                        <input type="hidden" id="currindex" />

                        <label class="col-form-label">Voucher No.</label>
                        <input type="text" name="VoucherNo" id="VoucherNo" value="@Model.VoucherNo" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Voucher Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="transdate" id="transdate" required value="@Convert.ToDateTime(@Model.transdate).ToShortDateString()"
                                       placeholder="Pick a Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                        <div class="invalid-feedback">Pick a Transaction Date</div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Trans.Type</label>
                        @Html.DropDownListFor(model => model.transtype, ViewBag.transtypes as SelectList, new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.transtype)
                        @Html.HiddenFor(model => model.TransactionType)
                        <div class="invalid-feedback">
                            Select Transaction Type
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Payment Type</label>
                        @Html.DropDownListFor(model => model.paytype, ViewBag.paytypes as SelectList, new { @class = "form-select", @required = "required" })
                        @Html.ValidationMessageFor(model => model.paytype)
                        @Html.HiddenFor(model => model.paytype)
                    </div>
                    <div class="invalid-feedback">
                        Select Pay Type
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="mb-2">
                        <label class="col-form-label text-primary" id="lblcheckingaccount">Debit Account</label>
                        @Html.TextBoxFor(model => model.AcHead, new { @id = "AcHead", @class = "form-select", autocomplete = "off", @required = "required" })
                        @Html.HiddenFor(model => model.SelectedAcHead, new
                        {@*Value = "0"*@id = "SelectedAcHead"
})
                        <div class="invalid-feedback">Select Account</div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Cheque No.</label>
                        @Html.TextBoxFor(model => model.chequeno, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.chequeno)
                        <div class="invalid-feedback">Enter a Cheque No.</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Cheque Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.chequedate, String.Format("{0:dd-MM-yyyy}", this.Model.chequedate), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.chequedate)
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                        <div class="invalid-feedback">Pick a Cheque Date</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Bank Name</label>
                        @Html.TextBoxFor(model => model.bankname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.bankname)
                        <div class="invalid-feedback">Enter a Bank Name</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">Reference</label>
                        @Html.TextBoxFor(model => model.reference, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.reference)
                    </div>
                </div>
                @*<div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label label1">Received From</label>
                     
                        <input type="hidden" class="form-control text-right" id="txtTotal" readonly value="0" />
                        @Html.TextBoxFor(model => model.partyname, new { @id = "partyname", @class = "form-control", autocomplete = "off"  })
                        <div class="invalid-feedback">Enter Party Name</div>
                    </div>
                </div>*@
                <div class="col-md-4">
                    @Html.HiddenFor(mode => mode.TaxAccountId)
                    @Html.HiddenFor(mode => mode.partyname)
                    <label class="col-form-label">Remarks</label>
                    @Html.TextAreaFor(model => model.remark1, new { @class = "form-control", @rows = '1' })
                    @Html.ValidationMessageFor(model => model.remark1)
                </div>



            </div>
            </div>
            </div>
<div class="card">
    <div class="card-body">

            <div class="col-md-12">
              
                <div class="row newrow">
                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label label2">Credit Account</label>
                            @Html.TextBoxFor(model => model.ReceivedFrom, new { @id = "ReceivedFrom", @class = "form-select", autocomplete = "off" })
                            @Html.HiddenFor(model => model.SelectedReceivedFrom, new { Value = "0", id = "SelectedReceivedFrom" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Amount</label>
                            <div class="checkboxdesign verticalcheckbox taxCheck text-right" style="float:right; margin-right:2px">
                                @Html.CheckBox("AmountIncludingTax", new { @name = "AmountIncludingTax" }) &nbsp
                                <label class="col-form-label" style="font-weight:bold;color:#07a7e3!important">Incl.Tax</label>
                            </div>
                            @Html.TextBoxFor(model => model.amount, new { @class = "form-control textright txtNum" })
                            @Html.ValidationMessageFor(model => model.amount)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mb-2">
                            <label class="col-form-label">Tax %</label>
                            @Html.TextBoxFor(model => model.TaxPercent, new { @class = "form-control textright txtNum" })
                            @Html.ValidationMessageFor(model => model.TaxPercent)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-2">
                            <label class="col-form-label">Tax Amt.</label>
                            @Html.TextBoxFor(model => model.TaxAmount, new { @class = "form-control textright txtNum", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.TaxAmount)
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-2">
                            <label class="col-form-label">Narration</label>
                            @Html.TextBoxFor(model => model.remarks, new { @class = "form-control ", @rows = 1 })
                            @Html.ValidationMessageFor(model => model.remarks)
                            <span id="balance"></span>
                        </div>
                    </div>

                    <div class="col-md-1 text-right mt-2">

                        <!--<button type="button" class="refresh_btn" title="Add Consignments" onclick="ShowConsignmentPopup(-1)"><i class="bx bxs-comment-add text-primary font-size-33"></i></button>-->
                        <!-- <label class="col-form-label">Exp. Allocation</label> -->
                        <!-- <a title="Exp. Allocation" href="javascript:void(0)" class="Allocate"><i class="fa fa-sitemap icon-2 font-size-33"></i></a>

                        <button type="button" class="refresh_btn text-danger" title="Clear Data" onclick="ClearData()"><i class="bx bx-trash text-danger font-size-33"></i></button>-->
                        <button type="button" class="refresh_btn" index="1" id="btnAdd" title="Add New"><i class="bx bxs-add-to-queue text-success" style="font-size: 33px;"></i></button>

                    </div>
                </div>
            </div>

            <table class="table align-middle table-nowrap mt-2" id="datatable1" style="width: 100%;">
                <thead class="table-light">
                    <tr style="text-align:center;font-weight:bold">
                        <td>Chart of Account</td>
                        <td>Tax.Incl</td>
                        <td>Amount</td>
                        <td>Tax%</td>
                        <td>Tax Amt.</td>

                        <td>Remark/Ref.</td>

                        <td>Action</td>
                    </tr>
                </thead>
                <tbody id="details"></tbody>
                <tfoot style="background-color:lightgray">
                    <tr>
                        <td style="color:blue;font-weight:bold" colspan="2">Total</td>

                        <td class="text-right">
                            @Html.HiddenFor(model => model.TotalAmt, new { @id = "TotalAmt", @class = "form-control text-right", autocomplete = "off", @readonly = "readonly" })
                            <span id="spanTotal" style="color:blue;font-weight:bold" class="text-right color_blue color_blue_border">@Model.TotalAmt</span>
                        </td>
                        <td></td>
                        <td class="text-right">
                            @*<input type="text" class="form-control text-right" id="txtTaxTotal" readonly value="0" />*@
                            <span style="color:blue;font-weight:bold" id="spanTaxTotal" class="text-right color_blue color_blue_border"></span>

                        </td>

                        <td></td>

                        <td>Tax Head: @Model.TaxAccountName</td>
                    </tr>
                </tfoot>
            </table>
                </div>

</div>

        }




@section scripts{
    <script src="~/Scripts/JS/AccountBookCreate.js"></script>
}


