@model Net4Courier.Models.AcHead
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.pTitle = "Chart of Accounts";
    ViewBag.pageTitle = "General Ledger";
}

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
         var Acgrpid = '@ViewBag.AcgroupId';
        if (Acgrpid == 0 || Acgrpid == null || Acgrpid == "") {

        } else {
            $("#AcGroupID").val(Acgrpid);
        }
         $("#TaxApplicable").click(function () {
            if ($("#TaxApplicable").is(':checked')) {
                $("#TaxPercent").removeAttr("readonly");

            }
            else {
                $("#TaxPercent").val(0);
                $("#TaxPercent").attr("readonly","readonly");
            }
        });
        $("#btnsave").click(function () {
            var acgroup = $("#AcGroupID option:selected").val();
            var head = $("#AcHead1").val();
            var code = $("#AcHeadKey").val();
            var prefix = $("#Prefix").val();




            if (acgroup == "") {
                $("#alert").show();
                return false;
            }
            else if (head == "") {
                $("#alert").show();
                return false;
            }

            else {
                $("#alert").hide();
                return true;
            }
        });


    });
</script>

<div class="searchdiv">

    <div class="">
        <div class="">
            @using (Html.BeginForm("CreateAcHead", "Accounts", FormMethod.Post, new { @class = "needs-validation ", @novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "needs-validation" })




                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="required col-form-label">Account Name</label>
                            @Html.HiddenFor(cc => cc.AcHeadID)
                            @Html.TextBoxFor(model => model.AcHead1, new { @class = "form-control txttarget", @required = "required" })
                            @Html.ValidationMessageFor(model => model.AcHead1)
                            <div class="invalid-feedback">
                                Enter Account Name
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class=" col-form-label">Account Code</label>

                            @Html.TextBoxFor(model => model.AcHeadKey, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AcHeadKey)
                            <div class="invalid-feedback">
                                Enter Account Code
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class=" col-form-label">Description</label>
                            @Html.TextBoxFor(model => model.AccountDescription, new { @rows = "4", @cols = "60", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AccountDescription)
                        </div>
                    </div>

                    <div class="col-md-11">
                        <div class="mb-2">
                            <label class="required col-form-label">Parent Group</label>

                            @Html.DropDownListFor(model => model.AcGroupID, new SelectList(ViewBag.groups, "AcGroupID", "AcGroup"), new { @class = "form-select txttarget", @required = "required" })
                            @Html.ValidationMessageFor(model => model.AcGroupID)
                            <div class="invalid-feedback">
                                Select  Account Group
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 small_btn_mar text-left">
                        <a href="/Accounts/CreateAcGroup?frmpage=2" class="refresh_btn"><i class="bx bxs-add-to-queue text-success" style="font-size: 33px;"></i></a>

                    </div>

                    <div class="col-md-3 mt-2">
                        @Html.CheckBox("TaxApplicable", new { @name = "TaxApplicable", @class = "input-checkbox" }) &nbsp;
                        <label class="col-form-label">Tax %</label>
                    </div>
                    <div class="col-md-3 mt-2">
                        @Html.TextBoxFor(model => model.TaxPercent, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.TaxPercent)
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.CheckBox("StatusControlAC", new { @name = "StatusControlAC", @class = "input-checkbox" }) &nbsp;
                        <label class="col-form-label">Control Account</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 table_buttons text-md-end" style="float:right">
                        <input type="submit" value="Save" id="btnSaveAccounts" class="btn btn-success mr-2">
                        <a href="/Accounts/IndexAcHead" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<script src="~/Scripts/JS/Chartofaccount.js"></script>