@model Net4Courier.Models.AcTypeModel
@{
    ViewBag.Title = "AcType";
    ViewBag.pTitle = "AcType";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
        $(document).ready(function () {

            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

             if (@ViewBag.ErrorMsg!= "") {
                $.notify("@ViewBag.ErrorMsg ", "danger");
            }



            $("#btnsave").click(function () {
                var cat = $("#AcCategoryID option:selected").val();
                var subgrp = $("#AcType").val();





                if (cat == "") {
                    $("#alert").show();
                    return false;
                }
                else
                    if (subgrp == "") {
                    $("#alert").show();
                    return false;
                }
                //else if (code == "") {
                //    $("#alert").show();
                //    return false;
                //}
                else {
                    $("#alert").hide();
                    return true;
                }
            });
        });
</script>

<section class="content">

    @using (Html.BeginForm())
    {
        @*  @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

        *@
        <fieldset>

            <div class="modal bs-example-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <div class="mb-2">
                                        <label class="required col-form-label">Account Type</label>
                                        @Html.TextBoxFor(model => model.AcType, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.AcType)
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <div class="mb-2">
                                        <label class="required col-form-label">Account Category</label>
                                        @Html.DropDownListFor(model => model.AcCategoryID, new SelectList(ViewBag.Category, "AcCategoryID", "AcCategory"), "Select", new { @class = "form-select txttarget" })
                                        @Html.ValidationMessageFor(model => model.AcCategoryID)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Save" class="btn btn-success waves-effect waves-light btnwid" id="btnsave" />
                            <a href='@Url.Action("IndexAcType", "Accounts", new { id = 0 })' class="btn btn-secondary btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </fieldset>


    }
</section>
