@model Net4Courier.Models.AcGroupVM
@{

    ViewBag.Title = "Create";
    ViewBag.pTitle = "Account Group";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {

            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

            @*if (@ViewBag.ErrorMsg!= "") {
                $.notify("@ViewBag.ErrorMsg ", "danger");
            }*@


            //var catid = $("#AcCategoryID option:selected").val();
            //$.ajax({
            //    url: '/Accounts/GetGroupsByID',
            //    type: "GET",
            //    dataType: "JSON",
            //    data: { Category: catid },
            //    success: function (groups) {

            //        //$.each(groups, function (i, group) {
            //        //    $("#AcGroup1").append(
            //        //        $('<option></option>').val(group.AcGroupID).html(group.AcGroup));
            //        //});

            //        $.each(data, function (index, value) {
            //            $('#CityID').append('<option value="' + value.CityID + '">' + value.City + '</option>');
            //        });
            //    }
            //});


            $("#AcGroup").change(function () {
            var thisval = $(this).val();
            if (thisval == null || thisval == "") {
                $("#AcTypeId").val('').trigger('change');
                $("#AcTypeId").removeAttr('readonly');
            } else {
                $.ajax({
                    url: '/Accounts/GetAcCategoryByParentid',
                    type: "GET",
                    dataType: "JSON",
                    data: { parentId: $(this).val() },
                    success: function (response) {
                        debugger;

                        //$("#AcCategoryID").val(groups);
                        $("#AcCategoryID").val(response.categoryid);
                        $("#AcTypeId").val(response.acttypeid).trigger('change');
                        $("#AcTypeId").attr('readonly', 'readonly');

                    }
                });
            }
         });

            //$("#AcCategoryID").change(function () {
            //    $("#AcGroup").empty('');
            //    $("#AcGroup").append("<option value=0>Select</option>");
            //    var catid = $("#AcCategoryID option:selected").val();
            //    $.ajax({
            //        url: '/Accounts/GetGroupsByID',
            //        type: "GET",
            //        dataType: "JSON",
            //        data: { Category: catid },
            //        success: function (groups) {

            //            $.each(groups, function (index, value) {
            //                $('#AcGroup').append('<option value="' + value.AcGroupID + '">' + value.AcGroup + '</option>');
            //            });
            //        }
            //    });
            //});


            $("#btnsave").click(function () {
                var cat = $("#AcCategoryID option:selected").val();
                var subgrp = $("#subgroup").val();
                var code = $("#GroupCode").val();





                if (cat == "") {
                    $("#alert").show();
                    return false;
                }
                else
                    if (subgrp == "") {
                    $("#alert").show();
                    return false;
                }
                //else if (code == "") {
                //    $("#alert").show();
                //    return false;
                //}
                else {
                    $("#alert").hide();
                    return true;
                }
            });
        });
</script>


<div class="row no_mar_cre">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="searchdiv sm-width" style="margin-top: 0px !important;">
            <fieldset>
                <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="required headinglabel">Group Name</label>

                            @Html.TextBoxFor(model => model.subgroup, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(model => model.subgroup)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="headinglabel">Group Code</label>

                            @Html.TextBoxFor(model => model.GroupCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GroupCode)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="headinglabel">Parent Group</label>
                            @Html.DropDownListFor(model => model.ParentID, new SelectList(ViewBag.groups, "AcGroupID", "AcGroup"), "Select", new { @class = "form-select" })
                        </div>
                        <div class="col-md-12">
                            <label class="required headinglabel">Account Type</label>
                            @Html.DropDownListFor(model => model.AcTypeId, new SelectList(ViewBag.AccountType, "Id", "AccountType"), "Select", new { @class = "form-select txttarget" })
                            @Html.ValidationMessageFor(model => model.AcTypeId)
                        </div>

                    </div>
                </div>
                <div class="col-md-12 text-md-end mt-4">



                    <input type="submit" value="Save" class="btn btn-success waves-effect waves-light btnwid" id="btnsave" />
                    @*<a href='@Url.Action("IndexAcGroup", "Accounts", new { id = 0 })' class="btn btn-dark btnwidth pull-right">Cancel</a>*@
                    @if (Convert.ToInt32(@Session["AcgroupPage"].ToString()) == 0)
                    {
                        <a href='@Url.Action("IndexAcGroup", "Accounts", new { id = 0 })' class="pull-right btn btn-dark btnwid">Cancel</a>
                    }
                    else
                    {
                        <a href='@Url.Action("CreateAcHead", "Accounts", new { frmpage = Convert.ToInt32(@Session["AcgroupPage"].ToString()) })' class="pull-right btn btn-dark btnwid">Cancel</a>

                    }
                </div>
                <div class="row">
                    <div class="col-md-12  text-md-end ">
                        <div class="input-group gap-md-2 mt-2 text-right">




                        </div>
                    </div>
                </div>
            </fieldset>
        </div>




    }

</div>
