@model Net4Courier.Models.AccountsReportParam
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Report";
    ViewBag.pTitle = "Day Book";
    ViewBag.pageTitle = "General Ledger";
}
@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

}
<style>
    .multiselect {
        align-items: center;
        display: flex !Important;
        justify-content: space-around;
    }

    #movementid + .btn-group button, #movementid + .btn-group {
        display: block;
        width: 100%;
    }
</style>
<script>
    //$(function () {
    //    $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    //$(function () {
    //    $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    //});

    $(document).ready(function () {
         
                $.ajax({
                    url: '/Accounts/GetVoucherType',
                    datatype: "json",
                     
                    success: function (data) {
                        $.each(data, function (key, item) {
                            var o_st = $('#hdnVoucherTypeId').val().split(',');
                            var flag = 0;
                            for (var j = 0; j < o_st.length; j++) {

                                if (o_st[j] == item.SystemPrefix) {
                                    flag = 1;
                                    break;
                                }

                            }

                            if (flag == 1) {
                                var html = '<option value="' + item.SystemPrefix + '" selected="true">' + item.DocumentName + ' </option>';
                            }
                            else {
                                var html = '<option value="' + item.SystemPrefix + '">' + item.DocumentName + ' </option>';
                            }
                            
                            $('#SelectedValues1').append(html);
                        });
                        $('#SelectedValues1').select2();
                    }
                })
           
            

        //var o_st = $("#VoucherTypeId").val().split(",");
        //console.log(o_st);
        //var items = [
        //    { Id: 0, Text: 'All Transactions' },
        //    { Id: 1, Text: 'Cash Receipts & Payments' },
        //    { Id: 2, Text: 'Journal Voucher' },
        //    { Id: 3, Text: 'AWB Posting' },
        //    { Id: 4, Text: 'COD Posting' },
        //    { Id: 5, Text: 'Invoice Posting' },
        //    { Id: 6, Text: 'Receipt Posting' }];
        //$('#SelectedValues').empty();
        //var flag = 0;
        //debugger;
        //for (var i = 0; i < 7; i++) {
        //    var flag = 0;
        //    for (var j = 0; j < o_st.length; j++) {

        //        if (o_st[j] == i) {
        //            flag = 1;
        //            $('#SelectedValues').append('<option value="' + i + '" selected=true>' + items[i].Text + '</option>');
        //            break;
        //        }
        //    }
        //    if (flag == 0) {

        //        $('#SelectedValues').append('<option value="' + i + '">' + items[i].Text + '</option>');
        //    }

        //    if (i == 6) {
        //        //$('#SelectedValues').multiselect({
        //        //    nonSelectedText: 'Select',
        //        //    enableClickableOptGroups: true,
        //        //    enableCollapsibleOptGroups: true,
        //        //    enableFiltering: false,
        //        //    includeSelectAllOption: false,
        //        //    enableCaseInsensitiveFiltering: false
        //        //    //selectAllValue: 'multiselect-all'
        //        //});

        //        $('#SelectedValues').select2();
        //    }
        //}

        ////$('#vouchertypeid').multiselect({
        ////    nonSelectedText: 'Select',
        ////    enableClickableOptGroups: true,
        ////    enableCollapsibleOptGroups: true,
        ////    enableFiltering: false,
        ////    includeSelectAllOption: true,
        ////    enableCaseInsensitiveFiltering: false,
        ////    selectAllValue: 'multiselect-all'
        ////});

    });
</script>

 
@using (Html.BeginForm("DayBook", "Accounts", FormMethod.Post, new { @id = "reportparam" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
    <div class="card-body">
    <div class="row no-margin">
        <div class="col-md-3 report_pad">
            <div class="row">

                <div class="col-md-6">
                    <div class="mb-2">
                    <label class="col-form-label required ">From Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate.ToShortDateString()"
                               placeholder="Pick a Date" autocomplete="off">
                        <button type="button"
                                class="btn btn-secondary docs-datepicker-trigger"
                                disabled>
                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="docs-datepicker-container"></div>
                </div> </div>
                <div class="col-md-6">
                    <div class="mb-2">
                    <label class="col-form-label required">To Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" value="@Model.ToDate.ToShortDateString()"
                               placeholder="Pick a Date" autocomplete="off">
                        <button type="button"
                                class="btn btn-secondary docs-datepicker-trigger"
                                disabled>
                            <i class="mdi mdi-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="docs-datepicker-container"></div>
                    @*@Html.HiddenFor(model => model.VoucherTypeId)*@
                    <input type="hidden" id="hdnVoucherTypeId" name="VoucherTypeId" value="@Model.VoucherTypeId" />
                </div></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-2">
                    
                        <div class="flexTitle">
                            <label class="col-form-label required ">Voucher Type</label>
                            
                            <div class="checkboxdesign no-padding  text-right" style="float:right">
                                @Html.CheckBoxFor(model => model.Exceptional, new { @name = "CurrentPeriod" }) &nbsp
                                <label class="headinglabel" style="color:#07a7e3!important;padding-left: 0!important">Exceptional</label>
                            </div>
                        </div>
                        <select id="SelectedValues1" name="SelectedValues1" multiple="multiple" class="form-control">
                            @*<option value="0">All</option>
            <option value="1">Cash Receipts & Payments</option>
            <option value="2">Journal</option>
            <option value="4">AWB Posting</option>
            <option value="5">COD Posting</option>
            <option value="6">Invoice Posting</option>
            <option value="7">Receipt Posting</option>*@
                        </select>
                    </div>
                </div>
          <div class="col-md-9">
                                
               
              <div class="mb-2">
                  
                  <label class="headinglabel required ">Output</label>
                  @Html.DropDownList("Output", new List<SelectListItem>
                  {
                      new SelectListItem{ Text="PDF", Value = "PDF" },
                      new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                      new SelectListItem{ Text="WORD", Value = "WORD" },

                   }, "Select", new { @class = "form-select", @value = "PDF", @required = "true" })
              </div>
                </div>
              <div class="col-md-3">
                            <div class="mb-2 mt-2 text-md-end">
                                <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload" id="btnreport">
                                    <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                                </button>
                            </div>
                        </div>
            </div>
            </div>

            <div class="col-md-9">
                @{ Html.RenderAction("ReportFrame", "Accounts");}
                @*<iframe src=@ViewBag.ReportOutput width="100%" height="600px"></iframe>*@
            </div>

        </div>
  </div>  </div>



}

@section scripts{

    <script src="~/assets/libs/select2/js/select2.min.js"></script>

}