@model IEnumerable<Net4Courier.Models.AcGroupModel>
@{
    ViewBag.Title = "List";
    ViewBag.pTitle = "Account Groups";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-md-end">
                        @if (isadd)
                        {
                            <a disabled class="btn btn-primary waves-effect waves-light" href="/Accounts/CreateAcGroup"><i class="mdi mdi-plus me-1"></i>  New Account Group</a>

                        }
                    </div>
                </div>

             
                <div class="mt-3">
                    <table class="table table-bordered mb-0" id="datatable">
                        <thead class="table-light">
                            <tr>

                                <th>
                                    Group Name
                                </th>
                                <th>
                                    Parent Group
                                </th>
                                <th>
                                    Account Type
                                </th>
                                <th>
                                    Account Category
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                            <tr>

                                <th>
                                    Group Name
                                </th>
                                <th>
                                    Parent Group
                                </th>
                                <th>
                                    Account Type
                                </th>
                                <th>
                                    Account Category
                                </th>

                                <th>Action</th>
                            </tr>
                        </tfoot>*@
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @item.AcGroup
                                    </td>
                                    <td class="tdtarget">
                                        @Html.DisplayFor(modelItem => item.ParentNode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AcType)
                                    </td>
                                    <td class="tdtarget">
                                        @Html.DisplayFor(modelItem => item.AcCategory)
                                    </td>

                                    <td>
                                        <div class="d-flex gap-3">
                                            @*  @Html.ActionLink("Edit", "Edit", new { id=item.CountryID }) |
                                                @Html.ActionLink("Details", "Details", new { id=item.CountryID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id=item.CountryID })*@
                                            @if (ismodify)
                                            {
                                                <a href="@Url.Action("EditAcGroup", new { id = item.AcGroupID })" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                            }
                                            @*<a href="@Url.Action("Delete", new { id = item.CountryID })"><i class="fa fa-times"></i></a>*@
                                            @if (isdelete)
                                            {
                                                <a href="#" onclick="Delete(ID=@item.AcGroupID)" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Account Group?")) {
            window.location.href = "/Accounts/DeleteAcGroup/?id=" + ID;
        }
    }
</script>
